@import "../../variables/_all.scss";
@import "../../mixins/all";

.jkl-colors__section {
    padding: $component-spacing--large;
    margin: $layout-spacing--large 0;
    background-color: $snohvit;

    *[data-theme="dark"] & {
        background-color: $granitt;
    }
}

.jkl-color-box {
    width: 0;
    height: 0;
    border: solid 20px;
    border-color: transparent;
    display: flex;
    align-items: flex-end;
    transition: transform 250ms ease-in-out;

    &__text-wrapper {
        display: flex;

        @include small-device {
            flex-direction: column;
        }
    }

    &__text {
        display: block;
        margin-left: $component-spacing--xxl;
        margin-right: $component-spacing--xxl;
        width: 180px;
    }

    &__multi {
        display: flex;
    }

    &--left {
        transform: rotate(-90deg);
        .jkl-color-box__text {
            transform: rotate(90deg);
        }
    }

    &--right {
        transform: rotate(90deg);
        .jkl-color-box__text {
            transform: rotate(-90deg);
        }
    }

    &__content-toggle {
        height: 2em;

        &--multi {
            @include small-device {
                height: 3.8em;
            }

            & > [data-show="second"] {
                .jkl-color-box__text {
                    @include small-device {
                        padding-bottom: 2rem;
                    }
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        @include reset-outline();
        background-color: transparent;
        margin-top: $component-spacing--large;
        margin-bottom: $component-spacing--large;

        @include small-device {
            flex-direction: column;
            padding-bottom: $layout-spacing--medium;
        }

        &:hover {
            color: $stein;
            *[data-theme="dark"] & {
                color: $svaberg;
            }
        }
    }

    &--hvit {
        border-bottom-color: $hvit;
    }
    &--snohvit {
        border-bottom-color: $snohvit;
    }
    &--sand {
        border-bottom-color: $sand;
    }
    &--dis {
        border-bottom-color: $dis;
    }
    &--varde {
        border-bottom-color: $varde;
    }
    &--svaberg {
        border-bottom-color: $svaberg;
    }
    &--stein {
        border-bottom-color: $stein;
    }
    &--fjellgra {
        border-bottom-color: $fjellgra;
    }
    &--skifer {
        border-bottom-color: $skifer;
    }
    &--granitt {
        border-bottom-color: $granitt;
    }
    &--svart {
        border-bottom-color: $svart;
    }
    &--suksess {
        border-bottom-color: $suksess;
    }
    &--info {
        border-bottom-color: $info;
    }
    &--advarsel {
        border-bottom-color: $advarsel;
    }
    &--feil {
        border-bottom-color: $feil;
    }
    &--suksess--darkbg {
        border-bottom-color: $suksess--darkbg;
    }
    &--info--darkbg {
        border-bottom-color: $info--darkbg;
    }
    &--advarsel--darkbg {
        border-bottom-color: $advarsel--darkbg;
    }
    &--feil--darkbg {
        border-bottom-color: $feil--darkbg;
    }
}

.jkl-color__copy {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
