@use "../packages/core/jkl";

@include jkl.light-mode-variables {
    --component-example-bg: #{jkl.$color-dis};
    --component-example-header-color: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --component-example-bg: #{jkl.$color-skifer};
    --component-example-header-color: #{jkl.$color-svaberg};
}

.jkl-portal-code-example {
    max-width: min(#{jkl.rem(750px)}, 50vw);

    @include jkl.small-device {
        width: calc(100% - #{jkl.$spacing-xl});
        max-width: 100%;
        min-width: initial;
    }
}

.jkl-portal-component-example {
    box-sizing: border-box;
    background-color: var(--component-example-bg);
    padding: jkl.$spacing-s;
    display: flex;
    flex-direction: row;
    max-width: jkl.rem(740px);
    min-height: jkl.rem(208px);

    &--is-wide {
        max-width: jkl.rem(1200px);
    }

    &__example-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: var(--jkl-color);
        background-color: var(--jkl-background-color);
        position: relative;
        padding: jkl.$spacing-2xl jkl.$spacing-m;
        scroll-margin-top: jkl.$spacing-4xl;

        // Unngå at endring av tittel knekker visuell regresjonstest ved å skjule den
        :not([data-test-mode="e2e"]) &::before {
            @include jkl.text-style("small");
            color: var(--component-example-header-color);
            position: absolute;
            top: jkl.$spacing-s;
            left: jkl.$spacing-m;
            content: attr(data-example-text);
        }

        &[data-test-mode="e2e-screenshot"] {
            position: absolute;
            z-index: 9001;
            width: 600px;
            height: 600px;
            margin: auto;
            inset: 0;
        }

        &--scrollable {
            overflow-x: scroll;
        }
    }

    &__example-options {
        display: block;
        padding: jkl.$spacing-s jkl.$spacing-l;
        min-width: jkl.rem(150px);
    }

    &__example-options-header {
        &:not(:first-child) {
            margin-top: jkl.$spacing-l;
        }
        @include jkl.text-style("small");
        margin-bottom: jkl.$spacing-s;
    }

    &__choice-option {
        margin-top: jkl.$spacing-l;

        & .jkl-label.jkl-label--small {
            @include jkl.text-style("small");
            color: jkl.$color-fjellgra;
        }
    }

    @include jkl.screen-to(870px) {
        width: 100%;
        flex-direction: column;

        &__example-wrapper {
            width: initial;
        }

        &__example-options {
            padding: 0;
            padding-top: jkl.$spacing-s;
        }
    }
}

.jkl-device {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: calc(100vw - 600px);
    width: 100%;

    &__device {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        color: jkl.$color-snohvit;

        *[data-theme="dark"] & {
            color: jkl.$color-granitt;
        }
    }

    &-iphone {
        &__content {
            height: 812px;
            width: 375px;
            border: 1px solid jkl.$color-granitt;
            overflow: auto;
        }
    }

    &-ipad {
        &__content {
            height: 833px;
            width: 1112px;
            border: 1px solid jkl.$color-granitt;
            overflow: auto;
        }
    }

    &-laptop {
        &__content {
            height: 1080px;
            width: 1920px;
            border: 1px solid jkl.$color-granitt;
            overflow: auto;
        }
    }
}
