@use "../packages/core/jkl";

.jkl-portal-component-example {
    --component-example-bg: var(--jkl-system-color-surface-variant);
    --component-example-text-color: var(--jkl-system-color-on-surface-variant);
    --component-example-header-color: var(--jkl-system-color-outline);
    @include jkl.create-text-style-variables("small", "header-text");

    box-sizing: border-box;
    background-color: var(--component-example-bg);
    color: var(--component-example-text-color);
    padding: jkl.$spacing-s;
    display: flex;
    flex-direction: column;
    min-height: jkl.rem(208px);
    width: calc(100% - #{jkl.$spacing-xl});
    max-width: 100%;
    min-width: initial;

    @include jkl.from-medium-device {
        flex-direction: row;
    }
    @include jkl.from-large-device {
        max-width: min(#{jkl.rem(750px)}, 50vw);
    }

    &__example-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding: jkl.$spacing-2xl jkl.$spacing-m;

        @include jkl.from-medium-device {
            width: 100%;
        }

        &::before {
            @include jkl.use-text-style-variables("header-text");
            color: var(--component-example-header-color);
            position: absolute;
            top: jkl.$spacing-s;
            left: jkl.$spacing-m;
            content: attr(data-example-text);
        }

        &--scrollable {
            overflow-x: scroll;
        }
    }

    &__example-options {
        display: block;
        padding: 0;
        padding-top: jkl.$spacing-s;
        min-width: jkl.rem(180px);

        @include jkl.from-medium-device {
            padding: jkl.$spacing-s jkl.$spacing-l;
        }
    }

    &__example-options-header {
        &:not(:first-child) {
            margin-top: jkl.$spacing-l;
        }
        @include jkl.use-text-style-variables("header-text");
        margin-bottom: jkl.$spacing-s;
    }

    &__choice-option {
        margin-top: jkl.$spacing-l;

        & .jkl-label.jkl-label--small {
            @include jkl.use-text-style-variables("header-text");
        }
    }
}

.jkl-device {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: calc(100vw - 600px);
    width: 100%;

    &__device {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        color: jkl.$color-snohvit;

        *[data-theme="dark"] & {
            color: jkl.$color-granitt;
        }
    }

    &-iphone {
        &__content {
            height: 812px;
            width: 375px;
            border: 1px solid jkl.$color-granitt;
            overflow: auto;
        }
    }

    &-ipad {
        &__content {
            height: 833px;
            width: 1112px;
            border: 1px solid jkl.$color-granitt;
            overflow: auto;
        }
    }

    &-laptop {
        &__content {
            height: 1080px;
            width: 1920px;
            border: 1px solid jkl.$color-granitt;
            overflow: auto;
        }
    }
}
