@import "./component-example";

.jkl-dev-example {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
