@use "./component-example";

.jkl-dev-example {
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    & .jkl-portal-component-example {
        max-width: unset;
    }
}
