@import "~@fremtind/jkl-core/variables/all";
@import "~@fremtind/jkl-core/_functions.scss";

$footer-height: rem(350px);
$footer-height-small: rem(250px);
$footer-margin-top: rem(150px);
$menu-width: rem(320px);

.portal-footer {
    @media (min-width: $breakpoint--medium) {
        margin-left: $menu-width;
    }

    background-color: $gra-80;
    color: $gra-10;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $footer-margin-top;

    &--logo-container {
        width: $footer-height/1.5;
    }
    @include small-device {
        height: $footer-height-small;
        &--logo-container {
            width: $footer-height-small/1.5;
        }
    }
}
