@use "../../../packages/jokul/src/core/jkl" as jkl;

@include jkl.light-mode-variables {
    --code-block-border-color: #{jkl.$color-svaberg};
    --code-block-bg-color: #{jkl.$color-sand};
    --code-block-focus-color: #{jkl.$color-granitt};
    --language-tag-bg-color: #{jkl.$color-varde};
    --language-tag-text-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --code-block-border-color: #{jkl.$color-stein};
    --code-block-bg-color: #{jkl.$color-svart};
    --code-block-focus-color: #{jkl.$color-snohvit};
    --language-tag-bg-color: #{jkl.$color-fjellgra};
    --language-tag-text-color: #{jkl.$color-snohvit};
}

.jkl-portal-code-block {
    position: relative;
    background-color: var(--code-block-bg-color);
    box-sizing: border-box;
    border: 1px solid var(--code-block-border-color);
    border-radius: jkl.rem(2px);
    width: 100%;
    padding: jkl.$spacing-s;
    max-width: min(#{jkl.rem(750px)}, 50vw);
    @include jkl.text-style("small");

    @include jkl.small-device {
        width: calc(100% - #{jkl.$spacing-xl});
        max-width: 100%;
        min-width: initial;
    }

    &[data-language]::before {
        position: absolute;
        top: 0;
        right: 0;
        padding: jkl.$spacing-xs;
        background-color: var(--language-tag-bg-color);
        color: var(--language-tag-text-color);
        text-transform: uppercase;
        content: attr(data-language);
        @include jkl.use-font-family("Fremtind Grotesk");
        @include jkl.text-style("small");
    }

    &__code {
        @include jkl.use-font-family("Fremtind Grotesk Mono");
        display: block;
        padding: jkl.$spacing-l jkl.$spacing-m;
        overflow-x: auto;
    }

    html:not([data-mousenavigation]) &:focus-within {
        box-shadow: 0 0 0 jkl.rem(2px) var(--code-block-focus-color);
    }
}
