@use "sass:color";
@use "~@fremtind/jkl-core/jkl";

$jkl-slider-offset: 3px;
$jkl-slider-width: 170px;
$jkl-slider-pill-offset--left: calc(#{$jkl-slider-offset} + 1px);
$jkl-slider-pill-offset--right: calc(calc(#{$jkl-slider-width} / 2) - #{$jkl-slider-offset});
$jkl-slider-rounded: jkl.rem(100px);

@include jkl.light-mode-variables {
    --jkl-slider-bg: #{jkl.$color-varde};
    --jkl-slider-pill: #{jkl.$color-snohvit};
    --jkl-slider-pill-text: #{jkl.$color-granitt};
    --jkl-slider-pill-text--active: #{jkl.$color-granitt};
    --jkl-slider-focus-color: #{jkl.$color-svart};
    --jkl-slider-hover-color: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --jkl-slider-bg: #{jkl.$color-fjellgra};
    --jkl-slider-pill: #{jkl.$color-granitt};
    --jkl-slider-pill-text: #{jkl.$color-snohvit};
    --jkl-slider-pill-text--active: #{jkl.$color-snohvit};
    --jkl-slider-focus-color: #{jkl.$color-svaberg};
    --jkl-slider-hover-color: #{jkl.$color-svaberg};
}

$jkl-slider-focus-ring-width: jkl.rem(2px);

.jkl-toggle-slider__wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .jkl-toggle-slider {
        @include jkl.reset-outline;

        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus-within {
            box-shadow: 0 0 0 $jkl-slider-focus-ring-width var(--jkl-slider-focus-color);

            .jkl-toggle-slider__pill {
                box-shadow: 0 0 0 $jkl-slider-focus-ring-width var(--jkl-slider-focus-color);
            }
        }

        cursor: pointer;
        background-color: var(--jkl-slider-bg);
        padding: jkl.$spacing-xs 0;
        position: relative;
        border-radius: $jkl-slider-rounded;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        max-width: $jkl-slider-width;
        width: 100%;
        user-select: none;

        &__pill {
            width: 50%;
            height: calc(100% - #{$jkl-slider-offset} - #{$jkl-slider-offset});
            background-color: var(--jkl-slider-pill);
            display: block;
            position: absolute;
            top: $jkl-slider-offset;
            transform: translateX($jkl-slider-pill-offset--right);
            transition-property: transform;
            @include jkl.motion(standard, expressive);
            border-radius: $jkl-slider-rounded;
            box-shadow: 0 0 jkl.rem(4px) color.scale(jkl.$color-svart, $alpha: -15%);
        }

        &--left,
        &--right {
            z-index: 1;
            display: block;
            width: 50%;
            text-align: center;
            color: var(--jkl-slider-pill-text);
            transition-property: color;
            @include jkl.motion(standard, expressive);
        }

        &--left {
            margin-left: calc(#{$jkl-slider-offset} * 2);
        }

        &--right {
            margin-right: calc(#{$jkl-slider-offset} * 2);
        }

        &--left,
        &--right,
        &__label {
            @include jkl.text-style("small") {
                font-weight: jkl.$typography-weight-bold;
            }
        }

        &--checked {
            & > .jkl-toggle-slider--right {
                color: var(--jkl-slider-pill-text--active);
            }

            @media (hover: hover) {
                &:hover {
                    & > .jkl-toggle-slider--left {
                        color: var(--jkl-slider-hover-color);
                    }
                }
            }
        }

        &--not-checked {
            & > .jkl-toggle-slider__pill {
                transform: translateX($jkl-slider-pill-offset--left);
            }

            & > .jkl-toggle-slider--left {
                color: var(--jkl-slider-pill-text--active);
            }

            @media (hover: hover) {
                &:hover {
                    & > .jkl-toggle-slider--right {
                        color: var(--jkl-slider-hover-color);
                    }
                }
            }
        }
    }
}
