@use "sass:color";
@use "~@fremtind/jkl-core/jkl";

$_slider-rounded: jkl.rem(100px);

.jkl-toggle-slider {
    // DESIGN TOKENS (STIL-API)
    // ------------------------
    --jkl-slider-bg: var(--jkl-system-color-interactive-variant);
    --jkl-slider-text: var(--jkl-system-color-on-surface);
    --jkl-slider-pill: var(--jkl-system-color-on-interactive);
    --jkl-slider-pill-text: var(--jkl-system-color-on-surface);
    --jkl-slider-focus-color: var(--jkl-system-color-interactive);
    // ------------------------

    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;

    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus-within {
        .jkl-toggle-slider__pill {
            // Dette funker ikke så bra lenger, siden det ikke er nok kontrast mellom
            // color.interactive-variant og color.interactive
            // Kan evt. lage fokusringen inset med 2px, eller sette fokusringen utenfor hele komponenten.
            box-shadow: inset 0 0 0 jkl.rem(2px) var(--jkl-slider-focus-color);
        }
    }

    &__legend {
        margin-bottom: jkl.$spacing-xs;
        @include jkl.use-system-text-style("label-s");
        font-weight: jkl.$typography-weight-bold;

        &--sr-only {
            @include jkl.screenreader-only;
        }
    }

    @include jkl.from-medium-device {
        flex-direction: row;
        align-items: center;

        &__legend {
            margin-bottom: 0;
            margin-right: jkl.$spacing-l;
        }
    }

    &__inputs {
        user-select: none;
        box-sizing: border-box;
        height: jkl.rem(40px);
        $_slider-offset: 2px;
        display: flex;
        position: relative;
        overflow: hidden;
        background-color: var(--jkl-slider-bg);
        border-radius: $_slider-rounded;
        border: $_slider-offset solid var(--jkl-slider-bg);
    }

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        cursor: pointer;
        padding: jkl.$spacing-2xs jkl.$spacing-m;
        color: var(--jkl-slider-text);

        /* Prevent really short labels to look like circles */
        min-width: 30px;
        @include jkl.use-system-text-style("label-s");
        @include jkl.no-grow-bold;

        /* &--selected {
            color: var(--jkl-slider-pill-text);
        } */
    }

    &__pill {
        height: 100%;
        background-color: var(--jkl-slider-pill);
        position: absolute;
        transition-property: width, transform;
        border-radius: $_slider-rounded;
        @include jkl.motion(standard, expressive);
    }

    @include jkl.forced-colors-mode {
        & .jkl-toggle-slider__inputs {
            background-color: Canvas;
        }

        & .jkl-toggle-slider__pill {
            background-color: ButtonFace;
        }
    }
}
