@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_helpers.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$toggle-width: rem(72px);
$toggle-height: rem(40px);
$toggle-focus-outline-color: $himmel;
$focus-ring: 0 0 0 rem(2px) $snøhvit, 0 0 0 rem(4px) $toggle-focus-outline-color;

.jkl-toggle-switch {
    & input {
        opacity: 0;
        position: absolute;
    }
    position: relative;
    height: $toggle-height;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__slider {
        @include position(absolute, $left: 0);
        cursor: pointer;
        width: $toggle-width;
        height: 1px;
        box-sizing: border-box;
        background-color: $gress;
        border: 1px solid $svart;
        border-radius: $toggle-height / 2;
        transition: height 150ms ease-in-out;
        transition-delay: 25ms;

        &:before,
        &:after {
            transform: translateY(-50%);
            content: "";
            box-sizing: border-box;
            border-radius: $toggle-height / 2;
            background-color: $svart;
            transition: transform 175ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        &:before {
            @include position(absolute, $left: -2px, $top: 50%);
            height: $toggle-height;
            width: $toggle-height;
            border: 1px solid $svart;
        }
        &:after {
            @include position(absolute, $left: $toggle-height/4 - rem(2px), $top: 50%);
            height: $toggle-height/2;
            width: $toggle-height/2;
            border: 1px solid $snøhvit;
        }
    }

    & input:checked {
        & + .jkl-toggle-switch__slider {
            height: $toggle-height;
        }
        & + .jkl-toggle-switch__slider {
            &:before,
            &:after {
                transform: translate(rem(34px), -50%);
            }
        }
    }

    html:not([data-mousenavigation]) & input:focus {
        + .jkl-toggle-switch__slider:before {
            box-shadow: $focus-ring;
        }
    }

    &__label {
        padding-left: $toggle-width + $component-spacing--xxl;
        margin-bottom: 0 !important; // needs to override paragraph spacing
        margin-top: rem(2px); // compensate for weird font baseline
    }
}
