@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$toggle-width: rem(48px);
$toggle-height: rem(24px);
$toggle-focus-outline-color: $focus-color;
$toggle-dot-white-line-inset: rem(5px);

$main-slider-color: $svart;
$expanding-pill-background-color: $suksess;
$line-left-right-margin: rem(8px);

$disabled-color: $gra-60;
$inverted-disabled-color: #969696;

.jkl-toggle-switch {
    @include reset-outline;
    height: $toggle-height;
    display: flex;
    align-items: center;
    cursor: pointer;

    &--inverted {
        .jkl-toggle-switch {
            &__slider {
                &:before {
                    background-color: $hvit;
                }
                &:after {
                    background-color: $hvit;
                    box-shadow: inset 0 0 0 $toggle-dot-white-line-inset $hvit,
                        inset 0 0 0 $toggle-dot-white-line-inset + rem(2px) $svart;
                }
                & .jkl-toggle-switch__expanding-pill {
                    background-color: $expanding-pill-background-color;
                    border-color: $hvit;
                }
            }

            &__input[disabled] {
                + .jkl-toggle-switch__slider {
                    &:before {
                        background-color: $inverted-disabled-color;
                    }
                    &:after {
                        background-color: $inverted-disabled-color;
                        box-shadow: inset 0 0 0 $toggle-dot-white-line-inset $inverted-disabled-color,
                            inset 0 0 0 $toggle-dot-white-line-inset + rem(2px) $svart;
                    }
                    & .jkl-toggle-switch__expanding-pill {
                        border-color: $inverted-disabled-color;
                    }
                }
            }
        }
    }

    &__input[disabled] {
        + .jkl-toggle-switch__slider,
        ~ .jkl-toggle-switch__label {
            cursor: default;
        }
        + .jkl-toggle-switch__slider {
            &:before {
                background-color: $disabled-color;
            }
            &:after {
                background-color: $disabled-color;
                box-shadow: inset 0 0 0 $toggle-dot-white-line-inset $disabled-color,
                    inset 0 0 0 $toggle-dot-white-line-inset + rem(2px) $hvit;
            }
            & .jkl-toggle-switch__expanding-pill {
                background-color: transparent;
                border-color: $disabled-color;
            }
        }

        &:checked + .jkl-toggle-switch__slider:before {
            background-color: transparent;
        }
    }

    &__input {
        /* Hide the actual input field */
        opacity: 0;
        position: absolute;
    }

    &__label {
        @include body-paragraph--desktop;
        color: currentColor;
        padding-left: $component-spacing--small;
    }

    &__helplabel {
        margin-top: $component-spacing--medium;
    }

    &__slider {
        border-radius: 99rem;
        display: inline-block;
        height: $toggle-height;
        position: relative;
        width: $toggle-width;

        /* The line the dot slides on */
        &:before {
            content: "";
            background-color: $main-slider-color;
            height: 1px;
            left: $line-left-right-margin/2;
            position: absolute;
            top: 50%;
            width: $toggle-width - $line-left-right-margin;
        }

        /* Sliding dot */
        &:after {
            box-shadow: inset 0 0 0 $toggle-dot-white-line-inset $main-slider-color,
                inset 0 0 0 $toggle-dot-white-line-inset + rem(2px) $hvit;
            content: "";
            border-radius: 99rem;
            position: absolute;
            width: $toggle-height;
            height: $toggle-height;
            background-color: $main-slider-color;
            transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    &__expanding-pill {
        background-color: $expanding-pill-background-color;
        border-radius: 99rem;
        border: solid 1px $main-slider-color;
        box-sizing: border-box;
        height: $toggle-height;
        left: 0;
        position: absolute;
        top: 0;
        transition: top 150ms ease 50ms, height 150ms ease 50ms, width 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: $toggle-height;

        &:after {
            content: "";
            position: absolute;
            top: -3px;
            bottom: -3px;
            left: -3px;
            right: -3px;
            background-color: transparent;
            border-radius: 99rem;
            width: $toggle-width + rem(4px);
        }
    }

    /* Toggled/checked state */
    &__input:checked + &__slider {
        & > .jkl-toggle-switch__expanding-pill {
            width: $toggle-width;
            top: 0;
            height: $toggle-height;
        }
        &:after {
            transform: translateX($toggle-width/2);
        }
    }

    /* Keyboard focused state */
    html:not([data-mousenavigation]) &__input:focus + &__slider > &__expanding-pill:after {
        box-shadow: 0 0 0 rem(2px) $toggle-focus-outline-color;
    }
}
