@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$jkl-slider-offset: 3px;
$jkl-slider-width: 170px;
$jkl-slider-offset__pill--left: calc(#{$jkl-slider-offset} + 1px);
$jkl-slider-offset__pill--right: calc(calc(#{$jkl-slider-width}/ 2) - #{$jkl-slider-offset});
$jkl-slider-rounded: rem(100px);

@include jkl.helper-light-mode-variables {
    --jkl-slider-bg: #{$varde};
    --jkl-slider-pill: #{$snohvit};
    --jkl-slider-pill-text: #{$granitt};
    --jkl-slider-pill-text--active: #{$granitt};
    --jkl-slider-focus-color: #{$svart};
    --jkl-slider-hover-color: #{$stein};
}

@include jkl.helper-dark-mode-variables {
    --jkl-slider-bg: #{$fjellgra};
    --jkl-slider-pill: #{$granitt};
    --jkl-slider-pill-text: #{$snohvit};
    --jkl-slider-pill-text--active: #{$snohvit};
    --jkl-slider-focus-color: #{$svaberg};
    --jkl-slider-hover-color: #{$svaberg};
}

$jkl-slider-focus-ring-width: rem(2px);

.jkl-toggle-slider__wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .jkl-toggle-slider {
        @include reset-outline;
        background-color: transparent;

        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus-within {
            box-shadow: 0 0 0 $jkl-slider-focus-ring-width $svart;
            box-shadow: 0 0 0 $jkl-slider-focus-ring-width var(--jkl-slider-focus-color);

            .jkl-toggle-slider__pill {
                box-shadow: 0 0 0 $jkl-slider-focus-ring-width $svart;
                box-shadow: 0 0 0 $jkl-slider-focus-ring-width var(--jkl-slider-focus-color);
            }
        }

        cursor: pointer;
        background-color: $varde;
        background-color: var(--jkl-slider-bg);
        padding: $component-spacing--small 0;
        position: relative;
        border-radius: $jkl-slider-rounded;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        max-width: $jkl-slider-width;
        width: 100%;
        user-select: none;

        &__pill {
            width: 50%;
            height: calc(100% - #{$jkl-slider-offset} - #{$jkl-slider-offset});
            background-color: $snohvit;
            background-color: var(--jkl-slider-pill);
            display: block;
            position: absolute;
            top: $jkl-slider-offset;
            transform: translateX($jkl-slider-offset__pill--right);
            transition-property: transform;
            @include motion(standard, expressive);
            border-radius: $jkl-slider-rounded;
            box-shadow: 0 0 rem(4px) rgba($svart, 0.15);
        }

        &--left,
        &--right {
            z-index: 1;
            display: block;
            width: 50%;
            text-align: center;
            color: $granitt;
            color: var(--jkl-slider-pill-text);
            transition-property: color;
            @include motion(standard, expressive);
        }

        &--left {
            margin-left: calc(#{$jkl-slider-offset} * 2);
        }
        &--right {
            margin-right: calc(#{$jkl-slider-offset} * 2);
        }

        &--left,
        &--right,
        &__label {
            @include jkl-text-style("compact/small");
            font-weight: $bold-weight;
        }

        @include from-large-device {
            &--left,
            &--right,
            &__label {
                @include jkl-text-style("desktop/small");
                font-weight: $bold-weight;
            }
        }

        &--checked {
            & > .jkl-toggle-slider--right {
                color: $granitt;
                color: var(--jkl-slider-pill-text--active);
            }

            @media (hover: hover) {
                &:hover {
                    & > .jkl-toggle-slider--left {
                        color: $stein;
                        color: var(--jkl-slider-hover-color);
                    }
                }
            }
        }

        &--not-checked {
            & > .jkl-toggle-slider__pill {
                transform: translateX($jkl-slider-offset__pill--left);
            }

            & > .jkl-toggle-slider--left {
                color: $granitt;
                color: var(--jkl-slider-pill-text--active);
            }

            @media (hover: hover) {
                &:hover {
                    & > .jkl-toggle-slider--right {
                        color: $stein;
                        color: var(--jkl-slider-hover-color);
                    }
                }
            }
        }
    }

    &--inverted {
        color: $snohvit;
        --jkl-slider-pill-text--active: #{$snohvit};
        --jkl-slider-hover-color: #{$svaberg};

        .jkl-toggle-slider {
            background-color: $fjellgra;

            &__pill {
                background-color: $granitt;
            }

            &--left,
            &--right {
                color: $snohvit;
            }
        }
    }
}
