@charset "UTF-8";
@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-accordion-border: #{jkl.$color-svaberg};
    --jkl-accordion-focus: #{jkl.$color-focus-color};
    --jkl-accordion-expanded-background: #{jkl.$color-hvit};
}

@include jkl.dark-mode-variables {
    --jkl-accordion-border: #{jkl.$color-stein};
    --jkl-accordion-focus: #{jkl.$color-focus-color--darkbg};
    --jkl-accordion-expanded-background: #{jkl.$color-svart};
}

@include jkl.comfortable-density-variables {
    --jkl-accordion-title-padding: var(--jkl-spacing-16) #{jkl.rem(48px)} var(--jkl-spacing-16) var(--jkl-spacing-16);
    --jkl-accordion-arrow-top: #{jkl.rem(20px)};
    --jkl-accordion-arrow-right: var(--jkl-spacing-12);
    --jkl-accordion-content-padding: var(--jkl-spacing-8) var(--jkl-spacing-16) var(--jkl-spacing-16);
    @include jkl.declare-font-variables("jkl-accordion-title", "body");
    @include jkl.declare-font-variables("jkl-accordion-content", "body");

    @include jkl.small-device {
        --jkl-accordion-title-padding: var(--jkl-spacing-16) #{jkl.rem(44px)} var(--jkl-spacing-16) var(--jkl-spacing-12);
        --jkl-accordion-content-padding: var(--jkl-spacing-8) var(--jkl-spacing-12) var(--jkl-spacing-16)
            var(--jkl-spacing-12);
        --jkl-accordion-arrow-top: #{jkl.rem(23px)};
    }
}

@include jkl.compact-density-variables {
    --jkl-accordion-title-padding: var(--jkl-spacing-8) #{jkl.rem(32px)} var(--jkl-spacing-8) var(--jkl-spacing-8);
    --jkl-accordion-arrow-top: var(--jkl-spacing-8);
    --jkl-accordion-arrow-right: var(--jkl-spacing-4);
    --jkl-accordion-content-padding: var(--jkl-spacing-8);
    @include jkl.declare-font-variables("jkl-accordion-title", "small");
    @include jkl.declare-font-variables("jkl-accordion-content", "small");
}

.jkl-accordion {
    width: 100%;
}

.jkl-accordion-item {
    @include jkl.reset-outline;
    @include jkl.motion("exit", "snappy");
    transition-property: border-top-color, border-bottom-color;

    &:nth-child(n) {
        border-top: jkl.rem(1px) solid;
        border-top-color: var(--jkl-accordion-border);

        &:hover {
            border-top-color: var(--jkl-accordion-focus);

            + .jkl-accordion-item {
                border-top-color: var(--jkl-accordion-focus);
            }
        }
    }

    &:last-child {
        border-bottom: jkl.rem(1px) solid;
        border-bottom-color: var(--jkl-accordion-border);

        &:hover {
            border-bottom-color: var(--jkl-accordion-focus);
        }
    }

    &--expanded {
        background-color: var(--jkl-accordion-expanded-background);

        .jkl-accordion-item__title {
            @include jkl.no-grow-bold;
        }
    }

    &__title {
        @include jkl.use-font-variables("jkl-accordion-title");
        @include jkl.reset-outline;

        color: var(--jkl-color);
        background-color: transparent;
        position: relative;
        padding: var(--jkl-accordion-title-padding);
        text-align: left;
        width: 100%;

        &:hover {
            cursor: pointer;

            .jkl-accordion-item__arrow {
                top: calc(var(--jkl-accordion-arrow-top) + #{jkl.rem(4px)});

                .jkl-accordion-item--expanded & {
                    top: calc(var(--jkl-accordion-arrow-top) - #{jkl.rem(4px)});
                }
            }
        }

        html:not([data-mousenavigation]) &:focus {
            box-shadow: inset 0 0 0 2px var(--jkl-accordion-focus);
        }
    }

    &__arrow {
        pointer-events: none;
        position: absolute;
        right: var(--jkl-accordion-arrow-right);
        top: var(--jkl-accordion-arrow-top);
        color: var(--jkl-color);

        @include jkl.motion("exit", "snappy");
        transition-property: top;

        @include jkl.forced-colors-svg-fallback($stroke: ButtonText, $fill: ButtonText);
    }

    &__content-wrapper {
        @include jkl.motion;
        transition-property: height;
    }

    &__content {
        @include jkl.use-font-variables("jkl-accordion-title");
        color: var(--jkl-color);
        height: auto;
        padding: var(--jkl-accordion-content-padding);
    }

    @include jkl.forced-colors-mode {
        &:nth-child(n) {
            border-top: jkl.rem(2px) solid ButtonText;

            &:hover {
                border-top: jkl.rem(2px) solid ButtonText;

                + .jkl-accordion-item {
                    border-top: jkl.rem(2px) solid ButtonText;
                }
            }
        }

        &:last-child {
            border-bottom: jkl.rem(2px) solid ButtonText;

            &:hover {
                border-bottom: jkl.rem(2px) solid ButtonText;
            }
        }

        &__title {
            background-color: ButtonFace;
            outline: revert;
        }
    }
}
