@use "~@fremtind/jkl-core/jkl";
@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$arrow-height: rem(16px);
$arrow-width: rem(13px);

@include jkl.helper-light-mode-variables {
    --accordion-border: #{$svaberg};
    --accordion-accent: #{$stein};
    --accordion-focus: #{$focus-color};
    --accordion-expanded-background: #{$hvit};
}

@include jkl.helper-dark-mode-variables {
    --accordion-border: #{$stein};
    --accordion-accent: #{$svaberg};
    --accordion-focus: #{$focus-color--darkbg};
    --accordion-expanded-background: #{$svart};
}

.jkl-accordion {
    width: 100%;

    &--inverted {
        .jkl-accordion-item {
            color: $snohvit;
            border-top: rem(1px) solid $snohvit;
            &:last-child {
                border-bottom: rem(1px) solid $snohvit;
            }
            &__title {
                background-color: transparent;
                &:hover {
                    color: $svaberg;
                }
                html:not([data-mousenavigation]) &:focus {
                    box-shadow: inset 0 0 0 2px $focus-color--darkbg;
                }
            }
            &--expanded {
                &__title {
                    color: $svaberg;
                }
            }
        }
    }
}

.jkl-accordion-item {
    @include reset-outline;

    $title-padding: $component-spacing--large;

    &:nth-child(n) {
        border-top: rem(1px) solid $svaberg;
        border-top: rem(1px) solid var(--accordion-border);

        &:hover {
            border-top: rem(1px) solid $granitt;
            border-top: rem(1px) solid var(--accordion-focus);

            + .jkl-accordion-item {
                border-top: rem(1px) solid $granitt;
                border-top: rem(1px) solid var(--accordion-focus);
            }
        }
    }

    &:last-child {
        border-bottom: rem(1px) solid $svaberg;
        border-bottom: rem(1px) solid var(--accordion-border);

        &:hover {
            border-bottom: rem(1px) solid $granitt;
            border-bottom: rem(1px) solid var(--accordion-focus);
        }
    }

    &__title {
        background-color: transparent;
        position: relative;
        padding: $title-padding;
        text-align: left;
        width: 100%;

        @include motion("standard");
        transition-property: transform, color;

        /* Remove button styles */
        outline: none;
        color: inherit; // stops Safari from changing color on :active
        border: none;

        /* The dropdown arrow */
        &__arrow {
            position: absolute;
            left: $component-spacing--large;
            top: 50%;
            transform: translateY(-50%);
            color: inherit;
        }

        &:hover {
            cursor: pointer;
            .jkl-accordion-item__title__arrow {
                transform: translateY(calc(-50% + #{rem(3px)}));
            }
        }

        html:not([data-mousenavigation]) &:focus {
            box-shadow: inset 0 0 0 2px $focus-color;
            box-shadow: inset 0 0 0 2px var(--accordion-focus);
        }
    }

    &--expanded {
        background-color: $hvit;
        background-color: var(--accordion-expanded-background);
        .jkl-accordion-item {
            &__title {
                &-text {
                    @include no-grow-bold();
                }
                &:hover {
                    .jkl-accordion-item__title__arrow {
                        transform: translateY(calc(-50% + #{rem(-3px)}));
                    }
                }
            }
        }
    }

    &__title-text {
        @include jkl-text-style("desktop/body");
        display: block;
        padding-right: 2rem;
        margin-left: $component-spacing--xl;
    }

    &__content-wrapper {
        @include motion("standard");
        transition-property: height;
    }

    &__content {
        @include jkl-text-style("desktop/body");
        height: auto;
        padding: $component-spacing--large $component-spacing--xs $component-spacing--xxl $component-spacing--xl;
        color: inherit; // Make content same color as rest of page text
    }
}

.jkl-expand-arrow {
    height: $arrow-height;
    width: $arrow-width;
    clip: rect(auto, auto, auto, auto);
    clip-path: inset(0 0 0 0);

    pointer-events: none;

    @include motion("standard");
    transition-property: transform;

    &__up,
    &__down {
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        left: 0;
        height: $arrow-height;
        width: $arrow-width;
        @include motion("standard");
        transition-property: transform;
    }

    &__up {
        top: 100%;
    }

    &__down {
        top: 0;
    }

    &--expanded {
        .jkl-expand-arrow__up,
        .jkl-expand-arrow__down {
            @include motion("standard", "expressive");
            transform: translate(0, -100%);
        }
    }
}
