@import "@fremtind/jkl-core/variables/_all.scss";
@import "@fremtind/jkl-core/mixins/_all.scss";

.jkl-accordion-item {
    $title-padding: $component-spacing--large;

    @include motion("standard");
    transition-property: transform;
    margin-bottom: $component-spacing--small;

    &:last-child {
        margin-bottom: 0;
    }

    &:active {
        transform: scale(0.99);
    }

    &--expanded {
        background-color: $helhvit;
        box-shadow: $drop-shadow--small;
        .jkl-accordion-item {
            &__title-icon {
                transform: rotate(135deg);
            }
            &__title {
                background-color: transparent;
            }
        }
    }

    &__title {
        position: relative;
        padding: $title-padding;
        text-align: left;
        width: 100%;

        /* Remove button styles */
        outline: none;
        background-color: $varde;
        color: inherit; // stops Safari from changing color on :active
        border: none;

        &:hover {
            cursor: pointer;
            color: $helhvit;
            background-color: $svart;
        }

        html:not([data-mousenavigation]) &:focus {
            box-shadow: inset 0 0 0 2px $focus-color;
        }

        @include motion("standard");
        transition-property: color, background-color;
    }

    &__title-text {
        @include font-size("small");
        @include line-height("small");
        display: block;
        padding-right: 2rem;
    }

    &__title-icon {
        @include chevron(rem(20px), currentcolor, $weight: rem(1px));
        position: absolute;
        display: block;
        top: $title-padding; // magic number to align chevron with base line
        right: $title-padding;
    }

    &__content-wrapper {
        @include motion("standard");
        transition-property: height;
    }

    &__content {
        @include font-size("medium");
        height: auto;
        padding: $layout-spacing--xl $component-spacing--large;
        color: inherit; // Make content same color as rest of page text
    }
}
