@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$border-color: $svart;
$border-width: rem(1px);

// chevron
$chevron-size: rem(20px);
$chevron-weight: rem(1px);
$chevron-weight--hover: rem(2px);

// Padding
$content-padding-left-right: $component-spacing--large;
$content-padding-bottom: $layout-spacing--xl;
$content-padding-top: $content-padding-bottom - $component-spacing--large;
$item-padding-top-bottom: rem(2px);
$title-padding: $component-spacing--large;
$title-padding-top: $title-padding - $item-padding-top-bottom;
$title-padding-bottom: $title-padding - $item-padding-top-bottom - $border-width;

.jkl-accordion {
    // The border-top is set on the accordion rather than the accordion-item to keep all accordion-item an equal height
    border-top: $border-width solid $border-color;
    width: 100%;
}

.jkl-accordion-item {
    border-bottom: $border-width solid $border-color;
    padding: $item-padding-top-bottom 0;

    &--expanded {
        & .jkl-accordion-item__title-icon {
            transform: rotate((-45 + 180) * 1deg); // default orientation is pointing down
        }
    }

    &__title {
        position: relative;
        padding: $title-padding-top $title-padding $title-padding-bottom;
        text-align: left;
        width: 100%;

        /* Remove button styles */
        outline: none;
        background-color: inherit; // Override default white background color
        color: inherit; // stops Safari from changing color on :active
        border: 0;

        &:hover {
            cursor: pointer;
            font-weight: bold;
            letter-spacing: -0.009em;
        }

        html:not([data-mousenavigation]) &:focus {
            box-shadow: inset 0 0 0 2px $focus-color;
        }
    }

    &__content-wrapper {
        transition: height 300ms ease;
    }

    &__content {
        @include font-size("medium");
        height: auto;
        padding: $content-padding-top $content-padding-left-right $content-padding-bottom;
        color: inherit; // Make content same color as rest of page text
    }

    &__title-text {
        @include font-size("small");
        @include line-height("small");
        padding-right: 2rem;
    }

    &__title-icon {
        @include chevron($chevron-size, currentcolor, $weight: $chevron-weight);
        position: absolute;
        top: $title-padding-top; // magic number to align chevron with base line
        right: $title-padding;
    }
}
