@charset "UTF-8";
@use "sass:string";
@use "@fremtind/jkl-core/jkl";

/// @deprecated Denne komponenten bør ikke lenger brukes.

$_animation-duration: 300ms;
$_half-animation-duration: calc(#{$_animation-duration} / 2);

$_fade-out-animation-name: jkl-fade-out-#{string.unique-id()};
$_fade-in-animation-name: jkl-fade-in-#{string.unique-id()};

@keyframes #{$_fade-out-animation-name} {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes #{$_fade-in-animation-name} {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.jkl-content-toggle {
    height: 1.2em;
    overflow: hidden;
    display: block;

    &__slider {
        .jkl-content-toggle--flip > & {
            display: flex;
            flex-direction: column;
            @include jkl.motion(standard, expressive);
            transition-property: transform;

            &[data-show="first"] {
                transform: translateY(0);
            }

            &[data-show="second"] {
                transform: translateY(-50%);
            }
        }

        .jkl-content-toggle--fade > & {
            animation-duration: $_half-animation-duration;

            &[data-initial="true"] {
                animation-duration: 0ms;

                & > .jkl-content-toggle__first,
                & > .jkl-content-toggle__second {
                    animation-delay: 0ms !important;
                }
            }
        }
    }

    &__first,
    &__second {
        .jkl-content-toggle--fade & {
            display: block;
            animation-fill-mode: both;
            animation-duration: inherit;
            transition-property: opacity;
        }
    }

    &__first {
        .jkl-content-toggle--fade [data-show="first"] & {
            animation-name: $_fade-in-animation-name;
            animation-delay: $_half-animation-duration;
            visibility: hidden;
        }

        .jkl-content-toggle--fade [data-show="second"] & {
            animation-name: $_fade-out-animation-name;
            animation-delay: 0ms;
        }
    }

    &__second {
        .jkl-content-toggle--fade & {
            transform: translateY(-100%);
        }

        .jkl-content-toggle--fade [data-show="first"] & {
            animation-name: $_fade-out-animation-name;
            animation-delay: 0ms;
            visibility: visible;
        }

        .jkl-content-toggle--fade [data-show="second"] & {
            animation-name: $_fade-in-animation-name;
            animation-delay: $_half-animation-duration;
        }
    }
}
