@charset "UTF-8";
@use "../../../core/jkl";

/*
 * NOTE: These icon also exists as a copy in the jkl-icons-react package.
 *       If you're here to change them, consider changing them there as well, or
 *       finding a technical solution to sharing the SVG markup
 */
@function _cross($color1, $color2) {
    $c1: jkl.urlencodecolor($color1);
    $c2: jkl.urlencodecolor($color2);

    @return url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='8.75' fill='#{$c1}'/%3E%3Cpath fill='#{$c2}' d='M5.54 12.68l7.14-7.1.84.85-7.13 7.09z'/%3E%3Cpath fill='#{$c2}' d='M12.67 13.47l-7.13-7.1.85-.83 7.13 7.1z'/%3E%3C/svg%3E%0A");
}

@function _check($color1, $color2) {
    $c1: jkl.urlencodecolor($color1);
    $c2: jkl.urlencodecolor($color2);

    @return url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='9.5' fill='#{$c1}'/%3E%3Cpath d='M4.75 11l2.35 2.36 7.84-7.84' stroke='#{$c2}' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}

@include jkl.light-mode-variables {
    --jkl-list-marker-cross: #{_cross(
            jkl.$sys-color-background-surface-support-error,
            jkl.$color-granitt
        )};
    --jkl-list-marker-check: #{_check(
            jkl.$sys-color-background-surface-support-success,
            jkl.$color-granitt
        )};
    --jkl-list-text-color: #{jkl.$sys-color-content-default};
}

@include jkl.dark-mode-variables {
    --jkl-list-marker-cross: #{_cross(
            jkl.$sys-color-background-surface-support-error,
            jkl.$color-granitt
        )};
    --jkl-list-marker-check: #{_check(
            jkl.$sys-color-background-surface-support-success,
            jkl.$color-granitt
        )};
    --jkl-list-text-color: #{jkl.$sys-color-content-default};
}

.jkl-list {
    list-style-type: "\2022";
    padding-left: jkl.$unit-20;
    margin: 0;

    & > .jkl-list__item {
        & > .jkl-list {
            margin: jkl.$unit-10 0;
        }
    }

    &:has(.jkl-list__item--iconed) {
        padding: 0;
    }

    &--ordered {
        padding-left: revert;

        & > .jkl-list__item {
            padding-left: revert;
            list-style: decimal;
        }

        & & > .jkl-list__item {
            list-style: lower-alpha;
        }
    }

    &__item {
        color: jkl.$sys-color-content-default;
        padding-left: jkl.$unit-15;

        &::marker {
            color: jkl.$sys-color-content-default;
        }

        &--iconed {
            display: flex;
            list-style: none;
            position: relative;
            padding-left: 0;

            &::before {
                text-indent: -9999px;
                background-size: contain;
                width: 1em;
                height: 1em;
                flex-shrink: 0;
                margin-right: 0.5em;
                margin-top: 0.2em; // Vertical offset (using em for font-size scaling) to align icon properly with the first line.
            }
        }

        &--check::before {
            @include jkl.decorative($content: "\2713");
            background-image: var(--jkl-list-marker-check);
        }

        &--cross::before {
            @include jkl.decorative($content: "\274C");
            background-image: var(--jkl-list-marker-cross);
        }
    }

    @include jkl.forced-colors-mode {
        & .jkl-list__item {
            &--check::before {
                background-image: _check(CanvasText, Canvas);
            }

            &--cross::before {
                background-image: _cross(CanvasText, Canvas);
            }
        }
    }
}
