.articleGallery {
    margin-block-start: var(--jkl-spacing-64);
    display: grid;
    list-style: none;
    padding-inline-start: 0;
    grid-template-columns: repeat(auto-fit, minmax(min(37ch, 100%), 1fr));
    gap: clamp(var(--jkl-unit-30),
            1.1522rem + 1.7391vw,
            var(--jkl-unit-50));
}

.articleHeader {
    > * {
        margin-block-end: var(--jkl-spacing-24);
    }
}