@use "../../../core/jkl";

.jkl-table-pagination {
    display: grid;
    width: 100%;
    gap: var(--jkl-unit-15);

    grid-template-columns: 1fr;
    grid-template-areas:
        "page-size"
        "total-rows"
        "navigation";

    @include jkl.from-medium-device {
        grid-template-columns: auto auto 1fr;
        grid-template-areas: "page-size total-rows navigation";
        gap: var(--jkl-unit-30);
        align-items: center;
    }

    &__page-size {
        grid-area: page-size;
    }

    &__total-rows {
        grid-area: total-rows;
        white-space: nowrap;
    }

    &__navigation {
        grid-area: navigation;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: var(--jkl-unit-20);

        @include jkl.from-medium-device {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__picker {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;

        &--page {
            width: min(9rem, 100%);
        }
    }

    &__picker-label {
        margin-inline-end: var(--jkl-unit-10);
    }
}
