@use "../../../core/jkl";

@include jkl.light-mode-variables {
    --jkl-table-head-sticky-color: var(--jkl-background-color);
}

@include jkl.dark-mode-variables {
    --jkl-table-head-sticky-color: var(--jkl-background-color);
}

$_border-size: jkl.rem(-1px);

.jkl-table-head {
    &--sr-only {
        @include jkl.screenreader-only;
    }

    &--sticky {
        & > .jkl-table-row {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: var(--jkl-table-head-sticky-color);

            border-bottom: none;

            box-shadow: inset 0 0 0 #000,
                inset 0 $_border-size 0 var(--jkl-table-row-hover-border-color);
            background-clip: padding-box;

            // legg til litt (nesten-cirka 16px) over headingen
            vertical-align: bottom;
            height: 2.3em;
        }
    }
}
