/// @type Number
$z-index--floating: 10000;

/// @type Number
$z-index--modal: 9000;

/// @type Number
$z-index--overlay: 8000;

/// @type Number
$z-index--dropdown: 7000;

/// @type Number
$z-index--header: 6000;

/// @type Number
$z-index--footer: 5000;

/// @type Number
$z-index--hidden: -1;

/// @type Number
$z-index--overflow-hidden: -1;
