@import "~@fremtind/jkl-core/build/scss/variables/colors.scss";
@import "~@fremtind/jkl-core/build/scss/typography/font-size.scss";
@import "~@fremtind/jkl-core/build/scss/mixins/utils.scss";

$transition-timing: 200ms cubic-bezier(0.7, 0, 0.3, 1);

$dropdown-width: 20rem;
$dropdown-bg-color: white;

$border-color: $svart;
$focus-color: $himmel;

$value-height: $line-height-3;
$value-font-size: $font-size-3;
$label-height: $line-height-2;
$label-font-size: rem(16px);

$arrow-size: $value-height;

$side-padding: $component-spacing--small;
$bottom-padding: $component-spacing--small;
$bottom-margin: $component-spacing--large;

@mixin nojump-bold {
    // Make font bolder without increasing line length
    font-weight: bold;
    letter-spacing: -0.24;
}

.jkl-dropdown {
    background-color: $dropdown-bg-color;
    display: inline-block;
    height: $label-height + $value-height + $bottom-padding;
    min-width: $dropdown-width;
    padding-top: $label-height;
    position: relative;
    vertical-align: bottom;

    & *:focus {
        // Remove default focus outline for all elements within
        outline: none;
    }

    &__label {
        font-size: $value-font-size;
        line-height: $value-height;
        pointer-events: none; // Allow click to happen on the actual button
        position: absolute;
        left: $side-padding;
        top: 0;
        transition: transform $transition-timing, color $transition-timing;
        transform-origin: top left;
        transform: translateY($label-height);

        .jkl-dropdown--no-value:hover > &,
        .jkl-dropdown--no-value:focus-within > & {
            @include nojump-bold();
        }

        &--hover {
            // STATE SHOULD BE RENAMED
            color: #696666;
            transform: translateY(0) scale($label-font-size / $value-font-size);
        }
    }

    &__value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: transparent;

        border: 0;
        font-size: $value-font-size;
        height: $value-height + $bottom-padding;
        line-height: $value-height;
        padding: 0 $side-padding $bottom-padding;
        padding-right: $arrow-size + $side-padding;
        text-align: left;
        transition: box-shadow $transition-timing, padding $transition-timing;
        width: 100%;
        opacity: 1;
        position: relative;
        box-shadow: 0 2px 0 0 $border-color;

        html:not([data-mousenavigation]) &:focus {
            box-shadow: 0 4px 0 0 $focus-color;
            @include nojump-bold();
        }

        &:hover {
            @include nojump-bold();
        }

        &:active {
            color: currentColor; // Safari text will blink on click without this
        }
    }

    &--no-value {
        .jkl-dropdown__value {
            padding-top: $value-height + $bottom-padding; // Use padding to keep text behind the screen
            padding-bottom: 0;
            color: transparent;
        }
    }

    &--open {
        .jkl-dropdown__arrow {
            transform: rotate(180deg);
        }
    }

    &__option-wrapper {
        background-color: white;
        list-style-type: none;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
        padding: 1rem 0.5rem 0;
        max-height: 60vh;
        overflow-y: scroll;
        z-index: 100; // TODO Create a system for z-index in Jokul
    }

    &__option {
        border: 0;
        background-color: inherit;
        font-size: $value-font-size;
        line-height: $value-height;
        padding: 0;
        border-bottom: 1px solid transparent;
        text-align: left;
        margin-bottom: $bottom-margin;

        &:focus,
        &:hover {
            @include nojump-bold();
            border-color: $border-color;
        }

        html:not([data-mousenavigation]) &:focus {
            border-color: $focus-color;
        }
    }

    &__arrow {
        background-color: transparent;
        height: $arrow-size;
        position: absolute;
        right: 0;
        top: 30%;
        transition: transform 300ms ease-in-out;
    }
}
