@import "@fremtind/jkl-core/variables/_all.scss";
@import "@fremtind/jkl-core/mixins/_helpers.scss";
@import "@fremtind/jkl-core/mixins/_ornaments.scss";

$transition-timing: 200ms cubic-bezier(0.7, 0, 0.3, 1);

$dropdown-width: 20rem;
$bg-color: inherit;
$bg-color--options: $helhvit;

$border-color: $svart;
$border-color--focus: $focus-color;

$value-height: $line-height-3;
$value-font-size: $font-size-3;

$side-padding: $component-spacing--small;
$bottom-padding: $component-spacing--small;

$chevron-size: rem(20px);
$chevron-weight: rem(1px);

@mixin nojump-bold {
    // Make font bolder without increasing line length
    font-weight: bold;
    letter-spacing: -0.009em;
}

@mixin underline-color($color, $focus-color) {
    box-shadow: inset 0 rem(-2px) 0 0 $color;

    html:not([data-mousenavigation]) &:focus {
        box-shadow: inset 0 rem(-4px) 0 0 $focus-color;
    }

    &:hover {
        box-shadow: inset 0 rem(-4px) 0 0 $color;
    }
}

.jkl-dropdown {
    background-color: $bg-color;
    display: block;
    width: $dropdown-width;
    position: relative;

    &--inline {
        display: inline-block;
        vertical-align: top;
    }

    & *:focus {
        // Remove default focus outline for all elements within
        outline: none;
    }

    & select {
        /* reset default appearance */
        appearance: none;
        border-radius: 0;
        &::ms-expand {
            display: none;
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $border-color;
        }

        & option {
            font-weight: normal;
            font-family: sans-serif;
        }
    }

    &__value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: transparent;

        border: 0;
        font-size: $value-font-size;
        line-height: $value-height;
        font-weight: bold;
        padding: 0 $side-padding $bottom-padding 0;
        padding-right: $value-height + $side-padding;
        text-align: left;
        transition: box-shadow $transition-timing, padding $transition-timing;
        width: 100%;
        opacity: 1;
        position: relative;
        @include underline-color($border-color, $border-color--focus);

        &:active {
            color: currentColor; // Safari text will blink on click without this
        }
    }

    &--no-value {
        .jkl-dropdown__value {
            color: $varm-fjellgra;
            font-weight: normal;
        }
    }

    &--open {
        .jkl-dropdown__arrow {
            transform: rotate(180deg);
        }

        .jkl-dropdown__chevron {
            transform: rotate((-45 + 180) * 1deg); // default orientation is pointing down
        }
    }

    &__outer-wrapper {
        position: relative;
    }

    &__option-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: $z-index--dropdown;

        background-color: $bg-color--options;
        border: rem(1px) solid $svart;
        border-top: none;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);

        max-height: 60vh;
        overflow-y: auto;
        margin: 0;
        padding: 0;

        list-style-type: none;
        -webkit-overflow-scrolling: touch;
    }

    &__option {
        border: 0; // removes native styling
        width: 100%;
        background-color: inherit;
        font-size: $value-font-size;
        line-height: rem(48px);
        padding: 0 $component-spacing--medium;
        text-align: left;

        &:focus,
        &:hover {
            background-color: $svart;
            color: $bg-color--options;
        }

        html:not([data-mousenavigation]) &:focus {
            background-color: $bg-color--options;
            color: $svart;
            box-shadow: inset 0 0 0 2px white, inset 0 0 0 4px $border-color--focus;
        }
    }

    &__chevron {
        @include chevron($chevron-size, currentcolor, $weight: $chevron-weight);
        position: absolute;
        right: 0;
        pointer-events: none;
    }

    &--invalid {
        .jkl-dropdown__value {
            @include underline-color($error-color, $error-color);
        }
    }
}
