@use "@fremtind/jkl-core/jkl";

.jkl-portal-blog {
    &__post-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__post {
        margin-bottom: jkl.$spacing-l;
        max-width: jkl.rem(750px);
        width: 100%;

        @include jkl.from-medium-device {
            margin-bottom: jkl.$spacing-xl;
        }
    }
}
