@use "~@fremtind/jkl-core/jkl";

.jkl-portal-frontpage {
    section {
        margin-bottom: jkl.$spacing-3xl;
    }

    &__tagline {
        margin-block: jkl.$spacing-64;
    }

    &__section {
        &-intro {
            &--image-container {
                height: 65vh;
                width: 60vw;
                overflow: hidden;
            }

            &--image {
                width: 100%;
                height: 100%;
                background-image: none; // set by js in component
                background-size: cover;
                transform: scale(1);
                transition: transform 0.5s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
            }

            &--content {
                display: flex;
                margin-left: -#{jkl.$spacing-xl};

                .jkl-portal__card-list {
                    margin-left: jkl.$spacing-3xl;
                }
            }

            @include jkl.small-device {
                &--image-container {
                    position: absolute;
                    width: 100vw;
                }

                &--image {
                    background-position: center;
                }

                &--content {
                    position: relative;
                    display: block;
                    margin-left: -#{jkl.$spacing-m};
                    overflow: hidden;
                    padding-bottom: jkl.$spacing-2xl;

                    .jkl-portal__card-list {
                        position: relative;
                        display: block;
                        margin-left: jkl.$spacing-m;
                        padding-top: jkl.$spacing-2xl;
                    }
                }
            }
        }

        &--wrapper {
            max-width: 86ch;
        }

        &-contribute {
            margin-left: jkl.$spacing-2xl;

            h2 {
                padding-bottom: jkl.$spacing-2xl;
            }

            p {
                padding-bottom: jkl.$spacing-l;
            }
        }

        &-principles {
            display: grid;
            grid-template:
                "heading heading" auto
                "diamond principle" auto
                / 1fr 1fr;

            &__principle {
                margin-bottom: jkl.$spacing-4xl;
                height: 90vh;
                display: flex;
                align-items: center;

                &--container {
                    grid-area: principle;

                    h1 {
                        margin-bottom: jkl.$spacing-l;
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &__diamond-container {
                grid-area: diamond;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: jkl.$spacing-3xl;
            }

            &--heading {
                grid-area: heading;
                max-width: 28ch;
                margin-bottom: calc(#{jkl.$spacing-4xl} * 1.5);
            }
        }
    }
}
