@use "@fremtind/jkl-core/jkl";
@use "@fremtind/jkl-webfonts" with (
    $webfonts-dir: "../../static/fonts"
);

$header-height: jkl.rem(96px);

pre {
    max-width: 80vw;
    overflow: auto;
}

h2,
h3,
.jkl-portal-scroll-anchor {
    scroll-margin-top: $header-height;

    @include jkl.reset-outline;
}
