@use "../../../core/jkl/index" as jkl;

.jkl-help-trigger {
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
}

.jkl-help-popover {
    @include jkl.motion("standard", "productive");

    opacity: 0;
    transition: opacity,
        overlay allow-discrete,
        display allow-discrete;

    max-width: 40ch;
    padding: var(--jkl-unit-30);
    margin: var(--jkl-unit-05);
    inset: auto;
    border: none;
    background-color: var(--jkl-color-background-container-high);
    color: var(--jkl-color-text-default);

    header button {
        display: none;
    }

    .title {
        @include jkl.text-style("body") {
            font-weight: bold;
        }
    }

    &[data-position="top"] {
        position-area: top center;
        position-try: top, bottom, right, left;
    }

    &[data-position="bottom"] {
        position-area: bottom center;
        position-try: bottom, top, right, left;
    }

    &[data-position="left"] {
        position-area: left center;
        position-try: left, right, top, bottom;
    }

    &[data-position="right"] {
        position-area: right center;
        position-try: right, left, top, bottom;
    }

    &:popover-open {
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }
}
