@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$icon-size: rem(45px);
$max-feedback-input-width: 30rem;

@include jkl.helper-light-mode-variables {
    --jkl-feedback--step-color: #{jkl.$color-stein};
}

@include jkl.helper-dark-mode-variables {
    --jkl-feedback--step-color: #{jkl.$color-svaberg};
}

@keyframes show {
    from {
        transform: translate3D(0, 0.5rem, 0);
        opacity: 0;
    }
}

@keyframes hide {
    to {
        transform: translate3D(0, -20px, 0);
        opacity: 0;
    }
}

.jkl-feedback {
    max-width: rem(550px);

    &__submit-wrapper {
        width: 100%;
        transition-property: height;
        @include motion(standard, expressive);

        &--hidden {
            display: none;
        }
    }

    &__step-counter {
        @include jkl.text-style("body");
        color: jkl.$color-stein;
        color: var(--jkl-feedback--step-color);
        margin-bottom: $layout-spacing--xs;
    }

    &__fade-in {
        animation: show 0.25s ease-out;
    }
}
