@use "sass:map";
@use "./tokens" as *;

/// @type Color
$color-focus-color: $color-granitt;

/// @type Color
$color-focus-color--darkbg: $color-snohvit;

// Varslingsfarger / Meldingsfarger.
// Kun til bruk som bakgrunn i komponenter som gir varslinger til bruker.
$_varslingsfarger: (
    "suksess": $color-suksess,
    "feil": $color-feil,
    "info": $color-info,
    "advarsel": $color-advarsel,
);

/// Hent fargekoden til en navngitt varslingsfarge
/// @param {"suksess" | "feil" | "info" | "advarsel"} $farge - Navn på fargen du ønsker verdien til
/// @deprecated Bruk tokens direkte ($color-success, $color-error, $color-info, $color-warning)
/// @return {Color} - fargekoden til den ønskede fargen
/// @access private - forwardes ikke ut av modulen, men er tilgjengelig ved direkteimport. KUN FOR INTERN BRUK I JØKUL.
@function varslingsfarge($farge) {
    @return map.get($_varslingsfarger, $farge);
}
