@use "sass:string";
@use "sass:map";
@use "sass:list";
@use "screens";

/// Tilsvarer 2px
/// @type Number
$spacing-3xs: 0.125rem;

/// Tilsvarer 4px
/// @type Number
$spacing-2xs: 0.25rem;

/// Tilsvarer 8px
/// @type Number
$spacing-xs: 0.5rem;

/// Tilsvarer 12px
/// @type Number
$spacing-s: 0.75rem;

/// Tilsvarer 16px
/// @type Number
$spacing-m: 1rem;

/// Tilsvarer 24px
/// @type Number
$spacing-l: 1.5rem;

/// Tilsvarer 40px
/// @type Number
$spacing-xl: 2.5rem;

/// Tilsvarer 64px
/// @type Number
$spacing-2xl: 4rem;

/// Tilsvarer 104px
/// @type Number
$spacing-3xl: 6.5rem;

/// Tilsvarer 168px
/// @type Number
$spacing-4xl: 10.5rem;

/// Lar deg gjøre oppslag på navnet uten `spacing`-prefix for å få ut rem-verdien
/// @type Map
$spacing-new: (
    "3xs": (
        "small-screen": $spacing-3xs,
        "large-screen": $spacing-3xs,
    ),
    "2xs": (
        "small-screen": $spacing-2xs,
        "large-screen": $spacing-2xs,
    ),
    "xs": (
        "small-screen": $spacing-xs,
        "large-screen": $spacing-xs,
    ),
    "s": (
        "small-screen": $spacing-s,
        "large-screen": $spacing-s,
    ),
    "m": (
        "small-screen": $spacing-m,
        "large-screen": $spacing-m,
    ),
    "l": (
        "small-screen": $spacing-m,
        "large-screen": $spacing-l,
    ),
    "xl": (
        "small-screen": $spacing-l,
        "large-screen": $spacing-xl,
    ),
    "2xl": (
        "small-screen": $spacing-xl,
        "large-screen": $spacing-2xl,
    ),
    "3xl": (
        "small-screen": $spacing-2xl,
        "large-screen": $spacing-3xl,
    ),
    "4xl": (
        "small-screen": $spacing-3xl,
        "large-screen": $spacing-4xl,
    ),
);

$positions: (top, bottom, left, right);

@mixin spacing($spacing-name) {
    // Separate spacing/position into spacing and position variables:
    $start-index: string.index($spacing-name, "/") or 0;
    $end-index: string.index($spacing-name, "/") or 9999999;
    $spacing: string.slice($spacing-name, 0, $start-index - 1);
    $position: string.slice($spacing-name, $end-index + 1);

    @if map.has-key($spacing-new, $spacing) {
        $variants: map.get($spacing-new, $spacing);

        @if string.length($position) == 0 {
            margin: map.get($variants, "small-screen");

            @include screens.from-medium-device {
                margin: map.get($variants, "large-screen");
            }
        } @else {
            @if list.index($positions, $position) {
                margin-#{$position}: map.get($variants, "small-screen");

                @include screens.from-medium-device {
                    margin-#{$position}: map.get($variants, "large-screen");
                }
            } @else {
                @error "The spacing #{$spacing} has no position called #{$position}. Try one of these: #{$positions}";
            }
        }
    } @else {
        @error "No spacing with the name #{$spacing} was found. Try one of these: #{map.keys($spacing-new)}";
    }
}
