@use "~@fremtind/jkl-core/jkl";

.jkl-breadcrumb {
    --jkl-breadcrumb-spacing: #{jkl.$spacing-xs};
    --jkl-breadcrumb-color-current: var(--jkl-system-color-on-surface);
    @include jkl.create-text-style-variables("small", "breadcrumb-link");

    a {
        @include jkl.use-text-style-variables("breadcrumb-list");
    }

    a[aria-current] {
        text-decoration: none;
        color: var(--jkl-breadcrumb-color-current);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: var(--jkl-breadcrumb-spacing);
        margin: 0;
        padding-inline-start: 0;
    }

    &__item {
        white-space: nowrap;
    }

    &__item-separator {
        @include jkl.use-text-style-variables("breadcrumb-list");
    }
}
