@use "../../../core/jkl";

.jkl-description-list--beta {
    --justified: 1fr max-content;
    container: description-list / inline-size;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;

    @container (width > 40ch) {
        grid-template-columns: var(--justified);

        .title,
        .value {
            grid-row: 1;
        }

        .value {
            text-align: end;
        }
    }

    &[data-always-justified="true"] {
        grid-template-columns: var(--justified);

        .title,
        .value {
            grid-row: 1;
        }

        .value {
            text-align: end;
        }
    }
}

.jkl-description-list-item--beta {
    --spacing: var(--jkl-spacing-s);
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;


    &:not(:last-of-type) {
        border-block-end: 1px solid var(--jkl-color-border-separator);
        margin-block-end: var(--spacing);
        padding-block-end: var(--spacing);
    }

    .title,
    .value {
        line-height: 1.3;
    }

    .title {
        font-weight: bold;
    }

    dd {
        margin: 0;

        /* &.value {
                font-variant-numeric: tabular-nums;
            } */
    }

    .description {
        grid-column: 1 / -1;
        color: var(--jkl-color-text-subdued);

    }
}
