@use "@fremtind/jokul/styles/core/jkl";

.global-menu-button {
    @media (min-width: #{jkl.$breakpoint-large}) {
        display: none;
    }
}

.global-menu {
    height: 100vh;
    overflow-y: auto;
    min-width: 320px;
    position: sticky;
    top: var(--jkl-spacing-24);

    ul {
        position: relative;
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 2;
        height: 100%;
        overflow-y: auto;
        width: 100%;
        box-sizing: border-box;

        ul {
            padding-inline-start: var(--jkl-spacing-40);
        }

        li {
            box-sizing: border-box;

            &:first-of-type {
                background-color: var(--jkl-color-background-page);
                position: sticky;
                top: 0;
                z-index: +1;

                .global-menu-list-link {
                    padding-inline-start: var(--jkl-spacing-24);
                }
            }

            .global-menu-list-link {
                @include jkl.text-style("small");
                padding-inline-start: var(--jkl-spacing-40);
                padding-block: var(--jkl-spacing-12);
                display: block;
                background-color: var(--jkl-color-background-interactive);
                color: currentColor;
                text-decoration: none;
                border-radius: jkl.rem(4px);
                overflow: hidden;

                &--active {
                    position: relative;
                    font-weight: bold;
                    background-color: var(
                        --jkl-color-background-interactive-selected
                    );

                    &::before {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 4px;
                        left: 0;
                        top: 0;
                        background-color: var(--jkl-color-border-action);
                    }
                }

                &:hover {
                    background-color: var(
                        --jkl-color-background-interactive-hover
                    );
                }

                @media (min-width: #{jkl.$breakpoint-large}) {
                    padding-block: var(--jkl-spacing-4);
                }
            }
        }
    }

    @media (width <= calc(#{jkl.$breakpoint-large} - 1px)) {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        overflow-y: auto;
        padding-block: calc(var(--jkl-spacing-40) * 2) 0;
        padding-inline: var(--jkl-spacing-24);
        box-sizing: border-box;
        z-index: 1;

        &::after {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            content: "";
            background: var(--jkl-color-background-page-variant);
            z-index: 1;
        }
    }
}

body:has(.global-menu-button[aria-expanded="false"]) {
    @media (width <= calc(#{jkl.$breakpoint-large} - 1px)) {
        .global-menu {
            display: none;
        }
    }
}
