@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

$_tag-background-color: jkl.$color-varde;
$_tag-text-color: jkl.$color-granitt;

$_dismiss-focus-border-color: jkl.$color-granitt;
$_dismiss-hover-color: jkl.$color-stein;

$_tag-background-color--success: colors.varslingsfarge("suksess");
$_tag-background-color--error: colors.varslingsfarge("feil");
$_tag-background-color--info: colors.varslingsfarge("info");
$_tag-background-color--warning: colors.varslingsfarge("advarsel");

@include jkl.comfortable-density-variables {
    --jkl-tag-padding: #{jkl.$spacing-3xs} #{jkl.rem(6px)};
    --jkl-tag-dismiss-margin: #{jkl.rem(1px)} #{jkl.rem(-4px)} 0 0;

    @include jkl.from-medium-device {
        --jkl-tag-padding: #{jkl.$spacing-2xs} #{jkl.$spacing-xs};
        --jkl-tag-dismiss-margin: #{jkl.rem(1px)} #{jkl.rem(-4px)} 0 #{jkl.$spacing-2xs};
    }
}

@include jkl.compact-density-variables {
    --jkl-tag-padding: #{jkl.rem(1px)} #{jkl.$spacing-2xs} 0;
}

.jkl-tag {
    @include jkl.text-style("heading-5");
    background-color: $_tag-background-color;
    border-radius: jkl.rem(4px);
    color: $_tag-text-color;
    padding: var(--jkl-tag-padding);
    white-space: nowrap;
    display: inline-flex;
    align-items: center;

    &--info {
        background-color: $_tag-background-color--info;
    }

    &--warning {
        background-color: $_tag-background-color--warning;
    }

    &--error {
        background-color: $_tag-background-color--error;
    }

    &--success {
        background-color: $_tag-background-color--success;
    }

    @include jkl.forced-colors-mode {
        border: 2px none CanvasText;
        border-bottom-style: dotted;

        &--info {
            border-style: dotted;
        }

        &--warning {
            border-style: dashed;
        }

        &--error {
            border-style: double;
            border-width: 4px;
        }

        &--success {
            border-style: solid;
        }
    }

    &__dismiss-action {
        @include jkl.reset-outline;
        box-sizing: border-box;
        background-color: transparent;
        cursor: pointer;
        color: inherit;
        margin: var(--jkl-tag-dismiss-margin);

        & > .jkl-icon-button__icon {
            @include jkl.forced-colors-svg-fallback($stroke: ButtonText);

            height: jkl.rem(13px);
            width: jkl.rem(13px);
            margin-top: 0.15rem;

            & > svg > path {
                stroke-width: 3;
            }
        }

        &:hover {
            color: $_dismiss-hover-color;
        }

        &:focus {
            @include jkl.keyboard-navigation {
                color: $_dismiss-hover-color;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: jkl.rem(2px);
                    right: jkl.rem(2px);
                    bottom: jkl.rem(2px);
                    left: jkl.rem(2px);
                    box-shadow: 0 0 0 jkl.rem(2px) $_dismiss-focus-border-color;
                }
            }
        }

        @include jkl.forced-colors-mode {
            border: revert;
            background-color: revert;
        }
    }
}
