@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/variables/colors";

.jkl-tag {
    --tag-background-color: var(--jkl-system-color-surface-variant);
    --tag-text-color: var(--jkl-system-color-on-surface-variant);
    --tag-border-color: var(--jkl-system-color-outline);

    @include jkl.text-style("heading-5");
    border-radius: jkl.rem(4px);
    border: jkl.rem(1px) solid var(--tag-border-color);
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    display: inline-block;
    padding: jkl.$spacing-3xs jkl.$spacing-xs;
    white-space: nowrap;

    &--info,
    &--warning,
    &--error,
    &--success {
        --tag-text-color: var(--jkl-system-color-on-message);
    }

    &--info {
        --tag-background-color: var(--jkl-system-color-info);
    }

    &--warning {
        --tag-background-color: var(--jkl-system-color-warning);
    }

    &--error {
        --tag-background-color: var(--jkl-system-color-error);
    }

    &--success {
        --tag-background-color: var(--jkl-system-color-success);
    }

    @include jkl.forced-colors-mode {
        border: 2px none CanvasText;
        border-bottom-style: dotted;

        &--info {
            border-style: dotted;
        }

        &--warning {
            border-style: dashed;
        }

        &--error {
            border-style: double;
            border-width: 4px;
        }

        &--success {
            border-style: solid;
        }
    }
}
