@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

$_tag-background-color: jkl.$color-varde;
$_tag-text-color: jkl.$color-granitt;

$_dismiss-focus-border-color: jkl.$color-granitt;
$_dismiss-hover-color: jkl.$color-stein;

$_tag-background-color--success: colors.varslingsfarge("suksess");
$_tag-background-color--error: colors.varslingsfarge("feil");
$_tag-background-color--info: colors.varslingsfarge("info");
$_tag-background-color--warning: colors.varslingsfarge("advarsel");

@include jkl.comfortable-density-variables {
    --jkl-tag-padding: var(--jkl-spacing-4) var(--jkl-spacing-8);
    --jkl-tag-dismiss-margin: 0;
    --jkl-tag-gap: var(--jkl-spacing-8);
}

@include jkl.compact-density-variables {
    --jkl-tag-padding: 0 var(--jkl-spacing-4);
    --jkl-tag-dismiss-margin: 0 calc(var(--jkl-spacing-2) * -1) 0 0;
    --jkl-tag-gap: var(--jkl-spacing-4);
}

.jkl-tag {
    @include jkl.text-style("heading-5");
    background-color: $_tag-background-color;
    color: $_tag-text-color;
    border-radius: jkl.rem(4px);
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: var(--jkl-tag-padding);
    gap: var(--jkl-tag-gap);

    &--info {
        background-color: $_tag-background-color--info;
    }

    &--warning {
        background-color: $_tag-background-color--warning;
    }

    &--error {
        background-color: $_tag-background-color--error;
    }

    &--success {
        background-color: $_tag-background-color--success;
    }

    @include jkl.forced-colors-mode {
        border: 2px none CanvasText;
        border-bottom-style: dotted;

        &--info {
            border-style: dotted;
        }

        &--warning {
            border-style: dashed;
        }

        &--error {
            border-style: double;
            border-width: 4px;
        }

        &--success {
            border-style: solid;
        }
    }

    &__dismiss-action {
        height: jkl.rem(24px);
        padding: jkl.rem(2px) 0;
        margin: var(--jkl-tag-dismiss-margin);
    }
}
