@charset "UTF-8";
@use "sass:color";
@use "../../../core/jkl";
@use "../../../core/jkl/colors";
@use "../../../shared/input/styles/shared-input-styles" as shared;
@layer default, disabled;

@layer disabled {
    .jkl-text-input-wrapper {
        &:not(:has(input[disabled])):not(:has(input[readonly])) {
            @include jkl.keyboard-navigation {
                &:has(.jkl-text-input__input:focus-visible),
                &:has(.jkl-text-area__text-area:focus-visible) {
                    @include jkl.focus-outline;
                }
            }

            &:hover {
                box-shadow: inset 0 0 0 jkl.rem(1px)
                        var(--jkl-text-input-focus-color),
                    0 0 0 jkl.rem(1px) var(--jkl-text-input-focus-color);
                border-color: var(--jkl-text-input-focus-color);

                @include jkl.forced-colors-mode {
                    border: jkl.rem(2px) solid ButtonText;
                }
            }
        }

        &:has(input[disabled], input[readonly]) {
            background-color: jkl.$color-background-container-subdued;
            box-shadow: unset;
        }

        &[disabled] {
            color: jkl.$color-text-subdued;
        }
    }

    .jkl-text-input {
        &:has(input[readonly], input[disabled]) {
            cursor: not-allowed;

            > *,
            input {
                cursor: not-allowed;
            }

            .jkl-label::before {
                font-family: "Fremtind Material Symbols", Arial, Helvetica,
                    sans-serif;
                content: "lock" / "";
                margin-inline-end: jkl.$spacing-xs;
                vertical-align: text-bottom;
                line-height: 23px; // Unngår layout shift mellom default og read only
            }
        }

        &:has(input[disabled]) input,
        &:has(input[disabled]) > *,
        &:has(input[disabled]) &__unit {
            color: color-mix(
                in sRGB,
                jkl.$color-text-default 40%,
                jkl.$color-background-page 60%
            );
        }
    }
}

@layer default {
    .jkl-text-input-wrapper {
        @include shared.wrapper_styles;
    }

    .jkl-text-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__input {
            padding: var(--jkl-text-input-padding);
            width: 100%;
            @include shared.input-styles;

            &--align-right {
                text-align: right;
            }
        }

        &__unit {
            padding-inline-end: var(--jkl-text-input-horizontal-padding);
            padding-block: var(--jkl-text-input-vertical-padding);
            color: var(--jkl-text-input-unit-color);
        }

        &__action-button {
            margin-inline-start: calc(
                var(--jkl-text-input-horizontal-padding) * -1
            );
        }

        &--inline {
            display: inline-block;
            vertical-align: middle;
            margin: jkl.rem(-2px) jkl.rem(4px);
        }
    }
}
