@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";

@include jkl.helper-light-mode-variables {
    --jkl-summary-table-border-color: #{jkl.$color-stein};
}
@include jkl.helper-dark-mode-variables {
    --jkl-summary-table-border-color: #{jkl.$color-svaberg};
}

.jkl-summary-table {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    width: 100%;

    tr {
        display: flex;
        justify-content: space-between;
        padding-bottom: $component-spacing--large;
    }

    th,
    td {
        padding-left: $component-spacing--large;
        padding-right: $component-spacing--large;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }
    }

    & > tbody {
        th {
            font-weight: jkl.$typography-weight-normal;
            padding-right: $component-spacing--medium;
        }
    }

    & > tfoot {
        border-top: rem(1px) solid jkl.$color-stein;
        border-top: rem(1px) solid var(--jkl-summary-table-border-color);
        border-bottom: rem(1px) solid jkl.$color-stein;
        border-bottom: rem(1px) solid var(--jkl-summary-table-border-color);
        padding-top: $component-spacing--large;

        th,
        td {
            font-weight: jkl.$typography-weight-bold;
        }
    }

    @include small-device {
        th,
        td {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__row--bold {
        font-weight: jkl.$typography-weight-bold;
    }
}
