@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-paragraph {
    max-width: rem(750px);
    &:not(:last-child) {
        margin-bottom: $layout-spacing--small;
    }
}

.jkl-portal-article-lead {
    max-width: rem(850px);
    &:not(:last-child) {
        margin-bottom: $layout-spacing--large;
    }
}

.jkl-portal-page-title {
    margin-bottom: $layout-spacing--medium;
}

.jkl-portal-heading-large {
    &:not(:first-child) {
        margin-top: $layout-spacing--large;
    }
    &:not(:last-child) {
        margin-bottom: $layout-spacing--small;
    }
}
.jkl-portal-heading-medium {
    &:not(:first-child) {
        margin-top: $layout-spacing--medium;
    }
    &:not(:last-child) {
        margin-bottom: $component-spacing--medium;
    }
}
.jkl-portal-heading-small {
    &:not(:first-child) {
        margin-top: $layout-spacing--medium;
    }
    &:not(:last-child) {
        margin-bottom: $component-spacing--small;
    }
}
.jkl-portal-heading-xs {
    &:not(:first-child) {
        margin-top: $layout-spacing--small;
    }
    &:not(:last-child) {
        margin-bottom: $component-spacing--small;
    }
}

.jkl-portal-inline-code {
    display: inline-block;
    background-color: $gra-20;
    font-size: 0.8em;
    padding: 0 $component-spacing--small;
    border-radius: rem(2px);

    *[data-theme="dark"] & {
        background-color: $gra-80;
    }
}
