@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --inline-code-bg-color: #{jkl.$color-sand};
    --blockquote-color: #{jkl.$color-stein};
    --blockquote-line-color: #{jkl.$color-dis};
}

@include jkl.dark-mode-variables {
    --inline-code-bg-color: #{jkl.$color-skifer};
    --blockquote-color: #{jkl.$color-svaberg};
    --blockquote-line-color: #{jkl.$color-skifer};
}

$_title-max-width: jkl.rem(850px);
$_paragraph-max-width: jkl.rem(750px);

.jkl-portal-list-item {
    max-width: jkl.rem(750px);
}

.jkl-portal-ul,
.jkl-portal-ol,
.jkl-portal-paragraph {
    max-width: $_paragraph-max-width;
}

.jkl-portal-ul,
.jkl-portal-ol {
    &:not(:last-child) {
        margin-bottom: jkl.$spacing-xl;
    }
}

.jkl-portal-nav-card,
.jkl-portal-paragraph {
    &:not(:last-child) {
        margin-bottom: jkl.$spacing-l;
    }
}

.jkl-portal-blockquote {
    max-width: $_paragraph-max-width;

    @include jkl.text-style("heading-3") {
        font-weight: jkl.$typography-weight-normal;
        font-style: italic;
    }

    color: var(--blockquote-color);
    margin: 0;
    padding-left: jkl.$spacing-l;
    border-left: jkl.rem(5px) solid var(--blockquote-line-color);

    &:not(:last-child) {
        margin-bottom: jkl.$spacing-xl;
    }

    &:not(:first-child) {
        margin-top: jkl.$spacing-xl;
    }
}

.jkl-portal-ingress {
    max-width: $_title-max-width;

    @include jkl.text-style("heading-2");

    &:not(:last-child) {
        margin-bottom: jkl.$spacing-2xl;
    }
}

.jkl-portal-huge-title {
    font-weight: 400;
    font-style: normal;

    line-height: jkl.rem(84px);
    font-size: jkl.rem(64px);
    max-width: $_title-max-width;
    margin-bottom: jkl.$spacing-l;

    @include jkl.from-medium-device {
        line-height: jkl.rem(130px);
        font-size: jkl.rem(104px);
        max-width: jkl.rem(860px);
    }
}

.jkl-portal-page-title {
    max-width: $_title-max-width;
    margin-bottom: jkl.$spacing-xl;

    @include jkl.text-style("title");
}

.jkl-portal-heading-large {
    @include jkl.text-style("heading-1");

    &:not(:first-child) {
        margin-top: jkl.$spacing-2xl;
    }

    &:not(:last-child) {
        margin-bottom: jkl.$spacing-l;
    }
}

.jkl-portal-heading-medium {
    @include jkl.text-style("heading-3");

    &:not(:first-child) {
        margin-top: jkl.$spacing-xl;
    }

    &:not(:last-child) {
        margin-bottom: jkl.$spacing-s;
    }
}

.jkl-portal-heading-small {
    @include jkl.text-style("heading-4");

    &:not(:first-child) {
        margin-top: jkl.$spacing-xl;
    }

    &:not(:last-child) {
        margin-bottom: jkl.$spacing-xs;
    }
}

.jkl-portal-heading-xs {
    @include jkl.text-style("heading-5");

    &:not(:first-child) {
        margin-top: jkl.$spacing-l;
    }

    &:not(:last-child) {
        margin-bottom: jkl.$spacing-xs;
    }
}

.jkl-portal-inline-code {
    display: inline-block;
    background-color: var(--inline-code-bg-color);
    font-size: 0.8em;
    padding: 0 jkl.$spacing-xs;
    border-radius: jkl.rem(2px);
}

.jkl-portal-kbd {
    font-family: -apple-system, BlinkMacSystemFont, "Fremtind Grotesk Mono", monospace;
}
