@import "~@fremtind/jkl-core/variables/colors";
@import "~@fremtind/jkl-core/variables/spacing";

@mixin demo-box($size, $color: $matt-svart) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size * 3;
    height: $size;
    background-color: $color;
    margin: 0.5rem;
}
.demo-wrapper {
    display: flex;
    flex-wrap: wrap;

    .demo-color--1 {
        @include demo-box($layout-spacing--large, $svart);
        &:before {
            content: "Svart #000000";
            color: $snohvit;
        }
    }
    .demo-color--2 {
        @include demo-box($layout-spacing--large, $matt-svart);
        &:before {
            content: "Matt svart #3d3d3d";
            color: $snohvit;
        }
    }
    .demo-color--3 {
        @include demo-box($layout-spacing--large, $varm-fjellgra);
        &:before {
            content: "Varm fjellgrå #696666";
            color: $snohvit;
        }
    }
    .demo-color--4 {
        @include demo-box($layout-spacing--large, $himmelgra);
        &:before {
            content: "Himmelgrå #f0f0f0";
            color: $svart;
        }
    }
    .demo-color--5 {
        @include demo-box($layout-spacing--large, $snohvit);
        &:before {
            content: "Snøhvit #fafafa";
            color: $svart;
        }
    }
    .demo-color--6 {
        @include demo-box($layout-spacing--large, $varde);
        &:before {
            content: "Varde #ded4c7";
            color: $svart;
        }
    }
    .demo-color--7 {
        @include demo-box($layout-spacing--large, $sol);
        &:before {
            content: "Sol #ffc880";
            color: $svart;
        }
    }
    .demo-color--8 {
        @include demo-box($layout-spacing--large, $sand);
        &:before {
            content: "Sand #dcb28b";
            color: $svart;
        }
    }
    .demo-color--9 {
        @include demo-box($layout-spacing--large, $jord);
        &:before {
            content: "Jord #765d4b";
            color: $snohvit;
        }
    }
    .demo-color--10 {
        @include demo-box($layout-spacing--large, $hav);
        &:before {
            content: "Hav #0a3166";
            color: $snohvit;
        }
    }
    .demo-color--11 {
        @include demo-box($layout-spacing--large, $skog);
        &:before {
            content: "Skog #0d5745";
            color: $snohvit;
        }
    }
    .demo-color--12 {
        @include demo-box($layout-spacing--large, $blomst);
        &:before {
            content: "Blomst #ff7059";
            color: $svart;
        }
    }
    .demo-color--13 {
        @include demo-box($layout-spacing--large, $gress);
        &:before {
            content: "Gress #50e68c";
            color: $svart;
        }
    }
    .demo-color--14 {
        @include demo-box($layout-spacing--large, $himmel);
        &:before {
            content: "Himmel #509ce6";
            color: $svart;
        }
    }
}
