@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_screens.scss";
@import "~@fremtind/jkl-core/mixins/_helpers.scss";
@import "~@fremtind/jkl-core/mixins/_motion.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$button-height--normal: rem(48px);
$button-height--compact: rem(36px);
$button-min-width--normal: rem(104px);
$button-min-width--compact: rem(80px);

$button-text-size--compact: rem(14px);

$button-border-width: rem(1px);
$button-padding: $component-spacing--xl;

$focus-ring-distance: rem(2px);
$focus-ring-width: rem(2px);

$animation-timing: 100ms cubic-bezier(0.6, 0.2, 0.35, 1);
$hover-elevation-distance: -0.25rem;

$button-border-color: $svart;
$button-text-color: $svart;
$button-background-color: $hvit;
$button-focus-color: $info;
$button-primary-text-color: $hvit;
$button-primary-background-color: $svart;

$button-border-color--inverted: $hvit;
$button-text-color--inverted: $hvit;
$button-background-color--inverted: transparent;
$button-focus-color--inverted: $info--darkbg;
$button-primary-text-color--inverted: $svart;
$button-primary-background-color--inverted: $hvit;

:root,
[data-theme="light"] {
    --button-border-color: #{$button-border-color};
    --button-text-color: #{$button-text-color};
    --button-background-color: #{$button-background-color};
    --button-focus-color: #{$button-focus-color};
    --button-primary-text-color: #{$button-primary-text-color};
    --button-primary-background-color: #{$button-primary-background-color};
}

[data-theme="dark"] {
    --button-border-color: #{$button-border-color--inverted};
    --button-text-color: #{$button-text-color--inverted};
    --button-background-color: #{$button-background-color--inverted};
    --button-focus-color: #{$button-focus-color--inverted};
    --button-primary-text-color: #{$button-primary-text-color--inverted};
    --button-primary-background-color: #{$button-primary-background-color--inverted};
}

.jkl-button {
    @include reset-outline;
    display: inline-flex;
    justify-content: center;
    @include jkl-text-style("compact/body");
    font-weight: $bold-weight;
    height: $button-height--normal;
    min-width: $button-min-width--normal;
    line-height: $button-height--normal;
    cursor: pointer;

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    border: none;
    outline: none;
    position: relative;

    @include motion("standard", "productive");
    transform-origin: 50% 90%;
    transition-property: transform, background-color;

    html:not([data-mousenavigation]) &:focus,
    &:hover {
        transform: scale(1.05);
    }

    html:not([data-mousenavigation]) &:active,
    &:active {
        transform: scale(1);
    }

    // ********* VARIANTS *********

    &--primary,
    &--secondary {
        border: solid $button-border-width $button-border-color;
        border: solid $button-border-width var(--button-border-color);
        border-radius: 999px;
        padding: 0 $button-padding;

        &:after {
            border-radius: 99px;
            border: solid $focus-ring-width transparent;
            box-shadow: none;
            transition: box-shadow $animation-timing;
            content: "";
            position: absolute;
            bottom: -($button-border-width + $focus-ring-distance);
            left: -($button-border-width + $focus-ring-distance);
            right: -($button-border-width + $focus-ring-distance);
            top: -($button-border-width + $focus-ring-distance);
        }

        html:not([data-mousenavigation]) &:focus {
            &:after {
                box-shadow: 0 0 0 $focus-ring-width $button-focus-color;
                box-shadow: 0 0 0 $focus-ring-width var(--button-focus-color);
            }
        }
    }

    &--primary {
        background-color: $button-primary-background-color;
        background-color: var(--button-primary-background-color);
        color: $button-primary-text-color;
        color: var(--button-primary-text-color);

        &:hover,
        html:not([data-mousenavigation]) &:focus {
            background-color: $button-focus-color;
            background-color: var(--button-focus-color);
            border-color: $button-focus-color;
            border-color: var(--button-focus-color);
        }
    }

    &--secondary {
        background-color: $button-background-color;
        background-color: var(--button-background-color);
        color: $button-text-color;
        color: var(--button-text-color);

        &:hover,
        html:not([data-mousenavigation]) &:focus {
            color: $button-focus-color;
            color: var(--button-focus-color);
            border-color: $button-focus-color;
            border-color: var(--button-focus-color);
        }
    }

    &--tertiary {
        border-bottom: solid $button-border-width $button-border-color;
        border-bottom: solid $button-border-width var(--button-border-color);
        border-top: solid $button-border-width transparent;
        background-color: transparent;
        color: $button-text-color;
        color: var(--button-text-color);
        padding: 0;
        transition: transform $animation-timing, border $animation-timing;
        min-width: unset;

        &:hover,
        html:not([data-mousenavigation]) &:focus {
            border-bottom-color: $button-focus-color;
            border-bottom-color: var(--button-focus-color);
            border-bottom-width: rem(2px);
            color: $button-focus-color;
            color: var(--button-focus-color);
        }
    }

    &--inverted {
        &.jkl-button--primary {
            background-color: $button-primary-background-color--inverted;
            border-color: $button-border-color--inverted;
            color: $button-primary-text-color--inverted;

            &:hover,
            html:not([data-mousenavigation]) &:focus {
                background-color: $button-focus-color--inverted;
                border-color: $button-focus-color--inverted;
            }
        }

        &.jkl-button--secondary {
            background-color: $button-background-color--inverted;
            color: $button-text-color--inverted;
            border-color: $button-text-color--inverted;

            &:hover,
            html:not([data-mousenavigation]) &:focus {
                color: $button-focus-color--inverted;
                border-color: $button-focus-color--inverted;
            }
        }

        &.jkl-button--tertiary {
            color: $button-text-color--inverted;

            &:hover,
            html:not([data-mousenavigation]) &:focus {
                color: $button-focus-color--inverted;
                border-bottom-color: $button-focus-color--inverted;
            }
        }

        html:not([data-mousenavigation]) &:focus {
            &:after {
                box-shadow: 0 0 0 $focus-ring-width $button-focus-color--inverted;
            }
        }
    }

    @include compact-mode {
        font-size: $button-text-size--compact;
        line-height: $button-height--compact;
        height: $button-height--compact;
        min-width: $button-min-width--compact;
        &.jkl-button--tertiary {
            min-width: unset;
        }
    }
}
