@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_screens.scss";
@import "~@fremtind/jkl-core/mixins/_helpers.scss";
@import "~@fremtind/jkl-core/mixins/_motion.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$button-height--normal: rem(48px);
$button-height--compact: rem(36px);
$button-min-width--normal: rem(104px);
$button-min-width--compact: rem(80px);

$button-text-size--compact: rem(14px);

$button-border-width: rem(1px);
$button-padding: $component-spacing--xl;

$focus-ring-distance: rem(4px);
$focus-ring-width: rem(2px);

$animation-timing: 100ms cubic-bezier(0.6, 0.2, 0.35, 1);
$hover-elevation-distance: -0.25rem;

$button-border-color: jkl.$color-granitt;
$button-text-color: jkl.$color-granitt;
$button-background-color: transparent;
$button-focus-color: jkl.$color-granitt;
$button-primary-text-color: jkl.$color-snohvit;
$button-primary-background-color: jkl.$color-granitt;

$button-border-color--inverted: jkl.$color-snohvit;
$button-text-color--inverted: jkl.$color-snohvit;
$button-background-color--inverted: transparent;
$button-focus-color--inverted: jkl.$color-snohvit;
$button-primary-text-color--inverted: jkl.$color-granitt;
$button-primary-background-color--inverted: jkl.$color-snohvit;

/* This padding ensures that there is enough space around the button so that it is fully visible during hover and focus inside the wrapper.
Note that this padding is only necessary for browsers that does not support clip-path. */
$button-wrapper-animation-safe-area: 10px;

@include jkl.helper-light-mode-variables {
    --button-border-color: #{$button-border-color};
    --button-text-color: #{$button-text-color};
    --button-background-color: #{$button-background-color};
    --button-focus-color: #{$button-focus-color};
    --button-primary-text-color: #{$button-primary-text-color};
    --button-primary-background-color: #{$button-primary-background-color};
}

@include jkl.helper-dark-mode-variables {
    --button-border-color: #{$button-border-color--inverted};
    --button-text-color: #{$button-text-color--inverted};
    --button-background-color: #{$button-background-color--inverted};
    --button-focus-color: #{$button-focus-color--inverted};
    --button-primary-text-color: #{$button-primary-text-color--inverted};
    --button-primary-background-color: #{$button-primary-background-color--inverted};
}

.jkl-button-wrapper {
    height: $button-height--normal;
    overflow: hidden;
    padding: $button-wrapper-animation-safe-area;
    @supports (clip-path: inset(-18% -18% -18% -18%)) {
        overflow: initial;
        clip-path: inset(-18% -18% -18% -18%);
        padding: 0;
    }

    &__slider {
        @include motion("standard", "productive");
        transition-property: transform;
        &--show-loader {
            transform: translateY(-60%);
        }
    }

    &__loader {
        display: flex;
        padding: 0 $button-padding;
        align-items: center;
        height: $button-height--normal;
        min-width: $button-min-width--normal;
    }

    &--compact {
        height: $button-height--compact;
        min-width: $button-min-width--compact;

        .jkl-button-wrapper__slider {
            &--show-loader {
                transform: translateY(-63%);
            }
        }

        .jkl-button-wrapper__loader {
            height: $button-height--compact;
        }
    }
}

.jkl-button {
    @include reset-outline;
    display: inline-flex;
    justify-content: center;
    @include jkl.typography-text-style("body/small-screen");
    font-weight: jkl.$typography-weight-bold;
    height: $button-height--normal;
    min-width: $button-min-width--normal;
    line-height: $button-height--normal;
    cursor: pointer;
    user-select: none;

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;

    border: none;
    outline: none;
    position: relative;

    @include motion("standard", "productive");
    transform-origin: 50% 90%;
    transition-property: transform, background-color;

    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
    html:not([data-touchnavigation]) &:hover {
        transform: scale(1.05);
    }

    html:not([data-mousenavigation]) &:active,
    html:not([data-touchnavigation]) &:active,
    &:active {
        transform: scale(1);
    }

    html[data-touchnavigation] &--pressed {
        transform: scale(0.95);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    // ********* VARIANTS *********

    &--primary,
    &--secondary {
        border: solid $button-border-width $button-border-color;
        border: solid $button-border-width var(--button-border-color);
        border-radius: 999px;
        padding: 0 $button-padding;

        &:after {
            border-radius: 99px;
            border: solid $focus-ring-width transparent;
            box-shadow: none;
            transition: box-shadow $animation-timing;
            content: "";
            position: absolute;
            bottom: -($button-border-width + $focus-ring-distance);
            left: -($button-border-width + $focus-ring-distance);
            right: -($button-border-width + $focus-ring-distance);
            top: -($button-border-width + $focus-ring-distance);
        }

        &:before {
            content: "";
            position: absolute;
            border-radius: 999px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
            &:after {
                box-shadow: 0 0 0 $focus-ring-width $button-focus-color;
                box-shadow: 0 0 0 $focus-ring-width var(--button-focus-color);
            }
        }

        html[data-touchnavigation] &.jkl-button--pressed:before {
            animation: cubic-bezier(0, 0, 0.3, 1) 400ms flash;
        }
    }

    &--primary {
        background-color: $button-primary-background-color;
        background-color: var(--button-primary-background-color);
        color: $button-primary-text-color;
        color: var(--button-primary-text-color);

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            background-color: $button-focus-color;
            background-color: var(--button-focus-color);
            border-color: $button-focus-color;
            border-color: var(--button-focus-color);
        }
    }

    &--secondary {
        background-color: $button-background-color;
        background-color: var(--button-background-color);
        color: $button-text-color;
        color: var(--button-text-color);

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            box-shadow: inset 0 0 0 1px $button-border-color, inset 0 0 0 1px $button-border-color;
            box-shadow: inset 0 0 0 1px var(--button-border-color), inset 0 0 0 1px var(--button-border-color);
        }
    }

    &--tertiary {
        border-bottom: solid $button-border-width $button-border-color;
        border-bottom: solid $button-border-width var(--button-border-color);
        border-top: solid $button-border-width transparent;
        background-color: transparent;
        color: $button-text-color;
        color: var(--button-text-color);
        padding: 0;
        transition: transform $animation-timing, border $animation-timing;
        min-width: unset;

        // Base for touch-effekt
        &:before {
            content: "";
            pointer-events: none;
            display: block;
            position: absolute;
            left: var(--jkl-touch-xcoord, 50%);
            top: var(--jkl-touch-ycoord, 50%);
            transform: translate3d(-50%, -50%, 0);
            border-radius: 100%;
            width: rem(16px);
            height: rem(16px);
            background-color: transparent;
        }

        &:after {
            border: solid $focus-ring-width transparent;
            box-shadow: none;
            transition: box-shadow $animation-timing;
            content: "";
            position: absolute;
            bottom: -($button-border-width);
            left: -($button-border-width);
            right: -($button-border-width);
            top: -($button-border-width);
        }

        html[data-touchnavigation] &.jkl-button--pressed:before {
            animation: cubic-bezier(0, 0, 0.3, 1) 400ms tertiaryflash;
        }

        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
            border: none;
            &:after {
                box-shadow: 0 0 0 $focus-ring-width $button-focus-color;
                box-shadow: 0 0 0 $focus-ring-width var(--button-focus-color);
            }
        }

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            border-bottom-color: $button-focus-color;
            border-bottom-color: var(--button-focus-color);
            border-bottom-width: $focus-ring-width;
            color: $button-focus-color;
            color: var(--button-focus-color);
        }
    }

    &--inverted {
        --button-focus-color: #{$button-focus-color--inverted};

        &.jkl-button--primary,
        &.jkl-button--secondary {
            html[data-touchnavigation] &.jkl-button--pressed:before {
                animation: cubic-bezier(0, 0, 0.3, 1) 400ms invertedflash;
            }
        }

        &.jkl-button--primary {
            background-color: $button-primary-background-color--inverted;
            border-color: $button-border-color--inverted;
            color: $button-primary-text-color--inverted;

            &:hover,
            html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
            html[data-touchnavigation] &.jkl-button--pressed {
                background-color: $button-focus-color--inverted;
                border-color: $button-focus-color--inverted;
            }
        }

        &.jkl-button--secondary {
            background-color: $button-background-color--inverted;
            color: $button-text-color--inverted;
            border-color: $button-text-color--inverted;

            &:hover,
            html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
            html[data-touchnavigation] &.jkl-button--pressed {
                color: $button-focus-color--inverted;
                border-color: $button-focus-color--inverted;
            }
        }

        &.jkl-button--tertiary {
            color: $button-text-color--inverted;

            &:hover,
            html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
            html[data-touchnavigation] &.jkl-button--pressed {
                color: $button-focus-color--inverted;
                border-bottom-color: $button-focus-color--inverted;
            }

            html[data-touchnavigation] &.jkl-button--pressed:before {
                animation: cubic-bezier(0, 0, 0.3, 1) 400ms invertedtertiaryflash;
            }
        }

        html:not([data-mousenavigation]) &:focus {
            &:after {
                box-shadow: 0 0 0 $focus-ring-width $button-focus-color--inverted;
            }
        }
    }

    @include compact-mode {
        font-size: $button-text-size--compact;
        line-height: $button-height--compact;
        height: $button-height--compact;
        min-width: $button-min-width--compact;
        &.jkl-button--tertiary {
            min-width: unset;
        }
    }
}

@keyframes flash {
    0% {
        box-shadow: 0 0 0 0 var(--button-focus-color);
        opacity: 0.5;
    }
    100% {
        box-shadow: 0 0 0 #{rem(16px)} var(--button-focus-color);
        opacity: 0;
    }
}
@keyframes invertedflash {
    0% {
        box-shadow: 0 0 0 0 #{$button-focus-color--inverted};
        opacity: 0.5;
    }
    100% {
        box-shadow: 0 0 0 #{rem(16px)} #{$button-focus-color--inverted};
        opacity: 0;
    }
}

@keyframes tertiaryflash {
    0% {
        box-shadow: 0 0 0 0 var(--button-focus-color);
        background-color: var(--button-focus-color);
        opacity: 0.5;
    }
    100% {
        box-shadow: 0 0 0 #{rem(40px)} var(--button-focus-color);
        background-color: var(--button-focus-color);
        opacity: 0;
    }
}
@keyframes invertedtertiaryflash {
    0% {
        box-shadow: 0 0 0 0 #{$button-focus-color--inverted};
        background-color: #{$button-focus-color--inverted};
        opacity: 0.5;
    }
    100% {
        box-shadow: 0 0 0 #{rem(40px)} #{$button-focus-color--inverted};
        background-color: #{$button-focus-color--inverted};
        opacity: 0;
    }
}
