@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_screens";
@import "~@fremtind/jkl-core/mixins/_helpers";
@import "~@fremtind/jkl-core/mixins/_motion";
@import "~@fremtind/jkl-core/_functions";

$button-height--normal: rem(48px);
$button-height--compact: rem(36px);
$button-min-width--normal: rem(104px);
$button-min-width--compact: rem(80px);

$button-text-size--compact: rem(14px);

$button-border-width: rem(1px);
$button-padding: jkl.$spacing-l;

$focus-ring-distance: rem(4px);
$focus-ring-width: rem(2px);

$animation-timing: 100ms cubic-bezier(0.6, 0.2, 0.35, 1);
$hover-elevation-distance: -0.25rem;

@include jkl.helper-light-mode-variables {
    --button-border-color: #{jkl.$color-granitt};
    --button-text-color: #{jkl.$color-granitt};
    --button-background-color: transparent;
    --button-focus-color: #{jkl.$color-granitt};
    --button-primary-text-color: #{jkl.$color-snohvit};
    --button-primary-background-color: #{jkl.$color-granitt};
}

@include jkl.helper-dark-mode-variables {
    --button-border-color: #{jkl.$color-snohvit};
    --button-text-color: #{jkl.$color-snohvit};
    --button-background-color: transparent;
    --button-focus-color: #{jkl.$color-snohvit};
    --button-primary-text-color: #{jkl.$color-granitt};
    --button-primary-background-color: #{jkl.$color-snohvit};
}

a.jkl-button {
    text-decoration: none;
}

.jkl-button {
    @include reset-outline;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    @include jkl.text-style("body/small-screen");
    font-weight: jkl.$typography-weight-bold;
    height: $button-height--normal;
    min-width: $button-min-width--normal;
    line-height: $button-height--normal;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    position: relative;

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;

    @include motion;
    transform-origin: 50% 90%;
    transition-property: transform, background-color;

    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
    html:not([data-touchnavigation]) &:hover {
        transform: scale(1.05);
    }

    html:not([data-mousenavigation]) &:active,
    html:not([data-touchnavigation]) &:active,
    &:active {
        transform: scale(1);
    }

    html[data-touchnavigation] &--pressed {
        transform: scale(0.95);
        -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    }

    &__content {
        height: $button-height--normal;
        overflow: hidden;

        &--compact {
            height: $button-height--compact;

            .jkl-button__slider {
                &--show-loader {
                    transform: translateY(-51%);
                }
            }

            .jkl-button__loader {
                height: $button-height--compact;
            }
        }
    }

    &__slider {
        @include motion;
        transition-property: transform;

        &--show-loader {
            transform: translateY(-51%);
        }
    }

    &__loader {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        height: $button-height--normal;
    }

    // ********* VARIANTS *********

    &--primary,
    &--secondary {
        border: solid $button-border-width var(--button-border-color);
        border-radius: 999px;
        padding: 0 $button-padding;

        &::after {
            border-radius: 99px;
            border: solid $focus-ring-width transparent;
            box-shadow: none;
            transition: box-shadow $animation-timing;
            content: "";
            position: absolute;
            bottom: -($button-border-width + $focus-ring-distance);
            left: -($button-border-width + $focus-ring-distance);
            right: -($button-border-width + $focus-ring-distance);
            top: -($button-border-width + $focus-ring-distance);
        }

        &::before {
            content: "";
            position: absolute;
            border-radius: 999px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
            &::after {
                box-shadow: 0 0 0 $focus-ring-width var(--button-focus-color);
            }
        }

        html[data-touchnavigation] &.jkl-button--pressed::before {
            animation: cubic-bezier(0, 0, 0.3, 1) 400ms flash;
        }
    }

    &--primary {
        background-color: var(--button-primary-background-color);
        color: var(--button-primary-text-color);

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            background-color: var(--button-focus-color);
            border-color: var(--button-focus-color);
        }
    }

    &--secondary {
        background-color: var(--button-background-color);
        color: var(--button-text-color);

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            box-shadow: inset 0 0 0 1px var(--button-border-color), inset 0 0 0 1px var(--button-border-color);
        }
    }

    &--tertiary {
        border-bottom: solid $button-border-width var(--button-border-color);
        border-top: solid $button-border-width transparent;
        background-color: transparent;
        color: var(--button-text-color);
        padding: 0;
        transition: transform $animation-timing, border $animation-timing;
        min-width: unset;

        // Base for touch-effekt
        &::before {
            content: "";
            pointer-events: none;
            display: block;
            position: absolute;
            left: var(--jkl-touch-xcoord, 50%);
            top: var(--jkl-touch-ycoord, 50%);
            transform: translate3d(-50%, -50%, 0);
            border-radius: 100%;
            width: rem(16px);
            height: rem(16px);
            background-color: transparent;
        }

        &::after {
            border: solid $focus-ring-width transparent;
            box-shadow: none;
            transition: box-shadow $animation-timing;
            content: "";
            position: absolute;
            bottom: -($button-border-width);
            left: -($button-border-width);
            right: -($button-border-width);
            top: -($button-border-width);
        }

        html[data-touchnavigation] &.jkl-button--pressed::before {
            animation: cubic-bezier(0, 0, 0.3, 1) 400ms tertiaryflash;
        }

        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
            border: none;

            &::after {
                box-shadow: 0 0 0 $focus-ring-width var(--button-focus-color);
            }

            @include jkl.helper-forced-colors-mode {
                border: unset;
            }
        }

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            border-bottom-color: var(--button-focus-color);
            border-bottom-width: $focus-ring-width;
            color: var(--button-focus-color);
        }
    }

    @include compact-mode {
        font-size: $button-text-size--compact;
        line-height: $button-height--compact;
        height: $button-height--compact;
        min-width: $button-min-width--compact;

        &.jkl-button--tertiary {
            min-width: unset;
        }
    }

    @include jkl.helper-forced-colors-mode {
        &.jkl-button--primary:not(a),
        &.jkl-button--secondary:not(a),
        &.jkl-button--primary:hover:not(a),
        &.jkl-button--secondary:hover:not(a),
        &.jkl-button--primary:focus:not(a),
        &.jkl-button--secondary:focus:not(a) {
            border-color: ButtonText;
        }

        & .jkl-loader__dot {
            background-color: ButtonText;
        }

        &.jkl-button--secondary::after {
            // Selve knappen har en border, men med to borders er secondary for lik primary uten farger.
            // Gjør så secondary har _en_ border for å differensiere visuelt i forced-colors-modus.
            border: none;
        }

        &.jkl-button--tertiary {
            outline-offset: jkl.$spacing-3xs;
        }

        &.jkl-button--tertiary,
        &.jkl-button--tertiary::after {
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
        }
    }
}

@keyframes flash {
    0% {
        box-shadow: 0 0 0 0 var(--button-focus-color);
        opacity: 0.5;
    }

    100% {
        box-shadow: 0 0 0 #{rem(16px)} var(--button-focus-color);
        opacity: 0;
    }
}

@keyframes tertiaryflash {
    0% {
        box-shadow: 0 0 0 0 var(--button-focus-color);
        background-color: var(--button-focus-color);
        opacity: 0.5;
    }

    100% {
        box-shadow: 0 0 0 #{rem(40px)} var(--button-focus-color);
        background-color: var(--button-focus-color);
        opacity: 0;
    }
}
