@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_screens.scss";
@import "~@fremtind/jkl-core/mixins/_helpers.scss";

@import "~@fremtind/jkl-core/_functions.scss";

$button-height--large: 3.5rem;
$button-height--small: 2.5rem;

$button-bg-color: $snohvit;
$button-bg-color--primary: $svart;

$button-text-color: $svart;
$button-text-color--primary: $snohvit;

$button-border-color: $svart;
$button-border-width: rem(1px);
$button-padding: $component-spacing--xl;

$focus-ring-distance: rem(2px);
$focus-ring-width: rem(2px);

$animation-timing: 100ms cubic-bezier(0.6, 0.2, 0.35, 1);
$hover-elevation-distance: -0.25rem;

.jkl-button {
    @include reset-outline;
    height: $button-height--large;
    min-width: $button-height--large;
    line-height: $button-height--large;
    @include font-size("small");
    cursor: pointer;

    @include small-device {
        height: $button-height--small;
        min-width: $button-height--small;
        line-height: $button-height--small;
    }

    @include compact-mode {
        height: $button-height--small;
        min-width: $button-height--small;
        line-height: $button-height--small;
        @include font-size--small-device("small");
    }

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    border: none;
    outline: none;
    transform-origin: 50% 90%;
    transition: transform $animation-timing;
    position: relative;

    html:not([data-mousenavigation]) &:focus,
    &:hover {
        transform: scale(1.05);
    }

    html:not([data-mousenavigation]) &:active,
    &:active {
        transform: scale(1);
    }

    // ********* VARIANTS *********

    &--primary {
        background-color: $button-bg-color--primary;
        color: $button-text-color--primary;
    }

    &--secondary {
        background-color: $button-bg-color;
        color: $button-text-color;
    }

    &--primary,
    &--secondary {
        border: solid $button-border-width currentColor;
        border-radius: 999px;
        padding: 0 $button-padding;

        &:after {
            border-radius: 99px;
            border: solid $focus-ring-width transparent;
            box-shadow: none;
            transition: box-shadow $animation-timing;
            content: "";
            position: absolute;
            bottom: -($button-border-width + $focus-ring-distance);
            left: -($button-border-width + $focus-ring-distance);
            right: -($button-border-width + $focus-ring-distance);
            top: -($button-border-width + $focus-ring-distance);
        }

        html:not([data-mousenavigation]) &:focus {
            &:after {
                box-shadow: 0 0 0 $focus-ring-width $focus-color;
            }
        }
    }

    &--tertiary {
        border-bottom: solid $button-border-width $button-border-color;
        border-top: solid $button-border-width transparent;
        background-color: transparent;
        color: $button-text-color;
        padding: 0;
        transition: transform $animation-timing, border $animation-timing;

        &:focus,
        &:hover {
            border-bottom-width: rem(2px);
        }

        html:not([data-mousenavigation]) &:focus {
            border-bottom-color: $focus-color;
        }
    }
}
