@use "sass:string";
@use "~@fremtind/jkl-core/jkl";

$_button-height--normal: jkl.rem(48px);
$_button-height--compact: jkl.rem(36px);
$_button-min-width--normal: jkl.rem(104px);
$_button-min-width--compact: jkl.rem(80px);

$_button-text-size--compact: jkl.rem(14px);

$_button-border-width: jkl.rem(1px);
$_button-padding: jkl.$spacing-l;

$_focus-ring-distance: jkl.rem(4px);
$_focus-ring-width: jkl.rem(2px);

$_animation-timing: 100ms cubic-bezier(0.6, 0.2, 0.35, 1);
$_flash-animation-name: jkl-flash-#{string.unique-id()};
$_tertiary-flash-animation-name: jkl-tertiary-flash-#{string.unique-id()};
$_hover-elevation-distance: -0.25rem;

@include jkl.light-mode-variables {
    --jkl-button-border-color: #{jkl.$color-granitt};
    --jkl-button-text-color: #{jkl.$color-granitt};
    --jkl-button-background-color: transparent;
    --jkl-button-focus-color: #{jkl.$color-granitt};
    --jkl-button-primary-text-color: #{jkl.$color-snohvit};
    --jkl-button-primary-background-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --jkl-button-border-color: #{jkl.$color-snohvit};
    --jkl-button-text-color: #{jkl.$color-snohvit};
    --jkl-button-background-color: transparent;
    --jkl-button-focus-color: #{jkl.$color-snohvit};
    --jkl-button-primary-text-color: #{jkl.$color-granitt};
    --jkl-button-primary-background-color: #{jkl.$color-snohvit};
}

a.jkl-button {
    text-decoration: none;
}

.jkl-button {
    @include jkl.reset-outline;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    @include jkl.text-style("body/small-screen");
    font-weight: jkl.$typography-weight-bold;
    height: $_button-height--normal;
    min-width: $_button-min-width--normal;
    line-height: $_button-height--normal;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    position: relative;

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;

    @include jkl.motion;
    transform-origin: 50% 90%;
    transition-property: transform, background-color;

    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
    html:not([data-touchnavigation]) &:hover {
        transform: scale(1.05);
    }

    html:not([data-mousenavigation]) &:active,
    html:not([data-touchnavigation]) &:active,
    &:active {
        transform: scale(1);
    }

    html[data-touchnavigation] &--pressed {
        transform: scale(0.95);
        -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    }

    &__content {
        height: $_button-height--normal;
        overflow: hidden;

        &--compact {
            height: $_button-height--compact;

            .jkl-button__slider {
                &--show-loader {
                    transform: translateY(-51%);
                }
            }

            .jkl-button__loader {
                height: $_button-height--compact;
            }
        }
    }

    &__slider {
        @include jkl.motion;
        transition-property: transform;

        &--show-loader {
            transform: translateY(-51%);
        }
    }

    &__loader {
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        height: $_button-height--normal;
    }

    // ********* VARIANTS *********

    &--primary,
    &--secondary {
        border: solid $_button-border-width var(--jkl-button-border-color);
        border-radius: 999px;
        padding: 0 $_button-padding;

        &::after {
            border-radius: 99px;
            border: solid $_focus-ring-width transparent;
            box-shadow: none;
            transition: box-shadow $_animation-timing;
            content: "";
            position: absolute;
            bottom: -($_button-border-width + $_focus-ring-distance);
            left: -($_button-border-width + $_focus-ring-distance);
            right: -($_button-border-width + $_focus-ring-distance);
            top: -($_button-border-width + $_focus-ring-distance);
        }

        &::before {
            content: "";
            position: absolute;
            border-radius: 999px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
            &::after {
                box-shadow: 0 0 0 $_focus-ring-width var(--jkl-button-focus-color);
            }
        }

        html[data-touchnavigation] &.jkl-button--pressed::before {
            animation: cubic-bezier(0, 0, 0.3, 1) 400ms $_flash-animation-name;
        }
    }

    &--primary {
        background-color: var(--jkl-button-primary-background-color);
        color: var(--jkl-button-primary-text-color);

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            background-color: var(--jkl-button-focus-color);
            border-color: var(--jkl-button-focus-color);
        }
    }

    &--secondary {
        background-color: var(--jkl-button-background-color);
        color: var(--jkl-button-text-color);

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            box-shadow: inset 0 0 0 1px var(--jkl-button-border-color), inset 0 0 0 1px var(--jkl-button-border-color);
        }
    }

    &--tertiary {
        border-bottom: solid $_button-border-width var(--jkl-button-border-color);
        border-top: solid $_button-border-width transparent;
        background-color: transparent;
        color: var(--jkl-button-text-color);
        padding: 0;
        transition: transform $_animation-timing, border $_animation-timing;
        min-width: unset;

        // Base for touch-effekt
        &::before {
            content: "";
            pointer-events: none;
            display: block;
            position: absolute;
            left: var(--jkl-touch-xcoord, 50%);
            top: var(--jkl-touch-ycoord, 50%);
            transform: translate3d(-50%, -50%, 0);
            border-radius: 100%;
            width: jkl.rem(16px);
            height: jkl.rem(16px);
            background-color: transparent;
        }

        &::after {
            border: solid $_focus-ring-width transparent;
            box-shadow: none;
            transition: box-shadow $_animation-timing;
            content: "";
            position: absolute;
            bottom: -($_button-border-width);
            left: -($_button-border-width);
            right: -($_button-border-width);
            top: -($_button-border-width);
        }

        html[data-touchnavigation] &.jkl-button--pressed::before {
            animation: cubic-bezier(0, 0, 0.3, 1) 400ms $_tertiary-flash-animation-name;
        }

        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
            border: none;

            &::after {
                box-shadow: 0 0 0 $_focus-ring-width var(--jkl-button-focus-color);
            }

            @include jkl.forced-colors-mode {
                border: revert;
            }
        }

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus,
        html[data-touchnavigation] &.jkl-button--pressed {
            border-bottom-color: var(--jkl-button-focus-color);
            border-bottom-width: $_focus-ring-width;
            color: var(--jkl-button-focus-color);
        }
    }

    @include jkl.compact-mode {
        font-size: $_button-text-size--compact;
        line-height: $_button-height--compact;
        height: $_button-height--compact;
        min-width: $_button-min-width--compact;

        &.jkl-button--tertiary {
            min-width: unset;
        }
    }

    @include jkl.forced-colors-mode {
        &.jkl-button--primary:not(a),
        &.jkl-button--secondary:not(a),
        &.jkl-button--primary:hover:not(a),
        &.jkl-button--secondary:hover:not(a),
        &.jkl-button--primary:focus:not(a),
        &.jkl-button--secondary:focus:not(a) {
            border-color: ButtonText;
        }

        & .jkl-loader__dot {
            background-color: ButtonText;
        }

        &.jkl-button--secondary::after {
            // Selve knappen har en border, men med to borders er secondary for lik primary uten farger.
            // Gjør så secondary har _en_ border for å differensiere visuelt i forced-colors-modus.
            border: none;
        }

        &.jkl-button--tertiary {
            outline-offset: jkl.$spacing-3xs;
        }

        &.jkl-button--tertiary,
        &.jkl-button--tertiary::after {
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
        }
    }
}

@keyframes #{$_flash-animation-name} {
    0% {
        box-shadow: 0 0 0 0 var(--jkl-button-focus-color);
        opacity: 0.5;
    }

    100% {
        box-shadow: 0 0 0 #{jkl.rem(16px)} var(--jkl-button-focus-color);
        opacity: 0;
    }
}

@keyframes #{$_tertiary-flash-animation-name} {
    0% {
        box-shadow: 0 0 0 0 var(--jkl-button-focus-color);
        background-color: var(--jkl-button-focus-color);
        opacity: 0.5;
    }

    100% {
        box-shadow: 0 0 0 #{jkl.rem(40px)} var(--jkl-button-focus-color);
        background-color: var(--jkl-button-focus-color);
        opacity: 0;
    }
}
