@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$button-bg-color: $snøhvit;
$button-bg-color--primary: $svart;

$button-border-color: $svart;
$button-focus-ring-color: $himmel;

$button-text-color: $svart;
$button-text-color--primary: $snøhvit;
$button-font-size: $font-size-2;
$button-height: 2.5rem;
$button-width: $button-height;
$button-border-width: rem(1px);
$animation-timing: 100ms cubic-bezier(0.6, 0.2, 0.35, 1);
$hover-elevation-distance: -0.25rem;

.jkl-button {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    border: none;
    font-size: $button-font-size;
    height: $button-height;
    line-height: $button-height;
    min-width: $button-width;
    outline: none;
    transform-origin: 50% 90%;
    transition: transform $animation-timing;
    position: relative;

    // get rid of dotted border on Firefox
    &::-moz-focus-inner {
        border: 0;
    }

    &:-moz-focusring {
        outline: none;
    }

    html:not([data-mousenavigation]) &:focus,
    &:hover {
        transform: scale(1.05);
    }

    html:not([data-mousenavigation]) &:active,
    &:active {
        transform: scale(1);
    }

    /********* VARIANTS *********/
    &--primary {
        background-color: $button-bg-color--primary;
        color: $button-text-color--primary;
    }

    &--secondary {
        background-color: $button-bg-color;
        color: $button-text-color;
    }

    &--primary,
    &--secondary {
        border: solid $button-border-width $button-border-color;
        border-radius: 99px;
        padding: 0 1.5rem;

        &:after {
            border-radius: 99px;
            border: solid rem(2px) transparent;
            box-shadow: none;
            transition: box-shadow $animation-timing;
            content: "";
            position: absolute;
            bottom: -($button-border-width + rem(2px));
            left: -($button-border-width + rem(2px));
            right: -($button-border-width + rem(2px));
            top: -($button-border-width + rem(2px));
        }

        html:not([data-mousenavigation]) &:focus {
            &:after {
                box-shadow: 0 0 0 rem(2px) $button-focus-ring-color;
            }
        }
    }
    &--tertiary {
        border-bottom: solid $button-border-width $button-border-color;
        border-top: solid $button-border-width transparent;
        background-color: transparent;
        color: $button-text-color;
        padding: 0;
        transition: transform $animation-timing, border $animation-timing;

        &:focus,
        &:hover {
            border-bottom-width: rem(2px);
        }

        html:not([data-mousenavigation]) &:focus {
            border-bottom-color: $button-focus-ring-color;
        }
    }
}
