@use "../../packages/core/jkl";

.jkl-portal-code-block {
    --code-block-bg-color: var(--jkl-system-color-surface);
    --code-block-border-color: var(--jkl-system-color-outline-variant);
    --code-block-focuscolor: var(--jkl-system-color-interactive);
    --language-tag-bg-color: var(--jkl-system-color-surface-variant);
    --language-tag-text-color: var(--jkl-system-color-on-surface);

    position: relative;
    background-color: var(--code-block-bg-color);
    box-sizing: border-box;
    border: 1px solid var(--code-block-border-color);
    border-radius: jkl.rem(2px);
    width: 100%;
    padding: jkl.$spacing-s;
    @include jkl.text-style("small");

    width: calc(100% - #{jkl.$spacing-xl});
    max-width: 100%;
    min-width: initial;

    @include jkl.from-large-device {
        max-width: min(#{jkl.rem(750px)}, 50vw);
    }

    &[data-language]::before {
        position: absolute;
        top: 0;
        right: 0;
        padding: jkl.$spacing-xs;
        background-color: var(--language-tag-bg-color);
        color: var(--language-tag-text-color);
        font-family: "Fremtind Grotesk", Calibri, Arial, sans-serif;
        @include jkl.text-style("small");
        text-transform: uppercase;
        content: attr(data-language);
    }

    &__code {
        display: block;
        padding: jkl.$spacing-l jkl.$spacing-m;
        overflow-x: auto;
    }

    html:not([data-mousenavigation]) &:focus-within {
        box-shadow: 0 0 0 jkl.rem(2px) var(--code-block-focus-color);
    }
}
