@use "@fremtind/jokul/styles/core";
@use "@fremtind/jokul/styles/fonts" with (
    $webfonts-dir: "../../src/fonts"
        // Dette er relativt til webfonts.sccs-fila i jokul-pakka
);
@use "@fremtind/jokul/styles/styles";
@use "@fremtind/jokul/styles/core/jkl";

html {
    scroll-behavior: smooth;
}

body {
    --max-width: 1440px;
    --min-width: 320px;
    background-color: var(--jkl-background-container-high);
    min-height: 100dvh;
}

.jkl-portal-layout {
    max-width: var(--max-width);
    margin-inline: auto;

    @media (width >=940px) {
        padding: 0;

        main {
            padding: var(--jkl-spacing-40) var(--jkl-spacing-64);
        }
    }
}

h1 {
    @include jkl.text-style("title");
}

h2 {
    @include jkl.text-style("heading-2");
}

h3 {
    @include jkl.text-style("heading-3");
}

h4 {
    @include jkl.text-style("heading-4");
}

p,
li {
    max-width: 55ch;

    @include jkl.text-style("paragraph-medium");
}

code,
samp {
    font-family: monospace;
}

main {
    display: grid;
    padding: var(--jkl-spacing-16);
}

article header {
    margin-block: 0 var(--jkl-unit-80);
}

.prose {
    width: 100%;
    container-type: inline-size;
    box-sizing: border-box;

    @include jkl.text-style("paragraph-medium");

    > * + * {
        margin-block-start: 1lh;
    }

    p:empty {
        display: none;
    }

    > * + :is(h1, h2, h3, h4, h5) {
        margin-block-start: 1.5lh;
    }

    > :is(h1, h2, h3, h4, h5) + * {
        margin-block-start: 0.5lh;
    }

    h1 {
        @include jkl.text-style("title");
    }

    h2 {
        @include jkl.text-style("heading-2");
    }

    h3 {
        @include jkl.text-style("heading-3");
    }

    h4 {
        @include jkl.text-style("heading-4");
    }

    h5 {
        @include jkl.text-style("heading-5");
    }

    code {
        display: inline-block;
        background-color: var(--jkl-color-background-container-low);
        font-size: 0.9em;
        padding: 0 var(--jkl-unit-10);
        border-radius: var(--jkl-border-radius-xs);
        border: 1px solid var(--jkl-color-border-separator);
    }

    pre code {
        border: none;
    }
}

.date {
    color: var(--jkl-color-text-subdued);

    @include jkl.text-style("text-small");
    @include jkl.use-font-family("Fremtind Grotesk Mono");
}
