@use "@fremtind/jokul/styles/core";
@use "@fremtind/jokul/styles/fonts" with ($webfonts-dir: "../../src/fonts" // Dette er relativt til webfonts.sccs-fila i jokul-pakka
);
@use "@fremtind/jokul/styles";
@use "@fremtind/jokul/styles/core/jkl";

body {
    --max-width: 1440px;
    --min-width: 320px;
    background-color: var(--jkl-color-background-page);
    min-height: 100dvh;
}

.jkl-portal-layout {
    display: flex;
    flex-direction: column;
    column-gap: var(--jkl-unit-30);
    max-width: var(--max-width);
    padding: jkl.$spacing-24 jkl.$spacing-16;

    @media (width >=940px) {
        padding: 0;
        flex-direction: row;

        main {
            padding: jkl.$spacing-40;
        }
    }
}

h1 {
    @include jkl.text-style("title");
}

h2 {
    @include jkl.text-style("heading-2");
}

h3 {
    @include jkl.text-style("heading-3");
}

h4 {
    @include jkl.text-style("heading-4");
}

p {
    @include jkl.text-style("body");
    max-width: 55ch;
}

code,
samp {
    @include jkl.use-font-family("Fremtind Grotesk Mono");
}

main {
    flex-grow: 1;
}

article header {
    margin-block: 0 var(--jkl-unit-80);
}

.prose {
    margin-block-start: var(--jkl-spacing-64);
    width: 100%;
    container-type: inline-size;
    box-sizing: border-box;

    > * {
        width: 100%;

        p {
            max-width: 55ch;
        }
    }

    > h2 {
        margin-block: 2lh 0.2lh;

        :has(+ h3) {
            margin-block-end: 0;
        }
    }

    > h3 {
        margin-block-start: 1lh;
    }

    > h4 {
        margin-block-start: 1lh;
    }

    > p,
    > ul {
        margin-block-end: 0.7lh;
    }

    > p {
        &:empty {
            display: none;
        }
    }

    > ul,
    > ol {
        margin-block-end: 1lh;
    }
}

.date {
    color: var(--jkl-color-text-subdued);
    @include jkl.text-style("small");
    @include jkl.use-font-family("Fremtind Grotesk Mono");
}
