@import "~@fremtind/jkl-core/variables/all";

.jkl-s {
    &__t {
        &--m {
            margin-top: $layout-spacing--medium;
        }
        &--l {
            margin-top: $layout-spacing--large;
        }
    }
    &__b {
        &--m {
            margin-bottom: $layout-spacing--medium;
        }
        &--l {
            margin-bottom: $layout-spacing--large;
        }
    }
}
