node_modules/
lerna-debug.log
npm-debug.log
yarn-error.log
.vscode
.cache
.parcel-cache
.yarn/
build/
# Vi committer build-mapper til actions så de kan kjøre uten at hele prosjektet bootes opp. Diff? Lag en commit.
!actions/*/build/
*.css
!utils/playwright/screenshot.css
dist/
.idea/
.iml
.DS_Store
cypress/videos
.yarnrc
.stylelintcache
.turbo
.nx
test-results/
playwright-report/
packages/**/public
