node_modules/
npm-debug.log
yarn-error.log
.vscode/*
!.vscode/
!.vscode/settings.json
.cache
.parcel-cache
.yarn/
.next/
build/
# Vi committer build-mapper til actions så de kan kjøre uten at hele prosjektet bootes opp. Diff? Lag en commit.
!actions/*/build/
*.css
dist/
.idea/
.iml
.DS_Store
.stylelintcache
**/public/fonts
**/vite.build.config.mjs.timestamp-*
test-results/
playwright-report/
storybook-static/
