registry=https://registry.npmjs.org/

### PNPM-innstillinger: https://pnpm.io/npmrc
# Lerna kjører ikke pnpm publish/pack, så workspace: kan ikke brukes
save-workspace-protocol=false
# Med save-workspace-protocol skrudd av vil vi sørge for å bruke workspace selv om nyere er på registry
prefer-workspace-packages=true
