@use "~@fremtind/jkl-core/jkl";

$_controller-button-padding: jkl.$spacing-s;

@include jkl.light-mode-variables {
    --jkl-autosuggest-text-color: #{jkl.$color-granitt};
    --jkl-autosuggest-menu-background-color: #{jkl.$color-hvit};
    --jkl-autosuggest-focus-color: #{jkl.$color-granitt};
    --jkl-autosuggest-error-text-color: #{jkl.$color-granitt};
    --jkl-autosuggest-error-placeholder-color: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --jkl-autosuggest-text-color: #{jkl.$color-snohvit};
    --jkl-autosuggest-menu-background-color: #{jkl.$color-svart};
    --jkl-autosuggest-focus-color: #{jkl.$color-snohvit};
    --jkl-autosuggest-error-text-color: #{jkl.$color-granitt};
    --jkl-autosuggest-error-placeholder-color: #{jkl.$color-stein};
}

.jkl-autosuggest {
    width: 100%;
    font-family: inherit;
    position: relative;

    &__input-group {
        position: relative;

        & > input {
            width: 100%;
            padding-right: jkl.$spacing-xl; // to accomodate button
        }

        &--open {
            > input {
                border-radius: jkl.rem(3px) jkl.rem(3px) 0 0;
            }
        }
    }

    &__input-group > input[aria-invalid="true"] {
        & ~ .jkl-autosuggest__controller-button {
            color: var(--jkl-autosuggest-error-placeholder-color);

            &:hover {
                color: var(--jkl-autosuggest-error-text-color);
            }

            @include jkl.keyboard-navigation {
                &:focus::after {
                    box-shadow: inset 0 0 0 jkl.rem(2px) var(--jkl-autosuggest-error-text-color);
                }
            }
        }
    }

    &__no-hits-message {
        margin-bottom: jkl.$spacing-m;
    }

    &__controller-button {
        @include jkl.reset-outline;
        align-items: flex-start;
        justify-content: center;
        background: transparent;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 0 $_controller-button-padding;
        position: absolute;
        right: 0;
        top: 0;
        color: var(--jkl-autosuggest-text-color);

        &:focus {
            @include jkl.keyboard-navigation {
                &::after {
                    content: "";
                    position: absolute;
                    top: jkl.rem(8px);
                    right: jkl.rem(8px);
                    bottom: jkl.rem(8px);
                    left: jkl.rem(8px);
                    box-shadow: inset 0 0 0 jkl.rem(2px) var(--jkl-autosuggest-focus-color);
                }
            }
        }

        @include jkl.forced-colors-mode {
            color: ButtonText;

            & .jkl-icon,
            & .jkl-icon path,
            & .jkl-icon svg {
                stroke: ButtonText;
            }
        }
    }

    &__menu {
        background-color: var(--jkl-autosuggest-menu-background-color);
        border: jkl.rem(2px) solid var(--jkl-autosuggest-focus-color);
        border-top: none;
        border-radius: 0 0 jkl.rem(3px) jkl.rem(3px);
        box-sizing: border-box;
        color: var(--jkl-autosuggest-text-color);
        list-style-type: none;
        position: absolute;
        top: 0;
        left: -#{jkl.rem(1px)};
        right: -#{jkl.rem(1px)};
        margin: 0;
        max-height: 60vh;
        overflow-y: auto;
        padding: 1rem 0.5rem 0;
        z-index: jkl.$z-index--dropdown;
        -webkit-overflow-scrolling: touch;
    }

    &__item {
        border-bottom: 1px solid transparent;
        cursor: pointer;
        display: block;

        @include jkl.text-style("body");
        margin-bottom: jkl.$spacing-m;

        &--active {
            @include jkl.no-grow-bold;
        }

        @include jkl.forced-colors-mode {
            border-top: 1px solid Canvas;
            border-bottom: 1px solid Canvas;

            &--active,
            &:hover,
            &:focus {
                @include jkl.no-grow-bold;
                border-top: 1px solid Highlight;
                border-bottom: 1px solid Highlight;
            }
        }
    }

    @include jkl.compact-mode {
        .jkl-autosuggest__menu {
            padding: jkl.$spacing-2xs;
        }

        .jkl-autosuggest__item {
            @include jkl.text-style("small");
            margin-bottom: jkl.rem(1px);
        }
    }
}
