@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-autosuggest-text-color: #{jkl.$color-granitt};
    --jkl-autosuggest-menu-background-color: #{jkl.$color-hvit};
    --jkl-autosuggest-focus-color: #{jkl.$color-granitt};
    --jkl-autosuggest-error-text-color: #{jkl.$color-granitt};
    --jkl-autosuggest-error-placeholder-color: #{jkl.$color-stein};
    --jkl-autosuggest-hover-option-color: #{jkl.$color-granitt};
    --jkl-autosuggest-hover-option-background-color: #{jkl.$color-varde};
}

@include jkl.dark-mode-variables {
    --jkl-autosuggest-text-color: #{jkl.$color-snohvit};
    --jkl-autosuggest-menu-background-color: #{jkl.$color-svart};
    --jkl-autosuggest-focus-color: #{jkl.$color-snohvit};
    --jkl-autosuggest-error-text-color: #{jkl.$color-granitt};
    --jkl-autosuggest-error-placeholder-color: #{jkl.$color-stein};
    --jkl-autosuggest-hover-option-color: #{jkl.$color-snohvit};
    --jkl-autosuggest-hover-option-background-color: #{jkl.$color-stein};
}

@include jkl.comfortable-density-variables {
    @include jkl.declare-font-variables("jkl-autosuggest-item", "body");

    --jkl-autosuggest-menu-padding: 1rem 0.5rem 0;
    --jkl-autosuggest-controller-button-width: auto;
    --jkl-autosuggest-controller-button-padding: 0 #{jkl.$spacing-s};
    --jkl-autosuggest-controller-button-icon-size: #{jkl.rem(20px)};
    --jkl-autosuggest-item-margin: 0 0 #{jkl.$spacing-m} 0;
    --jkl-autosuggest-option-padding: #{jkl.$spacing-xs} #{jkl.$spacing-s};
    --jkl-autosuggest-option-height: #{jkl.rem(48px)};
}

@include jkl.compact-density-variables {
    @include jkl.declare-font-variables("jkl-autosuggest-item", "small");

    --jkl-autosuggest-menu-padding: #{jkl.$spacing-2xs};
    --jkl-autosuggest-controller-button-width: #{jkl.rem(24px)};
    --jkl-autosuggest-controller-button-padding: 0;
    --jkl-autosuggest-controller-button-icon-size: #{jkl.rem(18px)};
    --jkl-autosuggest-item-margin: 0 0 #{jkl.rem(1px)} 0;
    --jkl-autosuggest-no-hits-message-font-size: var(--jkl-small-font-size);
    --jkl-autosuggest-option-padding: #{jkl.$spacing-xs};
    --jkl-autosuggest-option-height: #{jkl.rem(32px)};
}

.jkl-autosuggest {
    width: 100%;
    font-family: inherit;
    position: relative;

    &__input-group {
        position: relative;

        & > input {
            width: 100%;
            padding-right: jkl.$spacing-xl; // to accomodate button
        }

        &--open {
            > input {
                border-radius: jkl.rem(3px) jkl.rem(3px) 0 0;
            }
        }
    }

    &__input-group > input[aria-invalid="true"] {
        & ~ .jkl-autosuggest__controller-button {
            color: var(--jkl-autosuggest-error-placeholder-color);

            &:hover {
                color: var(--jkl-autosuggest-error-text-color);
            }

            @include jkl.keyboard-navigation {
                &:focus::after {
                    box-shadow: inset 0 0 0 jkl.rem(2px) var(--jkl-autosuggest-error-text-color);
                }
            }
        }
    }

    &__no-hits-message {
        font-size: var(--jkl-autosuggest-no-hits-message-font-size);
        padding: var(--jkl-autosuggest-option-padding);
    }

    &__controller-button {
        @include jkl.reset-outline;
        align-items: flex-start;
        justify-content: center;
        background: transparent;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        padding: var(--jkl-autosuggest-controller-button-padding);
        color: var(--jkl-autosuggest-text-color);
        width: var(--jkl-autosuggest-controller-button-width);

        .jkl-icon--small {
            --jkl-icon-width: var(--jkl-autosuggest-controller-button-icon-size);
        }

        &:focus {
            @include jkl.keyboard-navigation {
                &::after {
                    content: "";
                    position: absolute;
                    top: jkl.rem(8px);
                    right: jkl.rem(8px);
                    bottom: jkl.rem(8px);
                    left: jkl.rem(8px);
                    box-shadow: inset 0 0 0 jkl.rem(2px) var(--jkl-autosuggest-focus-color);
                }
            }
        }

        @include jkl.forced-colors-mode {
            color: ButtonText;

            & .jkl-icon,
            & .jkl-icon path,
            & .jkl-icon svg {
                stroke: ButtonText;
            }
        }
    }

    &__menu {
        background-color: var(--jkl-autosuggest-menu-background-color);
        border: jkl.rem(2px) solid var(--jkl-autosuggest-focus-color);
        border-top: none;
        border-radius: 0 0 jkl.rem(3px) jkl.rem(3px);
        box-sizing: border-box;
        color: var(--jkl-autosuggest-text-color);
        position: absolute;
        top: 0;
        left: -#{jkl.rem(1px)};
        right: -#{jkl.rem(1px)};
        margin: 0;
        max-height: 60vh;
        overflow-y: auto;
        width: calc(100% + jkl.rem(2px));
        z-index: jkl.$z-index--dropdown;
        -webkit-overflow-scrolling: touch;
    }

    &__item-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        @include jkl.use-font-variables("jkl-autosuggest-item");
        color: unset;
        display: flex; // avoids wrapping long names "under" the focus arrow
        align-items: center;
        border: 0; // removes native styling
        background-color: inherit;
        min-height: var(--jkl-autosuggest-option-height);
        text-align: left;
        @include jkl.motion;
        transition-property: color, background-color;
        position: relative;
        padding: var(--jkl-autosuggest-option-padding);
        cursor: pointer;

        &:focus,
        &:hover {
            color: var(--jkl-autosuggest-hover-option-color);
            background-color: var(--jkl-autosuggest-hover-option-background-color);
        }
    }
}
