@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$controller-button-padding: jkl.$spacing-s;

$item-height: rem(28px);
$item-font-size: rem(18px);

.jkl-autosuggest {
    width: 100%;
    font-family: inherit;

    &__input_group {
        position: relative;
        & > input {
            width: 100%;
            padding-right: jkl.$spacing-xl; // to accomodate button
        }
    }

    &__no-hits-message {
        margin-bottom: jkl.$spacing-m;
    }

    &__controller-button {
        @include reset-outline;
        align-items: flex-start;
        justify-content: center;
        background: transparent;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 0 $controller-button-padding;
        position: absolute;
        right: 0;
        top: 0;
        color: jkl.$color-granitt;

        &--inverted {
            color: jkl.$color-snohvit;
        }
    }

    &__menu {
        background-color: jkl.$color-snohvit;
        box-shadow: rem(2px) rem(2px) rem(8px) rgba(0, 0, 0, 0.16);
        box-sizing: border-box;
        list-style-type: none;
        position: absolute;
        max-height: 60vh;
        margin-top: rem(4px);
        overflow-y: auto;
        padding: 1rem 0.5rem 0;
        width: 100%;
        z-index: jkl.$z-index--dropdown;
        -webkit-overflow-scrolling: touch;

        &--inverted {
            background-color: jkl.$color-granitt;
            color: jkl.$color-snohvit;
        }
    }

    &__item {
        border-bottom: 1px solid transparent;
        cursor: pointer;
        display: block;
        line-height: $item-height;
        font-size: $item-font-size;
        margin-bottom: jkl.$spacing-m;

        &--active {
            @include no-grow-bold();
        }
    }
}
