@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$controller-button-padding: jkl.$spacing-s;

$autosuggest-item-height: rem(28px);
$autosuggest-item-font-size: rem(18px);

$autosuggest-text-color: jkl.$color-granitt;
$autosuggest-menu-background-color: jkl.$color-hvit;
$autosuggest-focus-color: jkl.$color-granitt;

$autosuggest-text-color--inverted: jkl.$color-snohvit;
$autosuggest-menu-background-color--inverted: jkl.$color-svart;
$autosuggest-focus-color--inverted: jkl.$color-snohvit;

$autosuggest-error-text-color: jkl.$color-granitt;
$autosuggest-error-placeholder-color: jkl.$color-stein;

@include light-mode-variables {
    --autosuggest-text-color: #{$autosuggest-text-color};
    --autosuggest-menu-background-color: #{$autosuggest-menu-background-color};
    --autosuggest-focus-color: #{$autosuggest-focus-color};
    --autosuggest-error-text-color: #{$autosuggest-error-text-color};
    --autosuggest-error-placeholder-color: #{$autosuggest-error-placeholder-color};
}

@include dark-mode-variables {
    --autosuggest-text-color: #{$autosuggest-text-color--inverted};
    --autosuggest-menu-background-color: #{$autosuggest-menu-background-color--inverted};
    --autosuggest-focus-color: #{$autosuggest-focus-color--inverted};
    --autosuggest-error-text-color: #{$autosuggest-error-text-color};
    --autosuggest-error-placeholder-color: #{$autosuggest-error-placeholder-color};
}

.jkl-autosuggest {
    width: 100%;
    font-family: inherit;
    position: relative;

    &__input-group {
        position: relative;

        & > input {
            width: 100%;
            padding-right: jkl.$spacing-xl; // to accomodate button
        }

        &--open {
            > input {
                border-radius: rem(3px) rem(3px) 0 0;
            }
        }
    }

    &__no-hits-message {
        margin-bottom: jkl.$spacing-m;
    }

    &__controller-button {
        @include reset-outline;
        align-items: flex-start;
        justify-content: center;
        background: transparent;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 0 $controller-button-padding;
        position: absolute;
        right: 0;
        top: 0;
        color: $autosuggest-text-color;
        color: var(--autosuggest-text-color);

        &--inverted {
            color: $autosuggest-focus-color--inverted;
        }

        &:focus {
            @include keyboard-navigation {
                &::after {
                    content: "";
                    position: absolute;
                    top: rem(8px);
                    right: rem(8px);
                    bottom: rem(8px);
                    left: rem(8px);
                    box-shadow: inset 0 0 0 rem(2px) $autosuggest-focus-color;
                    box-shadow: inset 0 0 0 rem(2px) var(--autosuggest-focus-color);
                }
            }
        }
    }

    &__input-group > input {
        &[aria-invalid="true"],
        &:invalid {
            & ~ .jkl-autosuggest__controller-button {
                color: $autosuggest-error-placeholder-color;
                color: var(--autosuggest-error-placeholder-color);

                &:hover {
                    color: $autosuggest-error-text-color;
                    color: var(--autosuggest-error-text-color);
                }

                &:focus {
                    @include keyboard-navigation {
                        &::after {
                            box-shadow: inset 0 0 0 rem(2px) $autosuggest-error-text-color;
                            box-shadow: inset 0 0 0 rem(2px) var(--autosuggest-error-text-color);
                        }
                    }
                }
            }
        }
    }

    &__menu {
        background-color: $autosuggest-menu-background-color;
        background-color: var(--autosuggest-menu-background-color);
        border: rem(2px) solid $autosuggest-focus-color;
        border: rem(2px) solid var(--autosuggest-focus-color);
        border-top: none;
        border-radius: 0 0 rem(3px) rem(3px);
        box-sizing: border-box;
        color: $autosuggest-text-color;
        color: var(--autosuggest-text-color);
        list-style-type: none;
        position: absolute;
        top: 0;
        left: -#{rem(1px)};
        right: -#{rem(1px)};
        margin: 0;
        max-height: 60vh;
        overflow-y: auto;
        padding: 1rem 0.5rem 0;
        z-index: jkl.$z-index--dropdown;
        -webkit-overflow-scrolling: touch;
    }

    &__item {
        border-bottom: 1px solid transparent;
        cursor: pointer;
        display: block;
        line-height: $autosuggest-item-height;
        font-size: $autosuggest-item-font-size;
        margin-bottom: jkl.$spacing-m;

        &--active {
            @include no-grow-bold;
        }
    }
}
