@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";

@import "./autosuggest.scss";

$text-input-height: rem(48px);
$text-input-height--compact: rem(40px);
$text-input-button-width: rem(48px);
$text-input-padding: $component-spacing--small $component-spacing--medium;

// These are used to calculate textarea height,
// and MUST equal the line height in the text style used
$text-input-line-height: rem(32px);
$text-input-line-height--compact: rem(28px);

$text-input-border-color: $stein;
$text-input-text-color: $granitt;
$text-input-placeholder-color: $stein;
$text-input-background-color: $hvit;
$text-input-focus-color: $granitt;
$text-input-error-color: $feil;
$text-input-selected-color: transparentize(
    $color: $text-input-focus-color,
    $amount: 0.8,
);
$text-input-selected-error-color: transparentize($text-input-error-color, 0.8);

$text-input-border-color--inverted: $svaberg;
$text-input-text-color--inverted: $snohvit;
$text-input-placeholder-color--inverted: $svaberg;
$text-input-background-color--inverted: $svart;
$text-input-focus-color--inverted: $snohvit;
$text-input-error-color--inverted: $feil--darkbg;
$text-input-selected-color--inverted: transparentize(
    $color: $text-input-focus-color--inverted,
    $amount: 0.75,
);
$text-input-selected-error-color--inverted: transparentize($text-input-error-color--inverted, 0.8);

@include light-mode-variables {
    --text-input-border-color: #{$text-input-border-color};
    --text-input-text-color: #{$text-input-text-color};
    --text-input-placeholder-color: #{$text-input-placeholder-color};
    --text-input-background-color: #{$text-input-background-color};
    --text-input-focus-color: #{$text-input-focus-color};
    --text-input-error-color: #{$text-input-error-color};
    --text-input-selected-color: #{$text-input-selected-color};
    --text-input-selected-error-color: #{$text-input-selected-error-color};
}

@include dark-mode-variables {
    --text-input-border-color: #{$text-input-border-color--inverted};
    --text-input-text-color: #{$text-input-text-color--inverted};
    --text-input-placeholder-color: #{$text-input-placeholder-color--inverted};
    --text-input-background-color: #{$text-input-background-color--inverted};
    --text-input-focus-color: #{$text-input-focus-color--inverted};
    --text-input-error-color: #{$text-input-error-color--inverted};
    --text-input-selected-color: #{$text-input-selected-color--inverted};
    --text-input-selected-error-color: #{$text-input-selected-error-color--inverted};
}

.jkl-text-input {
    @include reset-outline;

    &__input-wrapper {
        display: inline-flex;
        align-items: center;
    }

    &__input {
        border: none;
        outline: none;
        border-radius: rem(3px);
        -webkit-appearance: none;

        box-sizing: border-box;
        height: $text-input-height;
        padding: $text-input-padding;
        @include jkl.text-style("body/large-screen");

        color: $text-input-text-color;
        color: var(--text-input-text-color);
        background-color: transparent;
        box-shadow: inset 0 0 0 rem(1px) $text-input-border-color, 0 0 0 0 $text-input-border-color;
        box-shadow: inset 0 0 0 rem(1px) var(--text-input-border-color), 0 0 0 0 var(--text-input-border-color);

        @include motion("standard");
        transition-property: color, box-shadow;

        /* Placeholder text style */
        &::placeholder {
            opacity: 1;
            color: $text-input-placeholder-color;
            color: var(--text-input-placeholder-color);
        }

        /* Color of text selection */
        &::selection {
            background-color: $text-input-selected-color;
            background-color: var(--text-input-selected-color);

            [data-theme="dark"] & {
                background-color: $text-input-selected-color--inverted;
                background-color: var(--text-input-selected-color);
            }
        }

        &:hover {
            box-shadow: inset 0 0 0 rem(1px) $text-input-focus-color, 0 0 0 rem(1px) $text-input-focus-color;
            box-shadow: inset 0 0 0 rem(1px) var(--text-input-focus-color), 0 0 0 rem(1px) var(--text-input-focus-color);
            border-color: $text-input-focus-color;
            border-color: var(--text-input-focus-color);
        }

        &:focus,
        &:focus-within {
            background-color: $text-input-background-color;
            background-color: var(--text-input-background-color);
            box-shadow: inset 0 0 0 rem(1px) $text-input-focus-color, 0 0 0 rem(1px) $text-input-focus-color;
            box-shadow: inset 0 0 0 rem(1px) var(--text-input-focus-color), 0 0 0 rem(1px) var(--text-input-focus-color);
            border-color: $text-input-focus-color;
            border-color: var(--text-input-focus-color);
        }

        /*  Invalid states */
        &[aria-invalid="true"],
        &:invalid {
            box-shadow: inset 0 0 0 rem(1px) $text-input-error-color, 0 0 0 0 $text-input-error-color;
            box-shadow: inset 0 0 0 rem(1px) var(--text-input-error-color), 0 0 0 0 var(--text-input-error-color);

            &::selection {
                background-color: $text-input-selected-error-color;
                background-color: var(--text-input-selected-error-color);

                [data-theme="dark"] & {
                    background-color: $text-input-selected-error-color--inverted;
                    background-color: var(--text-input-selected-error-color);
                }
            }

            &:hover,
            &:focus,
            &:focus-within {
                box-shadow: inset 0 0 0 rem(1px) $text-input-error-color, 0 0 0 rem(1px) $text-input-error-color;
                box-shadow: inset 0 0 0 rem(1px) var(--text-input-error-color),
                    0 0 0 rem(1px) var(--text-input-error-color);
            }
        }
    }

    &__action-button {
        display: inline-flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        padding: $component-spacing--small 0;
        height: $text-input-button-width;
        width: $text-input-height;
        margin-left: rem(-48px);
        color: $text-input-border-color;
        color: var(--text-input-border-color);

        &:hover {
            color: $text-input-focus-color;
            color: var(--text-input-focus-color);
        }
        &:focus {
            @include keyboard-navigation {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: rem(8px);
                    right: rem(8px);
                    bottom: rem(8px);
                    left: rem(8px);
                    box-shadow: inset 0 0 0 rem(2px) $text-input-focus-color;
                    box-shadow: inset 0 0 0 rem(2px) var(--text-input-focus-color);
                }
            }
        }
    }

    /* Modifications for inline version */
    &--inline {
        display: inline-block;
        margin: rem(-2px) rem(4px);
    }

    /* Modifications for input with action */
    &--action {
        .jkl-text-input__input {
            padding-right: $text-input-height;
        }
    }

    /* Modifications for compact variant (also inline) */
    *[data-compactlayout] &,
    &--compact,
    &--inline {
        .jkl-text-input__input {
            @include jkl.text-style("body/small-screen");
            height: $text-input-height--compact;
        }
        .jkl-text-input__action-button {
            height: $text-input-height--compact;
        }
        .jkl-text-input__action-icon {
            width: rem(18px);
        }
    }

    /* Modifications for legacy (IE11) dark mode */
    &--inverted {
        & .jkl-text-input__input {
            color: $text-input-text-color--inverted;
            background-color: $text-input-background-color--inverted;
            box-shadow: inset 0 0 0 rem(1px) $text-input-border-color--inverted,
                0 0 0 0 $text-input-border-color--inverted;

            &::placeholder {
                color: $text-input-placeholder-color--inverted;
            }

            &::selection {
                background-color: transparentize($info--darkbg, 0.75);
            }

            &:focus,
            &:hover {
                box-shadow: inset 0 0 0 rem(1px) $text-input-focus-color--inverted,
                    0 0 0 rem(1px) $text-input-focus-color--inverted;
            }

            &[aria-invalid="true"],
            &:invalid {
                box-shadow: inset 0 0 0 rem(1px) $text-input-error-color--inverted,
                    0 0 0 0 $text-input-error-color--inverted;

                &::selection {
                    background-color: transparentize($feil--darkbg, 0.75);
                }

                &:focus,
                &:hover {
                    box-shadow: inset 0 0 0 rem(1px) $text-input-error-color--inverted,
                        0 0 0 rem(1px) $text-input-error-color--inverted;
                }
            }
        }

        & .jkl-text-input_action-button {
            color: $text-input-border-color--inverted;
        }

        & .jkl-text-input__action-button:hover,
        & .jkl-text-input__action-button:focus {
            color: $text-input-focus-color--inverted;
        }
    }
}

.jkl-text-area {
    height: auto;
    width: 100%;

    & .jkl-text-input__input {
        @include motion("standard");
        transition-property: height, box-shadow;
        font-weight: normal;
        width: 100%;
        resize: none; // Disable textarea resize
    }

    &--with-counter {
        $progress-bar-height: rem(4px);

        .jkl-text-area__content {
            position: relative;
        }

        .jkl-text-input__input {
            height: auto;
            max-height: $text-input-height;
            padding-bottom: $component-spacing--small;
            transition-property: max-height, box-shadow, padding-bottom;

            &[data-has-content="true"] {
                max-height: 100%;
            }

            &:focus-within {
                max-height: 100%;
                background: var(--text-input-background-color);
                padding-bottom: $component-spacing--xxl;
            }
        }

        /*
         * Textarea respekterer ikke padding (teksten rendres under det som
         * burde være tomrom), så om vi har en teller må vi wrappe textarea
         * i noe som styles som selve inputfeltet. Det er rollen
         * .jkl-text-input__input har i denne sammenhengen. Denne klassen
         * sørger for at selve textarea-elementet ikke får native styles og
         * får fonter, farger, og høyden den skal.
         */
        .jkl-text-area__text-area {
            @include reset-outline;
            @include motion("standard");

            border: none;
            background: none;
            font-weight: normal;
            resize: none; // Disable textarea resize
            width: 100%;

            height: calc($text-input-height - (2 * $component-spacing--small));
            padding: 0;
            @include jkl.text-style("body/large-screen");

            color: $text-input-text-color;
            color: var(--text-input-text-color);
            background-color: transparent;

            transition-property: height;

            /* Placeholder text style */
            &::placeholder {
                opacity: 1;
                color: $text-input-placeholder-color;
                color: var(--text-input-placeholder-color);
            }

            /* Color of text selection */
            &::selection {
                background-color: transparentize($color: $text-input-focus-color, $amount: 0.8);

                [data-theme="dark"] & {
                    background-color: transparentize($color: $text-input-focus-color--inverted, $amount: 0.75);
                }
            }

            &:focus-within  {
                background: var(--text-input-background-color);
            }
        }

        .jkl-text-area__counter {
            @include motion("standard");
            transition-property: opacity;
            opacity: 0;

            pointer-events: none; // Don't block interactivity when field is collapsed
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            &-count {
                @include jkl.text-style("small");
                padding: $component-spacing--small $component-spacing--medium;
            }

            &-progress {
                background-color: transparent;
                height: $progress-bar-height;
                width: 100%;
                overflow: hidden;
            }

            &-progress-bar {
                display: block;
                height: $progress-bar-height;
                background-color: var(--jkl-color);
                transition-property: width;
                @include motion("standard", "lazy");
            }
        }

        &:focus-within .jkl-text-area__counter {
            opacity: 1;
            transition-delay: map-get($jkl--timings, "productive"); // Fade in once field is expanded
        }

        [aria-invalid="true"] ~ .jkl-text-area__counter {
            color: $text-input-error-color;
            color: var(--text-input-error-color);
        }

        *[data-compactlayout] &,
        &.jkl-text-input--compact,
        &.jkl-text-input--inline {
            .jkl-text-input__input {
                max-height: $text-input-height--compact;

                &[data-has-content="true"] {
                    max-height: 100%;
                }

                &:focus-within {
                    max-height: 100%;
                }
            }
            .jkl-text-area__text-area {
                @include jkl.text-style("body/small-screen");
                height: calc($text-input-height - (2 * $component-spacing--small));
            }
        }
    }
}

/* Utility classes for number of rows */
@for $num from 3 through 10 {
    .jkl-text-input__input--#{$num}-rows:focus,
    .jkl-text-input__input--#{$num}-rows:not(:placeholder-shown),
    .jkl-text-area--start-open .jkl-text-input__input--#{$num}-rows {
        max-height: 100%;
        height: $text-input-line-height * $num + $component-spacing--small * 2;
        @include small-device {
            height: $text-input-line-height--compact * $num + $component-spacing--small * 2;
        }
        .jkl-text-input--compact & {
            height: $text-input-line-height--compact * $num + $component-spacing--small * 2;
        }
    }
}
