@import "~@fremtind/jkl-core/variables/all";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$transition-timing: 200ms cubic-bezier(0.7, 0, 0.3, 1);

$input-bg-color: inherit;
$border-color: $svart;
$border-color--focus: $focus-color;

$input-height: $line-height-3;
$input-height--small-device: $line-height-2;
$bottom-padding: $component-spacing--small;

$textarea-expanded-height: $input-height * 7 + $bottom-padding;
$textarea-expanded-height--small-device: $input-height--small-device * 7 + $bottom-padding;

$icon-size: $font-size-3;
$icon-size--compact: $font-size-2;

.jkl-text-field {
    display: block;
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    background-color: $input-bg-color;

    &--inline {
        display: inline-block;
        width: unset;
        margin-top: rem(-4px);
        vertical-align: top;

        .jkl-p & .jkl-text-field__input {
            padding: 0;
            text-align: center;
        }
    }

    &--compact {
        & .jkl-text-field__input,
        & .jkl-text-field__input::placeholder {
            @include text-sizing--small-device("small");
        }
        & .jkl-text-field__input {
            height: $input-height--small-device + $bottom-padding;
        }
        & .jkl-text-field__action-icon {
            width: $icon-size--compact;
        }
    }

    @include small-device {
        & .jkl-text-field__action-icon {
            width: $icon-size--compact;
        }
    }

    &--action {
        position: relative;

        .jkl-text-field__input {
            padding-right: $component-spacing--small + $icon-size;
        }
    }

    &__input {
        border: none;
        outline: none;
        border-radius: 0;

        box-sizing: border-box;
        width: 100%;
        height: $input-height + $bottom-padding;
        @include small-device {
            height: $input-height--small-device + $bottom-padding;
        }
        padding: 0 0 $bottom-padding;

        @include text-sizing("small");
        font-weight: bold;
        background-color: transparent;
        transition: box-shadow $transition-timing;

        box-shadow: inset 0 rem(-2px) 0 0 $border-color;
        /* show border in mobile Safari */
        -webkit-appearance: none;
        resize: none; // Disable textarea resize

        &::placeholder {
            opacity: 1;
            color: $varm-fjellgra;
            font-weight: normal;
            @include text-sizing("small");
        }

        &:hover,
        &:focus {
            box-shadow: inset 0 rem(-4px) 0 0 $border-color;
        }

        html:not([data-mousenavigation]) &:focus {
            box-shadow: inset 0 rem(-4px) 0 0 $border-color--focus;
        }

        &[type="number"] {
            text-align: right;
        }

        &[aria-invalid="true"],
        &:invalid {
            box-shadow: inset 0 rem(-2px) 0 0 $error-color;

            &:focus,
            &:hover,
            html:not([data-mousenavigation]) &:focus {
                box-shadow: inset 0 rem(-4px) 0 0 $error-color;
            }
        }
    }

    &__action-button {
        position: absolute;
        right: 0;
        bottom: $component-spacing--small;
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
    }

    &__action-icon {
        display: inline-block;
        width: $icon-size;
    }

    &__input-wrapper {
        position: relative;
    }
}

/* Utility classes for number of rows */
@for $num from 3 through 10 {
    .jkl-text-field__input--#{$num}-rows:focus,
    .jkl-text-field__input--#{$num}-rows:not(:placeholder-shown) {
        height: $input-height * $num + $bottom-padding;
        @include small-device {
            height: $input-height--small-device * $num + $bottom-padding;
        }
        .jkl-text-field--compact & {
            height: $input-height--small-device * $num + $bottom-padding;
        }
    }
}

.jkl-text-area {
    height: auto;
    & .jkl-text-field__input {
        transition: height 175ms ease, box-shadow $transition-timing;
        font-weight: normal;
    }
}
