@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_utils.scss";

@mixin label-font-size--raised {
    @include font-size(xs);
}

@mixin label-font-size--normal {
    @include font-size(medium);
}

@mixin raise-label {
    @include label-font-size--raised();
    top: 0;
    left: 0;
}

@mixin grow-border {
    transform: scaleY(1.5);
}

$text-field-size: 2rem;
$padding-top: $text-field-size;
$input-height: 3rem;
$input-bg-color: $snøhvit;
$border-color: $svart;
$border-hover-color: $himmel;
$border-weight: 0.125rem;
$error-color: $blomst;
$text-area-height: 12rem;

.jkl-text-area {
    & .jkl-text-field__input {
        transition: all 175ms ease;
        margin-top: rem(4px);
        &:focus-within,
        &:not(:placeholder-shown) {
            & .jkl-text-area {
                height: initial;
                height: $text-area-height;
            }
            height: initial;
            height: $text-area-height;
        }
    }
}

.jkl-text-field {
    display: block;
    position: relative;
    font-family: inherit;
    width: 100%;
    padding-top: $padding-top;

    &__input {
        @include label-font-size--normal();
        font-family: inherit;
        height: $input-height;
        background-color: $input-bg-color;
        border: none;
        outline: none;
        width: 100%;
        transition: background-color 250ms ease-in;

        &:not(:placeholder-shown) {
            & ~ .jkl-text-field__label {
                @include raise-label();
            }
        }

        &[aria-invalid="true"],
        &:invalid {
            & ~ .jkl-text-field__border {
                background-color: $error-color;
            }
            & ~ .jkl-text-field__label {
                @include raise-label();
                font-weight: bold;
                color: $error-color;
            }
        }
    }
    &__border {
        @include position(absolute, $bottom: 0, $right: 0, $left: 0);
        background-color: $border-color;
        height: $border-weight;
        transition: transform 175ms ease-in, background-color 125ms ease-in;
        transform-origin: bottom;
    }
    &__label {
        @include font-size(small);
        @include position(absolute, $top: $text-field-size, $right: 0, $left: 0);
        line-height: $input-height;
        transition: left 150ms ease-in, top 150ms ease-in, font-size 150ms ease-in;
        pointer-events: none;
    }

    &:hover {
        & .jkl-text-field__border {
            @include grow-border();
        }
    }

    &:focus-within {
        & .jkl-text-field__label {
            @include raise-label();
        }
        & .jkl-text-field__border {
            @include grow-border();
        }
    }
}
