@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-full-screen-menu-item {
    display: inline-block;
    position: relative;

    &__link {
        position: relative;
        @include reset-outline;
        @include jkl-text-style("desktop/title-small");
        // static font-sizes for old browsers:
        font-size: rem(30px);
        line-height: rem(40px);
        // 30px/40px on iPhone X:
        font-size: relativeSize(30, 375, 812);
        line-height: relativeSize(40, 375, 812);
        text-decoration: none;
        color: $svart;
        background-color: transparent;
        padding: 0;
        padding-right: 3ch;
        cursor: pointer;

        &:after {
            position: absolute;
            content: "\2192";
            @include motion("standard");
            transition-property: transform;
            transform: translateX(0);
        }

        &:hover,
        &:focus {
            color: #000afa;
            &:after {
                transform: translateX(60%);
            }
        }

        *[data-theme="dark"] & {
            color: $hvit;

            &:hover,
            &:focus {
                color: #00faff;
            }
        }

        @include medium-device {
            // static font-sizes for old browsers:
            font-size: rem(35px);
            line-height: rem(40px);
            // dynamic font sizes
            font-size: relativeSize(35, 768, 1024);
            line-height: relativeSize(50, 768, 1024);
        }
        @include from-large-device {
            // static font-sizes for old browsers:
            font-size: rem(40px);
            line-height: rem(60px);
            // dynamic font sizes
            font-size: relativeSize(40);
            line-height: relativeSize(60);
        }
    }
}
