@use "~@forbrukerradet/jkl-core/jkl";

@import "~@forbrukerradet/jkl-core/_functions";
@import "~@forbrukerradet/jkl-core/mixins/_all";

.jkl-portal-full-screen-menu-item {
    display: inline-block;
    position: relative;

    &__link {
        position: relative;
        padding-left: 0;
        text-align: left;

        font-size: relative-size(30, 375, 812);
        line-height: relative-size(40, 375, 812);

        // button resets:
        background-color: transparent;
        cursor: pointer;

        @include from-medium-device {
            font-size: relative-size(35);
            line-height: relative-size(50);
        }
    }
}
