@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-full-screen-menu-toggle {
    @include reset-outline;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    padding: 0;
    height: 100%;
    box-shadow: inset 0 rem(4px) 0 0 transparent;

    @include motion("standard");
    transition-property: box-shadow;

    &:hover,
    &:focus,
    &--active {
        box-shadow: inset 0 rem(-4px) 0 0 currentColor;
    }

    &--active {
        font-weight: $bold-weight;
        color: #000afa;
    }

    *[data-theme="dark"] & {
        &--active {
            color: #00faff;
        }
    }
}

.jkl-portal-full-screen-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-x: scroll;

    background-color: $varde;
    @include motion("standard", "lazy");
    transition-property: height;

    &__wrapper {
        box-sizing: border-box;
        padding: 25vh 15vh;
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
    }

    &__items {
        height: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 30%;
    }

    &__close {
        @include reset-outline;
        @include jkl-text-style("desktop/lead");
        height: rem(56px);
        background-color: transparent;
        color: inherit;
        cursor: pointer;
        position: absolute;
        bottom: $layout-spacing--large;
        right: $layout-spacing--xl;
        box-shadow: 0 rem(2px) 0 0 currentColor;

        animation: close-button-appear 250ms ease-in;
        animation-direction: reverse;
        animation-fill-mode: both;
    }

    &__darkmode-switch {
        margin-top: $layout-spacing--large;
    }

    &--open {
        height: auto;
        @include motion("entrance", "lazy");

        .jkl-portal-full-screen-menu__close {
            animation: close-button-appear 250ms ease-out;
            animation-direction: normal;
            animation-fill-mode: both;
            animation-delay: 300ms;
        }
    }

    *[data-theme="dark"] & {
        background-color: $gra-90;
    }
}

@keyframes close-button-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
