@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";

@include jkl.helper-light-mode-variables {
    --full-screen-menu-bg-color: #{jkl.$color-varde};
}

@include jkl.helper-dark-mode-variables {
    --full-screen-menu-bg-color: #{jkl.$color-skifer};
}

.jkl-portal-main-menu {
    display: inline-flex;
    align-items: center;

    &__root-list {
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    &__root-item {
        @include jkl.text-style("body");
        display: inline-block;
        height: 100%;
        color: inherit;
        &:not(:last-child) {
            margin-right: $component-spacing--xxl;
        }
    }

    &__root-link {
        @include reset-outline;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
        padding: 0;
        height: 100%;
        box-shadow: inset 0 0 0 0 transparent;
        display: inline-flex;
        align-items: center;
        text-decoration: none;

        @include motion("standard");
        transition-property: box-shadow;

        html:not([data-mousenavigation]) &:focus {
            @include no-grow-bold;
        }

        &:hover,
        html:not([data-mousenavigation]) &:focus,
        &--active {
            box-shadow: inset 0 rem(-4px) 0 0 currentColor;
        }

        &--active {
            @include no-grow-bold;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        overflow-x: scroll;

        background-color: var(--full-screen-menu-bg-color);
        @include motion("standard", "lazy");
        transition-property: height;

        &--open {
            height: auto;
            @include motion("entrance", "lazy");
        }
    }

    &__menu-wrapper {
        box-sizing: border-box;
        padding: 15vh $layout-spacing--small 0 $layout-spacing--large;
        height: 100vh;
        max-height: 100vh;
        width: 100vw;

        @include from-medium-device {
            padding: 25vh $layout-spacing--xl 15vh;
        }
    }

    &__back-button {
        @include reset-outline;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        // static font-sizes for IE11:
        font-size: rem(30px);
        line-height: rem(40px);
        // 30px/40px on iPhone X:
        font-size: relativeSize(30, 375, 812);
        line-height: relativeSize(40, 375, 812);
        @include motion("standard");
        transition-property: transform;

        &:after {
            @include motion("standard");
            transition-property: transform;
        }

        &:hover,
        &:focus {
            color: $granitt;

            transform: translateX(-1ch);
            &:after {
                transform: translateX(1ch);
            }
        }

        @include small-device {
            position: sticky;
            top: 15vh;
            margin-left: -1.5em;
        }

        @include from-medium-device {
            // static font-sizes for IE11:
            font-size: rem(35px);
            line-height: rem(50px);
            // 40px/60px on 1440x900 screen:
            font-size: relativeSize(35);
            line-height: relativeSize(50);

            position: relative;
            top: unset;
            left: unset;

            &::after {
                content: attr(data-text);
                display: inline-block;
            }
        }

        [data-theme="dark"] & {
            color: $snohvit;

            &:hover,
            &:focus {
                color: $svaberg;
            }
        }
    }

    &__menu-items {
        min-height: 100%;
        padding: 0;
        padding-bottom: 5vh;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;

        @include from-medium-device {
            height: 100%;
            flex-wrap: wrap;
            padding: 0;
        }
    }
}
