@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$checkbox-size: rem(24px);
$checkbox-size--compact: rem(20px);
$checkbox-checked-background-color: $svart;
$checkbox-unchecked-background-color: $snohvit;
$checkbox-check-mark-color: $checkbox-unchecked-background-color;
$checkbox-focus-outline-color: $focus-color;

.jkl-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include text-sizing("small");

    & + & {
        margin-top: $component-spacing--large;
    }

    &--inline {
        display: inline-flex;
        & + & {
            margin-top: unset;
            margin-left: $component-spacing--xl;
        }
    }

    &--compact {
        @include text-sizing--small-device("small");
        .jkl-checkbox__check-mark {
            height: $checkbox-size--compact;
            width: $checkbox-size--compact;
        }
    }

    @include small-device {
        .jkl-checkbox__check-mark {
            height: $checkbox-size--compact;
            width: $checkbox-size--compact;
        }
    }

    &:hover > .jkl-checkbox__check-mark {
        transform: scale(1.1);
    }

    &:active > .jkl-checkbox__check-mark {
        transform: scale(0.9);
        background-color: $checkbox-checked-background-color;
    }

    &__input {
        /* Hide native checkbox */
        opacity: 0;
        position: absolute;

        /* Handle fake checkmark based on checked state */
        &:checked + .jkl-checkbox__check-mark {
            background-color: $checkbox-checked-background-color;
        }

        &:checked + .jkl-checkbox__check-mark:after {
            animation: jkl-checkbox-checked-animation 150ms ease-in-out 0ms forwards;
            content: " ";
        }

        html:not([data-mousenavigation]) &:focus + .jkl-checkbox__check-mark {
            box-shadow: 0 0 0 rem(2px) #fff, 0 0px 0 rem(4px) $checkbox-focus-outline-color;
        }
    }

    &__check-mark {
        box-sizing: border-box;
        position: relative;
        height: $checkbox-size;
        width: $checkbox-size;

        margin-right: $component-spacing--medium;
        vertical-align: middle;
        flex-shrink: 0; // Don't allow the check-mark to shrink in case of really long text

        outline: none;
        border: solid rem(1px) $svart;
        border-radius: 0; // fixes rounded corners in iOS Safari
        background-color: $checkbox-unchecked-background-color;
        transition: background-color 200ms ease, transform 150ms ease;

        &:after {
            position: absolute;
            left: 8%;
            right: 0;
            bottom: 45%;

            display: block;
            width: 33%;
            height: 68%;
            transform: rotate(45deg);
            transform-origin: bottom left;

            border: solid rem(2px) $checkbox-check-mark-color;
            border-left-width: 0;
            border-top-width: 0;
        }
    }
}

@keyframes jkl-checkbox-checked-animation {
    0% {
        width: 0;
        height: 0;
    }

    20% {
        width: 0;
        height: 0;
    }

    30% {
        width: 33%;
        height: 0;
    }

    100% {
        width: 33%;
        height: 68%;
    }
}
