@charset "UTF-8";
@use "sass:string";
@use "../../../core/jkl";

.jkl-button {
    --text-color: var(--jkl-color-text-default);
    --background-color: transparent;
;
    --button-size: 2em;
    --button-border-radius: 100vi;

    display: inline-block;
    cursor: pointer;
    user-select: none;
    background: var(--background-color);
    color: var(--text-color);
    border: unset;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    border-radius: var(--button-border-radius);
    padding: 0 1em;
    min-height: var(--button-size);
    min-width: var(--button-size);

    position: relative;
    animation: a 0.3s linear;

    @include jkl.text-style("body") {
        line-height: var(--line-height-tight);
    }

    @include jkl.motion("standard", "productive", background-color);

    &:not(:has(.jkl-icon)) {
        min-width: calc(var(--button-size) * 2.5)
    }

    &:not(:has(.jkl-button__text)) {
        padding: 0;
    }

    &:has(.jkl-icon) .jkl-button__text {
        text-box: trim-both ex alphabetic;
    }

    &__label {
        @include jkl.motion("standard", "expressive", translate);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: jkl.$unit-02;
        pointer-events: none;
        box-sizing: border-box;
        height: var(--button-size);
    }


    &__loader {
        @include jkl.motion("standard", "expressive", opacity, translate);

        position: absolute;
        inset: 0;
        translate: 0 100%;
        opacity: 0;
        pointer-events: none;
        justify-content: center;
        align-items: center;
    }

    &[data-loading="true"] &__label {
        translate: 0 -100%;
    }

    &[data-loading="true"] &__loader {
        translate: 0 0;
        opacity: 1;
    }

    &:focus-visible {
        @include jkl.focus-outline;
    }

    &:hover {
        background-color: color-mix(in srgb, var(--background-color), var(--text-color) 15%);

        @media (forced-colors: active) {
            @include jkl.focus-outline;
        }
    }

    &--primary,
    &--secondary,
    &--ghost {
        --border-radius: 100vi;
    }

    &--primary {
        --background-color: var(--jkl-color-background-action);
        --text-color: var(--jkl-color-text-on-action);

        @media (forced-colors: active) {
            border: calc(var(--border-width) * 2) solid Highlight;
        }
    }

    &--secondary {
        border: var(--border-width) solid var(--text-color);
    }

    &--tertiary {
        border-bottom: var(--border-width) solid var(--text-color);
    }
}
