@charset "UTF-8";
@use "sass:string";
@use "../../../core/jkl";

.jkl-button {
    display: inline-block;

    font-size: var(--jkl-button-font-size);
    line-height: var(--jkl-button-line-height);

    cursor: pointer;
    user-select: none;
    background: var(--background-color);
    color: var(--text-color);
    border: unset;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    border-radius: var(--border-radius);
    position: relative;
    animation: a 0.3s linear;

    @include jkl.text-style("heading-2");
    @include jkl.motion("standard", "productive", background-color);

    &__label {
        @include jkl.motion("standard", "expressive", translate);

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: jkl.$unit-02;
        pointer-events: none;
        padding: 0.5em;
        min-height: 2em;
        box-sizing: border-box;
    }

    &__loader {
        @include jkl.motion("standard", "expressive", opacity, translate);

        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% 350%;
        opacity: 0;
        pointer-events: none;
    }

    &[data-loading="true"] &__label {
        translate: 0 -120%;
    }

    &[data-loading="true"] &__loader {
        translate: -50% -50%;
        opacity: 1;
    }

    &:focus-visible {
        @include jkl.focus-outline;
    }

    &:hover {
        background-color: color-mix(in srgb, var(--background-color), var(--text-color) 15%);

        @media (forced-colors: active) {
            @include jkl.focus-outline;
        }
    }

    &--primary,
    &--secondary,
    &--ghost {
        --border-radius: 100vi;
    }

    &--primary {
        --background-color: var(--jkl-color-background-action);
        --text-color: var(--jkl-color-text-on-action);

        @media (forced-colors: active) {
            border: calc(var(--border-width) * 2) solid Highlight;
        }
    }

    &--secondary {
        border: var(--border-width) solid var(--text-color);
    }

    &--tertiary {
        border-bottom: var(--border-width) solid var(--text-color);
    }
}