@use "~@fremtind/jkl-core/jkl";

.jkl-icon-button {
    @include jkl.reset-outline;
    background-color: transparent;
    cursor: pointer;
    color: inherit;

    @include jkl.forced-colors-svg-fallback($stroke: ButtonText);

    &__icon {
        display: inline-block;
        width: jkl.rem(20px);
        height: jkl.rem(20px);
    }
}
