@charset "UTF-8";
@use "@fremtind/jkl-core/jkl";

.jkl-icon-button {
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    position: relative;
    transition-property: box-shadow;

    @include jkl.motion(focus, snappy);
    @include jkl.reset-outline;

    .jkl-icon {
        display: flex;
        align-items: center;
        @include jkl.forced-colors-svg-fallback($stroke: ButtonText);

        &--animated {
            display: revert;
        }
    }

    &:focus-visible {
        color: var(--jkl-color);

        @include jkl.focus-outline;
        @include jkl.forced-colors-mode {
            border: revert;
        }
    }

    &:hover {
        color: var(--jkl-color-text-interactive-hover);
    }

    @include jkl.forced-colors-mode {
        border: revert;
        background-color: revert;
    }
}
