@import "~@fremtind/jkl-core/mixins/_helpers";
@import "~@fremtind/jkl-core/_functions";

.jkl-icon-button {
    @include reset-outline;
    background-color: transparent;
    cursor: pointer;
    color: inherit;

    @include forced-colors-svg-fallback($stroke: ButtonText);

    &__icon {
        display: inline-block;
        width: rem(20px);
        height: rem(20px);
    }
}
