@use "@fremtind/jokul/styles/core/jkl";

.storybook {
    max-width: 100%;
    position: relative;

    .story {
        border: 1px solid var(--jkl-color-border-separator);
        width: 100%;
        max-width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: jkl.rem(4px);
        resize: vertical;
        min-height: jkl.rem(120px);
        max-height: 100vh;
        margin: 0;
    }

    .header {
        position: absolute;
        inline-size: 100%;
        box-sizing: border-box;
        display: flex;
        gap: var(--jkl-unit-20);
        padding: var(--jkl-unit-20);
        justify-content: space-between;
        align-items: center;
    }
}
