@use "@fremtind/jokul/styles/core/jkl";

.storybook-item {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: end;
    --storybook-example-height: 360px;

    iframe {
        border: 0;
        width: 100%;
        max-width: 100%;
        height: calc(var(--storybook-example-height, 360) * #{jkl.rem(1px)});
        aspect-ratio: 1;
        border-radius: jkl.rem(4px);
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        gap: 1ex 1em;
        padding-block-start: 0.5lh;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            inset: 0;
            border-block-start: 1px solid var(--jkl-color-border-separator);
        }

        .description {
            grid-column: 1 / -1;
            @include jkl.text-style("small");
        }

        a {
            grid-row: 1;
            grid-column: 2;
            text-align: end;
            align-self: flex-start;
            margin-block-start: 2px;
            color: var(--jkl-color-text-subdued);

            @include jkl.text-style("small");
        }
    }
}
