@use '@fremtind/jokul/styles/core/jkl';

.codeBlock {
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--jkl-color-border-separator);
    border-radius: jkl.rem(4px);
    width: 100%;
    overflow: hidden;

    &[data-language]::before {
        display: block;
        box-sizing: border-box;
        padding: var(--jkl-unit-05) var(--jkl-unit-20);
        background-color: var(--jkl-color-background-container-low);
        border-block-end: 1px solid var(--jkl-color-border-separator);
        text-transform: uppercase;
        text-align: end;
        width: 100%;
        content: attr(data-language);

        @include jkl.use-font-family("Fremtind Grotesk Mono");
    }

    html:not([data-mousenavigation]) &:focus-within {
        box-shadow: 0 0 0 jkl.rem(2px) var(--jkl-color-background-action);
    }
}

.codeBlockCode {
    @include jkl.use-font-family("Fremtind Grotesk Mono");
    display: block;
    overflow-x: auto;
    padding: var(--jkl-unit-20);
}