@use '@fremtind/jokul/styles/core/jkl';

.codeBlock {
    box-sizing: border-box;
    border-radius: jkl.rem(4px);
    width: 100%;
    overflow: hidden;
    background-color: var(--jkl-color-background-container-low);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: var(--jkl-unit-20);

    &[data-language]::before {
        width: max-content;
        box-sizing: border-box;
        padding: var(--jkl-unit-05) var(--jkl-unit-10);
        border-radius: 2px;
        background-color: var(--jkl-color-background-container);
        text-transform: uppercase;
        content: attr(data-language);

        @include jkl.use-font-family("Fremtind Grotesk Mono");
    }

    html:not([data-mousenavigation]) &:focus-within {
        box-shadow: 0 0 0 jkl.rem(2px) var(--jkl-color-background-action);
    }
}

.codeBlockCode {
    @include jkl.use-font-family("Fremtind Grotesk Mono");
    display: block;
    overflow-x: auto;
    padding: var(--jkl-unit-20);
    place-self: start;
}