@use "@fremtind/jokul/styles/core/jkl";

.header {
    box-sizing: border-box;
    width: 100%;
    container-type: inline-size;
    padding: var(--jkl-unit-50) var(--jkl-unit-30);
    flex-direction: column;
    gap: jkl.$spacing-24;

    @media (min-width: #{jkl.$breakpoint-large}) {
        padding-inline: var(--jkl-spacing-104);
    }

    @container (min-width: 70rch) {
        flex-direction: row;
    }

    @media (min-width: #{jkl.$breakpoint-medium}) {
        padding: var(--jkl-unit-50);
    }

    @media (min-width: #{jkl.$breakpoint-large}) {
        padding: var(--jkl-unit-130);
    }

    .name {
        @include jkl.text-style("title") {
            font-size: clamp(
                    var(--jkl-typography-font-size-36),
                    1.8673rem + 1.6327vw,
                    var(--jkl-typography-font-size-56)
            );
        }
    }

    .short_description {
        margin-block-start: var(--jkl-spacing-24);
        max-width: 60ch;

        @include jkl.text-style("body") {
            font-size: clamp(
                    var(--jkl-typography-font-size-16),
                    0.7308rem + 0.7692vw,
                    var(--jkl-typography-font-size-20)
            );
            line-height: 1.6;
        }
    }

    .external_links {
        align-items: start;
        justify-self: end;
    }
}