@use "@fremtind/jokul/styles/core/jkl";

.header {
    box-sizing: border-box;
    width: 100%;
    container-type: inline-size;
    font-size: var(--jkl-typography-font-size-36);
    flex-direction: column;
    gap: jkl.$spacing-24;

    // @media (min-width: #{jkl.$breakpoint-large}) {
    // }

    @container (min-width: 70rch) {
        flex-direction: row;
    }

    // @media (min-width: #{jkl.$breakpoint-medium}) {
    // }

    // @media (min-width: #{jkl.$breakpoint-large}) {
    // }

    .name {
        @include jkl.text-style("title") {
            font-size: clamp(
                var(--jkl-typography-font-size-36),
                1.8673rem + 1.6327vw
            );
        }
    }

    .short_description {
        margin-block-start: var(--jkl-spacing-24);
        max-width: 60ch;

        @include jkl.text-style("body") {
            font-size: clamp(
                var(--jkl-typography-font-size-16),
                0.7308rem + 0.7692vw,
                var(--jkl-typography-font-size-20)
            );
            line-height: 1.6;
        }
    }

    .external_links {
        align-items: start;
        justify-self: end;
    }
}
