@use "@fremtind/jokul/styles/core/jkl";

.header {
    box-sizing: border-box;
    width: 100%;
    container-type: inline-size;
    font-size: var(--jkl-typography-font-size-36);
    flex-direction: column;
    align-self: start;
    gap: jkl.$spacing-24;
    padding-top: var(--jkl-spacing-40);
    background-color: transparent;

    @container (min-width: 70rch) {
        flex-direction: row;
    }

    .status {
        margin-top: var(--jkl-unit-80);

        span {
            font-size: 1.25rem;
        }

        p {
            font-size: 1.125rem;
        }
    }

    .name {
        @include jkl.text-style("title") {
            font-size: clamp(
                var(--jkl-typography-font-size-36),
                1.8673rem + 1.6327vw
            );
            line-height: var(--jkl-spacing-40);
        }
    }

    .short_description {
        margin-block-start: var(--jkl-spacing-24);

        @media (width >=940px) {
            max-width: 35ch;
        }

        @include jkl.text-style("paragraph-medium");
    }
}
