@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_utils.scss";

$jkl-header: (
    "background-color": $snøhvit,
    "height-small": $layout-spacing--large,
    "shadow-small": 0px 1px 0px 0px $varm-fjellgrå,
    "padding": 0 $layout-spacing--medium,
    "transition": 150ms ease-in,
    "transform-origin": top,
    "scale-down": scaleY(0.7),
    "scale-up": scaleY(1.5),
    "DOM-space": 120px,
);

.jkl-header {
    @include flex($justify-content: space-between);
    @include position($position: fixed, $top: 0, $right: 0, $left: 0);

    background-color: map-get($jkl-header, "background-color");
    height: map-get($jkl-header, "height-small");
    box-shadow: map-get($jkl-header, "shadow-small");
    transition: transform map-get($jkl-header, "transition");
    padding: map-get($jkl-header, "padding");
    transform-origin: map-get($jkl-header, "transform-origin");

    &__content {
        transform-origin: map-get($jkl-header, "transform-origin");
        transition: transform, margin-top map-get($jkl-header, "transition");

        &--large {
            transform: map-get($jkl-header, "scale-down");
            margin-top: 12px;
        }
    }

    &--large {
        box-shadow: none;
        transform: map-get($jkl-header, "scale-up");
        transition: transform, box-shadow map-get($jkl-header, "transition");
    }
}

.jkl-header__padding {
    background-color: transparent;
    padding-bottom: map-get($jkl-header, "DOM-space");
}
