@use "@fremtind/jokul/styles/core/jkl";

.relatedComponents, .componentConsiderations {
    display: flex;
    gap: jkl.$spacing-16;
    list-style-type: none;
    padding: 0;
}

.componentConsiderations {
    max-width: 100%;
    display: grid;
    gap: jkl.$spacing-40 jkl.$spacing-24;
    grid-template-columns: 1fr;

    @container (width > 75ch) {
        grid-template-columns: repeat(3, 1fr);
    }

    .title {
        margin-block-end: jkl.$spacing-8;
    }
}

.footer {
    margin-block-start: var(--jkl-spacing-104);
    border-block-start: 1px solid var(--jkl-color-border-separator);
    padding-block-start: var(--jkl-spacing-24);
}
