@use "@fremtind/jokul/styles/core/jkl";

.article {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column: 1 / -1;

    @media (width >=940px) {
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
    }
}

.articleHeader {
    grid-column: 1;
    padding-top: var(--jkl-spacing-24);

    @media (width >=940px) {
        position: sticky;
        top: #{jkl.rem(128px)};
        grid-column: 1;
        align-self: start;
        max-width: 346px;
    }
}

.navlink {
    padding-left: var(--jkl-unit-10);
}

.external_links {
    align-items: start;
    justify-self: end;
    padding-top: var(--jkl-spacing-64);
}

.relatedComponents,
.componentConsiderations {
    display: flex;
    gap: jkl.$spacing-16;
    list-style-type: none;
    padding: 0;
    scroll-behavior: smooth;
}

.componentConsiderations {
    max-width: 450px;
    display: grid;
    gap: jkl.$spacing-40 jkl.$spacing-24;
    grid-template-columns: 1fr;
    margin-top: jkl.$spacing-24;

    .title {
        font-weight: 400;
        font-style: italic;
    }
}

.footer {
    margin-block-start: var(--jkl-spacing-104);
    border-block-start: 1px solid var(--jkl-color-border-separator);
    padding-block-start: var(--jkl-spacing-24);
}
