@import "~@fremtind/jkl-core/variables/_colors.scss";

.wrapper {
    width: 100%;
    height: 440px;
    background: linear-gradient(45deg, $suksess 0%, $suksess--darkbg 100%);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-container div {
    background: $svart;
    width: 150px;
    height: 150px;
}
