@use "@fremtind/jkl-core/jkl";

.wrapper {
    width: 100%;
    height: 440px;
    background: linear-gradient(45deg, jkl.$color-suksess 0%, jkl.$color-suksess--darkbg 100%);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-container div {
    background: jkl.$color-svart;
    width: 150px;
    height: 150px;
}
