@charset "UTF-8";
@use "sass:string";
@use "../../../core/jkl";
@use "../../../core/jkl/colors";
@use "../../icon/styles/base-styles" as icon;

@layer jokul.components {
    @include jkl.light-mode-variables {
    	--jkl-checkbox-error-color: #AB2E43;
    }
    
    @include jkl.dark-mode-variables {
    	--jkl-checkbox-error-color: #D79BA5;
    }

    .jkl-checkbox {
        --box-color: var(--jkl-color-border-action);
        --check-color: var(--jkl-color-border-action);
        --text-color: var(--jkl-color-text-default);
        --background-color: transparent;

        @include jkl.text-style("text-body");

        display: flex;
        flex-wrap: wrap;
        color: var(--text-color);
        position: relative;

        &__input {
            // Hide native checkbox
            position: absolute;
            opacity: 0;
            pointer-events: none;
            // Make sure that when the browser scrolls here because of focus, the control
            // is positioned below the label so that the label becomes visible.
            inset: 0 auto 0 0;
            width: 1lh;
        }

        &__label {
            cursor: pointer;
            display: flex;

            @include jkl.motion;
            transition-property: color;

            @include jkl.text-style("text-body");

            &:hover,
            &:active {
                --jkl-icon-weight: #{jkl.$icon-weight-bold};
            }
            
            &::before {
                content: "check_box_outline_blank";
                margin-inline-end: 0.25em;
    
                @include icon.base-styles;
            }
            
            &:has(+ :checked)::before {
                content: "check_box";

                --jkl-icon-fill: 1;
            }
            
            &:has(+ :indeterminate:not(:checked))::before {
                content: "indeterminate_check_box";

                --jkl-icon-fill: 1;
            }
            
            &:has(+ [aria-invalid="true"])::before {
                color: var(--jkl-checkbox-error-color);
            }
        }
        
        & + & {
            margin-top: 0.75em;
        }

        &--inline {
            display: inline-flex;

            &:not(:last-of-type) {
                margin-right: var(--jkl-unit-30);
            }
        }
    }
}
