@charset "UTF-8";
@use "sass:string";
@use "../../../core/jkl";
@use "../../../core/jkl/colors";

$_checkbox-checked-animation-name: jkl-checkbox-checked-#{string.unique-id()};
$_checkbox-indeterminate-animation-name: jkl-checkbox-indeterminate-#{string.unique-id(

    )};

@layer jokul.components {
    @include jkl.small-device {
        --jkl-checkbox-height: var(--jkl-unit-50);
        --jkl-checkbox-box-size: var(--jkl-unit-30);
        --jkl-checkbox-line-height: var(--jkl-unit-30);
    }

    .jkl-checkbox {
        --jkl-checkbox-height: var(--jkl-unit-60);
        --jkl-checkbox-box-size: var(--jkl-unit-30);
        --jkl-checkbox-line-height: var(--jkl-unit-40);
        --box-color: var(--jkl-color-border-action);
        --check-color: var(--jkl-color-border-action);
        --text-color: var(--jkl-color-text-default);
        --background-color: transparent;

        @include jkl.text-style("text-small");

        display: flex;
        flex-wrap: wrap;
        min-height: var(--jkl-checkbox-height);
        color: var(--text-color);
        position: relative;

        &__input {
            // Hide native checkbox
            position: absolute;
            opacity: 0;
            // Make sure that when the browser scrolls here because of focus, the control
            // is positioned below the label so that the label becomes visible.
            top: var(--jkl-checkbox-box-size);
            left: calc(-0.5 * var(--jkl-checkbox-box-size));

            &:checked {
                + .jkl-checkbox__label .jkl-checkbox__check-mark::after {
                    animation: $_checkbox-checked-animation-name
                        jkl.timing("productive") ease-in-out forwards;
                    opacity: 1;
                }
            }

            &:indeterminate:not(:checked) {
                + .jkl-checkbox__label
                    .jkl-checkbox__indeterminate-mark::after {
                    animation: $_checkbox-indeterminate-animation-name
                        jkl.timing("productive") ease-in-out forwards;
                    opacity: 1;
                }
            }

            &:focus-visible + .jkl-checkbox__label {
                color: var(--jkl-checkbox-focus-color);

                & > .jkl-checkbox__mark {
                    @include jkl.focus-outline;
                }
            }

            &:disabled + .jkl-checkbox__label {
                color: var(--jkl-checkbox-disabled-color);
            }

            &:active {
                --background-color: var(--jkl-color-background-input-focus);
            }
        }

        &__label {
            display: flex;
            min-width: 0;
            max-width: 100%;
            cursor: pointer;
            flex-shrink: 0;

            &:hover,
            &:active {
                .jkl-checkbox__mark {
                    outline: 1px solid var(--box-color);
                }
            }
        }

        &__text {
            margin: calc(
                    (
                            var(--jkl-checkbox-height) -
                                var(--jkl-checkbox-line-height)
                        ) * 0.5
                )
                0;
            translate: 0 jkl.rem(1px);

            @include jkl.motion;
            transition-property: color;
        }

        &__mark {
            box-sizing: border-box;
            position: relative;
            height: var(--jkl-checkbox-box-size);
            width: var(--jkl-checkbox-box-size);

            margin-block: calc(
                (var(--jkl-checkbox-height) - var(--jkl-checkbox-box-size)) *
                    0.5
            );
            margin-inline-end: var(--jkl-unit-10);
            align-self: flex-start;
            flex-shrink: 0; // Don't allow the mark to shrink in case of really long text

            outline: none;
            border-radius: 0; // fixes rounded corners in iOS Safari
            border: 1px solid;
            border-color: var(--box-color);
            background-color: var(--background-color);

            @include jkl.motion;
            transition-property: background-color;

            @include jkl.forced-colors-mode {
                outline: revert;
                border: 1px solid ButtonText;
            }
        }

        // This is the check marker
        &__check-mark {
            &::after {
                content: "";
                position: absolute;
                transform-origin: bottom left;
                bottom: 42%;
                left: 18%;

                display: block;
                width: 18%;
                height: 58%;
                transform: rotate(45deg);

                border: solid jkl.rem(2px) var(--check-color);
                border-left-width: 0;
                border-top-width: 0;

                opacity: 0;

                @include jkl.motion;
                transition-property: opacity, border-color;

                @include jkl.forced-colors-mode {
                    border-color: ButtonText;
                }
            }
        }

        // This is the indeterminate marker
        &__indeterminate-mark {
            &::after {
                --width: 66%;
                --thickness: #{jkl.rem(2px)};

                content: "";
                position: absolute;
                bottom: calc(50% - var(--thickness) / 2);
                left: calc((100% - var(--width)) / 2);

                display: block;
                width: var(--width);

                border-bottom: solid var(--thickness) var(--check-color);

                opacity: 0;

                @include jkl.motion;
                transition-property: opacity, border-color;

                @include jkl.forced-colors-mode {
                    border-color: ButtonText;
                }
            }
        }

        &--inline {
            display: inline-flex;

            &:not(:last-of-type) {
                margin-right: var(--jkl-unit-30);
            }
        }

        &--error {
            --background-color: var(--jkl-color-background-alert-error);
            --check-color: var(--jkl-color-text-on-alert);
        }

        @keyframes #{$_checkbox-checked-animation-name} {
            0% {
                width: 0;
                height: 0;
            }

            40% {
                width: 18%;
                height: 0;
            }

            100% {
                width: 18%;
                height: 58%;
            }
        }

        @keyframes #{$_checkbox-indeterminate-animation-name} {
            0% {
                width: 0;
            }

            100% {
                width: 66%;
            }
        }
    }
}
