.colorPicker {
    --color-picker-padding: var(--jkl-unit-10);

    position: relative;
    padding: var(--color-picker-padding);
    cursor: pointer;
    border-radius: var(--jkl-border-radius-s);
}

.colorPicker:has(input:focus-visible) {
    outline: 3px solid var(--jkl-color-border-strong);
    outline-offset: var(--jkl-unit-05);
}

.swatch {
    width: 100%;
    height: 100%;
    border-radius: var(--jkl-border-radius-xs);
    background-color: var(--theme-builder-color-picker-value);
    box-shadow: inset 0 0 0 1px var(--jkl-color-border-default);
}
