.jkl-sidebar {
    z-index: 1;
    height: 100vh;
    position: fixed;
    margin-top: 96px;

    &__link:first-letter {
        text-transform: capitalize;
    }

    &__bar {
        box-sizing: border-box;
        min-height: 100vh;
        height: 100%;
        width: $menu-width;
        padding: $line-height-2 $line-height-2;
        background-color: $varde;
        color: $svart;
        transition-property: transform, box-shadow;
        @include motion(standard, expressive);
        box-shadow: none;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        .portal-dark & {
            background-color: $svart;
            color: $snohvit;
        }
    }

    &__toggler {
        @include motion(standard, expressive);
        background-color: $svart;
        position: absolute;
        left: 0;
        top: $layout-spacing--small;
        height: $toggler-size;
        width: $toggler-size;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateX($menu-width);
    }

    @media (max-width: $breakpoint--medium) {
        &--closed {
            height: 0;
            width: 0;
            & > .portal-menu__bar {
                box-shadow: none;
                transform: translateX(-$menu-width);
            }
            & > .portal-menu__toggler {
                background-color: $matt-svart;
                transform: translateX(0);
            }
        }

        &__bar {
            box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
        }

        &__toggler {
            display: flex;
        }
    }

    & .jkl-accordion,
    & .jkl-accordion-item,
    & .jkl-accordion-item:first-of-type,
    & .jkl-accordion-item__title {
        border: 0;
        background-color: transparent;
        color: inherit;
        box-shadow: none;
        padding: 0;
    }

    & .jkl-accordion-item:first-of-type {
        & > .jkl-accordion-item__title {
            margin-top: -$component-spacing--large;
        }
    }

    & .jkl-accordion-item__title {
        font-weight: bold;
        letter-spacing: -0.009em;
    }

    & .jkl-accordion-item__content {
        @include body-paragraph;
        padding: $layout-spacing--small;
    }

    &__link {
        color: currentColor;
        display: block;
        margin-bottom: $component-spacing--medium;
        text-decoration: none;
        font-weight: bold;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &--current {
            position: relative;
            &:after {
                content: "";
                background-color: currentColor;
                position: absolute;
                display: block;
                height: rem(8px);
                width: rem(8px);
                top: 50%;
                transform: translate(rem(-24px), -50%) rotate(-45deg);
            }
        }
    }
}
