@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$animation-timing: 300ms ease-out both;

.jkl-portal-sidebar-menu {
    padding-left: $layout-spacing--medium;
    padding-top: $layout-spacing--large;

    &__filter {
        margin-bottom: $layout-spacing--medium;
    }

    &__meta {
        text-transform: capitalize;
        margin: $component-spacing--large 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__items {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.jkl-portal-sidebar-menu-item {
    position: relative;

    &__link {
        @include reset-outline;
        @include jkl-text-style("desktop/body");
        display: block;
        text-decoration: none;
        color: inherit;

        &:after {
            content: "\2192";
            position: absolute;
            @include motion("standard");
            transition-property: transform;
        }

        &:hover,
        &:focus {
            color: #000afa;
            &:after {
                transform: translateX(60%);
            }
        }

        &--active {
            color: #000afa;
            font-weight: $bold-weight;
            /* @include jkl-text-style("desktop/lead");
            margin: $component-spacing--xs 0; */
        }

        *[data-theme="dark"] & {
            &--active,
            &:hover,
            &:focus {
                color: #00faff;
            }
        }
    }
}
