@use "~@fremtind/jkl-core/jkl";

$animation-timing: jkl.timing("expressive") jkl.easing("exit") both;

.jkl-portal-sidebar-menu {
    padding-left: jkl.$spacing-xl;
    padding-top: jkl.$spacing-2xl;

    &__filter {
        margin-bottom: jkl.$spacing-xl;
    }

    &__meta {
        text-transform: capitalize;
        margin: jkl.$spacing-m 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__items {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.jkl-portal-sidebar-menu-item {
    position: relative;

    &__link {
        @include jkl.text-style("body");
        display: block;
    }
}
