@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$animation-timing: 300ms ease-out both;

.jkl-portal-sidebar-menu {
    padding-left: $layout-spacing--medium;
    padding-top: $layout-spacing--large;

    &__filter {
        margin-bottom: $layout-spacing--medium;
    }

    &__meta {
        text-transform: capitalize;
        margin: $component-spacing--large 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__items {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.jkl-portal-sidebar-menu-item {
    position: relative;

    &__link {
        @include jkl.typography-text-style("body");
        display: block;
    }
}
