@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$icon-size: rem(32px);
$sass-color: #cd6799;
$react-color: #61dafb;
$icon-line-offset: rem(7px);

.portal-icon {
    transition-property: color;
    @include motion(standard, expressive);
    color: $sand;
    height: $icon-size;
    width: $icon-size;
    padding-top: $icon-line-offset;

    &--sass:hover {
        color: $sass-color;
    }

    &--react:hover {
        color: $react-color;
    }
}
