@import "~@fremtind/jkl-core/core.scss";
@import "~@fremtind/jkl-field-group/field-group.scss";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-section {
    max-width: 50rem;
    padding: 2.5rem;
    background-color: #f0f0f0;

    &__header {
        background-color: #000;
        color: #fafafa;
        margin: -2.5rem -2.5rem 2.5rem;
        padding: 1.5rem 2.5rem;
    }
}
