/**
 * Midlertidige verdier mens vi rydder i Style Dictionary.
 * Når legacy-tokens er fjernet så er tanken at denne filen blir generert automatisk.
 */

$breakpoint-small: 0 !default;
$breakpoint-medium: 680px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xl: 1600px !default;
$spacing-0: 0 !default;
$spacing-2: 0.125rem !default;
$spacing-4: 0.25rem !default;
$spacing-8: 0.5rem !default;
$spacing-12: 0.75rem !default;
$spacing-16: 1rem !default;
$spacing-20: 1.25rem !default;
$spacing-24: 1.5rem !default;
$spacing-28: 1.75rem !default;
$spacing-32: 2rem !default;
$spacing-40: 2.5rem !default;
$spacing-48: 3rem !default;
$spacing-56: 3.5rem !default;
$spacing-64: 4rem !default;
$spacing-72: 4.5rem !default;
$spacing-80: 5rem !default;
$spacing-104: 6.5rem !default;
$spacing-168: 10.5rem !default;
$semantic-spacing-none: 0 !default;
$semantic-spacing-2xs: 0.25rem !default;
$semantic-spacing-xs: 0.5rem !default;
$semantic-spacing-s: 1rem !default;
$semantic-spacing-m: 1.5rem !default;
$semantic-spacing-l: 2.5rem !default;
$semantic-spacing-xl: 4rem !default;
$semantic-spacing-2xl: 6.5rem !default;

$tokens: (
    'breakpoint': ('small': $breakpoint-small,
        'medium': $breakpoint-medium,
        'large': $breakpoint-large,
        'xl': $breakpoint-xl ),
    'static-spacing': ('0': $spacing-0,
        '2': $spacing-2,
        '4': $spacing-4,
        '8': $spacing-8,
        '12': $spacing-12,
        '16': $spacing-16,
        '20': $spacing-20,
        '24': $spacing-24,
        '28': $spacing-28,
        '32': $spacing-32,
        '40': $spacing-40,
        '48': $spacing-48,
        '56': $spacing-56,
        '64': $spacing-64,
        '72': $spacing-72,
        '80': $spacing-80,
        '104': $spacing-104,
        '168': $spacing-168 ),
    'dynamic-spacing': ('none': $semantic-spacing-none,
        '2xs': $semantic-spacing-2xs,
        'xs': $semantic-spacing-xs,
        's': $semantic-spacing-s,
        'm': $semantic-spacing-m,
        'l': $semantic-spacing-l,
        'xl': $semantic-spacing-xl,
        '2xl': $semantic-spacing-2xl ),
);
