@use "@fremtind/jkl-core/jkl";

.jkl-portal-image {
    margin-top: jkl.$spacing-xl;
    margin-bottom: jkl.$spacing-xl;
    width: 100%;

    &__content {
        background-color: transparent;
        padding: 0;

        @include jkl.reset-outline;

        &:not(:disabled) {
            cursor: pointer;
        }

        &:focus {
            @include jkl.keyboard-navigation {
                box-shadow: 0 0 0 2px jkl.$color-granitt;
            }
        }

        &--fullscreen {
            position: fixed;
            inset: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: jkl.$z-index--modal;

            &:focus {
                @include jkl.keyboard-navigation {
                    box-shadow: none;
                }
            }
        }

        > .small {
            margin-top: jkl.$spacing-s;
            text-align: left;
        }
    }

    &__img {
        max-width: jkl.rem(750px);
    }

    &__content--fullscreen .jkl-portal-image__img {
        max-width: 100vw;
        max-height: 100vh;
        object-fit: contain;
        overscroll-behavior: contain;
        overflow-y: scroll;
    }

    &__bg-blur {
        position: fixed;
        inset: 0;
        padding: jkl.$spacing-2xl;
        background-color: rgb(0 0 0 / 70%);
        z-index: jkl.$z-index--modal;
        display: block;
    }
}
