@charset "UTF-8";
@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-expand-button-text-color: #{jkl.$color-granitt};
    --jkl-expand-button-focus-color: #{jkl.$color-granitt};
    --jkl-expand-button-hover-color: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --jkl-expand-button-text-color: #{jkl.$color-snohvit};
    --jkl-expand-button-focus-color: #{jkl.$color-snohvit};
    --jkl-expand-button-hover-color: #{jkl.$color-svaberg};
}

@mixin _expanded-arrow($px) {
    .jkl-expand-button__arrow {
        transform: translateY(jkl.rem($px));
    }
}

.jkl-expand-button {
    $_animation-timing: jkl.timing("snappy") jkl.easing("focus");
    $_focus-ring-width: jkl.rem(2px);

    @include jkl.reset-outline;

    &::-webkit-details-marker {
        display: none;
    }
    list-style: none;

    background-color: transparent;
    cursor: pointer;
    color: var(--jkl-expand-button-text-color);
    padding: 0;
    transition: transform $_animation-timing, border $_animation-timing;
    min-width: unset;
    position: relative;

    &::after {
        $_expand-button-border-width: jkl.rem(1px);
        border: solid $_focus-ring-width transparent;
        box-shadow: none;
        transition: box-shadow $_animation-timing;
        content: "";
        position: absolute;
        inset: (-($_expand-button-border-width)) (-($_expand-button-border-width)) (-($_expand-button-border-width))
            (-($_expand-button-border-width));
    }

    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
        @include _expanded-arrow(3px);
        border: none;
        color: var(--jkl-expand-button-focus-color);

        &::after {
            box-shadow: 0 0 0 $_focus-ring-width var(--jkl-expand-button-focus-color);
        }
    }

    &:hover {
        color: var(--jkl-expand-button-hover-color);
    }

    &--expanded {
        @include jkl.no-grow-bold;
    }

    &--icon-only {
        .jkl-expand-button__arrow {
            margin: jkl.$spacing-4 jkl.$spacing-8;
        }
    }

    // Bevisst nøstet for høyere specificity enn icons uavhengig av importrekkefølge.
    .jkl-expand-button__arrow {
        @include jkl.motion;
        transition-property: transform;

        display: inline-block;
        margin-left: jkl.$spacing-2;
        margin-bottom: -0.15em;
    }

    @include jkl.forced-colors-mode {
        &,
        &::after {
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
        }
    }
}

.jkl-expand-section {
    &__content-wrapper {
        @include jkl.motion;
        transition-property: height;
    }

    &__content {
        height: auto;
        padding: jkl.$spacing-16 0 jkl.$spacing-40 0;
    }
}
