@charset "UTF-8";
@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-expand-button-text-color: #{jkl.$color-granitt};
    --jkl-expand-button-focus-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --jkl-expand-button-text-color: #{jkl.$color-snohvit};
    --jkl-expand-button-focus-color: #{jkl.$color-snohvit};
}

@mixin _expanded-arrow($px) {
    .jkl-expand-button__arrow {
        transform: translateY(jkl.rem($px));
    }
}

.jkl-expand-button {
    $_animation-timing: jkl.timing("snappy") jkl.easing("focus");
    $_focus-ring-width: jkl.rem(2px);

    @include jkl.reset-outline;

    background-color: transparent;
    cursor: pointer;
    color: var(--jkl-expand-button-text-color);
    padding: 0;
    transition: transform $_animation-timing, border $_animation-timing;
    min-width: unset;
    position: relative;

    &::after {
        $_expand-button-border-width: jkl.rem(1px);
        border: solid $_focus-ring-width transparent;
        box-shadow: none;
        transition: box-shadow $_animation-timing;
        content: "";
        position: absolute;
        bottom: -($_expand-button-border-width);
        left: -($_expand-button-border-width);
        right: -($_expand-button-border-width);
        top: -($_expand-button-border-width);
    }

    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
        border: none;

        &::after {
            box-shadow: 0 0 0 $_focus-ring-width var(--jkl-expand-button-focus-color);
        }
    }

    &:hover,
    html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
        @include _expanded-arrow(3px);
        color: var(--jkl-expand-button-focus-color);
    }

    &--expanded {
        @include _expanded-arrow(3px);
        @include jkl.no-grow-bold;

        &:hover {
            @include _expanded-arrow(0);
        }
    }

    &--icon-only {
        .jkl-expand-button__arrow {
            margin: jkl.$spacing-4 jkl.$spacing-8;
        }
    }

    &__arrow {
        @include jkl.motion;

        display: inline-block;
        margin-left: jkl.$spacing-2;
        margin-bottom: -0.4em;

        .jkl-animated-vertical-arrows__slider[data-show="up"] {
            // For å få pila på linje med teksten
            transform: translate3d(0, -56%, 0);
        }

        @include jkl.forced-colors-svg-fallback($stroke: ButtonText);
    }

    // Bevisst nøstet for høyere specificity enn core uavhengig av importrekkefølge.
    .jkl-expand-button__arrow {
        --jkl-icon-size: calc(1em / 20 * 30);

        .jkl-icon--inherit {
            --jkl-icon-size: calc(1em / 20 * 30);
        }
    }

    @include jkl.forced-colors-mode {
        &,
        &::after {
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
        }
    }
}

.jkl-expand-section {
    &__content-wrapper {
        @include jkl.motion;
        transition-property: height;
    }

    &__content {
        height: auto;
        padding: jkl.$spacing-16 0 jkl.$spacing-40 0;
    }
}
