.jkl-logo__animated {
    position: relative;

    &--symbol {
        position: absolute;
        left: 0;
        top: 0;
        &--rotate {
            opacity: 0;
            transition: transform 250ms ease-in-out, opacity 250ms ease-in-out 250ms;
            transform: rotate(-45deg);
        }
        &--no-rotation {
            opacity: 1;
            transition: opacity 250ms ease-in-out, transform 250ms ease-in-out 250ms;
            transform: rotate(0);
        }
    }

    &--main {
        position: absolute;
        left: 20px;
        top: 4px;
        transition: opacity 250ms ease-in-out 250ms;
        &-hide-false {
            opacity: 1;
        }
        &-hide-true {
            opacity: 0;
        }
    }
}
