@use "@fremtind/jkl-core/jkl";

.suggestion-block {
    display: flex;
    justify-content: space-between;
    background-color: var(--component-example-bg);
    padding: 1em;
    margin-bottom: 2em;
    max-width: 44rem;

    @include jkl.small-device {
        flex-direction: column;
        gap: 1em;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    &__link {
        @include jkl.small-device {
            align-self: start;
        }
    }
}
