@use "@fremtind/jokul/styles/core/jkl";

.componentCard {
    --aspect-ratio: 1.5;

    display: flex;
    flex-direction: column;
    color: var(--jkl-color-text-default);


    .name {
        margin-bottom: var(--jkl-spacing-8);

        &:last-child {
            margin-bottom: 0;
        }

        @include jkl.text-style("heading-5");
    }

    .description {
        margin-bottom: auto;

        @include jkl.text-style("paragraph-small") {
            color: var(--jkl-color-text-subdued);
            word-wrap: break-word;
        }
    }

}

.componentThumbnail {
    height: auto;
    width: 100%;
    aspect-ratio: var(--aspect-ratio);
    overflow: hidden;

    img {
        margin-block-start: var(--jkl-unit-20);
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        aspect-ratio: inherit;
    }
}
