@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all";
@import "~@fremtind/jkl-core/functions";

.jkl-portal-grid {
    display: flex;
    justify-content: space-between;

    &--medium {
        max-width: rem(894px);
    }

    &__col {
        margin: jkl.$spacing-m;
        flex: 1;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @include small-device {
        flex-direction: column;

        .jkl-portal-grid__col {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
