@import "~@fremtind/jkl-core/mixins/_motion.scss";
@import "~@fremtind/jkl-core/mixins/_helpers.scss";
@import "~@fremtind/jkl-core/variables/_colors.scss";
@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/variables/_font-size.scss";

$bounding-touch-size: rem(48px);
$hamburger-line-width: rem(3px);
$hamburger-icon-width: rem(35px);
$hamburger-line-spacing: rem(-10px);

$hamburger-color: $granitt;
$hamburger-focus-color: $stein;

$hamburger-color--inverted: $snohvit;
$hamburger-focus-color--inverted: $svaberg;

:root,
[data-theme="light"] {
    --hamburger-color: #{$hamburger-color};
    --hamburger-focus-color: #{$hamburger-focus-color};
}

[data-theme="dark"] {
    --hamburger-color: #{$hamburger-color--inverted};
    --hamburger-focus-color: #{$hamburger-focus-color--inverted};
}

.jkl-hamburger {
    @include reset-outline;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    transition-property: opacity, filter;
    @include motion(standard, productive);
    background-color: transparent;
    height: $bounding-touch-size;
    width: $bounding-touch-size;
    padding: 0;
    justify-content: center;
    position: relative;

    color: $hamburger-color;
    color: var(--hamburger-color);

    &:hover {
        color: $hamburger-focus-color;
        color: var(--hamburger-focus-color);
    }

    html:not([data-mousenavigation]) &:focus {
        box-shadow: 0 0 0 rem(2px) $hamburger-focus-color;
        box-shadow: 0 0 0 rem(2px) var(--hamburger-focus-color);
    }

    &__inner {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before,
        &::after {
            content: "";
            display: block;
        }
        &::before {
            content: "";
            display: block;
            top: $hamburger-line-spacing;
            transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        }
        &::after {
            bottom: $hamburger-line-spacing;
            transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }
    &__inner,
    &__inner::before,
    &__inner::after {
        width: $hamburger-icon-width;
        height: $hamburger-line-width;
        background-color: currentColor;
        position: absolute;
        transition-property: transform;
        @include motion(standard, productive);
    }

    &--is-active {
        & .jkl-hamburger__inner {
            margin: auto;
            transform: translateY(-50%) rotate(45deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        & .jkl-hamburger__inner::before {
            top: 0;
            opacity: 0;
            transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        }
        & .jkl-hamburger__inner::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }

    &--negative {
        color: $hamburger-color--inverted;

        &:hover {
            color: $hamburger-focus-color--inverted;
        }

        html:not([data-mousenavigation]) &:focus {
            box-shadow: 0 0 0 rem(2px) $hamburger-focus-color--inverted;
        }
    }
}
