@use "~@fremtind/jkl-core/jkl";
@import "~@fremtind/jkl-core/mixins/all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$bounding-touch-size: rem(48px);
$hamburger-line-height: rem(2px);
$hamburger-icon-width: rem(35px);
$hamburger-line-spacing: rem(-8px);

$hamburger-color: jkl.$color-granitt;
$hamburger-focus-color: jkl.$color-stein;

$hamburger-color--inverted: jkl.$color-snohvit;
$hamburger-focus-color--inverted: jkl.$color-svaberg;

$animation-duration: 300ms;
$half-animation-duration: calc(#{$animation-duration} / 2);

@include jkl.helper-light-mode-variables {
    --hamburger-color: #{$hamburger-color};
    --hamburger-focus-color: #{$hamburger-focus-color};
}

@include jkl.helper-dark-mode-variables {
    --hamburger-color: #{$hamburger-color--inverted};
    --hamburger-focus-color: #{$hamburger-focus-color--inverted};
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.jkl-hamburger {
    @include reset-outline;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    background-color: transparent;
    height: $bounding-touch-size;
    width: $bounding-touch-size;
    padding: 0;
    justify-content: center;
    position: relative;

    color: $hamburger-color;
    color: var(--hamburger-color);

    &:hover {
        .jkl-hamburger__inner {
            &::before {
                top: calc(#{$hamburger-line-spacing} * 1.5);
            }

            &::after {
                bottom: calc(#{$hamburger-line-spacing} * 1.5);
            }
        }

        .jkl-hamburger__label {
            transform: translate(0, -50%) scale(1.2);
        }
    }

    @include keyboard-navigation {
        &:focus {
            box-shadow: 0 0 0 rem(2px) $hamburger-focus-color;
            box-shadow: 0 0 0 rem(2px) var(--hamburger-focus-color);
        }
    }

    &__label {
        position: relative;
        left: $hamburger-icon-width;
        top: 50%;
        transition-property: transform;

        @include jkl.text-style("body");
        @include motion(standard, expressive);

        &--open,
        &--close {
            animation-fill-mode: both;
            position: absolute;
            transform: translate(0, -50%) scale(1);
        }

        &--initial {
            animation-duration: 0ms;
            .jkl-hamburger__label--open,
            .jkl-hamburger__label--close {
                animation-delay: 0ms !important;
            }
        }

        &--animate {
            animation-duration: $half-animation-duration;
        }

        &--open {
            animation-name: fadeIn;
            animation-delay: $half-animation-duration;
            visibility: hidden;
            animation-duration: inherit;
        }

        &--close {
            animation-name: fadeOut;
            animation-delay: 0ms;
            visibility: visible;
            animation-duration: inherit;
        }
    }

    &__inner {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        transition-timing-function: ease;

        &::before,
        &::after {
            content: "";
            display: block;
            transition-property: transform;
            transition-timing-function: ease;
        }

        &::before {
            top: $hamburger-line-spacing;
        }
        &::after {
            bottom: $hamburger-line-spacing;
        }
    }

    &__inner,
    &__inner::before,
    &__inner::after {
        width: $hamburger-icon-width;
        height: $hamburger-line-height;
        background-color: currentColor;
        position: absolute;

        transition-property: background-color, transform, top, bottom;

        @include motion(standard, expressive);
    }

    &--is-open {
        &:hover {
            .jkl-hamburger__inner::before {
                top: 0;
                transform: rotate(-45deg) scale3d(1.25, 1, 1);
            }
            .jkl-hamburger__inner::after {
                bottom: 0;
                transform: rotate(45deg) scale3d(1.25, 1, 1);
            }
        }

        & .jkl-hamburger__label {
            &--open {
                animation-delay: 0ms;
                animation-name: fadeOut;
            }

            &--close {
                animation-delay: $half-animation-duration;
                animation-name: fadeIn;
            }
        }

        & .jkl-hamburger {
            &__inner,
            &__inner::before,
            &__inner::after {
                width: calc(#{$hamburger-icon-width} - 3px);
            }
        }

        & .jkl-hamburger__inner {
            margin: auto;
            transform: rotate(-180deg);
            background-color: transparent;
        }
        & .jkl-hamburger__inner::before {
            top: 0;
            transform: rotate(-45deg);
        }
        & .jkl-hamburger__inner::after {
            bottom: 0;
            transform: rotate(45deg);
        }
    }

    &--inverted {
        color: $hamburger-color--inverted;

        html:not([data-mousenavigation]) &:focus {
            box-shadow: 0 0 0 rem(2px) $hamburger-focus-color--inverted;
        }
    }
}
