@charset "UTF-8";
@use "@fremtind/jkl-core/jkl";

$_hamburger-line-height: jkl.rem(2px);

@include jkl.light-mode-variables {
    --jkl-hamburger-color: #{jkl.$color-granitt};
    --jkl-hamburger-focus-color: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --jkl-hamburger-color: #{jkl.$color-snohvit};
    --jkl-hamburger-focus-color: #{jkl.$color-svaberg};
}

@include jkl.comfortable-density-variables {
    @include jkl.declare-font-variables("jkl-hamburger", "body");
    $_hamburger-line-spacing: jkl.rem(-8px);

    --jkl-hamburger-touch-size: #{jkl.rem(48px)};
    --jkl-hamburger-toggle-height: #{jkl.rem(32px)};
    --jkl-hamburger-icon-width: #{jkl.rem(35px)};
    --jkl-hamburger-line-spacing: #{$_hamburger-line-spacing};
    --jkl-hamburger-line-spacing-hover: #{$_hamburger-line-spacing * 1.5};
    --jkl-hamburger-expanded-hover-scale: scale3d(1.25, 1, 1);
}

@include jkl.compact-density-variables {
    @include jkl.declare-font-variables("jkl-hamburger", "small");
    $_hamburger-line-spacing: jkl.rem(-6px);

    --jkl-hamburger-touch-size: #{jkl.rem(44px)};
    --jkl-hamburger-toggle-height: #{jkl.rem(24px)};
    --jkl-hamburger-icon-width: #{jkl.rem(24px)};
    --jkl-hamburger-line-spacing: #{$_hamburger-line-spacing};
    --jkl-hamburger-line-spacing-hover: #{$_hamburger-line-spacing * 1.3};
    --jkl-hamburger-expanded-line-spacing: 0;
    --jkl-hamburger-expanded-hover-scale: scale3d(1.1, 1, 1);
}

/// @deprecated Denne komponenten bør ikke lenger brukes. Bruk heller
/// HamburgerIcon fra ikonpakka
.jkl-hamburger {
    @include jkl.reset-outline;
    cursor: pointer;
    background-color: transparent;
    height: var(--jkl-hamburger-touch-size);
    min-width: var(--jkl-hamburger-touch-size);
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;

    color: var(--jkl-hamburger-color);

    @include jkl.use-font-variables("jkl-hamburger");

    &__label.jkl-content-toggle {
        @include jkl.motion(standard, expressive);
        height: var(--jkl-hamburger-toggle-height);
        transform-origin: left;
    }

    &__lines {
        position: relative;
        transform-origin: center;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            transform-origin: center;
        }

        &::before {
            top: var(--jkl-hamburger-line-spacing);
        }

        &::after {
            bottom: var(--jkl-hamburger-line-spacing);
        }
    }

    &__lines,
    &__lines::before,
    &__lines::after {
        width: var(--jkl-hamburger-icon-width);
        height: $_hamburger-line-height;
        background-color: currentColor;

        transition-property: background-color, transform, top, bottom;

        @include jkl.motion(standard, expressive);

        @include jkl.forced-colors-mode {
            background-color: ButtonText;
        }
    }

    &:hover {
        .jkl-hamburger__lines {
            &::before {
                top: var(--jkl-hamburger-line-spacing-hover);
            }

            &::after {
                bottom: var(--jkl-hamburger-line-spacing-hover);
            }
        }

        .jkl-hamburger__label.jkl-hamburger__label--animated {
            transform: scale(1.2);
        }
    }

    @include jkl.keyboard-navigation {
        &:focus {
            box-shadow: 0 0 0 jkl.rem(2px) var(--jkl-hamburger-focus-color);
        }
    }

    &--label-after {
        text-align: left;

        & .jkl-hamburger__lines {
            margin-right: jkl.$spacing-xs;
        }
    }

    &--label-before {
        flex-direction: row-reverse;
        text-align: right;

        & .jkl-hamburger__lines {
            margin-left: jkl.$spacing-xs;
        }

        & .jkl-hamburger__label {
            transform-origin: right;
        }
    }

    &[aria-expanded="true"] {
        & .jkl-hamburger__lines {
            transform: rotate(-180deg);
            background-color: transparent;
        }

        & .jkl-hamburger__lines::before,
        & .jkl-hamburger__lines::after {
            width: calc(var(--jkl-hamburger-icon-width) - 3px);
        }

        & .jkl-hamburger__lines::before {
            top: 0;
            transform: rotate(-45deg);
        }

        & .jkl-hamburger__lines::after {
            bottom: 0;
            transform: rotate(45deg);
        }

        &:hover {
            .jkl-hamburger__lines::before {
                top: 0;
                transform: rotate(-45deg) var(--jkl-hamburger-expanded-hover-scale);
            }

            .jkl-hamburger__lines::after {
                bottom: 0;
                transform: rotate(45deg) var(--jkl-hamburger-expanded-hover-scale);
            }
        }
    }
}
