@charset "UTF-8";
@use "@fremtind/jkl-core/jkl";

.jkl-popover {
    z-index: jkl.$z-index--floating;
    box-shadow: 0 4px 20px 0 #31303033;
    background-color: jkl.$color-background-container-high;

    &--hidden {
        display: none;
    }

    &__content {
        padding: jkl.$spacing-24;
    }
}
