@charset "UTF-8";
@use "@fremtind/jkl-core/jkl";

.jkl-popover {
    z-index: jkl.$z-index--floating;
    box-shadow: jkl.$shadow-task-card;

    &--hidden {
        display: none;
    }

    &__content {
        padding: jkl.$spacing-24;
    }
}
