@charset "UTF-8";
@use "../../../core/jkl";
@use "field-group";
@use "labels";

@layer jokul.components {
    .jkl-text-input-action-button {
        @include jkl.forced-colors-svg-fallback($stroke: ButtonText,
            $fill: ButtonFace);
    }
}
