@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_motion.scss";

@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-toggle-switch/toggle-switch.scss";

$toggler-size: rem(56px);
$menu-width: 100%;

.portal-menu {
    box-shadow: none;
    box-sizing: border-box;
    color: $svart;
    font-size: rem(18px);
    overflow: auto;
    padding: $line-height-2 $line-height-2;
    scrollbar-width: none;
    transition-property: transform, box-shadow;
    -webkit-overflow-scrolling: touch;
    @include motion(standard, expressive);
    &::-webkit-scrollbar {
        display: none;
    }

    & .portal-menu-hr {
        margin: 3rem 0;
        border-top: 1px solid #baa589;
        border-bottom: none;
    }

    &__link {
        color: currentColor;
        display: block;
        margin-bottom: $component-spacing--medium;
        text-decoration: none;
        font-size: rem(18px);
        line-height: 40px;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &--current {
            position: relative;
            font-weight: $bold-weight;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 276px;
                background-color: $varde-20;
                margin-left: -3rem;
                z-index: -1;
            }

            &:after {
                content: "";
                position: absolute;
                left: -24px;
                top: calc(50% - 3px);
                background-color: $svart;
                height: 6px;
                width: 6px;
                transform: rotate(45deg);
            }
        }
    }

    &__link:first-letter {
        text-transform: capitalize;
    }

    & .jkl-accordion,
    & .jkl-accordion-item,
    & .jkl-accordion-item:first-of-type,
    & .jkl-accordion-item__title {
        border: 0;
        background-color: transparent;
        color: inherit;
        box-shadow: none;
        padding: 0;
    }

    & .jkl-accordion-item__title {
        margin-top: 0 !important;
    }

    & .jkl-accordion-item:first-of-type {
        & > .jkl-accordion-item__title {
            margin-top: -$component-spacing--large;
        }
    }

    & .jkl-accordion-item__title {
        font-weight: bold;
        letter-spacing: -0.009em;
    }

    & .jkl-accordion-item__title-text {
        font-size: rem(18px);
    }

    & .jkl-accordion-item__content {
        @include jkl-text-style("desktop/body");
        padding: $layout-spacing--small;
    }

    & .jkl-accordion-item__title-icon {
        width: 16px;
        height: 16px;
        margin-top: -12px;
    }
}
