@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_motion.scss";

@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-toggle-switch/toggle-switch.scss";

$toggler-size: rem(56px);
$menu-width: rem(320px);

.portal-dark {
    background-color: $gra-80;
    color: $gra-10;
    & .jkl-message-box {
        color: $svart;
    }
    & .portal-content__section--copy {
        color: $gra-10;
    }
    & .portal-header {
        background-color: $gra-80;
        margin: 0;
        padding: $layout-spacing--medium $layout-spacing--large 0 0;
        left: 0;
        text-align: right;
        height: 120px;
    }
    & .portal-header__title > a {
        color: $gra-10;
    }
    & .portal-main__hero {
        background-color: rgba($gra-80, 0.7);
    }
    & .portal-content__example {
        color: initial;
    }
    & .portal-icon {
        color: $gra-20;
    }
    & .portal-footer {
        background-color: $svart;
    }
}

.portal-menu {
    z-index: 1;
    height: 100vh;
    position: fixed;
    margin-top: 96px;

    &__link:first-letter {
        text-transform: capitalize;
    }

    &__bar {
        box-sizing: border-box;
        min-height: 100vh;
        height: 100%;
        width: $menu-width;
        padding: $layout-spacing--xxl $layout-spacing--small;
        background-color: $svart;
        color: $helhvit;
        transition-property: transform, box-shadow;
        @include motion(standard, expressive);
        box-shadow: none;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        .portal-dark & {
            background-color: $svart;
            color: $gra-10;
        }
    }

    &__toggler {
        @include motion(standard, expressive);
        background-color: $svart;
        position: absolute;
        left: 0;
        top: $layout-spacing--small;
        height: $toggler-size;
        width: $toggler-size;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateX($menu-width);
    }

    @media (max-width: $breakpoint--medium) {
        &--closed {
            height: 0;
            width: 0;
            & > .portal-menu__bar {
                box-shadow: none;
                transform: translateX(-$menu-width);
            }
            & > .portal-menu__toggler {
                background-color: $gra-80;
                transform: translateX(0);
            }
        }

        &__bar {
            box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
        }

        &__toggler {
            display: flex;
        }
    }

    & .jkl-accordion,
    & .jkl-accordion-item,
    & .jkl-accordion-item:first-of-type,
    & .jkl-accordion-item__title {
        border: 0;
        background-color: transparent;
        color: inherit;
        box-shadow: none;
    }

    & .jkl-accordion-item:first-of-type {
        & > .jkl-accordion-item__title {
            margin-top: -$component-spacing--large;
        }
    }

    & .jkl-accordion-item__title {
        font-weight: bold;
        letter-spacing: -0.009em;
    }

    & .jkl-accordion-item__content {
        @include jkl-text-style("desktop/body");
        padding: $layout-spacing--small;
    }

    &__link {
        color: currentColor;
        display: block;
        margin-bottom: $component-spacing--medium;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &--current {
            position: relative;
            &:after {
                content: "";
                background-color: currentColor;
                position: absolute;
                display: block;
                height: rem(8px);
                width: rem(8px);
                top: 50%;
                transform: translate(rem(-24px), -50%) rotate(-45deg);
            }
        }

        &--github {
            &:first-of-type {
                margin-top: $layout-spacing--large;
            }
            padding-left: $component-spacing--large;
            background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 16 16' version='1.1' width='24' aria-hidden='true'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z'%3E%3C/path%3E%3C/svg%3E%0A");
            background-position: right $component-spacing--large center;
            background-repeat: no-repeat;
        }
        &--figma {
            padding-left: $component-spacing--large;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' width='24' height='24' fill='currentColor' viewBox='0 0 200 300'%3E%3Cpath d='M50 300c27.6 0 50-22.4 50-50v-50H50c-27.6 0-50 22.4-50 50s22.4 50 50 50z' class='st0'/%3E%3Cpath d='M0 150c0-27.6 22.4-50 50-50h50v100H50c-27.6 0-50-22.4-50-50z' class='st1'/%3E%3Cpath d='M0 50C0 22.4 22.4 0 50 0h50v100H50C22.4 100 0 77.6 0 50z' class='st2'/%3E%3Cpath d='M100 0h50c27.6 0 50 22.4 50 50s-22.4 50-50 50h-50V0z' class='st3'/%3E%3Cpath d='M200 150c0 27.6-22.4 50-50 50s-50-22.4-50-50 22.4-50 50-50 50 22.4 50 50z' class='st4'/%3E%3C/svg%3E%0A");
            background-position: right $component-spacing--large center;
            background-repeat: no-repeat;
        }
    }
}
