@use "~@fremtind/jkl-core/jkl";

.jkl-portal-card {
    @include jkl.reset-outline;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: jkl.$spacing-m;
    margin: 0;
    transition: box-shadow 0.25s ease-out;
    box-shadow: 0 10px 25px rgb(0 0 0 / 0%);
    max-width: jkl.rem(400px);

    @include jkl.small-device {
        background-color: var(--jkl-background-color);
    }

    &__heading {
        @include jkl.text-style("heading-3");
        margin-bottom: jkl.$spacing-s;
    }

    &__content {
        @include jkl.text-style("body");
    }

    &__arrow {
        font-size: jkl.rem(48px);
        padding-left: 0;
        transition: padding-left 0.15s ease-in-out;
    }

    &:hover,
    &:focus {
        box-shadow: 0 10px 25px rgb(0 0 0 / 15%);

        .jkl-portal-card__arrow {
            padding-left: jkl.$spacing-s;
        }
    }
}
