@use "@fremtind/jkl-core/jkl";

.jkl-portal__card-list {
    display: flex;
    flex-direction: row;

    & > *:not(:last-child) {
        margin: 0;
        margin-right: jkl.$spacing-xl;
    }

    &--vertical {
        flex-direction: column;

        & > *:not(:last-child) {
            margin: 0;
            margin-bottom: jkl.$spacing-xl;
        }
    }

    .jkl-nav-card {
        max-width: jkl.rem(360px);
    }
}
