@import "~@fremtind/jkl-accordion/accordion.scss";
@import "~@fremtind/jkl-button/button.scss";
@import "~@fremtind/jkl-card/card.scss";
@import "~@fremtind/jkl-checkbox/checkbox.scss";
@import "~@fremtind/jkl-divider-line/divider-line.scss";
@import "~@fremtind/jkl-dropdown/dropdown.scss";
@import "~@fremtind/jkl-logo/logo.scss";
@import "~@fremtind/jkl-radio-button/radio-button.scss";
@import "~@fremtind/jkl-text-input/text-input.scss";
@import "~@fremtind/jkl-bullet-list/bullet-list.scss";

section {
    margin-bottom: 4rem;
    display: block;
    .jkl-h2 {
        margin-bottom: 1rem;
    }
}

.jkl-component-vertical-spacer {
    margin: 1rem;

    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
}

.jkl-logo-wrapper {
    display: flex;
    //justify-content: center;
    align-items: center;

    & > * {
        margin-right: 1rem;
    }
}

.jkl-logo {
    width: 4rem;
    margin-bottom: 1rem;
}
