section {
    margin-bottom: 4rem;
    display: block;
    .jkl-h2 {
        margin-bottom: 1rem;
    }
}

.jkl-component-vertical-spacer {
    margin: 1rem;

    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
}
