@import "~@fremtind/jkl-core/variables/_all.scss";

$icon-size: $font-size-3;

.jkl-action-text-field {
    display: block;
    position: relative;

    &__field {
        .jkl-text-field__input {
            padding-right: $component-spacing--small + $icon-size;
        }
    }
    &__icon {
        position: absolute;
        right: 0;
        bottom: $component-spacing--small;
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;

        .jkl-action-icon {
            display: inline-block;
            width: $icon-size;
        }
    }
}
