@charset "UTF-8";
@use "../../../core/jkl";

@mixin _horizontal-list {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-columns: fit-content(40%) 1fr;

    .jkl-description-list__term {
        grid-column-start: 1;
        margin: 0;
        overflow-wrap: break-word;

        &:not(:first-of-type) {
            margin-top: var(--jkl-unit-10);
        }
    }

    .jkl-description-list__detail {
        margin-left: var(--jkl-unit-30);
        grid-column-start: 2;
    }

    .jkl-description-list__detail + .jkl-description-list__detail {
        margin-top: var(--jkl-unit-10);
    }

    .jkl-description-list__term + .jkl-description-list__detail {
        &:not(:first-of-type) {
            margin-top: var(--jkl-unit-10);
        }
    }
}

@layer jokul.components {
    .jkl-description-list {
        &__term {
            font-weight: jkl.$typography-weight-bold;
            margin-bottom: var(--jkl-unit-05);

            &:not(:first-child) {
                margin-top: var(--jkl-unit-20);
            }
        }

        &__detail {
            margin-left: 0;
        }

        &__detail + &__detail {
            margin-top: var(--jkl-unit-05);
        }

        @include jkl.from-medium-device {
            @include _horizontal-list;
        }
    }
}
