@use "../../../core/jkl";

@layer jokul.components {
    .jkl-description-list {
        --spacing: 0;

        container: description-list / inline-size;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;

        .term {
            grid-column: 1;
            font-weight: bold;
        }

        .detail {
            grid-column: 2;
            margin-inline-start: 0;
        }

        .term,
        .detail {
            &:first-of-type:last-of-type {
                grid-row: 1;
            }
        }

        .support-content {
            grid-column: 1 / -1;
            margin-inline-start: 0;
            color: var(--jkl-color-text-subdued);
        }

        &[data-alignment="justified"] {
            --spacing: var(--jkl-spacing-xs);
            grid-template-columns: 1fr max-content;

            .detail {
                text-align: end;
            }
        }

        &[data-alignment="horizontal"] {
            --spacing: var(--jkl-spacing-xs);
            grid-template-columns: max-content 1fr;
        }

        &[data-alignment="vertical"] {
            --spacing: var(--jkl-spacing-s);

            .detail,
            .term {
                grid-row: unset;
                grid-column: unset;

                &:first-of-type:last-of-type {
                    grid-row: unset;
                }
            }
        }

        .jkl-description-list-item {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;

            @container description-list (width < 30ch) {
                --spacing: var(--jkl-spacing-s);
                display: block;

                .detail {
                    text-align: start;
                }
            }

            &:not(:last-of-type) {
                margin-block-end: var(--spacing);
            }
        }

        &[data-separators="true"] {
            > * {
                &:not(:last-of-type) {
                    --spacing: var(--jkl-spacing-s);
                    border-block-end: 1px solid
                        var(--jkl-color-border-separator);
                    padding-block-end: var(--spacing);
                }
            }
        }
    }
}
