@use "../../../core/jkl" as jkl;

.jkl-input-panel {
    --outer-border-color: var(--jkl-color-border-input);
    --outer-border-thickness: #{jkl.rem(1px)};
    --padding:  var(--jkl-unit-20) var(--jkl-unit-20) var(--jkl-unit-40) var(--jkl-unit-20);
    --background-color: transparent;

    box-shadow: inset 0 0 0 var(--outer-border-thickness) var(--outer-border-color);
    border-radius: 4px;
    background-color: var(--background-color);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--jkl-unit-10);

    &__header {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        gap: jkl.rem(8px);
        cursor: pointer;
        position: relative;

        &__amount {
            display: flex;
            height: 100%;
            align-items: center;
        }

        & .jkl-checkbox, & label {
            position: unset;
        }

        label::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            inline-size: 100%;
            block-size: 100%;
        }
    }


    &__additional-content {
        @include jkl.text-style("body");
    }

    &:has(:focus-visible) {
        @include jkl.focus-outline;
    }

    &:has(:checked) {
        --background-color: var(--jkl-color-background-container-high);
    }

    &:has(input:hover) {
        --outer-border-color: var(--jkl-color-border-separator-hover);
        --outer-border-thickness: #{jkl.rem(2px)};
        cursor: pointer;
    }
}
