@use "@fremtind/jokul/styles/jkl";

.examples {
    --item-gap-y: 2ex;
    --item-gap-x: 2em;
    --item-gap: var(--item-gap-y) var(--item-gap-x);

    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    gap: var(--item-gap);
    flex-direction: column;

    .example {
        height: 100%;

        .info {
            position: relative;
            gap: 1ex 1em;
            padding-block-start: 0.5lh;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                border-block-start: 1px solid var(--jkl-color-border-subdued);
            }

            .description {
                @include jkl.text-style("paragraph-small");
            }

            a {
                margin-block-start: 2px;
                color: var(--jkl-color-text-subdued);

                @include jkl.text-style("paragraph-small");
            }
        }
    }
}
