@use "sass:string";
@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-progress-background-color: #{jkl.$color-dis};
    --jkl-progress-tracker-color: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --jkl-progress-background-color: #{jkl.$color-stein};
    --jkl-progress-tracker-color: #{jkl.$color-dis};
}

.jkl-progress-bar,
.jkl-countdown {
    --jkl-progress-bar-height: #{jkl.rem(4px)};

    background-color: var(--jkl-progress-background-color);
    border-radius: jkl.rem(100px);
    height: var(--jkl-progress-bar-height);
    width: 100%;
    overflow: hidden;

    &__tracker {
        display: block;
        height: var(--jkl-progress-bar-height);
        background-color: var(--jkl-progress-tracker-color);
    }

    @include jkl.forced-colors-mode {
        background-color: Canvas;

        &__tracker {
            background-color: CanvasText;
        }
    }
}

.jkl-progress-bar {
    &__tracker {
        transition-property: width;
        @include jkl.motion("standard", "productive");
    }
}

$_downcount: jkl-downcount-#{string.unique-id()};

.jkl-countdown {
    &__tracker {
        animation: $_downcount var(--duration) linear forwards;
        animation-play-state: var(--play-state, running);
    }
}

@keyframes #{$_downcount} {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}
