@import "~@fremtind/jkl-core/variables/_all.scss";

body {
    background-color: $himmelgra;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: $layout-spacing--large;
}
