@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --example-video-outline: #{jkl.$color-focus-color};
}

@include jkl.dark-mode-variables {
    --example-video-outline: #{jkl.$color-focus-color--darkbg};
}

.example-video {
    position: relative;

    @include jkl.reset-outline;

    @include jkl.keyboard-navigation {
        &:focus {
            outline: jkl.rem(2px) solid var(--jkl-color);
        }
    }

    &__loader {
        position: absolute;
        bottom: jkl.$spacing-xl;
        left: jkl.$spacing-m;
    }
}
