@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/navigation";

.example-video {
    position: relative;

    &__button {
        position: absolute;
        bottom: jkl.$spacing-l;
        left: jkl.$spacing-m;
        width: 2rem;
        height: 2.2rem;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
            @include keyboard-navigation {
                box-shadow: 0 0 0 2px jkl.$color-granitt;
            }
        }

        @include jkl.helper-forced-colors-mode {
            border: unset;

            &:focus {
                outline: unset;
            }
        }

        &--play {
            background: url("./F_Play_Knapp.svg") no-repeat center;
        }

        &--pause {
            background: url("./F_Pause_Knapp.svg") no-repeat center;
        }
    }
}
