@use "../../jkl";

@layer jokul.theme {
    /* Used by menu to figure out if it should render a compact or comfortable view */
    @include jkl.comfortable-density-variables {
        --jkl-density: "comfortable";
    }

    @include jkl.compact-density-variables {
        --jkl-density: "compact";
    }

    @include jkl.light-mode-variables {
        --jkl-background-color: #{jkl.$color-snohvit};
        --jkl-color: #{jkl.$color-granitt};
        --jkl-error: #{jkl.$color-feil};
        --jkl-info: #{jkl.$color-info};
        --jkl-warning: #{jkl.$color-advarsel};
        --jkl-success: #{jkl.$color-suksess};
    }

    @include jkl.dark-mode-variables {
        --jkl-background-color: #{jkl.$color-granitt};
        --jkl-color: #{jkl.$color-snohvit};
        --jkl-error: #{jkl.$color-feil-dark};
        --jkl-info: #{jkl.$color-info-dark};
        --jkl-warning: #{jkl.$color-advarsel-dark};
        --jkl-success: #{jkl.$color-suksess-dark};
    }
}