@layer jokul.theme {
    :root, [data-size] {
        --jkl-border-radius-xs: var(--jkl-unit-02);
        --jkl-border-radius-s: var(--jkl-unit-05);
        --jkl-border-radius-m: var(--jkl-unit-10);
        --jkl-border-radius-l: var(--jkl-unit-15);
        --jkl-border-radius-xl: var(--jkl-unit-20);
    }
}