@use "sass:map";
@use "../../jkl";
@use "../../jkl/typography";

@layer jokul.theme {
    :root {
        --jkl-line-height-flush: 1;
        --jkl-line-height-tight: 1.3;
        --jkl-line-height-relaxed: 1.6;
    }

    :root,
    [data-size] {
        --jkl-font-size-12: #{jkl.rem(12px)};
        --jkl-font-size-14: #{jkl.rem(14px)};
        --jkl-font-size-16: #{jkl.rem(16px)};
        --jkl-font-size-18: #{jkl.rem(18px)};
        --jkl-font-size-20: #{jkl.rem(20px)};
        --jkl-font-size-24: #{jkl.rem(24px)};
        --jkl-font-size-28: #{jkl.rem(28px)};
        --jkl-font-size-32: #{jkl.rem(32px)};
        --jkl-font-size-40: #{jkl.rem(40px)};
        --jkl-font-size-48: #{jkl.rem(48px)};
        --jkl-font-size-56: #{jkl.rem(56px)};
    }

    [data-size="small"] {
        --jkl-font-size-12: #{jkl.rem(12px)};
        --jkl-font-size-14: #{jkl.rem(14px)};
        --jkl-font-size-16: #{jkl.rem(16px)};
        --jkl-font-size-18: #{jkl.rem(18px)};
        --jkl-font-size-20: #{jkl.rem(20px)};
        --jkl-font-size-24: #{jkl.rem(24px)};
        --jkl-font-size-28: #{jkl.rem(28px)};
        --jkl-font-size-32: #{jkl.rem(32px)};
        --jkl-font-size-40: #{jkl.rem(40px)};
        --jkl-font-size-48: #{jkl.rem(48px)};
        --jkl-font-size-56: #{jkl.rem(56px)};
    }

    [data-size="large"] {
        --jkl-font-size-12: #{jkl.rem(12px)};
        --jkl-font-size-14: #{jkl.rem(14px)};
        --jkl-font-size-16: #{jkl.rem(16px)};
        --jkl-font-size-18: #{jkl.rem(18px)};
        --jkl-font-size-20: #{jkl.rem(20px)};
        --jkl-font-size-24: #{jkl.rem(24px)};
        --jkl-font-size-28: #{jkl.rem(28px)};
        --jkl-font-size-32: #{jkl.rem(32px)};
        --jkl-font-size-40: #{jkl.rem(40px)};
        --jkl-font-size-48: #{jkl.rem(48px)};
        --jkl-font-size-56: #{jkl.rem(56px)};
    }
}