@use "@fremtind/jkl-core/jkl";

.jkl-portal-portrait-gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: jkl.$spacing-m;
    row-gap: jkl.$spacing-l;
    max-width: jkl.rem(750px);

    margin-top: jkl.$spacing-l;
    margin-bottom: jkl.$spacing-xl;
}
