@use "@fremtind/jkl-core/jkl";

.jkl-portal-portrait {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-basis: 30%;
    flex-grow: 1;

    &__image {
        aspect-ratio: 3/4;
    }

    &__caption {
        @include jkl.text-style("small");
        margin-top: jkl.$spacing-s;
    }
}
