@use "../../jkl";

@layer jokul.global {
    .jkl {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        background-color: var(--jkl-background-color);
        color: var(--jkl-color);

        @include jkl.use-font-family("Fremtind Grotesk");

        strong {
            --jkl-icon-weight: #{jkl.$icon-weight-bold};
            font-weight: jkl.$typography-weight-bold;
        }
    }

    @include jkl.prefers-reduced-motion {
        *,
        *::after,
        *::before {
            animation-duration: 0ms !important;
            animation-delay: 0ms !important;
            transition: none !important;
        }
    }
}
