@use "../../jkl";

@layer jokul.global {
    /* Legger til støtte for fontskalering via OS-innstillinger på Apple-enheter */
    @supports (font: -apple-system-body) {
        :root {
            /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
            font: -apple-system-body;
        }
    }

    .jkl {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        background-color: var(--jkl-background-color);
        color: var(--jkl-color);

        @include jkl.use-font-family("Fremtind Grotesk");

        strong {
            --jkl-icon-weight: #{jkl.$icon-weight-bold};
            font-weight: jkl.$typography-weight-bold;
        }
    }

    @include jkl.prefers-reduced-motion {
        *,
        *::after,
        *::before {
            animation-duration: 0ms !important;
            animation-delay: 0ms !important;
            transition: none !important;
        }
    }
}
