@use "../../jkl";

@layer jokul.global {
    [popover] {
        opacity: 0;
        transition: opacity,
            overlay allow-discrete,
            display allow-discrete;

        @include jkl.motion("standard", "productive");

        &:popover-open {
            opacity: 1;

            @starting-style {
                opacity: 0;
            }
        }
    }
}