.page {
    min-height: 100dvh;
    background-color: var(--jkl-color-background-page);

    .main {
        gap: var(--jkl-spacing-24);
        padding: var(--jkl-spacing-24);

        > aside {
            flex: 1 35ch;
        }

        > section {
            flex: 3 105ch;
        }

        @media (width >= 940px) {
            gap: var(--jkl-spacing-32);
            padding: var(--jkl-spacing-64);
        }
    }
}
