@use "../../../core/jkl";

.jkl-link-list--beta {
    --border: 1px solid var(--jkl-color-border-separator);
    --text-color: var(--jkl-color-text-default);

    @include jkl.text-style("body");

    .jkl-link-list-title {
        margin-block-end: var(--jkl-unit-10);
        @include jkl.text-style("small");
    }

    & ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        height: min-content;
    }

    & .jkl-link-list-item {
        display: flex;

        &:not(:last-of-type) {
            .jkl-link-list-link {
                border-block-end: var(--border);
            }
        }
    }

    & .jkl-link-list-link {
        display: flex;
        align-items: center;
        gap: var(--jkl-unit-20);
        width: 100%;
        text-decoration: none;
        color: var(--text-color);
        text-wrap: balance;
        box-sizing: border-box;
    }

    &:has(ul) {
        .jkl-link-list-title {
            margin-inline-start: var(--jkl-unit-05);
        }
    }

    & ul {
        border-radius: var(--jkl-unit-05);
        overflow: hidden;
        background: var(--jkl-color-background-container-low);

        .jkl-link-list-link {
            justify-content: space-between;
            padding: var(--jkl-unit-20);


            @include jkl.motion("standard", "productive");
            transition-property: background;

            &::after {
                content: "arrow_forward" / "";
                font-family: "Fremtind Material Symbols";
                font-weight: 300;

                @include jkl.motion("standard", "productive");
                transition-property: translate;
            }

            &:is(:hover, :focus-visible) {
                background: var(--jkl-color-background-interactive-selected);

                &::after {
                    translate: 4px 0;
                }
            }
        }
    }
}
