@import "~@fremtind/jkl-core/build/scss/core";
@import "../button.scss";

html,
body {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.jkl-button {
    margin: 0 1rem;
}
