@import "@fremtind/jkl-core/core.scss";
@import "../button.scss";

html,
body {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.jkl-button {
    margin: 0 1rem;
}
