@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --do-dont-example-bg: #{jkl.$color-dis};
}

@include jkl.dark-mode-variables {
    --do-dont-example-bg: #{jkl.$color-skifer};
}

.jkl-portal-do-dont-example {
    display: inline-block;
    background-color: var(--do-dont-example-bg);
    padding: jkl.$spacing-s;
    padding-bottom: jkl.$spacing-m;
    margin-bottom: jkl.$spacing-2xl;
    width: 100%;

    &:not(:last-of-type) {
        margin-right: jkl.$spacing-xl;
    }

    &--fullwidth {
        width: 100%;
        max-width: jkl.rem(750px);
    }

    &--halfwidth {
        max-width: jkl.rem(420px);
    }

    &__content {
        color: var(--jkl-color);
        background-color: var(--jkl-background-color);
        padding: jkl.$spacing-s;
    }

    &__image {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__heading {
        @include jkl.text-style("heading-4");

        margin-top: jkl.$spacing-m;
        margin-bottom: jkl.$spacing-2xs;
    }

    &__description {
        @include jkl.text-style("body");
    }

    @include jkl.small-device {
        max-width: 75vw;
    }

    .jkl-portal-grid & {
        margin-bottom: 0;
    }
}
