@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-do-dont-example {
    display: inline-block;
    background-color: $sand;
    padding: $component-spacing--medium;
    padding-bottom: $component-spacing--large;
    margin-bottom: $layout-spacing--large;
    width: 100%;

    &:not(:last-of-type) {
        margin-right: $layout-spacing--medium;
    }

    &--fullwidth {
        width: 100%;
        max-width: rem(894px);
    }
    &--halfwidth {
        max-width: rem(420px);
    }

    &__image {
        width: 100%;
    }

    &__heading {
        @include jkl-text-style("desktop/heading-small");
        margin-top: $component-spacing--large;
        margin-bottom: $component-spacing--xs;

        &--do {
            color: $suksess;
        }

        &--dont {
            color: $feil;
        }
    }

    &__description {
        @include jkl-text-style("desktop/body");
    }

    *[data-theme="dark"] & {
        background-color: $granitt;

        &__heading--do {
            color: $suksess--darkbg;
        }

        &__heading--dont {
            color: $feil--darkbg;
        }
    }

    @include small-device {
        max-width: 75vw;
    }
}
