@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/functions";

@include jkl.helper-light-mode-variables {
    --do-dont-example-bg: #{jkl.$color-dis};
    --do-dont-example-do-color: #{jkl.$color-suksess};
    --do-dont-example-dont-color: #{jkl.$color-feil};
}

@include jkl.helper-dark-mode-variables {
    --do-dont-example-bg: #{jkl.$color-skifer};
    --do-dont-example-do-color: #{jkl.$color-suksess--darkbg};
    --do-dont-example-dont-color: #{jkl.$color-feil--darkbg};
}

.jkl-portal-do-dont-example {
    display: inline-block;
    background-color: var(--do-dont-example-bg);
    padding: jkl.$spacing-s;
    padding-bottom: jkl.$spacing-m;
    margin-bottom: jkl.$spacing-2xl;
    width: 100%;

    &:not(:last-of-type) {
        margin-right: jkl.$spacing-xl;
    }

    &--fullwidth {
        width: 100%;
        max-width: rem(750px);
    }
    &--halfwidth {
        max-width: rem(420px);
    }

    &__content {
        color: var(--jkl-color);
        background-color: var(--jkl-background-color);
        padding: jkl.$spacing-s;
    }

    &__image {
        width: 100%;
    }

    &__heading {
        @include jkl.text-style("heading-4");
        margin-top: jkl.$spacing-m;
        margin-bottom: jkl.$spacing-2xs;

        &--do {
            color: var(--do-dont-example-do-color);
        }

        &--dont {
            color: var(--do-dont-example-dont-color);
        }
    }

    &__description {
        @include jkl.text-style("body");
    }

    @include small-device {
        max-width: 75vw;
    }
}
