@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --search-background: #{jkl.$color-sand};
}
@include jkl.dark-mode-variables {
    --search-background: #{jkl.$color-skifer};
}

.jkl-portal__uu {
    h2 {
        @include jkl.text-style("heading-1");
    }

    h3 {
        @include jkl.text-style("heading-3");
    }

    h4 {
        @include jkl.text-style("heading-4");
    }

    .uu__filter-result-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        column-gap: jkl.rem(18px);
        row-gap: jkl.rem(21px);
        padding-inline-start: 0;
        max-width: jkl.rem(750px);

        @include jkl.text-style("body");
    }

    article {
        margin-bottom: jkl.$spacing-3xl;
    }

    .uu__filter-search {
        margin-top: jkl.$spacing-2xl;
    }

    .uu__section--search {
        position: relative;
        z-index: 0;
        margin-top: jkl.$spacing-2xl;
        padding-top: jkl.$spacing-xl;
        padding-bottom: jkl.$spacing-3xl;

        & > *:not(:first-child) {
            margin-top: jkl.$spacing-l;
        }

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: var(--search-background);
            padding-right: jkl.$spacing-m;
            margin-left: -#{jkl.$spacing-m};
            padding-left: jkl.$spacing-m;

            @include jkl.medium-device {
                padding-right: jkl.$spacing-3xl;
                margin-left: -#{jkl.$spacing-xl};
                padding-left: jkl.$spacing-xl;
            }

            @include jkl.from-large-device {
                padding-right: jkl.$spacing-3xl;

                // 415px is the width of the sidebar
                margin-left: calc(-#{jkl.$spacing-xl} - 415px);
                padding-left: calc(#{jkl.$spacing-xl} + 415px);
            }
        }
    }

    .uu__section--search-results {
        h2 {
            margin-top: jkl.$spacing-2xl;
        }
    }

    .uu-article {
        &:first-of-type {
            margin-top: jkl.$spacing-3xl;
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-inline-start: 0;
            margin-block-start: jkl.$spacing-xs;
            column-gap: jkl.$spacing-xs;
            row-gap: jkl.$spacing-xs;
            margin-bottom: jkl.$spacing-l;
            max-width: jkl.rem(750px);
        }

        &__links {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-inline-start: 0;
            column-gap: jkl.$spacing-m;
            row-gap: jkl.$spacing-l;
            max-width: jkl.rem(750px);

            &--wcag {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}
