@use "../../../core/jkl";

@mixin _underline-gradient($color) {
    background-image: linear-gradient(to bottom, $color 0%, $color 100%);
}

$_link-underline-thickness: jkl.rem(1px);
$_link-underline-thickness--focus: jkl.rem(2px);

.jkl-link {
    --link-color: var(--jkl-color-text-default);

    color: var(--link-color);
    outline: none;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    gap: jkl.rem(1.5px);

    &__content {
        background-position: 0
            calc(
                100% -
                    (
                        #{$_link-underline-thickness--focus} - #{$_link-underline-thickness}
                    )
            );
        background-size: $_link-underline-thickness $_link-underline-thickness;
        background-repeat: repeat-x;

        @include jkl.motion("standard", "energetic");
        transition-property: color;

        @include _underline-gradient(var(--link-color));
    }

    &:hover:not(:focus) {
        --link-color: var(--jkl-color-text-subdued);
    }

    &:focus-visible {
        @include jkl.focus-outline($offset: 0);
    }

    @include jkl.forced-colors-mode {
        outline: revert;
        text-decoration: revert;
    }
}
