@use "../../../core/jkl";

@mixin _underline-gradient($color) {
    background-image: linear-gradient(to bottom, $color 0%, $color 100%);
}

$_link-underline-thickness: jkl.rem(1px);
$_link-underline-thickness--focus: jkl.rem(2px);

.jkl-link {
    color: var(--jkl-color-text-default);
    outline: none;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    gap: jkl.rem(1.5px);

    background-position: 0
        calc(
            100% -
                (
                    #{$_link-underline-thickness--focus} - #{$_link-underline-thickness}
                )
        );
    background-size: $_link-underline-thickness $_link-underline-thickness;
    background-repeat: repeat-x;

    transition-property: color;
    @include jkl.motion("standard", "energetic");

    @include _underline-gradient(var(--jkl-color-text-default));

    &:hover:not(:focus) {
        color: var(--jkl-color-text-subdued);
        @include _underline-gradient(var(--jkl-color-text-subdued));
    }

    &:hover {
        @include _underline-gradient(var(--jkl-color-text-subdued));
    }

    &:focus-visible {
        @include jkl.focus-outline($offset: 0);
    }

    &:active {
        background-position: 0
            calc(
                100% -
                    (
                        #{$_link-underline-thickness--focus} - #{$_link-underline-thickness}
                    )
            );
    }

    @include jkl.forced-colors-mode {
        outline: revert;
        text-decoration: revert;
    }
}
