@use "../../../core/jkl";

.jkl-nav-link {
    color: var(--jkl-color-text-default);

    box-sizing: border-box;
    font-weight: jkl.$typography-weight-normal;
    text-decoration: none;
    position: relative;

    display: inline-flex;
    align-items: center;
    gap: jkl.rem(1.5px);

    @include jkl.reset-outline;

    &:hover:not(:focus) {
        color: var(--jkl-color-text-subdued);
    }

    &:focus-visible {
        @include jkl.focus-outline($offset: 0);
    }

    &:focus-visible,
    &:hover:not(:focus) {
        .jkl-nav-link__icon {
            transform: translateX(0.3rem);
        }
    }

    &__icon {
        @include jkl.motion;
        transition-property: transform;
    }

    &--active {
        @include jkl.no-grow-bold;
    }

    // Unngå at border ved tastaturfokus "kapper" pila
    $arrow-spacing: 0.15rem;
    padding-right: $arrow-spacing;
    margin-right: -#{$arrow-spacing};

    &--back {
        padding-right: 0;
        margin-right: 0;
        padding-left: $arrow-spacing;
        margin-left: -#{$arrow-spacing};

        &:focus-visible,
        &:hover:not(:focus) {
            .jkl-nav-link__icon {
                padding-left: 0;
                transform: translateX(-0.3rem);
            }
        }
    }
}
