@use "~@fremtind/jkl-core/jkl";

.jkl-portal-delay-text {
    font-size: 12vw;
    display: flex;
    align-items: center;
    max-width: 85vw;
    box-sizing: border-box;
    height: calc(100vh - 96px);

    &__content {
        box-sizing: border-box;
        padding-top: jkl.$spacing-2xl;
        padding-left: 5vw;
        height: 100%;
        width: 100%;

        &::after {
            @include jkl.decorative($content: "_");
            opacity: 1;
        }

        &--done {
            &::after {
                @include jkl.motion("exit");
                transition-property: opacity;
                opacity: 0;
            }
        }
    }
}
