@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/mixins/_motion.scss";

.jkl-portal__delay-text {
    font-size: 12vw;
    display: flex;
    align-items: center;
    max-width: 85vw;
    box-sizing: border-box;
    height: calc(100vh - 96px);

    &--hidden {
        display: none;
    }

    &__underscore {
        &:after {
            opacity: 1;
            content: "_";
            @include motion("exit");
            transition-property: opacity;
        }

        &--hidden {
            &:after {
                opacity: 0;
            }
        }
    }

    &__content {
        box-sizing: border-box;
        padding-top: $layout-spacing--large;
        padding-left: 5vw;
        height: 100%;
        width: 100%;
    }

    &__content-text {
        opacity: 1;
        @include motion("exit");
        transition-property: opacity;

        &--hidden {
            opacity: 0;
        }
    }

    &__children {
        animation: fade-in 0.75s cubic-bezier(0, 0, 0.07, 0.99);
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(10vh);
        }

        to {
            opacity: 1;
            transform: translate(0);
        }
    }
}
