@use "sass:string";
@use "../../../core/jkl";
@use "../../input-panel/styles/input-panel";

$_radio-panel-dot-animation-name: jkl-dot-in-#{string.unique-id()};

@layer jokul.components {
    .jkl-radio-panel .jkl-radio-button {
        /* Visuell justering pga. rundt ikon */
        margin-inline-start: -0.15em;
    }
}
