@use "../../../core/jkl/" as jkl;
@use "sass:string";

$_radio-panel-dot-animation-name: jkl-dot-in-#{string.unique-id()};

@keyframes #{$_radio-panel-dot-animation-name} {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.jkl-radio-panel {
    --outer-border-color: var(--jkl-color-border-input);
    --outer-border-thickness: #{jkl.rem(1px)};
    --dot-color: transparent;
    --ring-color: transparent;

    outline: var(--outer-border-thickness) solid var(--outer-border-color);
    border-radius: 4px;
    padding-left: jkl.rem(16px);

    cursor: pointer;

    &__label {
        display: grid;
        grid-template-columns: min-content fit-content(30%) 1fr;
        align-items: center;
        gap: jkl.rem(8px);
        cursor: pointer;
    }

    &__input {
        opacity: 0;
        position: absolute;
        top: -6px;
    }

    /* The ring */
    &__dot {
        cursor: pointer;

        display: inline-block;
        position: relative;

        height: jkl.rem(24px);
        width: jkl.rem(24px);
        border-radius: 50%;
        border: jkl.rem(1px) solid var(--jkl-color-border-action);
        background-color: var(--ring-color);

        transition-property: background-color, outline;
        @include jkl.motion;

        /* The dot */
        &::after {
            content: "";

            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            scale: 1;

            height: jkl.rem(16px);
            width: jkl.rem(16px);
            border-radius: 50%;
            background-color: var(--dot-color);

            transition-property: transform;
            @include jkl.motion;
        }

        @include jkl.forced-colors-mode {
            border: 1px solid ButtonText;
        }
    }

    &__input:checked + &__dot {
        &::after {
            animation: $_radio-panel-dot-animation-name jkl.timing("productive") ease;
        }
    }

    &__main-label {
        padding-block: jkl.rem(24px);
    }

    &__extra-label {
        margin-left: jkl.rem(16px);
        align-self: stretch;

        margin-right: jkl.rem(16px);

        > :first-child {
            padding-right: jkl.rem(16px);
        }

        &--text {
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    &__content {
        display: none;
        cursor: default;
        padding-right: jkl.rem(24px);

        &[data-alwaysOpen="true"],
        .jkl-radio-panel:has(:checked) &[data-open="true"] {
            margin-bottom: 24px;
            display: block;
        }
    }

    &:has(:checked),
    &:has(:focus-visible),
    &:hover {
        --outer-border-color: var(--jkl-color-border-separator-hover);
        --outer-border-thickness: #{jkl.rem(2px)};
    }

    &:has(:checked) {
        --dot-color: var(--jkl-color-border-action);
    }

    [aria-invalid="true"] & {
        --ring-color: var(--jkl-color-background-alert-error);
    }

    [aria-invalid="true"] &:has(:checked) {
        --dot-color: var(--jkl-color-text-on-alert);
    }
}
