@charset "UTF-8";
@use "sass:color";
@use "sass:math";
@use "../../../styles/jkl";

@layer jokul.components {
    .jkl-select {
        &__native-visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            white-space: nowrap;
            border: 0;
        }

        &__trigger {
            appearance: none;
            border: 1px solid var(--jkl-color-border-default);
            background: var(--jkl-color-background-container);
            padding: var(--jkl-unit-15);
            min-width: 12ch;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: var(--jkl-border-radius-s);

            &::after {
                content: "arrow_downward";
                margin-inline-start: var(--jkl-unit-15);
                font-family: var(--jkl-font-family-icons);
            }
        }

        &__dropdown__search {
            margin-block-end: var(--jkl-unit-15);
            max-width: 100%;
        }

        &__dropdown__listbox__option {
            display: grid;
            grid-template-columns: 16px 1fr 48px;
            align-items: center;
            column-gap: var(--jkl-unit-20);
            padding: var(--jkl-unit-10);
            box-sizing: border-box;
            border-radius: var(--jkl-border-radius-s);
            cursor: pointer;

            input {
                position: absolute;
                opacity: 0;
                width: 1px;
                height: 1px;
            }

            &::before {
                font-family: var(--jkl-font-family-icons);
                content: "";
                grid-column: 1;
            }

            &:hover {
                background: var(--jkl-color-background-container-accent);
            }

            &:has(input:checked) {
                background: var(--jkl-color-background-container-accent);
                font-weight: var(--jkl-font-weight-bold);

                &::before {
                    content: "check";
                }
            }

            &__text > span {
                display: block;
            }

            &__media {
                width: 100%;
                height: 100%;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
