@use "../../jkl";

.jkl-portal-spacing-example-table {
    border: 0;
    width: 100%;
    max-width: jkl.rem(768px);

    &__data,
    &__header {
        padding: jkl.$spacing-xs;
        @include jkl.text-style("small");
        text-align: left;
        vertical-align: top;
        border-bottom: jkl.rem(1px) solid;
        box-sizing: border-box;

        &:nth-of-type(1) {
            width: 30%;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            width: 35%;
        }
    }

    &__header {
        font-weight: jkl.$typography-weight-bold;
        border-bottom-color: jkl.$color-granitt;
        min-height: jkl.rem(40px);
    }

    &__data {
        border-bottom-color: jkl.$color-stein;
        padding-bottom: jkl.$spacing-m;
        min-height: jkl.rem(48px);
    }

    @include jkl.small-device {
        &__header,
        &__data {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                width: initial;
            }
        }

        &__header {
            display: none;
        }

        &__data {
            display: flex;
            align-items: center;
            text-align: end;
            justify-content: space-between;

            &::before {
                content: attr(data-header);
                margin-right: jkl.$spacing-s;
            }

            &:first-of-type::before {
                font-weight: jkl.$typography-weight-bold;
            }
        }

        &__row {
            display: block;

            &:not(:last-of-type) {
                margin-bottom: jkl.$spacing-xl;
            }
        }
    }

    *[data-theme="dark"] & {
        &__header {
            border-bottom-color: jkl.$color-snohvit;
        }
    }
}
