@import "../../variables/all";
@import "../../functions";

.jkl-portal-spacing-example-table {
    border: 0;
    width: 100%;
    max-width: rem(768px);

    &__data,
    &__header {
        padding: $component-spacing--small;
        @include jkl-text-style("desktop/small");
        text-align: left;
        vertical-align: top;
        border-bottom: rem(1px) solid;
        box-sizing: border-box;

        &:nth-of-type(1) {
            width: 30%;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
            width: 35%;
        }
    }

    &__header {
        font-weight: $bold-weight;
        border-bottom-color: $svart;
        min-height: rem(40px);
    }

    &__data {
        border-bottom-color: $gra-50;
        padding-bottom: $component-spacing--large;
        min-height: rem(48px);
    }

    @include small-device {
        &__header,
        &__data {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                width: initial;
            }
        }

        &__header {
            display: none;
        }

        &__data {
            display: flex;
            align-items: center;
            text-align: end;
            justify-content: space-between;

            &::before {
                content: attr(data-header);
                margin-right: $component-spacing--medium;
            }

            &:first-of-type::before {
                font-weight: $bold-weight;
            }
        }

        &__row {
            display: block;

            &:not(:last-of-type) {
                margin-bottom: $layout-spacing--medium;
            }
        }
    }

    *[data-theme="dark"] & {
        &__header {
            border-bottom-color: $hvit;
        }
    }
}
