@import "~@fremtind/jkl-core/core.scss";
@import "~@fremtind/jkl-card/card.scss";
@import "~@fremtind/jkl-button/button.scss";

.jkl-card__media {
    width: 100%;
}

.clickable {
    text-decoration: none;
    color: $svart;
}
