@mixin flex($align-items: center, $justify-content: center) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin position($position, $top: initial, $left: initial, $right: initial, $bottom: initial) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin compactMode {
    &--compact,
    *[data-compactlayout] & {
        @content;
    }
}

@mixin removeOutline {
    /* Remove the inner border and padding in Firefox */
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    /* Remove dotted lines around object, especially for firefox */
    a:hover,
    a:active,
    a:focus,
    a:link,
    a:visited {
        outline: 0;
        outline: 0 !important;
        outline-style: none;
    }

    button,
    object,
    embed {
        outline: 0;
    }

    /* All Input elements */
    input::-moz-focus-inner {
        outline: 0;
    }

    /* Or more specifically*/
    input[type="submit"]::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner {
        outline: 0;
    }
}
