@use "sass:string";
@use "../variables/typography";

@mixin light-mode-variables {
    @media screen and (prefers-color-scheme: light) {
        :root {
            @content;
        }
    }

    [data-theme="light"] {
        @content;
    }
}

@mixin dark-mode-variables {
    @media screen and (prefers-color-scheme: dark) {
        :root {
            @content;
        }
    }

    [data-theme="dark"] {
        @content;
    }
}

@mixin flex($align-items: center, $justify-content: center) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin position($position, $top: initial, $left: initial, $right: initial, $bottom: initial) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

///
/// Makes text bold without changing the space it takes up on screen.
/// Not perfect for all lengths of text, but close enough!
///
@mixin no-grow-bold {
    font-weight: typography.$weight-bold;
    letter-spacing: -0.014em;
}

@mixin compact-mode {
    &--compact,
    *[data-compactlayout] & {
        @content;
    }
}

@mixin reset-outline {
    outline: 0;
    border-style: none;
    outline-style: none;

    &::-moz-focus-inner {
        border-style: none;
        outline: 0;
    }

    &:active,
    &:hover,
    &:focus,
    &:link,
    &:visited {
        outline: 0 !important;
        outline-style: none;
    }

    /* Remove the inner border and padding in Firefox */
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
    }

    /* Remove dotted lines around object, especially for firefox */
    a:hover,
    a:active,
    a:focus,
    a:link,
    a:visited {
        outline: 0 !important;
        outline-style: none;
    }

    button,
    object,
    embed {
        outline: 0;
    }

    /* All Input elements */
    input::-moz-focus-inner {
        outline: 0;
    }

    /* Or more specifically */
    input[type="submit"]::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner {
        outline: 0;
    }
}

///
/// Removes increment and decrement buttons
/// for number input fields.
///
@mixin remove-inner-outer-button {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}
