@mixin chevron($size, $color, $weight: 0.125rem, $rotate: 0, $state: closed) {
    box-sizing: border-box;
    width: $size;
    height: $size;

    transform-origin: 26.33% 73.66%; // places origin in center of chevron
    transform: rotate((-45 + $rotate) * 1deg); // default orientation is pointing down

    border-left: $weight solid $color;
    border-bottom: $weight solid $color;
    transition: transform 400ms ease; // TODO: use motion library when implemented
}
