@use "../variables/breakpoints";

/*
    Mixin to simplify media queries.
    Max value is _exclusive_ (value will be max - 1px).

    Usage:
    ```css
    .class {
        @include screen-between(42px, 420px) {
            display: none;
        }
    }
    ```
*/
@mixin screen-between($min, $max) {
    @media (min-width: $min) and (max-width: #{$max - 1px}) {
        @content;
    }
}

/*
    Mixin to simplify media queries

    Usage:
    ```css
    .class {
        @include screen-from(42px) {
            display: none;
        }
    }
    ```
*/
@mixin screen-from($min) {
    @media (min-width: $min) {
        @content;
    }
}

/*
    Mixin to simplify media queries

    Usage:
    ```css
    .class {
        @include screen-to(42px) {
            display: none;
        }
    }
    ```
*/
@mixin screen-to($max) {
    @media (min-width: 0) and (max-width: #{$max - 1px}) {
        @content;
    }
}

/*
    Mixins to simplify media queries

    Usage:
    ```css
    .class {
        @include small-device {
            display: none;
        }
    }
    ```
*/
@mixin small-device {
    @media (min-width: 0) and (max-width: #{breakpoints.$breakpoint--medium - 1px}) {
        @content;
    }
}

@mixin medium-device {
    @media (min-width: #{breakpoints.$breakpoint--medium}) and (max-width: #{breakpoints.$breakpoint--large - 1px}) {
        @content;
    }
}

@mixin from-medium-device {
    @media (min-width: #{breakpoints.$breakpoint--medium}) {
        @content;
    }
}

@mixin large-device {
    @media (min-width: #{breakpoints.$breakpoint--large}) and (max-width: #{breakpoints.$breakpoint--xl - 1px}) {
        @content;
    }
}
@mixin from-large-device {
    @media (min-width: #{breakpoints.$breakpoint--large}) {
        @content;
    }
}

@mixin xl-device {
    @media (min-width: #{breakpoints.$breakpoint--xl}) {
        @content;
    }
}
