@use "sass:string";
@use "sass:map";
@use "../variables";
@use "screens";

$_text-styles: (
    "title": (
        "small-screen": (
            "font-size": variables.$typography-font-size-9,
            "line-height": variables.$typography-line-height-5,
            "font-weight": variables.$typography-weight-normal,
        ),
        "large-screen": (
            "font-size": variables.$typography-font-size-10,
            "line-height": variables.$typography-line-height-6,
            "font-weight": variables.$typography-weight-normal,
        ),
    ),
    "heading-1": (
        "small-screen": (
            "font-size": variables.$typography-font-size-7,
            "line-height": variables.$typography-line-height-3,
            "font-weight": variables.$typography-weight-normal,
        ),
        "large-screen": (
            "font-size": variables.$typography-font-size-9,
            "line-height": variables.$typography-line-height-5,
            "font-weight": variables.$typography-weight-normal,
        ),
    ),
    "heading-2": (
        "small-screen": (
            "font-size": variables.$typography-font-size-5,
            "line-height": variables.$typography-line-height-3,
            "font-weight": variables.$typography-weight-normal,
        ),
        "large-screen": (
            "font-size": variables.$typography-font-size-8,
            "line-height": variables.$typography-line-height-4,
            "font-weight": variables.$typography-weight-normal,
        ),
    ),
    "heading-3": (
        "small-screen": (
            "font-size": variables.$typography-font-size-4,
            "line-height": variables.$typography-line-height-2,
            "font-weight": variables.$typography-weight-bold,
        ),
        "large-screen": (
            "font-size": variables.$typography-font-size-6,
            "line-height": variables.$typography-line-height-3,
            "font-weight": variables.$typography-weight-bold,
        ),
    ),
    "heading-4": (
        "small-screen": (
            "font-size": variables.$typography-font-size-2,
            "line-height": variables.$typography-line-height-1,
            "font-weight": variables.$typography-weight-bold,
        ),
        "large-screen": (
            "font-size": variables.$typography-font-size-4,
            "line-height": variables.$typography-line-height-2,
            "font-weight": variables.$typography-weight-bold,
        ),
    ),
    "heading-5": (
        "small-screen": (
            "font-size": variables.$typography-font-size-1,
            "line-height": variables.$typography-line-height-1,
            "font-weight": variables.$typography-weight-bold,
        ),
        "large-screen": (
            "font-size": variables.$typography-font-size-1,
            "line-height": variables.$typography-line-height-1,
            "font-weight": variables.$typography-weight-bold,
        ),
    ),
    "body": (
        "small-screen": (
            "font-size": variables.$typography-font-size-2,
            "line-height": variables.$typography-line-height-2,
            "font-weight": variables.$typography-weight-normal,
        ),
        "large-screen": (
            "font-size": variables.$typography-font-size-3,
            "line-height": variables.$typography-line-height-3,
            "font-weight": variables.$typography-weight-normal,
        ),
    ),
    "small": (
        "small-screen": (
            "font-size": variables.$typography-font-size-1,
            "line-height": variables.$typography-line-height-1,
            "font-weight": variables.$typography-weight-normal,
        ),
        "large-screen": (
            "font-size": variables.$typography-font-size-1,
            "line-height": variables.$typography-line-height-1,
            "font-weight": variables.$typography-weight-normal,
        ),
    ),
);

/// Gir deg responsive font-size, line-height og font-weight basert på navnet på typografien.
/// Du kan overstyre standardverdier ved å bruke `@content`. Dette er ment som en "escape hatch".
/// Ikke tukle med typografiskalaen med mindre du har en god grunn til det.
/// @content Plasseres alltid etter mixinen har satt sine verdier, slik at du kan velge å overstyre deler av dem.
/// @example
///     .class {
///         @include jkl.text-style("body");
///     }
/// @example
///     .bold {
///         @include jkl.text-style("body") {
///             font-weight: jkl.$typography-weight-bold;
///         }
///     }
@mixin text-style($style-name) {
    // Separate style/variant into style and variant variables:
    $start-index: string.index($style-name, "/") or 0;
    $end-index: string.index($style-name, "/") or 9999999;
    $style: string.slice($style-name, 0, $start-index - 1);
    $variant: string.slice($style-name, $end-index + 1);

    @if map.has-key($_text-styles, $style) {
        $variants: map.get($_text-styles, $style);

        @if string.length($variant) == 0 {
            @each $property, $value in map.get($variants, "small-screen") {
                #{$property}: $value;
            }
            @content;
            @include screens.from-medium-device {
                @each $property, $value in map.get($variants, "large-screen") {
                    #{$property}: $value;
                }
                @content;
            }
        } @else {
            @if map.has-key($variants, $variant) {
                @each $property, $value in map.get($variants, $variant) {
                    #{$property}: $value;
                }
                @content;
            } @else {
                @error "The text style #{$style} has no variant called #{$variant}. Try one of these: #{map.keys(map.get($new-text-styles, $style))}";
            }
        }
    } @else {
        @error "No text style with the name #{$style} was found. Try one of these: #{map.keys($new-text-styles)}";
    }
}
