.componentFilterToolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--jkl-spacing-40);

    .category {
        display: flex;
        flex-wrap: wrap;
        gap: var(--jkl-spacing-8);
    }
}