@use "../../jkl";

@import "../../variables/all";
@import "../../mixins/all";

.jkl-typography-example-table {
    border: 0;
    width: 100%;
    max-width: rem(768px);

    &__data,
    &__header {
        padding: $component-spacing--small;
        @include jkl.typography-text-style("body");
        text-align: left;
        vertical-align: top;
        border-bottom: rem(1px) solid;
        box-sizing: border-box;
    }

    &__header {
        font-weight: jkl.$typography-weight-bold;
        border-bottom-color: $granitt;
        min-height: rem(40px);
    }

    &__data {
        border-bottom-color: $stein;
        padding-bottom: $component-spacing--large;
        min-height: rem(48px);
    }

    @include small-device {
        &__header {
            display: none;
        }

        &__data {
            display: flex;
            align-items: center;
            text-align: end;
            justify-content: space-between;

            &::before {
                content: attr(data-header);
                margin-right: $layout-spacing--medium;
            }

            &:first-of-type::before {
                font-weight: jkl.$typography-weight-bold;
            }
        }

        &__row {
            display: block;

            &:not(:last-of-type) {
                margin-bottom: $layout-spacing--medium;
            }
        }
    }
}

@each $variant in ("small-screen", "large-screen") {
    .force-#{$variant} {
        .jkl-title {
            @include jkl.typography-text-style("title/#{$variant}");
        }
        .jkl-heading-1 {
            @include jkl.typography-text-style("heading-1/#{$variant}");
        }
        .jkl-heading-2 {
            @include jkl.typography-text-style("heading-2/#{$variant}");
        }
        .jkl-heading-3 {
            @include jkl.typography-text-style("heading-3/#{$variant}");
        }
        .jkl-heading-4 {
            @include jkl.typography-text-style("heading-4/#{$variant}");
        }
        .jkl-heading-5 {
            @include jkl.typography-text-style("heading-5/#{$variant}");
        }
        .jkl-body {
            @include jkl.typography-text-style("body/#{$variant}");
        }
        .jkl-small {
            @include jkl.typography-text-style("small/#{$variant}");
        }
    }
}
