@use "../../jkl";

.jkl-typography-example-table {
    border: 0;
    width: 100%;
    max-width: jkl.rem(768px);

    &__data,
    &__header {
        padding: jkl.$spacing-xs;
        text-align: left;
        vertical-align: top;
        border-bottom: jkl.rem(1px) solid;
        box-sizing: border-box;

        @include jkl.text-style("body");
    }

    &__header {
        font-weight: jkl.$typography-weight-bold;
        border-bottom-color: jkl.$color-granitt;
        min-height: jkl.rem(40px);
    }

    &__data {
        border-bottom-color: jkl.$color-stein;
        padding-bottom: jkl.$spacing-m;
        min-height: jkl.rem(48px);
    }

    @include jkl.small-device {
        &__header {
            display: none;
        }

        &__data {
            display: flex;
            align-items: center;
            text-align: end;
            justify-content: space-between;

            &::before {
                content: attr(data-header);
                margin-right: jkl.$spacing-xl;
            }

            &:first-of-type::before {
                font-weight: jkl.$typography-weight-bold;
            }
        }

        &__row {
            display: block;

            &:not(:last-of-type) {
                margin-bottom: jkl.$spacing-xl;
            }
        }
    }
}

@each $variant in ("small-screen", "large-screen") {
    .force-#{$variant} {
        .jkl-title {
            @include jkl.text-style("title/#{$variant}");
        }

        .jkl-title-small {
            @include jkl.text-style("title-small/#{$variant}");
        }

        .jkl-heading-1 {
            @include jkl.text-style("heading-1/#{$variant}");
        }

        .jkl-heading-2 {
            @include jkl.text-style("heading-2/#{$variant}");
        }

        .jkl-heading-3 {
            @include jkl.text-style("heading-3/#{$variant}");
        }

        .jkl-heading-4 {
            @include jkl.text-style("heading-4/#{$variant}");
        }

        .jkl-heading-5 {
            @include jkl.text-style("heading-5/#{$variant}");
        }

        .jkl-body {
            @include jkl.text-style("body/#{$variant}");
        }

        .jkl-small {
            @include jkl.text-style("small/#{$variant}");
        }
    }
}
