@use "@fremtind/jokul/styles/core/jkl";

.header {
    .backLink {
        display: inline-block;
        font-size: var(--jkl-font-size-2);
        margin-block-end: var(--jkl-spacing-40);
        padding-inline-start: var(--jkl-spacing-10);
    }

    .title,
    .description,
    .date {
        margin-block-end: var(--jkl-spacing-24);
    }

    .date {
        @include jkl.text-style("text-small") {
            @include jkl.use-font-family("Fremtind Grotesk Mono");
            color: var(--jkl-color-text-subdued);
        }
    }
}
