@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-component-example {
    background-color: $gra-20;
    padding: $component-spacing--medium;
    display: flex;
    flex-direction: row;
    max-width: 70%;

    &__example-wrapper {
        width: 100%;
        background-color: $hvit;
        position: relative;
        padding: $layout-spacing--large $component-spacing--large;

        &:before {
            content: "Komponent";
            @include jkl-text-style("desktop/micro");
            position: absolute;
            top: $component-spacing--large;
            left: $component-spacing--large;
        }
    }

    &__example-options {
        padding: $component-spacing--medium $component-spacing--xl;
    }

    *[data-theme="dark"] & {
        background-color: $gra-90;
    }
}
