@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$controls-width: rem(300px);

.buttons-example {
    position: relative;
    background-color: #f8f8f8;
    box-shadow: inset 0 0 0 rem(1px) #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $layout-spacing--xl $layout-spacing--small;
    padding-right: $controls-width + $layout-spacing--small;
    user-select: none;

    &:before {
        content: "Eksempel";
        color: $svart;
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        @include h5-heading;
        margin-bottom: $component-spacing--large;
    }

    &__controls {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: $controls-width;
        box-sizing: border-box;

        background-color: #f8f8f8;
        color: $svart;
        box-shadow: inset 0 0 0 rem(1px) #b8b8b8;

        padding: $component-spacing--xl;
    }

    & > .portal-example-button + .portal-example-button {
        margin: 0;
        margin-left: $layout-spacing--medium;
    }

    &--inverted {
        background-color: $svart;
        color: $hvit;
    }

    @include small-device {
        flex-direction: column;
        & > .portal-example-button + .portal-example-button {
            margin: 0;
            margin-top: $layout-spacing--medium;
        }
    }
}
