@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-button-example {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    > *:not(:last-child) {
        margin-bottom: 2rem;
    }
}
