.jkl-button-example {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > *:not(:last-child) {
        margin-bottom: 2rem;
    }
}
