/* stylelint-disable color-named */
@use "@fremtind/jokul/styles/core/jkl";

.header, .footer {
    --padding: var(--jkl-unit-20);

    @media (width >=940px) {
        --padding: var(--jkl-spacing-64);
    }
}

.header {
    background-color: var(--jkl-color-background-page-variant);
    margin-inline: calc(50% - 50vw);
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 2;
}

.headerContent {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-inline: auto;
    max-width: var(--max-width);
    min-height: var(--portal-header-height);
    padding: var(--padding);
    width: 100%;

    p {
        justify-self: end;
    }

    .logo {
        @include jkl.text-style("heading-2");
        max-width: max-content;

        > span {
            text-decoration: none;
            border: 0;
        }
    }

    @media (width >=940px) {
        padding-block: var(--jkl-spacing-24);

        p {
            justify-self: start;
        }
    }
}

.footer {
    padding-block: var(--jkl-unit-30) var(--jkl-unit-60);
    margin-inline: var(--padding);
    border-block-start: 1px solid var(--jkl-color-border-separator);

    ul {
        padding-inline-start: 0;
    }
}
