@import "~@fremtind/jkl-core/variables/_all.scss";

.portal-content {
    display: grid;
    grid-template-columns: 276px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main"
        "sidebar main";

    &__header {
        grid-area: header;
        position: fixed;
        width: 100%;
    }

    &__sidebar {
        grid-row: sidebar;
        background-color: $varde;
        position: fixed;
        width: 276px;
        top: 96px;
    }

    &__main {
        grid-column: main;
        margin-top: 96px;
    }
}
