@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

.jkl-portal {
    @include motion("standard");
    transition-property: color;
    transition-delay: 150ms;
    color: $svart;
    display: grid;
    grid-template:
        "header header" 96px
        "sidebar main" auto / rem(375px) 1fr;

    &__header {
        grid-area: header;
        position: fixed;
        width: 100%;
    }

    &__sidebar {
        grid-row: sidebar;
        background-color: $varde;
        position: fixed;
        width: rem(400px);
    }

    &__main {
        grid-column: main;
        padding-top: $layout-spacing--large;
        padding-bottom: $layout-spacing--xxl;
        padding-right: $layout-spacing--xl;
        padding-left: $layout-spacing--small;

        &--frontpage {
            grid-column: sidebar / span 2;
        }
    }

    &[data-theme="dark"] {
        color: $gra-10;
    }
}
