@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$portal-max-width: 1200px;

/* This is the main container (@reach/router within gatsby wrapper) */
#___gatsby > div[role="group"][tabindex] {
    display: grid;
    grid-template-columns: 1fr;
}

.portal-content {
    box-sizing: border-box;
    padding: $layout-spacing--xxl $layout-spacing--xl;
    max-width: $portal-max-width;

    @include small-device {
        padding: $layout-spacing--xxl $layout-spacing--small;
    }

    &--component-page {
        max-width: 100vw;
        padding: $layout-spacing--xxl 0 0;
        @include small-device {
            padding-top: $layout-spacing--xl;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: $layout-spacing--medium;
        max-width: 100vw;
        @include small-device {
            flex-direction: column;
            margin-bottom: $layout-spacing--small;
            align-items: flex-start;
        }
    }

    &__title {
        padding: 0 $layout-spacing--small 0 $layout-spacing--large;
        @include small-device {
            padding: 0 $component-spacing--large;
        }
    }
    &__main {
        padding: 0 $layout-spacing--large;
        & > * {
            max-width: $portal-max-width;
        }
        @include small-device {
            padding: 0 $layout-spacing--small;
        }
    }
    &__code-link {
        margin: 0 $component-spacing--large $layout-spacing--small;
        display: inline-block;
        outline: none;
        border: none;
        @include small-device {
            margin: 0 $component-spacing--large;
        }
    }
    &__code-link-text {
        position: absolute;
        left: -10000px;
        top: auto;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
}

.portal-component-only {
    width: 100vw;
    & > :nth-child(n + 2) {
        display: none;
    }
}
