@use "sass:color";
@use "sass:math";
@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

$_combobox-focus-color: jkl.$color-granitt;
$_combobox-search-input-selection-color: color.scale(
    $color: $_combobox-focus-color,
    $alpha: -80%,
);

$_combobox-focus-color--inverted: jkl.$color-snohvit;
$_combobox-search-input-selection-color--inverted: color.scale(
    $color: $_combobox-focus-color--inverted,
    $alpha: -75%,
);

@include jkl.light-mode-variables {
    --jkl-combobox-border-color: #{jkl.$color-stein};
    --jkl-combobox-text-color: #{jkl.$color-granitt};
    --jkl-combobox-background-color: transparent;
    --jkl-combobox-open-color: #{jkl.$color-hvit};
    --jkl-combobox-focus-color: #{$_combobox-focus-color};
    --jkl-combobox-hover-option-color: #{jkl.$color-granitt};
    --jkl-combobox-selected-background: #{jkl.$color-varde};
    --jkl-combobox-hover-option-background-color: #{jkl.$color-sand};
    --jkl-combobox-search-input-selection-color: #{$_combobox-search-input-selection-color};
    --jkl-combobox-search-input-error-selection-color: #{$_combobox-search-input-selection-color};
}

@include jkl.dark-mode-variables {
    --jkl-combobox-border-color: #{jkl.$color-svaberg};
    --jkl-combobox-text-color: #{jkl.$color-snohvit};
    --jkl-combobox-background-color: transparent;
    --jkl-combobox-open-color: #{jkl.$color-svart};
    --jkl-combobox-focus-color: #{$_combobox-focus-color--inverted};
    --jkl-combobox-selected-background: #{jkl.$color-stein};
    --jkl-combobox-hover-option-color: #{jkl.$color-snohvit};
    --jkl-combobox-hover-option-background-color: #{jkl.$color-skifer};
    --jkl-combobox-search-input-selection-color: #{$_combobox-search-input-selection-color--inverted};
    --jkl-combobox-search-input-error-selection-color: #{$_combobox-search-input-selection-color};
}

@include jkl.comfortable-density-variables {
    @include jkl.declare-font-variables("jkl-combobox", "body");

    --jkl-combobox-button-padding: #{jkl.$spacing-8} #{jkl.rem(36px)} #{jkl.$spacing-8} #{jkl.$spacing-8};
    --jkl-combobox-input-height: #{jkl.rem(48px)};
    --jkl-combobox-actions-right: #{jkl.$spacing-8};
    --jkl-combobox-actions-top: 12px;
    --jkl-combobox-line-height: 1.75rem;
    --jkl-combobox-tag-top: 1.5px;
    --jkl-combobox-tag-bottom: 1.5px;
    --jkl-combobox-search-input-padding: var(--jkl-combobox-button-padding);
    --jkl-combobox-native-padding: 0 #{jkl.$spacing-40} 0 #{jkl.$spacing-8};
    --jkl-combobox-option-padding: #{jkl.$spacing-8} #{jkl.$spacing-12};
    --jkl-combobox-option-line-height: 2rem;

    @include jkl.small-device {
        --jkl-combobox-input-height: #{jkl.rem(44px)};
    }
}

@include jkl.compact-density-variables {
    @include jkl.declare-font-variables("jkl-combobox", "small");

    --jkl-combobox-input-height: #{jkl.rem(32px)};
    --jkl-combobox-actions-right: #{jkl.rem(4px)};
    --jkl-combobox-actions-top: 6px;
    --jkl-combobox-tag-top: 1px;
    --jkl-combobox-tag-bottom: 1px;
    --jkl-combobox-button-padding: #{jkl.$spacing-4} #{jkl.$spacing-32} #{jkl.$spacing-4} #{jkl.$spacing-4};
    --jkl-combobox-search-input-padding: #{jkl.$spacing-4} #{jkl.$spacing-8};
    --jkl-combobox-native-padding: #{jkl.$spacing-4} #{jkl.$spacing-24} #{jkl.$spacing-4} #{jkl.$spacing-4};
    --jkl-combobox-option-padding: #{jkl.$spacing-4} #{jkl.$spacing-8};
    --jkl-combobox-option-line-height: 1.5rem;
}

.jkl-combobox {
    position: relative;

    &__wrapper,
    &__wrapper.menu-open {
        position: relative;
        min-width: 7rem;
        width: 15rem;
        max-width: 100%;
        display: flex;
        align-self: flex-start;
        flex-wrap: wrap;
    }

    &__button {
        padding: var(--jkl-combobox-button-padding);
        border-radius: jkl.rem(3px);
        border: jkl.rem(1px) solid var(--jkl-combobox-border-color);
        box-shadow: 0 0 0 jkl.rem(1px) transparent;

        @include jkl.motion;
        transition-property: color, border-color, box-shadow;

        &:focus {
            border-color: var(--jkl-combobox-focus-color);
            color: var(--jkl-combobox-focus-color);
            box-shadow: 0 0 0 jkl.rem(1px) var(--jkl-combobox-focus-color);
            background-color: var(--jkl-combobox-open-color);
        }

        &:hover {
            border-color: var(--jkl-combobox-focus-color);
            box-shadow: 0 0 0 jkl.rem(1px) var(--jkl-combobox-focus-color);

            & ~ .jkl-combobox__arrow {
                transform: translateY(calc(-50% + #{jkl.rem(3px)}));
            }
        }
    }

    &__button.menu-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: var(--jkl-combobox-focus-color);
        background-color: var(--jkl-combobox-open-color);
        box-shadow: 0 0 0 jkl.rem(1px) var(--jkl-combobox-focus-color);

        &:hover ~ .jkl-combobox__arrow {
            transform: translateY(calc(-50% + #{jkl.rem(-3px)}));
        }
    }

    &__search-input {
        border: none;
        outline: none;
        align-self: end;
        flex: 1 1 3ch;
    }

    &__button,
    &__search-input {
        @include jkl.use-font-variables("jkl-combobox");
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: var(--jkl-combobox-background-color);
        color: var(--jkl-combobox-text-color);
        cursor: pointer;
        text-align: left;
        display: flex;
        line-height: var(--jkl-combobox-line-height);

        @include jkl.motion;
        transition-property: color, border-color, box-shadow;
    }

    &__content {
        display: flex;
    }

    &__arrow {
        pointer-events: none;
        transform: translateY(-50%);

        @include jkl.motion;
        transition-property: transform, color;

        @include jkl.forced-colors-svg-fallback($stroke: CanvasText, $fill: CanvasText);
    }

    &__menu {
        @include jkl.motion;
        transition-property: height;
        top: 100%;
        overflow: auto;
        position: absolute;
        z-index: 7000;
        left: jkl.rem(-1px);
        right: jkl.rem(-1px);
        background-color: var(--jkl-combobox-open-color);
        border: jkl.rem(2px) solid var(--jkl-combobox-focus-color);
        border-top: none;
        border-radius: 0 0 jkl.rem(3px) jkl.rem(3px);
        box-sizing: border-box;
        max-height: calc(calc(var(--jkl-combobox-max-shown-options, 5) + 0.5) * var(--jkl-combobox-input-height));
    }

    &__option {
        @include jkl.use-font-variables("jkl-combobox");
        @include jkl.motion;
        display: flex; // avoids wrapping long names "under" the focus arrow
        align-items: center;
        border: 0; // removes native styling
        background-color: inherit;
        color: var(--jkl-combobox-text-color);
        transition-property: color, background-color;
        cursor: pointer;
        padding: var(--jkl-combobox-option-padding);

        button {
            color: inherit;
            background-color: inherit;
            width: 100%;
            border: none;
            text-align: left;
            cursor: inherit;
            padding: 0;
            line-height: var(--jkl-combobox-option-line-height);
        }

        &:focus,
        &:hover {
            color: var(--jkl-combobox-hover-option-color);
            background-color: var(--jkl-combobox-hover-option-background-color);
        }
    }

    &__option.selected {
        justify-content: space-between;
        background-color: var(--jkl-combobox-selected-background);

        &:hover {
            background-color: var(--jkl-combobox-hover-option-background-color);
        }
    }

    &__actions {
        display: flex;
        position: absolute;
        align-items: center;
        right: var(--jkl-combobox-actions-right);
        top: var(--jkl-combobox-actions-top);
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-right: 25px;
    }

    &__tag {
        margin: 1px;
    }
}
