@use "../jkl";

@mixin _demo-box($size, $color: jkl.$color-fjellgra) {
    width: $size;
    height: $size;
    background-color: $color;
    margin: 0.5rem;
}

.demo-wrapper {
    display: flex;
    align-items: flex-start;
}

.demo-spacing--1 {
    @include _demo-box(jkl.$spacing-3xs);
}

.demo-spacing--2 {
    @include _demo-box(jkl.$spacing-2xs);
}

.demo-spacing--3 {
    @include _demo-box(jkl.$spacing-xs);
}

.demo-spacing--4 {
    @include _demo-box(jkl.$spacing-s);
}

.demo-spacing--5 {
    @include _demo-box(jkl.$spacing-m);
}

.demo-spacing--6 {
    @include _demo-box(jkl.$spacing-l);
}

.demo-spacing--7 {
    @include _demo-box(jkl.$spacing-xl);
}

.demo-spacing--8 {
    @include _demo-box(jkl.$spacing-2xl);
}

.demo-spacing--9 {
    @include _demo-box(jkl.$spacing-3xl);
}

.demo-spacing--10 {
    @include _demo-box(jkl.$spacing-4xl);
}
