@import "../variables/_all.scss";

@mixin demo-box($size, $color: $fjellgra) {
    width: $size;
    height: $size;
    background-color: $color;
    margin: 0.5rem;
}

.demo-wrapper {
    display: flex;
    align-items: flex-start;
}

.demo-layout--1 {
    @include demo-box($layout-spacing--small);
}
.demo-layout--2 {
    @include demo-box($layout-spacing--medium);
}
.demo-layout--3 {
    @include demo-box($layout-spacing--large);
}
.demo-layout--4 {
    @include demo-box($layout-spacing--xl);
}
.demo-layout--5 {
    @include demo-box($layout-spacing--xxl);
}

.demo-component--1 {
    @include demo-box($component-spacing--xxs);
}
.demo-component--2 {
    @include demo-box($component-spacing--xs);
}
.demo-component--3 {
    @include demo-box($component-spacing--small);
}
.demo-component--4 {
    @include demo-box($component-spacing--medium);
}
.demo-component--5 {
    @include demo-box($component-spacing--large);
}
.demo-component--6 {
    @include demo-box($component-spacing--xl);
}
.demo-component--7 {
    @include demo-box($component-spacing--xxl);
}
.demo-component--8 {
    @include demo-box($component-spacing--giant);
}
