@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-footer-background-color: #{jkl.$color-svart};
    --jkl-footer-text-color: #{jkl.$color-snohvit};
}
@include jkl.dark-mode-variables {
    --jkl-footer-background-color: #{jkl.$color-hvit};
    --jkl-footer-text-color: #{jkl.$color-granitt};
}

@mixin _footer-height($padding) {
    min-height: calc(jkl.rem(174px) - $padding);
}

.jkl-footer {
    --jkl-logo-color: var(--jkl-footer-text-color);
    --jkl-link-color: var(--jkl-footer-text-color);

    background-color: var(--jkl-footer-background-color);
    color: var(--jkl-footer-text-color);

    display: flex;
    gap: jkl.$spacing-l;
    flex-direction: column;
    justify-content: space-between;
    padding: jkl.$spacing-l;

    @include _footer-height(jkl.$spacing-l);

    @include jkl.from-medium-device {
        gap: jkl.$spacing-xl;
        padding: jkl.$spacing-xl;
        @include _footer-height(jkl.$spacing-xl);
    }

    @include jkl.from-large-device {
        flex-direction: row;
    }

    &__logo {
        $_logo-width: jkl.rem(200px);
        min-width: $_logo-width;
        width: $_logo-width;
        color: inherit;
    }

    &__address {
        @include jkl.text-style("body");
        font-style: normal; // address får vanligvis italic font
        margin-top: jkl.$spacing-l;
    }

    &__links {
        @include jkl.text-style("body");

        color: inherit;

        & ul {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        & ul li {
            display: block;
            margin-bottom: jkl.$spacing-m;

            .jkl-footer > & {
                @include jkl.from-medium-device {
                    display: inline-block;
                    margin-right: jkl.$spacing-l;
                }
            }
        }
    }
}
