html,
body {
    min-height: 100vh;
}

.example {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__wrapper {
        padding: 4rem;

        &--dark {
            background-color: #3d3d3d;
        }
    }
}
