@keyframes spin1 {
    0% {
        transform: rotate(0) scale(0);
    }
    30% {
        transform: rotate(90deg) scale(1);
    }
    60% {
        transform: rotate(180deg) scale(0);
    }
    100% {
        transform: rotate(180deg) scale(0);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(20deg) scale(0);
    }
    10% {
        transform: rotate(20deg) scale(0);
    }
    40% {
        transform: rotate(110deg) scale(1.4);
    }
    70% {
        transform: rotate(200deg) scale(0);
    }
    100% {
        transform: rotate(200deg) scale(0);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(40deg) scale(0);
    }
    20% {
        transform: rotate(40deg) scale(0);
    }
    50% {
        transform: rotate(130deg) scale(1);
    }
    80% {
        transform: rotate(220deg) scale(0);
    }
    100% {
        transform: rotate(220deg) scale(0);
    }
}

$loader-size: 16px;
$loader-color: black;

.jkl-inline-loader {
    display: flex;

    &__1,
    &__2,
    &__3 {
        display: block;
        transform-origin: center;
        background-color: $loader-color;
        height: $loader-size;
        width: $loader-size;
        margin-right: $loader-size * 1.5;
    }

    &__1 {
        animation: spin1 3s linear infinite;
    }
    &__2 {
        animation: spin2 3s linear infinite;
    }
    &__3 {
        animation: spin3 3s linear infinite;
    }
}
