@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$loader-dot-size: rem(18px);
$loader-dot-size--inline: rem(8px);
$loader-spacing: $component-spacing--xxl;
$loader-spacing--inline: $component-spacing--xl;
$loader-animation-properties: 2500ms linear infinite;

$loader-color: jkl.$color-granitt;
$loader-color--inverted: jkl.$color-snohvit;

@include jkl.helper-light-mode-variables {
    --loader-color: #{$loader-color};
}

@include jkl.helper-dark-mode-variables {
    --loader-color: #{$loader-color--inverted};
}

.jkl-loader {
    display: flex;

    &__dot {
        display: block;
        transform-origin: center;
        background-color: $loader-color;
        background-color: var(--loader-color);
        height: $loader-dot-size;
        width: $loader-dot-size;
        animation: $loader-animation-properties;

        &--left {
            animation-name: spin-left;
            margin-right: $loader-spacing * 0.9; // for visual balance
        }
        &--middle {
            animation-name: spin-middle;
            margin-right: $loader-spacing;
        }
        &--right {
            animation-name: spin-right;
        }
    }

    &--inline > .jkl-loader__dot {
        height: $loader-dot-size--inline;
        width: $loader-dot-size--inline;

        &--left {
            margin-right: $loader-spacing--inline * 0.9;
        }
        &--middle {
            margin-right: $loader-spacing--inline;
        }
    }

    &--negative > .jkl-loader__dot {
        background-color: $loader-color--inverted;
    }
}

@keyframes spin-left {
    0% {
        transform: rotate(0) scale(0);
    }
    30% {
        transform: rotate(90deg) scale(1);
    }
    70% {
        transform: rotate(180deg) scale(0);
    }
    100% {
        transform: rotate(180deg) scale(0);
    }
}

@keyframes spin-middle {
    0% {
        transform: rotate(20deg) scale(0);
    }
    10% {
        transform: rotate(20deg) scale(0);
    }
    40% {
        transform: rotate(110deg) scale(1.4);
    }
    85% {
        transform: rotate(200deg) scale(0);
    }
    100% {
        transform: rotate(200deg) scale(0);
    }
}

@keyframes spin-right {
    0% {
        transform: rotate(40deg) scale(0);
    }
    20% {
        transform: rotate(40deg) scale(0);
    }
    50% {
        transform: rotate(130deg) scale(1);
    }
    100% {
        transform: rotate(220deg) scale(0);
    }
}
