@use "sass:string";
@use "~@fremtind/jkl-core/jkl";

$_sweep-animation-name: jkl-sweep-#{string.unique-id()};
$_blink-animation-name: jkl-blink-#{string.unique-id()};

@include jkl.light-mode-variables {
    --jkl-skeleton-element-color: #{jkl.$color-varde};
    --jkl-skeleton-sweeper-color: #{jkl.$color-snohvit};
}

@include jkl.dark-mode-variables {
    --jkl-skeleton-element-color: #{jkl.$color-stein};
    --jkl-skeleton-sweeper-color: #{jkl.$color-granitt};
}

.jkl-skeleton-animation {
    --jkl-skeleton-sweep-duration: 3s;

    position: relative;
    overflow: hidden;

    &::after {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        width: jkl.rem(200px);
        background: linear-gradient(
            89.17deg,
            rgb(249 249 249 / 0%) 0.8%,
            var(--jkl-skeleton-sweeper-color) 50.09%,
            rgb(249 249 249 / 0%) 96.31%
        );
        animation: var(--jkl-skeleton-sweep-duration) ease infinite $_sweep-animation-name;
    }

    @include jkl.small-device {
        width: jkl.rem(150px);
    }

    @include jkl.prefers-reduced-motion {
        &::after {
            background: none; // Skjul gradienten som nå ikke beveger seg
        }
    }

    @include jkl.forced-colors-mode {
        &::after {
            // Vi kan ikke bruke "gradient-trikset" for å skape den samme effekten,
            // så vi må tenke annerledes. Bruk gjennomsiktighet for å indikere at
            // noe skjer. Animasjonen gjøres på jkl-skeleton-element.
            animation: none;
        }
    }

    &--compact::after {
        width: jkl.rem(150px);
    }
}

.jkl-skeleton-element {
    background-color: var(--jkl-skeleton-element-color);

    &--circle {
        border-radius: 50%;
    }

    @include jkl.forced-colors-mode {
        border: 1px solid CanvasText;
        // Vi kan ikke bruke "gradient-trikset" for å skape den samme effekten,
        // så vi må tenke annerledes. Bruk gjennomsiktighet for å indikere at
        // noe skjer.
        animation: 2s ease infinite $_blink-animation-name;
    }
}

.jkl-skeleton-input {
    display: flex;
    flex-direction: column;
    gap: jkl.$spacing-s;

    &__checkbox {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: jkl.$spacing-xs;
    }

    @include jkl.small-device {
        gap: jkl.$spacing-xs;
    }

    &--compact::after {
        gap: jkl.$spacing-xs;
    }
}

.jkl-skeleton-table {
    display: flex;
    flex-direction: column;

    &__header,
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: solid 1px var(--jkl-skeleton-element-color);
    }

    &__header {
        padding: jkl.$spacing-s jkl.$spacing-xs;
    }

    &__row {
        padding: jkl.$spacing-m jkl.$spacing-xs;
    }

    @include jkl.small-device {
        &__header {
            padding: jkl.$spacing-xs jkl.$spacing-2xs;
        }

        &__row {
            padding: jkl.$spacing-s jkl.$spacing-2xs;
        }
    }

    &--compact::after {
        &__header {
            padding: jkl.$spacing-xs jkl.$spacing-2xs;
        }

        &__row {
            padding: jkl.$spacing-s jkl.$spacing-2xs;
        }
    }

    @include jkl.forced-colors-mode {
        // Vi kan ikke bruke "gradient-trikset" for å skape den samme effekten,
        // så vi må tenke annerledes. Bruk gjennomsiktighet for å indikere at
        // noe skjer.
        animation: 2s ease-in-out infinite $_blink-animation-name;
    }
}

@keyframes #{$_sweep-animation-name} {
    0% {
        transform: translateX(calc(0vw - 200px));
    }

    80%,
    100% {
        transform: translateX(calc(100vw + calc(200px * 2)));
    }
}

@keyframes #{$_blink-animation-name} {
    0% {
        opacity: 1;
    }

    40%,
    50% {
        opacity: 0.3;
    }

    70%,
    100% {
        opacity: 1;
    }
}
