@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-code-block {
    position: relative;
    background-color: $sand;
    border-radius: rem(2px);
    width: 100%;
    padding: $component-spacing--medium;
    width: calc(100% - #{$layout-spacing--xxl});
    max-width: 50vw;
    min-width: rem(600px);

    @include small-device {
        width: calc(100% - #{$layout-spacing--medium});
        max-width: 100%;
        min-width: initial;
    }

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        padding: $component-spacing--small;
        background-color: $svart;
        color: $snohvit;
        @include jkl-text-style("desktop/micro");
        text-transform: uppercase;
        content: attr(data-language);
    }

    &__code {
        display: block;
        padding: $component-spacing--xl $component-spacing--large;
        overflow-x: scroll;
    }

    html:not([data-mousenavigation]) &:focus-within {
        box-shadow: 0 0 0 rem(2px) $granitt;
    }

    *[data-theme="dark"] & {
        background-color: $skifer;

        html:not([data-mousenavigation]) &:focus-within {
            box-shadow: 0 0 0 rem(2px) $snohvit;
        }

        &:before {
            background-color: $stein;
            color: $granitt;
        }
    }
}
