@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-text-input/text-input";
@use "~@fremtind/jkl-button/button";

.input-mask-example-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: jkl.$spacing-l;
    align-items: flex-start;

    & > [type="submit"] {
        margin-top: jkl.$spacing-m;
    }
}
