@use "../../../core/jkl";
@use "../../../core/jkl/colors";

@include jkl.comfortable-density-variables {
    --jkl-file-padding: #{jkl.$unit-10};
    --jkl-file-thumbnail-width: #{jkl.$unit-70};
    --jkl-file-thumbnail-max-height: 120px;
    --jkl-file-thumbnail-aspect-ratio: 1;
    --jkl-file-gap: #{jkl.$unit-10} #{jkl.$unit-20};
}

@include jkl.compact-density-variables {
    --jkl-file-padding: #{jkl.$unit-10};
    --jkl-file-thumbnail-width: #{jkl.$unit-50};
    --jkl-file-thumbnail-max-height: 80px;
    --jkl-file-thumbnail-aspect-ratio: 1;
    --jkl-file-gap: #{jkl.$unit-05} #{jkl.$unit-10};
}

.jkl-file {
    --text-color: var(--jkl-color-text-default);
    --border: 1px solid var(--jkl-color-border-separator);
    --border-radius: 2px;

    @include jkl.motion(
        "standard",
        "snappy",
        background-color,
        border-color,
        color
    );

    color: var(--jkl-color-text-default);
    padding: var(--jkl-file-padding);
    border: var(--border);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: var(--jkl-file-thumbnail-width) 1fr auto;
    grid-template-areas: "image text button";
    gap: var(--jkl-file-gap);
    align-items: center;

    &__thumbnail {
        width: 100%;
        aspect-ratio: var(--jkl-file-thumbnail-aspect-ratio);
        object-fit: cover;
        max-height: var(--jkl-file-thumbnail-max-height);
        grid-area: image;
        position: relative;

        &::before {
            content: attr(data-filetype);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: var(--jkl-color-background-container-low);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow: hidden;
            word-break: break-all;
        }
    }

    &__text {
        @include jkl.text-style("small");
        grid-area: text;
        word-break: break-all;
    }

    &__delete {
        aspect-ratio: 1;
        grid-area: button;
    }

    &[class*="--card"] {
        --jkl-file-thumbnail-width: 100%;
        --jkl-file-thumbnail-aspect-ratio: 16/9;

        grid-template-columns: 1fr auto;
        grid-template-areas: "image image"
                                 "text button";
    }

}
