@use "../../../core/jkl";
@use "../../../core/jkl/colors";

@include jkl.comfortable-density-variables {
    --jkl-file-padding: 8px;
    --jkl-file-thumbnail-size: 40px;
    --jkl-file-gap: 4px 12px;
    --jkl-file-font-size: #{jkl.rem(20px)};
    --jkl-file-line-height: #{jkl.$unit-40};
    --jkl-border-radius: 2px;
    --jkl-button-size: 44px;
}

/*@include jkl.compact-density-variables {
    --jkl-file-padding: #{jkl.$unit-30};
    --jkl-file-thumbnail-size: #{jkl.$unit-80};
    --jkl-file-gap: #{jkl.$unit-20};
    --jkl-file-font-size: #{jkl.rem(20px)};
    --jkl-file-line-height: #{jkl.$unit-40};
}*/

[class*="jkl-file"] {
    --bg-color: transparent;
    --bg-color-thumb: var(--jkl-color-background-container-low);
    --border-color: var(--jkl-color-border-separator);
    --border: 1px solid var(--border-color);


    .jkl-file__content {
        @include jkl.motion("entrance", "expressive", background);

        align-items: center;
        justify-content: start;
        gap: var(--jkl-file-gap);
        background: var(--bg-color);
        padding: var(--jkl-file-padding);
        border-radius: var(--jkl-border-radius);
        border: var(--border);
        display: grid;
        box-sizing: border-box;
        position: relative;
        grid-template-columns: var(--jkl-file-thumbnail-size) 1fr auto;

        grid-template-areas:
            "image name button";
    }

    .jkl-file__thumbnail {
        grid-area: image;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:not(:has(img)) {
            background: var(--jkl-color-background-container-low);
            text-transform: uppercase;
        }
    }

    .jkl-file__name {
        grid-area: name;
        word-break: break-all;
        @include jkl.text-style("small");
    }

    .jkl-file__button {
        grid-area: button;
        aspect-ratio: 1;
    }

    &[class*="card"] {
        --jkl-border-radius: 4px;
        --jkl-file-gap: 12px 12px;

        .jkl-file__content {
            grid-template-rows: 120px auto;
            grid-template-columns: 1fr auto;
            grid-template-areas:
                    "image image"
                    "name button";

            button {
                place-self: end;
            }
        }
    }

    &[class*="error"] {
        .jkl-file__content {
            --bg-color: var(--jkl-color-functional-error);
        }

        &,
        a,
        a:hover:not(:focus),
        span,
        button {
            --text-color: var(--jkl-color-text-on-alert);
            --link-color: var(--text-color);
        }
    }

    &[class*="loading"] {
        .jkl-icon {
            animation: linear 2s infinite rotate;

            @keyframes rotate {
                to {
                    rotate: 360deg;
                }
            }

        }
    }
}
