@use "../../../styles/jkl";
@use "../../button/styles";

@layer jokul.components {
    .jkl-file-input {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--jkl-unit-10);

        &__input {
            min-inline-size: 0;
            font: inherit;
            color: inherit;

            &::file-selector-button {
                inline-size: 0;
                margin: 0;
                padding: 0;
                border: 0;
                opacity: 0;
            }
        }

        &--error {
            .jkl-file-input__button {
                border-color: var(--jkl-color-error-border-default);

                .jkl-button__text {
                    color: var(--jkl-color-error-text-default);
                }

                .jkl-icon {
                    color: var(--jkl-color-error-text-default);
                }
            }
        }
    }
}
