@use "~@fremtind/jkl-core/jkl";
@use "./cookies";

$_sidebar-width: rem(375px);

.jkl-portal-footer {
    padding-top: jkl.$spacing-24;

    @include jkl.from-large-device {
        grid-area: footer;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: jkl.$spacing-24;

        &--no-feedback {
            justify-content: flex-end;
        }

        .jkl-feedback {
            max-width: jkl.rem(640px);
        }

        .jkl-message-box {
            max-width: initial;
        }

        @include jkl.medium-device {
            padding: jkl.$spacing-40;
        }

        @include jkl.from-large-device {
            flex-direction: row;
            padding: jkl.$spacing-64;
            padding-left: calc($_sidebar-width + jkl.$spacing-40);
        }
    }

    &__stamp {
        margin-top: -#{jkl.$spacing-24};
        width: jkl.rem(185px);
        height: jkl.rem(185px);
        opacity: 1;
        display: none;

        @include jkl.xl-device {
            display: block;
        }
    }
}
