@use "@fremtind/jkl-core/jkl";
@use "./cookies";

$_sidebar-width: jkl.rem(375px);

@include jkl.light-mode-variables {
    --jkl-footer-background-color: #{jkl.$color-hvit};
}
@include jkl.dark-mode-variables {
    --jkl-footer-background-color: #{jkl.$color-svart};
}

.jkl-footer {
    background-color: var(--jkl-footer-background-color);

    display: flex;
    gap: jkl.$spacing-40;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: jkl.$spacing-40;

    @include jkl.text-style("body");

    @include jkl.from-large-device {
        gap: jkl.$spacing-16;
    }

    &__description {
        display: flex;
        align-items: flex-end;
    }

    &__links {
        &--small-text {
            @include jkl.text-style("body/small-screen");
        }

        & button {
            border: none;
            background-color: inherit;
            padding: 0;
            line-height: normal;
        }

        & ul {
            display: flex;
            flex-wrap: wrap;
            gap: jkl.$spacing-16 jkl.$spacing-32;
            justify-items: flex-end;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        & ul li {
            .jkl-footer > & {
                @include jkl.from-medium-device {
                    display: inline-block;
                }
            }
        }
    }
}

.jkl-portal-footer {
    padding-top: jkl.$spacing-24;

    @include jkl.from-large-device {
        grid-area: footer;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: jkl.$spacing-24;

        &--no-feedback {
            justify-content: flex-end;
        }

        .jkl-feedback {
            max-width: jkl.rem(640px);
        }

        .jkl-message {
            max-width: initial;
        }

        @include jkl.medium-device {
            padding: jkl.$spacing-40;
        }

        @include jkl.from-large-device {
            flex-direction: row;
            padding: jkl.$spacing-64;
            padding-left: calc($_sidebar-width + jkl.$spacing-40);
        }
    }

    &__stamp {
        margin-top: -#{jkl.$spacing-24};
        width: jkl.rem(185px);
        height: jkl.rem(185px);
        opacity: 1;
        display: none;

        @include jkl.xl-device {
            display: block;
        }
    }
}
