@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-button/button.scss";

$header-bg-color: $hvit;
$header-padding: 33px 24px;

.portal-header {
    align-items: center;
    background-color: $header-bg-color;
    display: flex;
    height: 96px;
    justify-content: space-between;
    z-index: 1;
    background-color: $hvit;

    &__title {
        font-size: 21px;
        padding: $header-padding;
    }
    &__link--brand {
        font-weight: 700;
    }
    &__logo {
        float: right;
        width: 40px;
        padding: $header-padding;
    }
}
