@use "@fremtind/jokul/styles/core/core";
@use "@fremtind/jokul/styles/core/jkl/index" as jkl;

@use "@fremtind/jokul/styles/fonts/webfonts";

@use "@fremtind/jokul/styles/components/table/index" as table;
@use "@fremtind/jokul/styles/components/text-input/index" as text-input;
@use "@fremtind/jokul/styles/components/select/index" as select;
@use "@fremtind/jokul/styles/components/icon/index" as icon;
@use "@fremtind/jokul/styles/components/input-group/index" as input-group;
@use "../../components/global-search";

body {
    @include jkl.use-font-family("Fremtind Grotesk");
}

.jkl {
    line-height: jkl.rem(20px);
    font-size: jkl.rem(20px);
}

.field-type.textarea .textarea-element[name*="code"] {
    font-family: monospace;
}

.tab-title-field.field-type.text input {
    font-size: 2rem;
}
