@import "~@fremtind/jkl-core/variables/_spacing.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";

body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $svart;
    color: $snohvit;
}

#app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > * + * {
        margin-top: $layout-spacing--large;
    }
}

.side-by-side {
    width: 100%;
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * + * {
        margin-left: $layout-spacing--medium;
    }
}
