@use "~@fremtind/jkl-core/jkl";

$border-size: jkl.rem(1px);
$focus-ring-width: jkl.rem(2px);

@include jkl.light-mode-variables {
    --table-row-border-color: #{jkl.$color-svaberg};
    --table-row-border-none-color: #{rgba(jkl.$color-svaberg, 0)};
    --table-row-hover-border-color: #{jkl.$color-granitt};
    --table-row-highlight-color: #{jkl.$color-hvit};
}

@include jkl.dark-mode-variables {
    --table-row-border-color: #{jkl.$color-stein};
    --table-row-border-none-color: #{rgba(jkl.$color-stein, 0)};
    --table-row-hover-border-color: #{jkl.$color-snohvit};
    --table-row-highlight-color: #{jkl.$color-svart};
}

.jkl-table-row {
    border-bottom: solid $border-size var(--table-row-border-color);

    thead > & {
        border-bottom: solid $border-size var(--table-row-hover-border-color);
    }

    :not(thead) > & {
        border-top: solid $border-size transparent; // Unngår vertikal shift ved hover i collapsed mobilvisning

        &:hover {
            /*
            * Det er viktig at hover her har double border style i motsetning til default,
            * ellers vinner ikke border-top "spesifisitetskampen" i border-collapse.
            * Under testing i Chrome, Firefox og Safari på macOS ble border fremdeles
            * rendret som solid. ¯\_(ツ)_/¯
            *
            * https://stackoverflow.com/a/36239151
            * https://stackoverflow.com/a/4096554
            * https://www.w3.org/TR/CSS2/tables.html#border-conflict-resolution
            */
            border-top: double $border-size var(--table-row-hover-border-color);
            border-bottom: double $border-size var(--table-row-hover-border-color);
        }
    }

    @mixin responsive-table-head {
        border-bottom: solid $border-size var(--table-row-border-color);
    }

    .jkl-table--collapse-to-list > thead > & {
        @include jkl.small-device {
            @include responsive-table-head;
        }
    }

    .jkl-table--collapse-to-list[data-collapse] > thead > & {
        @include responsive-table-head;
    }

    @mixin responsive-table-row {
        padding-top: jkl.$spacing-s;
        padding-bottom: jkl.$spacing-s;

        &:first-of-type {
            border-top: solid $border-size var(--table-row-border-color);
        }
    }

    .jkl-table--collapse-to-list :not(thead) > & {
        @include jkl.small-device {
            @include responsive-table-row;
        }
    }

    .jkl-table--collapse-to-list[data-collapse] :not(thead) > & {
        @include responsive-table-row;
    }

    .jkl-table--collapse-to-list[data-collapse] :not(thead) > &.jkl-table-row--expandable {
        transition-property: border, padding;
        @include jkl.motion;

        &.jkl-table-row--expanded {
            border-bottom-color: var(--table-row-border-none-color);
        }

        .jkl-table-row-expand-button {
            margin-left: auto;
        }

        &:hover + tr {
            background-color: var(--table-row-highlight-color);

            .jkl-table-row {
                border-bottom-color: var(--table-row-hover-border-color);
            }
        }

        /* stylelint-disable-next-line selector-max-specificity -- selector needs to nest itself to select sub tables with the same properties */
        & + tr & {
            transition-property: border;
            @include jkl.motion;
        }

        & + [aria-hidden="false"] {
            & .jkl-table-row {
                border-top-color: var(--table-row-border-none-color);
            }
        }
    }

    @mixin responsive-table-row--hover {
        /* Tilbakestill hacken som gir riktig border når tabellen ikke har display: block; */
        border-top: solid $border-size var(--table-row-hover-border-color);
        border-bottom: solid $border-size var(--table-row-hover-border-color);
    }

    .jkl-table--collapse-to-list :not(thead) > &:hover {
        @include jkl.small-device {
            @include responsive-table-row--hover;
        }
    }

    .jkl-table--collapse-to-list[data-collapse] :not(thead) > &:hover {
        @include responsive-table-row--hover;
    }

    &--clickable {
        outline: 0;

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
            cursor: pointer;
            background-color: var(--table-row-highlight-color);

            border-top: double $border-size var(--table-row-hover-border-color);
            border-bottom: double $border-size var(--table-row-hover-border-color);
        }

        .jkl-table--collapse-to-list :not(thead) > &:hover {
            @include jkl.small-device {
                @include responsive-table-row--hover;
            }
        }

        .jkl-table--collapse-to-list[data-collapse] :not(thead) > &:hover {
            @include responsive-table-row--hover;
        }
    }

    &--clicked {
        background-color: var(--table-row-highlight-color);

        &.jkl-table-row--expandable + [aria-hidden="false"] {
            background-color: var(--table-row-highlight-color);
        }
    }
}

.jkl-expandable-table-row__expanded-row {
    display: none;
    @include jkl.motion("exit", "expressive");
    transition-property: height;

    &--expanded {
        @include jkl.motion("entrance", "lazy");
        display: block;
    }
}
