@use "~@fremtind/jkl-core/jkl";

@include jkl.comfortable-density-variables {
    @include jkl.declare-font-variables("jkl-table-header", "body");

    --jkl-table-header-padding: 0 #{jkl.$spacing-xs} #{jkl.rem(7px)} #{jkl.$spacing-xs};
}

@include jkl.compact-density-variables {
    @include jkl.declare-font-variables("jkl-table-header", "small");

    --jkl-table-header-padding: 0 #{jkl.$spacing-xs} #{jkl.rem(3px)} #{jkl.$spacing-xs};
}

.jkl-table-header {
    @include jkl.text-style("body");
    padding: var(--jkl-table-header-padding);
    text-align: left;
    white-space: nowrap;

    &--align-right {
        text-align: right;
    }

    &--bold {
        font-weight: jkl.$typography-weight-bold;
    }

    &--sr-only {
        @include jkl.screenreader-only;
    }

    @mixin _responsive-table-header {
        display: none;
    }

    .jkl-table--collapse-to-list & {
        @include jkl.small-device {
            @include _responsive-table-header;
        }
    }

    .jkl-table--collapse-to-list[data-collapse] & {
        @include _responsive-table-header;
    }
}
