@import "~@fremtind/jkl-core/variables/_all.scss";

$bottom-border-size: rem(1px);
$highlight-color: $snohvit;
$cell-padding: $component-spacing--xl $component-spacing--small;
$row-end-padding: $component-spacing--large;

.jkl-table {
    border-collapse: collapse;
    @include jkl-text-style("desktop/small");

    &__heading {
        color: $granitt;
        @include jkl-text-style("desktop/micro");
        padding: $component-spacing--small;
    }

    &__data-cell {
        position: relative;
        box-sizing: border-box;
        padding: $cell-padding;
    }

    &__heading,
    &__data-cell {
        text-align: left;
        vertical-align: top;

        &:first-of-type {
            padding-left: $row-end-padding;
        }

        &:last-of-type {
            padding-right: $row-end-padding;
        }
    }

    &__row {
        box-shadow: inset 0 -#{$bottom-border-size} 0 0 rgba(0, 0, 0, 0.2);

        &--anchor-row {
            cursor: pointer;

            &:hover {
                background-color: $highlight-color;
                box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.2);
            }

            &:active {
                box-shadow: 0 $bottom-border-size 0 0 rgba(0, 0, 0, 0.4);
            }
        }

        &--data-row {
            transition: background-color 150ms ease, box-shadow 150ms ease;
        }

        /* Focus-within is not supported by IE/Edge */
        &:focus-within {
            background-color: $highlight-color;
            box-shadow: 0 0 0 $bottom-border-size inset $focus-color;
        }
    }
}
