@import "~@fremtind/jkl-core/variables/_all.scss";

$bottom-border-size: rem(1px);
$highlight-color: $helhvit;

.jkl-table {
    border-collapse: collapse;
    line-height: $line-height-2;
    font-size: $font-size-2;
    font-weight: bold;

    &__heading {
        color: $matt-svart;
        font-size: $font-size-1;
        font-weight: normal;
        line-height: $line-height-1;
        padding: $component-spacing--small;
    }

    &__data-cell {
        position: relative;
        box-sizing: border-box;
        padding: $component-spacing--xl $component-spacing--small;
    }

    &__heading,
    &__data-cell {
        text-align: left;
        vertical-align: top;

        &:first-of-type {
            padding-left: $component-spacing--large;
        }

        &:last-of-type {
            padding-right: $component-spacing--large;
        }
    }

    &__row {
        box-shadow: 0 $bottom-border-size 0 0 rgba(0, 0, 0, 0.2);

        &--anchor-row {
            cursor: pointer;

            &:hover {
                background-color: $highlight-color;
                box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.2);
            }

            &:active {
                box-shadow: 0 $bottom-border-size 0 0 rgba(0, 0, 0, 0.4);
            }
        }

        &--data-row {
            transition: background-color 150ms ease, box-shadow 150ms ease;
        }

        /* Focus-within is not supported by IE/Edge */
        &:focus-within {
            background-color: $highlight-color;
            box-shadow: 0 0 0 $bottom-border-size inset $focus-color;
        }
    }
}
