@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/mixins/_all.scss" as mixins;

$border-size: jkl.rem(1px);
$border-color: jkl.$color-svaberg;
$border-color--inverted: jkl.$color-stein;
$hover-border-color: jkl.$color-granitt;
$hover-border-color--inverted: jkl.$color-snohvit;
$highlight-color: jkl.$color-hvit;
$highlight-color--inverted: jkl.$color-svart;
$focus-ring-width: jkl.rem(2px);
$table-row-focus-color: jkl.$color-granitt;
$table-row-focus-color--inverted: jkl.$color-snohvit;

@include jkl.helper-light-mode-variables {
    --table-row-border-color: #{$border-color};
    --table-row-hover-border-color: #{$hover-border-color};
    --table-row-highlight-color: #{$highlight-color};
}

@include jkl.helper-dark-mode-variables {
    --table-row-border-color: #{$border-color--inverted};
    --table-row-hover-border-color: #{$hover-border-color--inverted};
    --table-row-highlight-color: #{$highlight-color--inverted};
}

.jkl-table-row {
    border-bottom: solid $border-size $border-color;
    border-bottom: solid $border-size var(--table-row-border-color);

    *[data-theme="dark"] & {
        border-color: $border-color--inverted;
    }

    thead > & {
        border-bottom: solid $border-size $hover-border-color;
        border-bottom: solid $border-size var(--table-row-hover-border-color);

        *[data-theme="dark"] & {
            border-color: $hover-border-color--inverted;
        }
    }

    :not(thead) > & {
        border-top: solid $border-size transparent; // Unngår vertikal shift ved hover i collapsed mobilvisning

        &:hover {
            /*
            * Det er viktig at hover her har double border style i motsetning til default,
            * ellers vinner ikke border-top "spesifisitetskampen" i border-collapse.
            * Under testing i Chrome, Firefox og Safari på macOS ble border fremdeles
            * rendret som solid. ¯\_(ツ)_/¯
            *
            * https://stackoverflow.com/a/36239151
            * https://stackoverflow.com/a/4096554
            * https://www.w3.org/TR/CSS2/tables.html#border-conflict-resolution
            */
            border-top: double $border-size $hover-border-color;
            border-top: double $border-size var(--table-row-hover-border-color);
            border-bottom: double $border-size $hover-border-color;
            border-bottom: double $border-size var(--table-row-hover-border-color);

            *[data-theme="dark"] & {
                border-color: $hover-border-color--inverted;
            }
        }
    }

    @mixin responsive-table-head {
        border-bottom: solid $border-size $border-color;
        border-bottom: solid $border-size var(--table-row-border-color);

        *[data-theme="dark"] & {
            border-color: $border-color--inverted;
        }
    }

    .jkl-table--collapse-to-list > thead > & {
        @include mixins.small-device {
            @include responsive-table-head;
        }
    }

    .jkl-table--collapse-to-list[data-collapse] > thead > & {
        @include responsive-table-head;
    }

    @mixin responsive-table-row {
        padding-top: jkl.$spacing-s;
        padding-bottom: jkl.$spacing-s;

        &:first-of-type {
            border-top: solid $border-size $border-color;
            border-top: solid $border-size var(--table-row-border-color);
        }
    }

    .jkl-table--collapse-to-list :not(thead) > & {
        @include mixins.small-device {
            @include responsive-table-row;
        }
    }

    .jkl-table--collapse-to-list[data-collapse] :not(thead) > & {
        @include responsive-table-row;
    }

    @mixin responsive-table-row--hover {
        /* Tilbakestill hacken som gir riktig border når tabellen ikke har display: block; */
        border-top: solid $border-size $hover-border-color;
        border-top: solid $border-size var(--table-row-hover-border-color);
        border-bottom: solid $border-size $hover-border-color;
        border-bottom: solid $border-size var(--table-row-hover-border-color);
    }

    .jkl-table--collapse-to-list :not(thead) > &:hover {
        @include mixins.small-device {
            @include responsive-table-row--hover;
        }
    }

    .jkl-table--collapse-to-list[data-collapse] :not(thead) > &:hover {
        @include responsive-table-row--hover;
    }

    &--clickable {
        outline: 0;

        &:hover,
        html:not([data-mousenavigation]):not([data-touchnavigation]) &:focus {
            cursor: pointer;
            background-color: $highlight-color;
            background-color: var(--table-row-highlight-color);

            border-top: double $border-size $hover-border-color;
            border-top: double $border-size var(--table-row-hover-border-color);
            border-bottom: double $border-size $hover-border-color;
            border-bottom: double $border-size var(--table-row-hover-border-color);
        }

        .jkl-table--collapse-to-list :not(thead) > &:hover {
            @include mixins.small-device {
                @include responsive-table-row--hover;
            }
        }

        .jkl-table--collapse-to-list[data-collapse] :not(thead) > &:hover {
            @include responsive-table-row--hover;
        }
    }

    &--clicked {
        background-color: $highlight-color;
        background-color: var(--table-row-highlight-color);

        *[data-theme="dark"] & {
            border-color: $highlight-color--inverted;
        }
    }
}

.jkl-expandable-table-row__expanded-row {
    display: none;
    transition: height 0.2s ease-in-out;

    &--expanded {
        display: block;
    }
}
