@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/mixins/_all.scss" as mixins;

@import "./table-caption";
@import "./table-head";
@import "./table-row";
@import "./table-header";
@import "./table-cell";

@mixin responsive-table {
    display: block;

    & > caption {
        @include mixins.screenreader-only;
    }

    & > thead,
    & > thead > tr,
    & > thead > tr > th {
        display: none;
    }

    & > tbody,
    & > tbody > tr,
    & > tbody > tr > td {
        display: block;
    }

    & > tfoot,
    & > tfoot > tr,
    & > tfoot > tr > td {
        display: block;
    }
}

.jkl-table {
    border-collapse: collapse;
    position: relative;

    &--full-width {
        width: 100%;
    }

    &--collapse-to-list {
        &[data-collapse] {
            @include responsive-table;
        }

        @include mixins.small-device {
            @include responsive-table;
        }
    }
}
