@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$header-bg-color: $hvit;
$header-bg-color--inverted: $svart;
$header-height: rem(96px);
$header-height--collapsed: rem(64px);
$header-height--mobile: rem(64px);
$header-padding: 0 $layout-spacing--medium;
$header-padding--right: $layout-spacing--xl;
$header-padding--mobile: 0 $component-spacing--large;

.jkl-portal-header {
    display: flex;
    height: $header-height--mobile;
    padding: $header-padding--mobile;
    align-items: center;
    justify-content: space-between;
    z-index: $z-index--header;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $header-bg-color;

    @include motion("standard", "lazy");
    transition-property: height;

    &__skip-to-content {
        z-index: $z-index--floating;
        padding: $component-spacing--medium;
        background-color: $hvit;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        @include reset-outline;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        @include jkl-text-style("desktop/heading-small");
        color: inherit;
        text-decoration: none;
        font-weight: $normal-weight;

        &:hover {
            color: #000afa;
        }
        html:not([data-mousenavigation]) &:focus {
            color: #000afa;
            font-weight: $bold-weight;
        }
    }

    &__menu {
        height: 100%;
    }

    *[data-theme="dark"] & {
        background-color: $header-bg-color--inverted;
        color: $hvit;

        &__title {
            color: $hvit;
        }
    }

    @include from-medium-device {
        padding: $header-padding;
        padding-right: $header-padding--right;
        height: $header-height;

        &--collapsed {
            height: $header-height--collapsed;
        }
    }
}
