@import "~@fremtind/jkl-core/variables/_all.scss";

.portal-header {
    position: absolute;
    top: 0;
    right: 0;
    margin: $layout-spacing--medium $layout-spacing--large 0 0;

    @include small-device {
        margin: 0;
    }

    &__title {
        margin-bottom: 0;
        padding: $layout-spacing--small;
    }

    &__title > a {
        color: $svart;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
