@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$header-bg-color: $hvit;
$header-bg-color--inverted: $svart;
$header-height: rem(96px);
$header-height--collapsed: rem(64px);
$header-padding: 0 $layout-spacing--medium;
$header-padding--right: $layout-spacing--xl;

.jkl-portal-header {
    grid-area: header;
    display: flex;
    height: $header-height;
    padding: $header-padding;
    padding-right: $header-padding--right;
    align-items: center;
    justify-content: space-between;
    z-index: $z-index--header;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $header-bg-color;

    @include motion("standard", "lazy");
    transition-property: height;

    &__title {
        @include jkl-text-style("desktop/heading-small");
        color: inherit;
        text-decoration: none;
        font-weight: $normal-weight;
    }
    &__navigation {
        height: 100%;

        &-list {
            list-style-type: none;
            display: block;
            margin: 0;
            padding: 0;
            height: 100%;
        }

        &-item {
            @include jkl-text-style("desktop/body");
            display: inline-block;
            height: 100%;
            color: inherit;
            &:not(:last-child) {
                margin-right: $component-spacing--xxl;
            }
        }
    }

    &--collapsed {
        height: $header-height--collapsed;
    }

    *[data-theme="dark"] & {
        background-color: $header-bg-color--inverted;
        color: $hvit;

        &__title {
            color: $hvit;
        }
    }
}
