@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$header-bg-color: $hvit;
$header-height: rem(96px);
$header-padding: 0 $layout-spacing--medium;
$header-padding--right: $layout-spacing--xl;

.jkl-portal-header {
    grid-area: header;
    display: flex;
    height: $header-height;
    padding: $header-padding;
    padding-right: $header-padding--right;
    align-items: center;
    justify-content: space-between;
    z-index: $z-index--header;

    &__title {
        @include jkl-text-style("desktop/heading-small");
        color: inherit;
        text-decoration: none;
        font-weight: $normal-weight;
    }
    &__navigation {
        &-list {
            list-style-type: none;
        }

        &-item {
            @include jkl-text-style("desktop/body");
            display: inline;
            color: inherit;
            &:not(:last-child) {
                margin-right: $component-spacing--xxl;
            }
        }
    }

    *[data-theme="dark"] & {
        color: $hvit;

        &__title {
            color: $hvit;
        }
    }
}
