@use "@fremtind/jokul/styles/core/jkl";

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    padding: var(--jkl-unit-20);
    position: sticky;
    top: 0;
    background-color: var(--jkl-color-background-container);
    z-index: 1;

    p {
        justify-self: end;
    }

    .logo {
        @include jkl.text-style("heading-2");

        > span {
            text-decoration: none;
            border: 0;
        }
    }
}

@media (width >=940px) {
    .header {
        padding: var(--jkl-spacing-24) var(--jkl-spacing-64);

        p {
            justify-self: start;
        }
    }
}
