@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$header-bg-color: $snohvit;
$header-bg-color--inverted: $granitt;
$header-height: rem(96px);
$header-height--collapsed: rem(64px);
$header-height--mobile: rem(64px);
$header-padding: 0 $layout-spacing--medium;
$header-padding--right: $layout-spacing--xl;
$header-padding--mobile: 0 $component-spacing--large;

.jkl-portal-header {
    display: flex;
    height: $header-height--mobile;
    padding: $header-padding--mobile;
    align-items: center;
    justify-content: space-between;
    z-index: $z-index--header;
    position: sticky;
    top: 0;
    left: 0;
    background-color: inherit;

    @include motion("standard", "lazy");
    transition-property: height;

    &__title {
        @include reset-outline;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        @include jkl.text-style("heading-4") {
            font-weight: jkl.$typography-weight-normal;
        }
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $stein;
        }
        html:not([data-mousenavigation]) &:focus {
            color: $granitt;
            font-weight: jkl.$typography-weight-bold;
        }
    }

    &__menu {
        height: 100%;
    }

    *[data-theme="dark"] & {
        background-color: $header-bg-color--inverted;
        color: $snohvit;

        &__title {
            color: $snohvit;
        }
    }

    @include from-medium-device {
        padding: $header-padding;
        padding-right: $header-padding--right;
        height: $header-height;

        &--collapsed {
            height: $header-height--collapsed;
        }
    }
}
