@charset "UTF-8";
@use "@fremtind/jkl-core/jkl";

$_tooltip-border-width: jkl.rem(1px);
$_tooltip-arrow-height: jkl.rem(8px);
$_focus-ring-distance: jkl.rem(-1px); // Negativ margin for å unngå subpixel mellomrom mellom border og box-shadow
$_focus-ring-width: jkl.rem(2px);

@include jkl.comfortable-density(".jkl-tooltip-content") {
    --content-padding: #{jkl.$spacing-16};

    @include jkl.small-device {
        --content-padding: #{jkl.$spacing-12};
    }
}

@include jkl.compact-density(".jkl-tooltip-content") {
    --content-padding: #{jkl.$spacing-8};
}

.jkl-tooltip-trigger {
    all: unset;

    &:focus {
        @include jkl.keyboard-navigation {
            @include jkl.no-grow-bold;
        }
    }
}

.jkl-tooltip-content {
    @include jkl.text-style("small");
    background-color: var(--jkl-color-background-container-inverted);
    color: var(--jkl-color-text-inverted);
    display: inline-block;
    min-width: min-content;
    max-width: min(jkl.rem(310px), 100%); // 10px mindre enn smaleste støttede skjerm
    padding: var(--content-padding);
    position: absolute;
    z-index: jkl.$z-index--floating;

    &[data-placement^="top"] > .jkl-tooltip-content__arrow {
        bottom: -#{$_tooltip-arrow-height};
    }

    &[data-placement^="bottom"] > .jkl-tooltip-content__arrow {
        top: -#{$_tooltip-arrow-height};
    }

    &[data-placement^="left"] > .jkl-tooltip-content__arrow {
        right: -#{$_tooltip-arrow-height};
    }

    &[data-placement^="right"] > .jkl-tooltip-content__arrow {
        left: -#{$_tooltip-arrow-height};
    }

    @include jkl.forced-colors-mode {
        border: 1px solid CanvasText;
    }

    &__arrow {
        overflow: hidden;
        position: absolute;
        background-color: var(--jkl-color-background-container-inverted);
        transform: rotate(45deg);
        height: $_tooltip-arrow-height * 2;
        width: $_tooltip-arrow-height * 2;

        @include jkl.forced-colors-mode {
            background-color: CanvasText;
        }
    }
}

.jkl-tooltip-question-button {
    @include jkl.motion("exit", "snappy");
    transition-property: color;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    padding: 0;
    display: inline-flex;
    align-items: center;
    color: var(--jkl-color-text-interactive);
    transform: translateY(max(0.16em, jkl.rem(4px))); // Cap på 4px
    font-size: 1.2em;
    border-radius: 9999px;

    @include jkl.reset-outline;

    &:hover {
        --button-color: var(--jkl-color-text-interactive-hover);
    }

    &:focus-visible {
        @include jkl.focus-outline(0);
    }

    &::after {
        content: "";
        position: absolute;

        top: 50%;
        left: 50%;
        translate: -50% -50%;
        min-width: 44px;
        min-height: 44px;
    }
}
