@charset "UTF-8";
@use "~@fremtind/jkl-core/jkl";

$_tooltip-border-width: jkl.rem(1px);
$_tooltip-arrow-height: jkl.rem(8px);
$_focus-ring-distance: jkl.rem(-1px); // Negativ margin for å unngå subpixel mellomrom mellom border og box-shadow
$_focus-ring-width: jkl.rem(2px);

@include jkl.light-mode-variables {
    --jkl-tooltip-button-color: #{jkl.$color-stein};
    --jkl-tooltip-active-button-color: #{jkl.$color-skifer};
    --jkl-tooltip-bg-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --jkl-tooltip-button-color: #{jkl.$color-svaberg};
    --jkl-tooltip-active-button-color: #{jkl.$color-sand};
    --jkl-tooltip-bg-color: #{jkl.$color-stein};
}

@include jkl.comfortable-density-variables {
    --jkl-tooltip-size: #{jkl.rem(24px)};
    --jkl-tooltip-content-padding: #{jkl.$spacing-m};

    @include jkl.small-device {
        --jkl-tooltip-size: #{jkl.rem(20px)};
        --jkl-tooltip-content-padding: #{jkl.$spacing-s};
    }
}

@include jkl.compact-density-variables {
    --jkl-tooltip-size: #{jkl.rem(20px)};
    --jkl-tooltip-content-padding: #{jkl.$spacing-xs};
}

.jkl-tooltip-trigger {
    background-color: unset;
    padding: unset;
    color: unset;
    // Den visuelle endringen ved fokus er selve Tooltipen, så vi fjerner fokusringen
    @include jkl.reset-outline;
}

.jkl-tooltip-content {
    @include jkl.text-style("small");
    background-color: var(--jkl-tooltip-bg-color);
    color: jkl.$color-snohvit;
    display: inline-block;
    min-width: fit-content;
    max-width: min(jkl.rem(310px), max-content); // 10px mindre enn smaleste støttede skjerm
    padding: var(--jkl-tooltip-content-padding);
    position: absolute;
    z-index: jkl.$z-index--floating;

    &[data-placement^="top"] > .jkl-tooltip-content__arrow {
        bottom: -#{$_tooltip-arrow-height};
    }

    &[data-placement^="bottom"] > .jkl-tooltip-content__arrow {
        top: -#{$_tooltip-arrow-height};
    }

    &[data-placement^="left"] > .jkl-tooltip-content__arrow {
        right: -#{$_tooltip-arrow-height};
    }

    &[data-placement^="right"] > .jkl-tooltip-content__arrow {
        left: -#{$_tooltip-arrow-height};
    }

    @include jkl.forced-colors-mode {
        border: 1px solid CanvasText;
    }

    &__arrow {
        overflow: hidden;
        position: absolute;
        background-color: var(--jkl-tooltip-bg-color);
        transform: rotate(45deg);
        height: $_tooltip-arrow-height * 2;
        width: $_tooltip-arrow-height * 2;

        @include jkl.forced-colors-mode {
            background-color: CanvasText;
        }
    }
}

.jkl-tooltip-question-button {
    @include jkl.reset-outline;
    @include jkl.motion("exit", "snappy");
    transition-property: color;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    display: inline-flex;
    align-items: center;
    color: var(--jkl-tooltip-button-color);
    transform: translateY(max(0.16em, jkl.rem(4px))); // Cap på 4px

    &:focus,
    &:hover {
        color: var(--jkl-tooltip-active-button-color);
    }
}
