@use "~@fremtind/jkl-core/jkl";

$_tooltip-border-width: jkl.rem(1px);
$_tooltip-arrow-height: jkl.rem(8px);
$_focus-ring-distance: jkl.rem(2px);
$_focus-ring-width: jkl.rem(2px);

@include jkl.light-mode-variables {
    --jkl-tooltip-bg-color: #{jkl.$color-granitt};
    --jkl-tooltip-button-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --jkl-tooltip-bg-color: #{jkl.$color-stein};
    --jkl-tooltip-button-color: #{jkl.$color-snohvit};
}

@include jkl.comfortable-density-variables {
    --jkl-tooltip-size: #{jkl.rem(24px)};
    --jkl-tooltip-margin: #{jkl.$spacing-3xs} 0 0 #{jkl.$spacing-s};
    --jkl-tooltip-content-padding: #{jkl.$spacing-m};

    @include jkl.small-device {
        --jkl-tooltip-size: #{jkl.rem(20px)};
        --jkl-tooltip-content-padding: #{jkl.$spacing-s};
    }
}

@include jkl.compact-density-variables {
    --jkl-tooltip-size: #{jkl.rem(20px)};
    --jkl-tooltip-margin: #{jkl.rem(1px)} 0 0 #{jkl.$spacing-xs};
    --jkl-tooltip-content-padding: #{jkl.$spacing-s};
}

.jkl-tooltip {
    display: inline-block;
    position: relative;

    &__button {
        @include jkl.reset-outline;
        @include jkl.text-style("small");
        height: var(--jkl-tooltip-size);
        width: var(--jkl-tooltip-size);
        background-color: transparent;
        border: $_tooltip-border-width solid var(--jkl-tooltip-button-color);
        border-radius: 50%;
        color: var(--jkl-tooltip-button-color);
        cursor: pointer;

        /* Plasser knappen i forhold til teksten */
        vertical-align: text-top;
        margin: var(--jkl-tooltip-margin);

        /* Plasser knappen i forhold til teksten */

        /* Visuelt sentrer spørsmålstegn */
        display: inline-flex;
        align-items: center;
        justify-content: center;

        & > span {
            margin-top: jkl.$spacing-3xs;
        }

        /* Visuelt sentrer spørsmålstegn */

        &:hover {
            box-shadow: 0 0 0 1px var(--jkl-tooltip-button-color);
        }

        &:focus {
            @include jkl.keyboard-navigation {
                color: var(--jkl-tooltip-button-color);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: -($_tooltip-border-width + $_focus-ring-distance);
                    right: -($_tooltip-border-width + $_focus-ring-distance);
                    bottom: -($_tooltip-border-width + $_focus-ring-distance);
                    left: -($_tooltip-border-width + $_focus-ring-distance);
                    border-radius: 50%;
                    box-shadow: 0 0 0 $_focus-ring-width var(--jkl-tooltip-button-color);
                }
            }
        }
    }

    &__content {
        @include jkl.text-style("small");
        background-color: var(--jkl-tooltip-bg-color);
        color: jkl.$color-snohvit;
        display: inline-block;
        min-width: jkl.rem(200px);
        max-width: jkl.rem(310px); // 10px mindre enn smaleste støttede skjerm
        padding: var(--jkl-tooltip-content-padding);
        position: absolute;
        z-index: jkl.$z-index--floating;

        &[data-placement^="top"] > .jkl-tooltip__arrow {
            bottom: -#{$_tooltip-arrow-height};
        }

        &[data-placement^="bottom"] > .jkl-tooltip__arrow {
            top: -#{$_tooltip-arrow-height};
        }

        &[data-placement^="left"] > .jkl-tooltip__arrow {
            right: -#{$_tooltip-arrow-height};
        }

        &[data-placement^="right"] > .jkl-tooltip__arrow {
            left: -#{$_tooltip-arrow-height};
        }
    }

    &__arrow {
        overflow: hidden;
        position: absolute;
        background-color: var(--jkl-tooltip-bg-color);
        transform: rotate(45deg);
        height: $_tooltip-arrow-height * 2;
        width: $_tooltip-arrow-height * 2;
    }
}
