@import "~@fremtind/jkl-core/variables/all";

.jkl-field-group {
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 1;

    & > legend {
        font-size: $font-size-2;
        line-height: $line-height-2;
        color: $varm-fjellgra;
        padding-bottom: $component-spacing--small;
    }
}
