@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-field-group {
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 1;

    &__legend {
        @include font-size("medium");
        @include line-height("medium");
        color: $svart;
        padding-bottom: $component-spacing--large;

        &--large {
            @include font-size("xl");
            @include line-height("xl");
            padding-bottom: $component-spacing--xl;
        }
    }
}
