@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-github-links {
    @include jkl.text-style("body");
    margin-bottom: $layout-spacing--large;

    &__link {
        &:after {
            content: "\2197";
        }

        &:not(:last-child) {
            margin-right: $layout-spacing--small;
        }
    }
}
