@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

.jkl-portal-theme-bg {
    z-index: $z-index--hidden;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $hvit;

    @include motion("standard", "lazy");
    transition-property: height, background-color;

    *[data-theme="dark"] & {
        background-color: $svart;
    }
}
