@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

.jkl-portal-theme-bg {
    z-index: $z-index--hidden;
    width: 100vw;
    height: 0vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $svart;

    @include motion("standard");
    transition-property: height;

    *[data-theme="dark"] & {
        height: 100vh;
    }
}
