@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all.scss";

.jkl-portal-theme-bg {
    z-index: jkl.$z-index--hidden;
    width: 100vw;
    height: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: jkl.$color-svart;

    @include motion("standard", "lazy");
    transition-property: height;

    *[data-theme="dark"] & {
        height: 100vh;
    }
}
