@use "sass:color";
@use "../../../core/jkl";

$_text-input-height: jkl.rem(48px);
$_text-input-height--mobile: jkl.rem(44px);
$_text-input-height--compact: jkl.rem(32px);
$_text-input-vertical-padding: jkl.$spacing-xs;
$_text-input-vertical-padding--compact: jkl.$spacing-2xs;
$_text-input-horizontal-padding: jkl.$spacing-s;
$_text-input-horizontal-padding--compact: jkl.$spacing-xs;

$_action-button-size: jkl.rem(48px);
$_action-button-size--mobile: jkl.rem(44px);
$_action-button-size--compact: jkl.rem(32px);
$_action-button-icon-size: jkl.rem(20px);
$_action-button-icon-size--compact: jkl.rem(18px);
$_action-button-padding: jkl.$spacing-xs 0;
$_action-button-padding--compact: 0;
$_action-button-focus-position: jkl.rem(6px);
$_action-button-focus-position--compact: 0;

@include jkl.comfortable-density-variables {
    @include jkl.declare-font-variables("jkl-text-input", "body");

    --jkl-text-input-height: #{$_text-input-height};
    --jkl-text-input-vertical-padding: #{$_text-input-vertical-padding};
    --jkl-text-input-horizontal-padding: #{$_text-input-horizontal-padding};
    --jkl-text-input-padding: var(--jkl-text-input-vertical-padding)
        var(--jkl-text-input-horizontal-padding);
    --jkl-text-input-action-button-size: #{$_action-button-size};
    --jkl-text-input-action-button-icon-size: #{$_action-button-icon-size};
    --jkl-text-input-action-button-padding: #{$_action-button-padding};
    --jkl-text-input-action-button-focus-position: #{$_action-button-focus-position};

    @include jkl.small-device {
        --jkl-text-input-height: #{$_text-input-height--mobile};
        --jkl-text-input-action-button-size: #{$_action-button-size--mobile};
    }
}

@include jkl.compact-density-variables {
    @include jkl.declare-font-variables("jkl-text-input", "small");

    --jkl-text-input-height: #{$_text-input-height--compact};
    --jkl-text-input-vertical-padding: #{$_text-input-vertical-padding--compact};
    --jkl-text-input-horizontal-padding: #{$_text-input-horizontal-padding--compact};
    --jkl-text-input-padding: var(--jkl-text-input-vertical-padding)
        var(--jkl-text-input-horizontal-padding);
    --jkl-text-input-action-button-size: #{$_action-button-size--compact};
    --jkl-text-input-action-button-icon-size: #{$_action-button-icon-size--compact};
    --jkl-text-input-action-button-padding: #{$_action-button-padding--compact};
    --jkl-text-input-action-button-focus-position: #{$_action-button-focus-position--compact};
}

@mixin wrapper-styles {
    --text-color: var(--jkl-color-text-default);
    --background-color: var(--jkl-color-background-input-base);
    --border-color: var(--jkl-color-border-input);
    --placeholder-color: var(--jkl-color-text-subdued);

    border-radius: jkl.rem(3px);
    box-sizing: border-box;
    max-width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    height: var(--jkl-text-input-height);

    @include jkl.use-font-variables("jkl-text-input");
    @include jkl.motion;
    transition-property: color, box-shadow, background-color;

    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: inset 0 0 0 jkl.rem(1px) var(--border-color),
        0 0 0 jkl.rem(1px) transparent;

    &:focus-within {
        --background-color: var(--jkl-color-background-input-focus);
    }

    &[data-invalid="true"]:not(:focus-within) {
        --background-color: var(--jkl-color-background-alert-error);
        --text-color: var(--jkl-color-text-on-alert);
        // Vi har ingen god måte å få tak i kun light mode-versjon av subdued
        // så vi bruker tekstfargen med litt gjennomsiktighet
        --placeholder-color: color(from currentColor sRGB r g b / 0.75);
    }

    &:hover {
        --border-color: var(--jkl-color-border-input-focus);

        box-shadow: inset 0 0 0 jkl.rem(1px) var(--border-color),
            0 0 0 jkl.rem(1px) var(--border-color);

        @include jkl.forced-colors-mode {
            border: jkl.rem(2px) solid ButtonText;
        }
    }

    @include jkl.keyboard-navigation {
        &:has(.jkl-text-input__input:focus-visible),
        &:has(.jkl-text-area__text-area:focus-visible) {
            @include jkl.focus-outline;
        }
    }

    > .jkl-icon-button:focus-visible {
        @include jkl.focus-outline($offset: -8px);

        @include jkl.forced-colors-mode {
            --border-color: ButtonText;
        }
    }

    > .jkl-text-input-action-button {
        flex-shrink: 0;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        padding: var(--jkl-text-input-action-button-padding);
        height: var(--jkl-text-input-action-button-size);
        width: var(--jkl-text-input-action-button-size);

        // Unngå for langt mellomrom mellom ikon og teksten i feltet
        margin-inline-start: calc(
            var(--jkl-text-input-horizontal-padding) * -1
        );

        .jkl-icon-button__icon {
            height: var(--jkl-text-input-action-button-icon-size);
            width: var(--jkl-text-input-action-button-icon-size);
        }

        &:hover {
            color: var(--jkl-color-text-interactive-hover);

            @include jkl.forced-colors-mode {
                border: jkl.rem(2px) inset ButtonText;
            }
        }
    }

    @include jkl.forced-colors-mode {
        border: jkl.rem(2px) inset ButtonText;
    }
}

@mixin input-styles {
    background: none;
    -webkit-appearance: none;
    color: inherit;

    @include jkl.use-font-variables("jkl-text-input");
    @include jkl.reset-outline;
    @include jkl.remove-inner-outer-button;

    @include jkl.forced-colors-mode {
        outline: none;
        border: none;

        &:focus-visible {
            outline: none;
        }
    }

    // Placeholder text style
    &::placeholder {
        opacity: 1;
        color: var(--placeholder-color);
    }

    // Color of text selection
    &::selection {
        background-color: color(from currentColor sRGB r g b / 0.25);
    }
}
