@use "~@forbrukerradet/jkl-core/jkl";
@use "~@forbrukerradet/jkl-core/variables/colors";

@import "~@forbrukerradet/jkl-core/mixins/_all";
@import "~@forbrukerradet/jkl-core/_functions";

$radio-button-size: rem(24px);
$radio-button-height: rem(48px);
$radio-button-line-height: rem(32px);
$radio-button-dot-padding: rem(4px);

$radio-button-size--compact: rem(18px);
$radio-button-height--compact: rem(40px);
$radio-button-line-height--compact: rem(28px);
$radio-button-dot-padding--compact: rem(3px);

@include jkl.helper-light-mode-variables {
    --radio-button-color: #{jkl.$color-granitt};
    --radio-button-background-color: #{jkl.$color-snohvit};
    --radio-button-focus-color: #{jkl.$color-granitt};
    --radio-button-focus-background-color: #{jkl.$color-hvit};
    --radio-button-error-background-color: #{colors.varslingsfarge("feil")};
    --radio-button-error-dot-color: #{jkl.$color-granitt};
    --radio-button-default-color: #{jkl.$color-stein};
}

@include jkl.helper-dark-mode-variables {
    --radio-button-color: #{jkl.$color-snohvit};
    --radio-button-background-color: transparent;
    --radio-button-focus-color: #{jkl.$color-snohvit};
    --radio-button-focus-background-color: #{jkl.$color-svart};
    --radio-button-error-background-color: #{colors.varslingsfarge("feil")};
    --radio-button-error-dot-color: #{jkl.$color-granitt};
    --radio-button-default-color: #{jkl.$color-svaberg};
}

@keyframes dot-in {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.jkl-radio-button {
    @include reset-outline;
    display: flex;
    min-height: $radio-button-height;
    color: var(--radio-button-color);

    &__input {
        // hide default radio button
        position: absolute;
        opacity: 0;

        // Checked state
        &:checked {
            + .jkl-radio-button__label > .jkl-radio-button__dot::after {
                animation: dot-in 150ms ease;
                background-color: currentColor;

                @include jkl.helper-forced-colors-mode {
                    background-color: Highlight;
                }
            }

            .jkl-radio-button--error & + .jkl-radio-button__label > .jkl-radio-button__dot::after {
                background-color: var(--radio-button-error-dot-color);
            }
        }

        // Focused state
        html:not([data-mousenavigation]) &:focus {
            + .jkl-radio-button__label {
                color: var(--radio-button-focus-color);

                & > .jkl-radio-button__dot::before {
                    box-shadow: 0 0 0 rem(2px) var(--radio-button-focus-color);

                    @include jkl.helper-forced-colors-mode {
                        border: 4px double ButtonText;
                    }
                }
            }
        }
    }

    &__label {
        @include jkl.text-style("body");
        cursor: pointer;
        display: flex;
        align-items: flex-start;

        // Hovered state
        &:hover {
            color: var(--radio-button-focus-color);

            & > .jkl-radio-button__dot {
                box-shadow: inset 0 0 0 rem(1px) currentColor, 0 0 0 rem(1px) currentColor;

                @include jkl.helper-forced-colors-mode {
                    &::before {
                        border: 2px solid ButtonText;
                        position: absolute;
                        top: rem(-1px);
                        right: rem(-1px);
                        bottom: rem(-1px);
                        left: rem(-1px);
                    }
                }
            }
        }

        // Active state
        &:active {
            color: var(--radio-button-color);

            & > .jkl-radio-button__dot {
                box-shadow: inset 0 0 0 rem(1px) currentColor, 0 0 0 rem(1px) transparent;

                &::after {
                    transform: scale(0.9);
                }
            }
        }
    }

    &__dot {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        height: $radio-button-size;
        width: $radio-button-size;
        flex-shrink: 0;

        margin: (($radio-button-height - $radio-button-size) * 0.5) 0;
        margin-right: jkl.$spacing-xs;

        border-radius: 50%;
        box-shadow: inset 0 0 0 rem(1px) currentColor, 0 0 0 rem(1px) transparent;

        @include motion;
        transition-property: background-color, box-shadow;

        /* Inner dot */
        &::after {
            content: "";

            position: absolute;
            left: $radio-button-dot-padding;
            top: $radio-button-dot-padding;
            height: $radio-button-size - (2 * $radio-button-dot-padding);
            width: $radio-button-size - (2 * $radio-button-dot-padding);
            border-radius: 50%;
            transform: scale(1);

            @include motion;
            transition-property: transform;

            @include jkl.helper-forced-colors-mode {
                top: rem(3px);
                left: rem(3px);
            }
        }

        // Focus ring
        &::before {
            content: "";
            position: absolute;
            top: rem(-2px);
            right: rem(-2px);
            bottom: rem(-2px);
            left: rem(-2px);
            border-radius: 50%;

            box-shadow: 0 0 0 rem(1px) transparent;
        }

        @include jkl.helper-forced-colors-mode {
            outline: revert;
            border: 1px solid ButtonText;
        }
    }

    &__text {
        display: inline-block;
        margin: (($radio-button-height - $radio-button-line-height) * 0.5) 0;
        transform: translate3d(0, rem(1px), 0);
    }

    &--error {
        .jkl-radio-button__dot {
            background-color: var(--radio-button-error-background-color);
        }
    }

    &--inline {
        display: inline-flex;
        margin-top: unset;
        margin-right: jkl.$spacing-l;
    }

    @include compact-mode {
        min-height: $radio-button-height--compact;

        .jkl-radio-button__text {
            @include jkl.text-style("body/small-screen");
            margin: (($radio-button-height--compact - $radio-button-line-height--compact) * 0.5) 0;
            transform: translate3d(0, 0, 0);
        }

        .jkl-radio-button__dot {
            margin: (($radio-button-height--compact - $radio-button-size--compact) * 0.5) 0;
            margin-right: jkl.$spacing-xs;
            height: $radio-button-size--compact;
            width: $radio-button-size--compact;

            &::after {
                left: $radio-button-dot-padding--compact;
                top: $radio-button-dot-padding--compact;
                height: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
                width: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);

                @include jkl.helper-forced-colors-mode {
                    top: rem(2.35px);
                    left: rem(2px);
                }
            }
        }
    }

    @include small-device {
        min-height: $radio-button-height--compact;

        .jkl-radio-button__text {
            margin: (($radio-button-height--compact - $radio-button-line-height--compact) * 0.5) 0;
            transform: translate3d(0, 0, 0);
        }

        .jkl-radio-button__dot {
            margin: (($radio-button-height--compact - $radio-button-size--compact) * 0.5) 0;
            margin-right: jkl.$spacing-xs;
            height: $radio-button-size--compact;
            width: $radio-button-size--compact;

            &::after {
                left: $radio-button-dot-padding--compact;
                top: $radio-button-dot-padding--compact;
                height: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
                width: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);

                @include jkl.helper-forced-colors-mode {
                    top: rem(2.35px);
                    left: rem(2px);
                }
            }
        }
    }
}
