@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$radio-button-size: rem(24px);
$radio-button-size--compact: rem(18px);

$radio-button-dot-padding: rem(4px);
$radio-button-dot-padding--compact: rem(3px);

$radio-button-height: rem(48px);
$radio-button-height--compact: rem(40px);

$radio-button-background-color: $gra-10;
$radio-button-background-color--hover: $gra-10;
$radio-button-color: $svart;

@keyframes circleexpand {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dotexpand {
    0% {
        transform: scale(0) rotate(-45deg);
        border-radius: 0%;
    }
    50% {
        transform: scale(1);
        border-radius: 40%;
    }
    100% {
        transform: scale(1) rotate(15deg);
        border-radius: 50%;
    }
}

.jkl-radio-button {
    @include reset-outline;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: $radio-button-height;

    &__input {
        /* hide default radio button */
        position: absolute;
        opacity: 0;

        /* Checked state */
        &:checked ~ .jkl-radio-button__dot {
            &:after {
                /* animate dot */
                animation: dotexpand 0.3s cubic-bezier(0.17, 0.17, 0.76, 1);
                /* final appearance */
                transform: scale(1) rotate(15deg);
                border-radius: 50%;
            }
            &:before {
                /* animate circle */
                animation: circleexpand 0.2s cubic-bezier(0.28, 0.86, 0.65, 0.18) 0.15s;
            }
        }
        &:checked ~ .jkl-radio-button__label {
            font-weight: $bold-weight;
        }

        /* Focused state */
        html:not([data-mousenavigation]) &:focus ~ .jkl-radio-button__dot {
            &:before {
                box-shadow: 0 0 0 rem(2px) #fff, 0 0px 0 rem(4px) $focus-color;
            }
        }

        /* Hovered state */
        &:hover ~ .jkl-radio-button__dot {
            transform: scale(1.1);
        }
        &:active ~ .jkl-radio-button__dot {
            transform: scale(0.9);
        }
    }

    &__dot {
        position: relative;
        margin-right: $component-spacing--small;

        /* Outer circle */
        &:before {
            content: "";
            display: inline-block;
            box-sizing: border-box;

            height: $radio-button-size;
            width: $radio-button-size;
            border-radius: 50%;

            border: rem(1px) solid $radio-button-color;
            background: $radio-button-background-color;
            transition: transform 150ms ease-in;
        }

        /* Inner dot */
        &:after {
            content: "";

            display: inline-block;
            position: absolute;
            left: $radio-button-dot-padding;
            top: $radio-button-dot-padding;
            height: $radio-button-size - (2 * $radio-button-dot-padding);
            width: $radio-button-size - (2 * $radio-button-dot-padding);
            transform: rotate(-45deg) scale(0);

            background-color: $radio-button-color;
        }
    }

    &__label {
        @include jkl-text-style("desktop/body");
    }

    &--inline {
        display: inline-flex;
        & + & {
            margin-top: unset;
            margin-left: $component-spacing--xl;
        }
    }

    &--error {
        .jkl-radio-button__dot {
            &:before {
                border-color: $error-color;
            }
            &:after {
                background-color: $error-color;
            }
        }
    }

    &--inverted {
        .jkl-radio-button__dot {
            &:before {
                border-color: $hvit;
                background-color: transparent;
            }
            &:after {
                background-color: $hvit;
            }
        }
    }

    @include compact-mode {
        height: $radio-button-height--compact;

        .jkl-radio-button__label {
            @include jkl-text-style("compact/body");
        }
        .jkl-radio-button__dot:before {
            height: $radio-button-size--compact;
            width: $radio-button-size--compact;
        }
        .jkl-radio-button__dot:after {
            left: $radio-button-dot-padding--compact;
            top: $radio-button-dot-padding--compact;
            height: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
            width: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
        }
    }

    @include small-device {
        height: $radio-button-height--compact;

        .jkl-radio-button__label {
            @include jkl-text-style("compact/body");
        }
        .jkl-radio-button__dot:before {
            height: $radio-button-size--compact;
            width: $radio-button-size--compact;
        }
        .jkl-radio-button__dot:after {
            left: $radio-button-dot-padding--compact;
            top: $radio-button-dot-padding--compact;
            height: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
            width: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
        }
    }
}
