@import "~@fremtind/jkl-core/variables/_all.scss";

$radio-button-font-size: $font-size-3;
$radio-button-line-height: $line-height-3;

$radio-button-size: rem(24px);

$radio-button-background-color: $snøhvit;
$radio-button-background-color--hover: $snøhvit;
$radio-button-color: $svart;

@keyframes circleexpand {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dotexpand {
    0% {
        transform: scale(0) rotate(-45deg);
    }
    50% {
        transform: scale(1);
        border-radius: 15%;
    }
    100% {
        transform: scale(1) rotate(15deg);
        border-radius: 50%;
    }
}

.jkl-radio-button {
    cursor: pointer;
    display: block;

    margin-bottom: $component-spacing--large;
    &:last-of-type {
        margin-bottom: 0;
    }

    &--inline {
        display: inline-block;
        margin-bottom: 0;
        margin-right: $component-spacing--xl;
        &:last-of-type {
            margin-right: 0;
        }
    }

    &__input {
        /* hide default radio button */
        position: fixed;
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
    }

    &__label {
        padding-left: $radio-button-size + $component-spacing--medium;
        font-size: $radio-button-font-size;
        line-height: $radio-button-line-height;

        position: relative;
        display: inline-flex;
        align-items: center;

        &::before {
            /* This is the circle */
            content: "";

            box-sizing: border-box;
            position: absolute;
            left: 0;

            height: $radio-button-size;
            width: $radio-button-size;
            border-radius: 50%;

            border: rem(1px) solid $radio-button-color;
            background: $radio-button-background-color;
        }

        &::after {
            /* This is the dot */
            content: "";

            position: absolute;
            left: rem(4px);
            height: $radio-button-size - rem(8px);
            width: $radio-button-size - rem(8px);
            transform-origin: center;
            transform: rotate(-45deg) scale(0);
            border-radius: 0;

            background: $radio-button-color;
        }
    }

    /* Checked state */
    &__input:checked + &__label {
        &::after {
            /* animate dot */
            animation: dotexpand 0.3s cubic-bezier(0.17, 0.17, 0.76, 1);
            /* final appearance */
            transform: scale(1);
            border-radius: 50%;
        }
        &::before {
            /* animate circle */
            animation: circleexpand 0.25s cubic-bezier(0.28, 0.86, 0.65, 0.18) 0.15s;
        }
    }

    /* Focused state */
    html:not([data-mousenavigation]) &__input:focus + &__label {
        &::before {
            box-shadow: 0 0 0 0.125rem $himmel;
        }
    }

    /* Hovered state */
    &__input:hover:not(:checked) + &__label {
        &::before {
            background: $radio-button-background-color--hover;
            border-width: 0.125rem;
        }
    }
}
