@import "~@fremtind/jkl-core/variables/_all.scss";

$radio-button-font-size: $font-size-3;
$radio-button-line-height: $line-height-3;

$radio-button-size: rem(24px);

$radio-button-background-color: $snohvit;
$radio-button-background-color--hover: $snohvit;
$radio-button-color: $svart;

@keyframes circleexpand {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dotexpand {
    0% {
        transform: scale(0) rotate(-45deg);
    }
    50% {
        transform: scale(1);
        border-radius: 15%;
    }
    100% {
        transform: scale(1) rotate(15deg);
        border-radius: 50%;
    }
}

.jkl-radio-button {
    cursor: pointer;
    display: flex;
    margin-bottom: $component-spacing--large;

    &:last-of-type {
        margin-bottom: 0;
    }

    &--inline {
        display: inline-flex;
        margin-bottom: 0;
        margin-right: rem(32px);
        padding-bottom: $component-spacing--large;
        &:last-of-type {
            margin-right: 0;
        }
    }

    &__input {
        /* hide default radio button */
        position: absolute;
        opacity: 0;

        /* Checked state */
        &:checked ~ .jkl-radio-button__dot {
            &:after {
                /* animate dot */
                animation: dotexpand 0.3s cubic-bezier(0.17, 0.17, 0.76, 1);
                /* final appearance */
                transform: scale(1);
                border-radius: 50%;
            }
            &:before {
                /* animate circle */
                animation: circleexpand 0.25s cubic-bezier(0.28, 0.86, 0.65, 0.18) 0.15s;
            }
        }

        /* Focused state */
        html:not([data-mousenavigation]) &:focus ~ .jkl-radio-button__dot {
            &:before {
                box-shadow: 0 0 0 rem(2px) #fff, 0 0px 0 rem(4px) $himmel;
            }
        }

        /* Hovered state */
        &:hover ~ .jkl-radio-button__dot {
            &:before {
                transform: scale(1.1);
            }
        }
        &:active ~ .jkl-radio-button__dot {
            &:after,
            &:before {
                transform: scale(0.9);
            }
        }
    }

    &__dot {
        width: $radio-button-size;
        height: $radio-button-size;
        margin-right: $component-spacing--small;
        padding: rem(4px) 0;
        position: relative;

        /* Outer circle */
        &:before {
            content: "";
            display: inline-block;
            box-sizing: border-box;

            height: $radio-button-size;
            width: $radio-button-size;
            border-radius: 50%;

            border: rem(1px) solid $radio-button-color;
            background: $radio-button-background-color;
            transition: transform 150ms ease-in;
        }

        /* Inner dot */
        &:after {
            content: "";

            display: inline-block;
            position: absolute;
            left: rem(4px);
            top: rem(8px);
            height: $radio-button-size - rem(8px);
            width: $radio-button-size - rem(8px);
            transform: rotate(-45deg) scale(0);

            background-color: $radio-button-color;
        }
    }

    &__label {
        font-size: $radio-button-font-size;
        line-height: $radio-button-line-height;
    }
}
