@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$radio-button-size: rem(24px);
$radio-button-height: rem(48px);
$radio-button-line-height: rem(32px);
$radio-button-dot-padding: rem(4px);

$radio-button-size--compact: rem(18px);
$radio-button-height--compact: rem(40px);
$radio-button-line-height--compact: rem(28px);
$radio-button-dot-padding--compact: rem(3px);

$radio-button-color: jkl.$color-granitt;
$radio-button-background-color: jkl.$color-snohvit;
$radio-button-focus-color: jkl.$color-granitt;
$radio-button-focus-background-color: jkl.$color-hvit;
$radio-button-error-color: jkl.$color-feil;
$radio-button-disabled-color: jkl.$color-stein;
$radio-button-default-color: jkl.$color-stein;

$radio-button-color--inverted: jkl.$color-snohvit;
$radio-button-background-color--inverted: transparent;
$radio-button-focus-color--inverted: jkl.$color-snohvit;
$radio-button-focus-background-color--inverted: jkl.$color-svart;
$radio-button-error-color--inverted: jkl.$color-feil--darkbg;
$radio-button-disabled-color--inverted: jkl.$color-stein;
$radio-button-default-color--inverted: jkl.$color-svaberg;

@include jkl.helper-light-mode-variables {
    --radio-button-color: #{$radio-button-color};
    --radio-button-background-color: #{$radio-button-background-color};
    --radio-button-focus-color: #{$radio-button-focus-color};
    --radio-button-focus-background-color: #{$radio-button-focus-background-color};
    --radio-button-error-color: #{$radio-button-error-color};
    --radio-button-default-color: #{$radio-button-default-color};
}

@include jkl.helper-dark-mode-variables {
    --radio-button-color: #{$radio-button-color--inverted};
    --radio-button-background-color: #{$radio-button-background-color--inverted};
    --radio-button-focus-color: #{$radio-button-focus-color--inverted};
    --radio-button-focus-background-color: #{$radio-button-focus-background-color--inverted};
    --radio-button-error-color: #{$radio-button-error-color--inverted};
    --radio-button-default-color: #{$radio-button-default-color--inverted};
}

@keyframes dot-in {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.jkl-radio-button {
    @include reset-outline;
    display: flex;
    min-height: $radio-button-height;
    color: $radio-button-color;
    color: var(--radio-button-color);

    &__input {
        // hide default radio button
        position: absolute;
        opacity: 0;

        // Checked state
        &:checked {
            + .jkl-radio-button__label > .jkl-radio-button__dot:after {
                animation: dot-in 150ms ease;
                background-color: currentColor;
            }
        }

        // Focused state
        html:not([data-mousenavigation]) &:focus {
            + .jkl-radio-button__label {
                color: $radio-button-focus-color;
                color: var(--radio-button-focus-color);

                & > .jkl-radio-button__dot:before {
                    box-shadow: 0 0 0 rem(2px) $radio-button-focus-color;
                    box-shadow: 0 0 0 rem(2px) var(--radio-button-focus-color);
                }
                & > .jkl-radio-button__dot {
                    background-color: $radio-button-focus-background-color;
                    background-color: var(--radio-button-focus-background-color);
                }
            }
        }
    }

    &__label {
        @include jkl.text-style("body");
        cursor: pointer;
        display: flex;
        align-items: flex-start;

        // Hovered state
        &:hover {
            color: $radio-button-focus-color;
            color: var(--radio-button-focus-color);

            & > .jkl-radio-button__dot {
                box-shadow: inset 0 0 0 rem(1px) currentColor, 0 0 0 rem(1px) currentColor;
            }
        }

        // Active state
        &:active {
            color: $radio-button-color;
            color: var(--radio-button-color);

            & > .jkl-radio-button__dot {
                box-shadow: inset 0 0 0 rem(1px) currentColor, 0 0 0 0 transparent;

                &:after {
                    transform: scale(0.9);
                }
            }
        }
    }

    &__dot {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        height: $radio-button-size;
        width: $radio-button-size;
        flex-shrink: 0;

        margin: (($radio-button-height - $radio-button-size) * 0.5) 0;
        margin-right: jkl.$spacing-xs;

        border-radius: 50%;
        box-shadow: inset 0 0 0 rem(1px) currentColor, 0 0 0 0 transparent;

        @include motion("standard");
        transition-property: box-shadow;

        /* Inner dot */
        &:after {
            content: "";

            position: absolute;
            left: $radio-button-dot-padding;
            top: $radio-button-dot-padding;
            height: $radio-button-size - (2 * $radio-button-dot-padding);
            width: $radio-button-size - (2 * $radio-button-dot-padding);
            background-color: transparent;
            border-radius: 50%;
            transform: scale(1);

            @include motion("standard");
            transition-property: transform;
        }

        // Focus ring
        &:before {
            content: "";
            position: absolute;
            top: rem(-2px);
            right: rem(-2px);
            bottom: rem(-2px);
            left: rem(-2px);
            border-radius: 50%;

            box-shadow: 0 0 0 0 transparent;
        }
    }

    &__text {
        display: inline-block;
        margin: (($radio-button-height - $radio-button-line-height) * 0.5) 0;
        transform: translate3D(0, rem(1px), 0);
    }

    &--error {
        color: $radio-button-error-color;
        color: var(--radio-button-error-color);
    }

    &--inline {
        display: inline-flex;
        margin-top: unset;
        margin-right: jkl.$spacing-l;
    }

    @include compact-mode {
        min-height: $radio-button-height--compact;

        .jkl-radio-button__text {
            @include jkl.text-style("body/small-screen");
            margin: (($radio-button-height--compact - $radio-button-line-height--compact) * 0.5) 0;
            transform: translate3D(0, 0, 0);
        }
        .jkl-radio-button__dot {
            margin: (($radio-button-height--compact - $radio-button-size--compact) * 0.5) 0;
            margin-right: jkl.$spacing-xs;
            height: $radio-button-size--compact;
            width: $radio-button-size--compact;

            &:after {
                left: $radio-button-dot-padding--compact;
                top: $radio-button-dot-padding--compact;
                height: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
                width: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
            }
        }
    }

    @include small-device {
        min-height: $radio-button-height--compact;

        .jkl-radio-button__text {
            margin: (($radio-button-height--compact - $radio-button-line-height--compact) * 0.5) 0;
            transform: translate3D(0, 0, 0);
        }
        .jkl-radio-button__dot {
            margin: (($radio-button-height--compact - $radio-button-size--compact) * 0.5) 0;
            margin-right: jkl.$spacing-xs;
            height: $radio-button-size--compact;
            width: $radio-button-size--compact;

            &:after {
                left: $radio-button-dot-padding--compact;
                top: $radio-button-dot-padding--compact;
                height: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
                width: $radio-button-size--compact - (2 * $radio-button-dot-padding--compact);
            }
        }
    }

    // LEGACY IE11 STUFF
    &--inverted {
        color: $radio-button-color--inverted;

        .jkl-radio-button__input {
            html:not([data-mousenavigation]) &:focus {
                + .jkl-radio-button__label {
                    color: $radio-button-focus-color--inverted;

                    & > .jkl-radio-button__dot:before {
                        box-shadow: 0 0 0 rem(2px) $radio-button-focus-color--inverted;
                    }
                }
            }
        }

        .jkl-radio-button__dot {
            box-shadow: inset 0 0 0 rem(1px) jkl.$color-svaberg, 0 0 0 0 transparent;
            box-shadow: inset 0 0 0 rem(1px) var(--radio-button-default-color--inverted), 0 0 0 0 transparent;

            background-color: $radio-button-background-color--inverted;
        }

        .jkl-radio-button__label {
            &:hover {
                color: $radio-button-focus-color--inverted;
            }

            &:active {
                color: $radio-button-color--inverted;

                & > .jkl-radio-button__dot {
                    color: $radio-button-color--inverted;
                }
            }
        }

        &.jkl-radio-button--error {
            color: $radio-button-error-color--inverted;
        }
    }
    // END LEGACY STUFF
}
