@charset "UTF-8";
@use "sass:color";
@use "../../../core/jkl";
@use "../../../shared/input/styles/shared-input-styles" as shared;

@include jkl.comfortable-density-variables {
    --jkl-textarea-font-size: var(--jkl-typography-font-size-16);
}

@include jkl.compact-density-variables {
    --jkl-textarea-font-size: var(--jkl-typography-font-size-20);
}

.jkl-text-area-wrapper {
    @include shared.wrapper_styles;
}

.jkl-text-area {
    height: auto;
    width: 100%;

    &__text-area {
        --textarea-height: auto;

        scrollbar-color: var(--jkl-color) transparent; // Unngå at scrollbar ligger oppå rammen
        box-sizing: border-box;
        resize: none; // Fjern mulighet for resizing av feltet
        width: 100%;
        padding: var(--jkl-text-input-padding);
        height: var(--textarea-height);
        font-size: var(--jkl-textarea-font-size);

        @include shared.input-styles;
    }

    .jkl-text-area-wrapper {
        display: grid;
        grid-template-rows: 1fr auto;
        height: auto;
        max-height: 100%;
    }


    &--auto-expand {
        .jkl-text-area__text-area {
            overflow: hidden; // Skjul scrollbar når høyden autojusteres
        }
    }

    &:has(.jkl-text-area__counter) {
        --progress-bar-height: #{jkl.rem(4px)};

        .jkl-text-area-wrapper {
            position: relative;
        }

        .jkl-text-area__counter {
            &-count {
                display: block;
                padding: var(--jkl-text-input-padding) 0;
                color: var(--text-color);
                text-align: right;
                cursor: text;

                @include jkl.text-style("small");
            }

            &-progress {
                background-color: transparent;
                height: var(--progress-bar-height);
                width: 100%;
                overflow: hidden;

                &::after {
                    content: "";
                    display: block;
                    width: var(--progress-width, 0%);
                    height: var(--progress-bar-height);
                    background-color: var(--border-color);
                    transition-property: width;

                    @include jkl.motion("standard", "lazy");
                }
            }
        }
    }
}
