@use "sass:string";
@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

$_dismiss-animation-duration: jkl.timing("lazy");
$_message-width: jkl.rem(560px);
$_message-width--compact: jkl.rem(440px);

$_dismiss-animation-name: jkl-dismiss-#{string.unique-id()};
$_dismiss-focus-border-color: jkl.$color-granitt;
$_dismiss-hover-color: jkl.$color-stein;

$_text-color: jkl.$color-granitt;
$_bg-color--default: jkl.$color-snohvit;
$_bg-color--suksess: colors.varslingsfarge("suksess");
$_bg-color--feil: colors.varslingsfarge("feil");
$_bg-color--info: colors.varslingsfarge("info");
$_bg-color--advarsel: colors.varslingsfarge("advarsel");

@include jkl.comfortable-density-variables {
    @include jkl.declare-font-variables("jkl-message-box-message", "body");
    @include jkl.declare-font-variables("jkl-message-box-title", "heading-4");

    --jkl-message-box-padding: #{jkl.$spacing-l} #{jkl.$spacing-l} #{jkl.$spacing-l} #{jkl.rem(56px)};
    --jkl-message-box-icon-size: #{jkl.rem(18px)};
    --jkl-message-box-icon-left: #{jkl.rem(20.8px)};
    --jkl-message-box-icon-top: #{jkl.rem(27.2px)};
    --jkl-message-box-title-margin: 0 0 #{jkl.$spacing-xs} 0;
    --jkl-message-box-dismiss-button-size: #{jkl.rem(44px)};
    --jkl-message-box-dismiss-button-margin: -#{jkl.rem(6.5px)} -#{jkl.rem(12px)} -#{jkl.rem(6.5px)} auto;
}

@include jkl.compact-density-variables {
    @include jkl.declare-font-variables("jkl-message-box-message", "small");

    --jkl-message-box-title-font-size: var(--jkl-heading-5-font-size);
    --jkl-message-box-title-font-weight: var(--jkl-heading-5-font-weight);
    --jkl-message-box-title-line-height: #{jkl.rem(20.8px)};
    --jkl-message-box-padding: #{jkl.$spacing-xs} #{jkl.$spacing-xs} #{jkl.$spacing-xs} #{jkl.rem(32px)};
    --jkl-message-box-icon-size: #{jkl.rem(12px)};
    --jkl-message-box-icon-left: #{jkl.rem(9px)};
    --jkl-message-box-icon-top: #{jkl.rem(11px)};
    --jkl-message-box-title-margin: 0 0 #{jkl.$spacing-2xs} 0;
    --jkl-message-box-dismiss-button-size: #{jkl.rem(32px)};
    --jkl-message-box-dismiss-button-margin: #{jkl.rem(-4px)} #{jkl.rem(-4px)} #{jkl.rem(-4.5px)} auto;
}

.jkl-message-box {
    position: relative;
    width: 100%;
    max-width: $_message-width;
    padding: var(--jkl-message-box-padding);
    background-color: $_bg-color--default;
    color: $_text-color;
    border-radius: jkl.rem(4px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    &__icon {
        position: absolute;
        left: var(--jkl-message-box-icon-left);
        top: var(--jkl-message-box-icon-top);
        height: var(--jkl-message-box-icon-size);
        flex-shrink: 0;

        @include jkl.forced-colors-svg-fallback($stroke: CanvasText);
    }

    &__content {
        & > :not(.jkl-message-box__title) {
            margin-top: -#{jkl.$spacing-3xs};
        }

        & > * + * {
            margin-top: jkl.$spacing-xs;
        }

        /* Hvis Dismissable, gi plass mellom tekst og Lukk-knapp. */
        &:not(:last-child) {
            margin-right: jkl.$spacing-m;
        }
    }

    &__message {
        @include jkl.use-font-variables("jkl-message-box-message");
    }

    &__title {
        @include jkl.use-font-variables("jkl-message-box-title");
        margin-bottom: var(--jkl-message-box-title-margin);
    }

    &__dismiss-button {
        @include jkl.reset-outline;
        background-color: transparent;
        border-radius: jkl.rem(3px);
        padding: 0;
        cursor: pointer;

        // Sørg for å ha en stor nok touch target.
        width: var(--jkl-message-box-dismiss-button-size);
        height: var(--jkl-message-box-dismiss-button-size);
        margin: var(--jkl-message-box-dismiss-button-margin);

        color: inherit;
        @include jkl.forced-colors-svg-fallback($stroke: ButtonText);
        @include jkl.forced-colors-mode {
            background-color: ButtonFace;
        }

        align-self: flex-start;
        flex-shrink: 0;

        &:hover {
            color: $_dismiss-hover-color;
            @include jkl.forced-colors-svg-fallback($stroke: ButtonText);
        }

        &:focus {
            @include jkl.keyboard-navigation {
                outline: 2px solid $_dismiss-focus-border-color;

                @include jkl.forced-colors-mode {
                    outline: 2px solid ButtonText;
                    outline-offset: 2px;
                }
            }
        }
    }

    &--full {
        max-width: 100%;
    }

    &--info {
        background-color: $_bg-color--info;
    }

    &--warning {
        background-color: $_bg-color--advarsel;
    }

    &--error {
        background-color: $_bg-color--feil;
    }

    &--success {
        background-color: $_bg-color--suksess;
    }

    &--dismissed {
        animation: $_dismiss-animation-name $_dismiss-animation-duration ease-in-out forwards;
        transition: visibility 0ms $_dismiss-animation-duration;
        visibility: hidden;
    }

    @include jkl.forced-colors-mode {
        border: 2px solid CanvasText;

        &--info {
            border-style: dotted;
        }

        &--warning {
            border-style: dashed;
        }

        &--error {
            border-style: double;
            border-width: 4px;
        }
    }
}

@keyframes #{$_dismiss-animation-name} {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
}

.jkl-form-error-message-box {
    padding-bottom: jkl.$spacing-xl;
}
