@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

@function message-bg-light($color) {
    @return change-color($color, $lightness: 97%);
}
@function message-bg-dark($color) {
    @return change-color($color, $lightness: 5%);
}

$dismiss-animation-duration: 500ms;
$message-width: rem(560px);

$dismiss-hover-color: $stein;
$background-color: $snohvit;
$text-color: $granitt;
$border-color: $granitt;
$info-background-color: message-bg-light($info);
$info-border-color: $info;
$warning-background-color: message-bg-light($advarsel);
$warning-border-color: $advarsel;
$error-background-color: message-bg-light($feil);
$error-border-color: $feil;
$success-background-color: message-bg-light($suksess);
$success-border-color: $suksess;

$dismiss-hover-color--inverted: $svaberg;
$background-color--inverted: $granitt;
$text-color--inverted: $snohvit;
$border-color--inverted: $snohvit;
$info-background-color--inverted: message-bg-dark($info--darkbg);
$info-border-color--inverted: $info--darkbg;
$warning-background-color--inverted: message-bg-dark($advarsel--darkbg);
$warning-border-color--inverted: $advarsel--darkbg;
$error-background-color--inverted: message-bg-dark($feil--darkbg);
$error-border-color--inverted: $feil--darkbg;
$success-background-color--inverted: message-bg-dark($suksess--darkbg);
$success-border-color--inverted: $suksess--darkbg;

@include jkl.helper-light-mode-variables {
    --dismiss-hover-color: #{$dismiss-hover-color};
    --text-color: #{$text-color};
    --border-color: #{$border-color};
    --background-color: #{$background-color};
    --info-border-color: #{$info-border-color};
    --info-background-color: #{$info-background-color};
    --warning-border-color: #{$warning-border-color};
    --warning-background-color: #{$warning-background-color};
    --error-border-color: #{$error-border-color};
    --error-background-color: #{$error-background-color};
    --success-border-color: #{$success-border-color};
    --success-background-color: #{$success-background-color};
}

@include jkl.helper-dark-mode-variables {
    --dismiss-hover-color: #{$dismiss-hover-color--inverted};
    --text-color: #{$text-color--inverted};
    --border-color: #{$border-color--inverted};
    --background-color: #{$background-color--inverted};
    --info-border-color: #{$info-border-color--inverted};
    --info-background-color: #{$info-background-color--inverted};
    --warning-border-color: #{$warning-border-color--inverted};
    --warning-background-color: #{$warning-background-color--inverted};
    --error-border-color: #{$error-border-color--inverted};
    --error-background-color: #{$error-background-color--inverted};
    --success-border-color: #{$success-border-color--inverted};
    --success-background-color: #{$success-background-color--inverted};
}

.jkl-message-box {
    position: relative;
    width: 100%;
    max-width: $message-width;
    padding: $component-spacing--xl;
    padding-left: rem(56px);
    background-color: $background-color;
    border: rem(1px) solid $border-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    &__icon {
        position: absolute;
        left: $spacing-5;
    }

    &__content {
        & > * + * {
            margin-top: $component-spacing--small;
        }

        &:not(:last-child) {
            margin-right: $layout-spacing--xs;
        }
    }

    &__title {
        margin-bottom: $component-spacing--small;

        @include jkl.text-style("heading-4");
    }

    &__dismiss-button {
        @include reset-outline();
        background-color: transparent;
        padding: 0;
        margin-left: auto;
        margin-top: $component-spacing--xs;
        color: inherit;
        cursor: pointer;
        width: rem(20px);
        height: rem(20px);

        align-self: flex-start;
        flex-shrink: 0;

        &:hover {
            color: $dismiss-hover-color;
            color: var(--dismiss-hover-color);
        }
        &:focus {
            @include keyboard-navigation {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: rem(-2px);
                    right: rem(-2px);
                    bottom: rem(-2px);
                    left: rem(-2px);
                    box-shadow: 0 0 0 rem(2px) $border-color;
                    box-shadow: 0 0 0 rem(2px) var(--border-color);
                }
            }
        }
    }

    &--full {
        max-width: 100%;
    }

    &--info {
        border-color: $info-border-color;
        border-color: var(--info-border-color);
        background-color: $info-background-color;
        background-color: var(--info-background-color);

        .jkl-message-box__icon {
            color: $info;
            color: var(--info-border-color);
        }
    }

    &--warning {
        border-color: $warning-border-color;
        border-color: var(--warning-border-color);
        background-color: $warning-background-color;
        background-color: var(--warning-background-color);

        .jkl-message-box__icon {
            color: $warning-border-color;
            color: var(--warning-border-color);

            .jkl-icon-exclamation {
                color: $border-color;
                color: var(--border-color);
            }
        }
    }

    &--error {
        border-color: $error-border-color;
        border-color: var(--error-border-color);
        background-color: $error-background-color;
        background-color: var(--error-background-color);

        .jkl-message-box__icon {
            color: $error-border-color;
            color: var(--error-border-color);
        }
    }

    &--success {
        border-color: $success-border-color;
        border-color: var(--success-border-color);
        background-color: $success-background-color;
        background-color: var(--success-background-color);

        .jkl-message-box__icon {
            color: $success-border-color;
            color: var(--success-border-color);
        }
    }

    &--dark {
        .jkl-message-box__content {
            color: $text-color--inverted;
        }
        &.jkl-message-box--info {
            border-color: $info-border-color--inverted;
            background-color: $info-background-color--inverted;

            .jkl-message-box__icon {
                color: $info-border-color--inverted;
            }
        }
        &.jkl-message-box--warning {
            border-color: $warning-border-color--inverted;
            background-color: $warning-background-color--inverted;

            .jkl-message-box__icon {
                color: $warning-border-color--inverted;

                .jkl-icon-exclamation {
                    color: $border-color--inverted;
                }
            }
        }
        &.jkl-message-box--error {
            border-color: $error-border-color--inverted;
            background-color: $error-background-color--inverted;

            .jkl-message-box__icon {
                color: $error-border-color--inverted;
            }
        }
        &.jkl-message-box--success {
            border-color: $success-border-color--inverted;
            background-color: $success-background-color--inverted;

            .jkl-message-box__icon {
                color: $success-border-color--inverted;
            }
        }
    }

    &--dismissed {
        animation: dismiss-animation $dismiss-animation-duration ease-in-out forwards;
        transition: visibility 0ms $dismiss-animation-duration;
        visibility: hidden;
    }

    @include small-device {
        width: 100%;
    }
}

@keyframes dismiss-animation {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
}
