@use "sass:string";
@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/variables/colors";

$_dismiss-animation-duration: jkl.timing("lazy");
$_message-width: jkl.rem(560px);
$_message-width--compact: jkl.rem(440px);

$_dismiss-animation-name: jkl-dismiss-#{string.unique-id()};
$_dismiss-focus-border-color: jkl.$color-granitt;
$_dismiss-hover-color: jkl.$color-stein;

$_text-color: jkl.$color-granitt;
$_bg-color--default: jkl.$color-snohvit;
$_bg-color--suksess: colors.varslingsfarge("suksess");
$_bg-color--feil: colors.varslingsfarge("feil");
$_bg-color--info: colors.varslingsfarge("info");
$_bg-color--advarsel: colors.varslingsfarge("advarsel");

.jkl-message-box {
    position: relative;
    width: 100%;
    max-width: $_message-width;
    padding: jkl.$spacing-l;
    padding-left: jkl.rem(56px);
    background-color: $_bg-color--default;
    color: $_text-color;
    border-radius: jkl.rem(4px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    &__icon {
        position: absolute;
        left: jkl.$spacing-m;
        height: jkl.rem(24px);

        @include jkl.forced-colors-svg-fallback($stroke: CanvasText);
    }

    &__content {
        & > :not(.jkl-message-box__title) {
            margin-top: -#{jkl.$spacing-3xs};
        }

        & > * + * {
            margin-top: jkl.$spacing-xs;
        }

        /* Hvis Dismissable, gi plass mellom tekst og Lukk-knapp. */
        &:not(:last-child) {
            margin-right: jkl.$spacing-m;
        }
    }

    &__title {
        margin-bottom: jkl.$spacing-xs;

        @include jkl.text-style("heading-4");
    }

    &__dismiss-button {
        @include jkl.reset-outline;
        background-color: transparent;
        padding: 0;
        margin-left: auto;
        margin-top: jkl.$spacing-3xs;
        color: inherit;
        cursor: pointer;
        width: jkl.rem(20px);
        height: jkl.rem(20px);

        align-self: flex-start;
        flex-shrink: 0;

        @include jkl.forced-colors-svg-fallback($stroke: ButtonText);
        @include jkl.forced-colors-mode {
            background-color: ButtonFace;
            margin-top: jkl.rem(-1px);
            width: jkl.rem(32px);
            height: jkl.rem(32px);
            padding: jkl.rem(4px);
        }

        &:hover {
            color: $_dismiss-hover-color;
            @include jkl.forced-colors-svg-fallback($stroke: ButtonText);
        }

        &:focus {
            @include jkl.keyboard-navigation {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: jkl.rem(-2px);
                    right: jkl.rem(-2px);
                    bottom: jkl.rem(-2px);
                    left: jkl.rem(-2px);
                    box-shadow: 0 0 0 jkl.rem(2px) $_dismiss-focus-border-color;
                }
            }
        }
    }

    &--compact {
        padding: jkl.$spacing-m;
        padding-left: jkl.rem(48px);
        max-width: $_message-width--compact;

        .jkl-message-box__content {
            @include jkl.text-style("small");

            & > :not(.jkl-message-box__title) {
                margin-top: 0;
            }

            /* Hvis Dismissable, gi plass mellom tekst og Lukk-knapp. */
            &:not(:last-child) {
                margin-right: jkl.$spacing-s;
            }
        }

        .jkl-message-box__icon {
            left: jkl.$spacing-s;
        }

        .jkl-message-box__title {
            margin-bottom: jkl.$spacing-3xs;

            @include jkl.text-style("heading-5");
        }
    }

    &--full {
        max-width: 100%;
    }

    &--info {
        background-color: $_bg-color--info;
    }

    &--warning {
        background-color: $_bg-color--advarsel;
    }

    &--error {
        background-color: $_bg-color--feil;
    }

    &--success {
        background-color: $_bg-color--suksess;
    }

    &--dismissed {
        animation: $_dismiss-animation-name $_dismiss-animation-duration ease-in-out forwards;
        transition: visibility 0ms $_dismiss-animation-duration;
        visibility: hidden;
    }

    @include jkl.forced-colors-mode {
        border: 2px solid CanvasText;

        &--info {
            border-style: dotted;
        }

        &--warning {
            border-style: dashed;
        }

        &--error {
            border-style: double;
            border-width: 4px;
        }
    }

    @include jkl.small-device {
        width: 100%;
    }
}

@keyframes #{$_dismiss-animation-name} {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
}

.jkl-form-error-message-box {
    @include jkl.text-style("body");

    padding-bottom: jkl.$spacing-xl;

    &--hidden {
        display: none;
    }
}
