@import "~@fremtind/jkl-core/variables/_all.scss";

$colored-line-width: $component-spacing--xs;
$message-width: rem(560px);

.jkl-message-box {
    position: relative;
    width: $message-width;
    min-height: $layout-spacing--xl;
    padding: $component-spacing--xl;
    background-color: $snohvit;
    box-sizing: border-box;

    @include small-device {
        width: 100%;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: $colored-line-width;
    }

    &--full {
        width: 100%;
    }

    &--info:before {
        background-color: $himmel;
    }

    &--warning:before {
        background-color: $sol;
    }

    &--error:before {
        background-color: $blomst;
    }

    &--success:before {
        background-color: $gress;
    }

    &__title {
        margin-bottom: $component-spacing--large;
    }

    &__message,
    &__message:last-child {
        margin-bottom: 0;
    }
}
