@import "@fremtind/jkl-core/variables/_all.scss";

$colored-line-width: $component-spacing--xs;
$padding: $component-spacing--xl;
$padding-left: $component-spacing--xl + $colored-line-width; // Add the line width to keep the padding equal on all sides

.jkl-message-box {
    position: relative;
    width: 3 * $layout-spacing--xxl;
    min-height: $layout-spacing--xl;
    padding: $padding $padding $padding $padding-left;
    background-color: $snohvit;
    box-sizing: border-box;

    @include small-device {
        width: 100%;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        content: "";
        width: $colored-line-width;
    }

    &--full {
        width: 100%;
    }

    &--info:before {
        background-color: $himmel;
    }

    &--warning:before {
        background-color: $sol;
    }

    &--error:before {
        background-color: $blomst;
    }

    &--success:before {
        background-color: $gress;
    }

    &__title {
        margin-bottom: $component-spacing--large;
    }

    &__message {
        margin-bottom: $component-spacing--small;
    }
}
