@use "@fremtind/jkl-core/jkl";

@include jkl.comfortable-density-variables {
    --jkl-calendar-padding: var(--jkl-spacing-12) var(--jkl-spacing-16)
        var(--jkl-spacing-16);
    --jkl-calendar-gap: var(--jkl-spacing-12);

    // Custom tweaks for iPhone SE
    @include jkl.screen-to(375px) {
        --jkl-calendar-padding: var(--jkl-spacing-4) var(--jkl-spacing-8)
            var(--jkl-spacing-16);
    }
}

@include jkl.compact-density-variables {
    --jkl-calendar-padding: var(--jkl-spacing-4) var(--jkl-spacing-8)
        var(--jkl-spacing-16);
    --jkl-calendar-gap: 0;
}

.jkl-calendar {
    display: block;
    background-color: var(--jkl-color-background-container-high);
    color: var(--jkl-color);

    &__padding {
        display: flex;
        flex-direction: column;
        gap: var(--jkl-calendar-gap);
        box-sizing: border-box;

        @include jkl.forced-colors-mode {
            border: 1px solid CanvasText;
        }
    }
}
