@use "~@fremtind/jkl-core/jkl";

.jkl-calendar-navigation-dropdown {
    // Størrelsen til medium ikon
    --chevron-size: #{jkl.rem(24px)};

    display: inline-flex;
    align-items: center;

    & > * {
        cursor: pointer;
    }

    &__select {
        appearance: none;
        @include jkl.reset-outline;
        @include jkl.text-style("small") {
            font-weight: jkl.$typography-weight-bold;
        }
        background-color: transparent;
        border: none;
        text-align: end;
        height: jkl.rem(40px);
        margin: 0;
        padding: 0;
        padding-inline-end: var(--chevron-size);

        @include jkl.keyboard-navigation {
            &:focus {
                outline: jkl.rem(2px) solid var(--jkl-calendar-focus-color);
                outline-offset: 1px;
            }
        }
    }

    &__chevron {
        margin-left: calc(var(--chevron-size) * -1);
        pointer-events: none;
    }

    & + & {
        margin-inline-start: var(--jkl-spacing-8);
    }
}
