@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-calendar-text-color: #{jkl.$color-granitt};
    --jkl-calendar-background-color: #{jkl.$color-hvit};
    --jkl-calendar-border-color: #{jkl.$color-granitt};
    --jkl-calendar-focus-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --jkl-calendar-text-color: #{jkl.$color-snohvit};
    --jkl-calendar-background-color: #{jkl.$color-skifer};
    --jkl-calendar-border-color: #{jkl.$color-snohvit};
    --jkl-calendar-focus-color: #{jkl.$color-snohvit};
}

.jkl-calendar {
    --calendar-corner-radius: jkl.rem(2px);
    --calendar-box-shadow: 0px 4px 20px 0px rgba(49, 48, 48, 0.2);

    display: block;
    background-color: var(--jkl-calendar-background-color);
    color: var(--jkl-calendar-text-color);
    border-radius: var(--calendar-corner-radius);
    box-shadow: var(--calendar-box-shadow);

    @include jkl.comfortable-density {
        --jkl-calendar-padding: var(--jkl-spacing-12) var(--jkl-spacing-16) var(--jkl-spacing-16);
        --jkl-calendar-gap: var(--jkl-spacing-12);

        // Custom tweaks for iPhone SE
        @include jkl.screen-to(375px) {
            --jkl-calendar-padding: var(--jkl-spacing-4) var(--jkl-spacing-8) var(--jkl-spacing-16);
        }
    }

    @include jkl.compact-density {
        --jkl-calendar-padding: var(--jkl-spacing-4) var(--jkl-spacing-8) var(--jkl-spacing-16);
        --jkl-calendar-gap: 0;
    }

    &--hidden {
        display: none;
    }

    &__padding {
        padding: var(--jkl-calendar-padding);
        display: flex;
        flex-direction: column;
        gap: var(--jkl-calendar-gap);
        box-sizing: border-box;

        @include jkl.forced-colors-mode {
            border: 1px solid CanvasText;
        }
    }
}
