@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-select/select.scss";

$transition-timing: 200ms cubic-bezier(0.7, 0, 0.3, 1);

$input-bg-color: inherit;
$border-color: $svart;
$border-color--focus: $focus-color;

$bottom-padding: $component-spacing--small;
$input-line-height: $line-height-4;
$input-height: $input-line-height + $bottom-padding;
$input-line-height--small-device: $line-height-3;
$input-height--small-device: $input-line-height--small-device + $bottom-padding;

$date-width: $line-height-5;
$date-spacing: rem(4px);
$calendar-padding: $component-spacing--xl;
$calendar-padding--compact: $component-spacing--small;
$calendar-width: ($date-width * 7) + ($date-spacing * 6);
$background-color: $hvit;
$bottom-margin: $component-spacing--large;

$icon-size: rem(20px);
$icon-size--compact: $font-size-2;

.jkl-datepicker {
    @include reset-outline;
    display: block;
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    background-color: $input-bg-color;

    &__input {
        position: relative;
        display: block;
        width: calc(12ch + #{$component-spacing--medium} + #{$icon-size});

        .jkl-datepicker-text-input {
            padding-right: $component-spacing--small + $icon-size;
        }
    }

    &-text-input {
        @include jkl-text-style("desktop/body");
        border: none;
        outline: none;
        border-radius: 0;
        color: inherit;

        box-sizing: border-box;
        width: 100%;
        height: $input-height;
        padding: 0 0 $bottom-padding;

        font-weight: $bold-weight;
        background-color: transparent;
        transition: box-shadow $transition-timing;
        @include underline-color(currentColor, $border-color--focus);
        /* show border in mobile Safari */
        -webkit-appearance: none;
        resize: none; // Disable textarea resize

        &::placeholder {
            @include jkl-text-style("desktop/body");
            font-weight: normal;
            opacity: 1;
            color: $gra-60;
        }

        &:hover,
        &:focus {
            box-shadow: inset 0 rem(-4px) 0 0 currentColor;
        }

        &[type="number"] {
            text-align: right;
        }

        &[aria-invalid="true"],
        &:invalid {
            box-shadow: inset 0 rem(-2px) 0 0 $error-color;

            &:focus,
            &:hover,
            html:not([data-mousenavigation]) &:focus {
                box-shadow: inset 0 rem(-4px) 0 0 $error-color;
            }
        }
    }

    &__action-button {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        top: 0;
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        padding-bottom: $component-spacing--small;
        height: $input-height;
        color: $svart;

        *:not([data-mousenavigation]) &:focus {
            color: $focus-color;
        }
    }

    &__action-icon {
        display: inline-block;
        width: $icon-size;
    }

    @include compact-mode {
        & .jkl-datepicker-text-input,
        & .jkl-datepicker-text-input::placeholder {
            @include jkl-text-style("compact/body");
        }
        & .jkl-datepicker-text-input {
            height: $input-height--small-device;
        }
        & .jkl-datepicker__action-button {
            height: $input-height--small-device;
        }
        & .jkl-datepicker__action-icon {
            width: $icon-size--compact;
        }
    }

    @include small-device {
        .jkl-datepicker-text-input,
        .jkl-datepicker-text-input::placeholder {
            @include jkl-text-style("compact/body");
        }
        & .jkl-datepicker-text-input {
            height: $input-height--small-device;
        }
        & .jkl-datepicker__action-button {
            height: $input-height--small-device;
        }
        & .jkl-datepicker__action-icon {
            width: $icon-size--compact;
        }
    }

    /* Navigation in normal (compact) mode
       =================================== */

    &__month-navigation {
        border: 0;
        padding: 0;
        margin: 0;
        display: flex;
        box-sizing: border-box;
        position: relative;
        top: 0;
        width: $calendar-width;
        justify-content: space-between;
        color: $svart;
    }

    &__month-button {
        position: absolute;
        display: inline-flex;
        cursor: pointer;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        height: $line-height-4;
        width: $line-height-4;
        border-radius: 50%;

        &--right {
            right: 0;
        }

        &:hover {
            background-color: transparent;
        }

        html:not([data-mousenavigation]) &:focus .jkl-datepicker__month-arrow {
            border-color: $focus-color;
            border-width: rem(4px);
        }

        &:disabled {
            & > .jkl-datepicker__month-arrow {
                @include chevron(rem(20px), $gra-40, rem(1px));
                transform-origin: center;
                transition: none;

                &--left {
                    transform: rotate(45deg);
                }
                &--right {
                    transform: rotate(-135deg);
                }
            }
        }
    }

    &__month-arrow {
        @include chevron(rem(20px), $svart, rem(1px));
        transform-origin: center;
        transition: none;

        &--left {
            transform: rotate(45deg);
        }

        &--right {
            transform: rotate(-135deg);
        }
    }

    /* Navigation in extended mode
       =========================== */

    &__calendar-navigation {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: $component-spacing--xl;
        color: $svart;
    }

    &__year-selector {
        max-width: 30%;
        margin-right: $component-spacing--xxl;

        // must be nested to override default right-alignment
        & > .jkl-datepicker__year-value {
            text-align: left;
        }
    }

    &__month-selector {
        position: relative;
        flex-grow: 2;
    }
    &__month-value {
        text-transform: capitalize;
    }

    /* Calendar display
       ================ */

    &__calendar {
        @include position(absolute, $top: calc(100% - 4px), $left: 0, $right: 0);
        z-index: $z-index--dropdown;
        justify-content: center;
        flex-direction: column;
        width: $calendar-width;
        padding: $calendar-padding;
        background-color: $background-color;
        box-shadow: $drop-shadow--small;
        color: $svart;
        border-top: 4px solid $svart;

        caption {
            font-size: $font-size-6;
            line-height: $line-height-4;
            margin-bottom: $component-spacing--xl;
            text-transform: capitalize;

            .jkl-datepicker--extended & {
                @include screenreader-only();
            }
        }
        // Weekday names above calendar:
        th {
            @include jkl-text-style("desktop/small");
            padding-bottom: $component-spacing--small;
        }
        td {
            text-align: center;
        }
        td + td,
        th + th {
            padding-left: rem(4px); // space between columns
        }
        tr + tr > td {
            padding-top: rem(4px); // space between rows
        }
        td button {
            appearance: none;
            border: 0;
            outline: none;

            box-sizing: border-box;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: $date-width;
            width: $date-width;
            border-radius: 50%;
            background-color: transparent;

            font-size: $font-size-6;
            line-height: $line-height-5;
            padding: 0;
            padding-top: $component-spacing--xxs; // adjust visual alignment of text
            @include motion("entrance", "energetic");
            transition-property: color, background-color, box-shadow;
            &[data-adjacent="true"] {
                padding: 0; // reset vertical alignment of text
                font-size: $font-size-2;
                color: $gra-60;
            }
            &[aria-current="date"] {
                background-color: $varde;
            }
            &:hover:not(:disabled) {
                background-color: $gra-60;
                color: $gra-10;
            }
            &[autofocus] {
                background-color: $svart;
                color: $gra-10;
                font-weight: bold;
            }

            &:disabled {
                color: $gra-40;
            }

            &:focus {
                box-shadow: 0 0 0 rem(1px) $gra-10, 0 0 0 rem(3px) $focus-color;
            }
        }
    }

    @include small-device {
        &__calendar {
            padding: $calendar-padding $calendar-padding--compact;
        }
    }
}
