@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$datepicker-focus-color: $granitt;
$datepicker-focus-color--inverted: $snohvit;

:root,
[data-theme="light"] {
    --datepicker-focus-color: #{$datepicker-focus-color};
}
[data-theme="dark"] {
    --datepicker-focus-color: #{$datepicker-focus-color--inverted};
}

.jkl-datepicker {
    @include reset-outline;
    position: relative;

    &__input-wrapper {
        position: relative;
    }

    & &__input {
        // adjust input padding for visual balance with numbers
        padding-top: rem(10px);
    }

    &__calendar-wrapper {
        position: absolute;
        top: calc(100% + #{rem(14px)});
        left: 0;
        right: 0;
        z-index: $z-index--dropdown;
    }

    &--open {
        .jkl-datepicker__input {
            box-shadow: inset 0 0 0 rem(1px) $datepicker-focus-color, 0 0 0 0 $datepicker-focus-color;
            box-shadow: inset 0 0 0 rem(1px) var(--datepicker-focus-color), 0 0 0 0 var(--datepicker-focus-color);
            &:hover,
            &:focus {
                box-shadow: inset 0 0 0 rem(1px) $datepicker-focus-color, 0 0 0 rem(1px) $datepicker-focus-color;
                box-shadow: inset 0 0 0 rem(1px) var(--datepicker-focus-color),
                    0 0 0 rem(1px) var(--datepicker-focus-color);
            }
        }
    }

    /// Legacy code for IE11 support
    &--inverted.jkl-datepicker--open {
        .jkl-datepicker__input {
            box-shadow: inset 0 0 0 rem(1px) $datepicker-focus-color--inverted,
                0 0 0 0 $datepicker-focus-color--inverted;
            &:hover,
            &:focus {
                box-shadow: inset 0 0 0 rem(1px) $datepicker-focus-color--inverted,
                    0 0 0 rem(1px) $datepicker-focus-color--inverted;
            }
        }
    }
    // end legacy code
}

/// CALENDAR STYLES

$date-width: $line-height-5;
$date-spacing: rem(4px);
$calendar-padding: $component-spacing--xl;
$calendar-padding--compact: $component-spacing--small;
$calendar-width: ($date-width * 7) + ($date-spacing * 6) + ($calendar-padding * 2);

// Theme colors:
$calendar-text-color: $granitt;
$calendar-background-color: $hvit;
$calendar-border-color: $granitt;
$calendar-adjacent-month-color: $stein;
$calendar-disabled-day-color: $svaberg;
$calendar-active-day-color: $hvit;
$calendar-focus-color: $granitt;
$calendar-navigation-arrow-focus-color: $stein;
$calendar-hover-date-background-color: $varde;
$calendar-selected-date-background-color: $granitt;

$calendar-text-color--inverted: $snohvit;
$calendar-background-color--inverted: $svart;
$calendar-border-color--inverted: $snohvit;
$calendar-adjacent-month-color--inverted: $svaberg;
$calendar-disabled-day-color--inverted: $stein;
$calendar-active-day-color--inverted: $svart;
$calendar-focus-color--inverted: $snohvit;
$calendar-navigation-arrow-focus-color--inverted: $svaberg;
$calendar-hover-date-background-color--inverted: $stein;
$calendar-selected-date-background-color--inverted: $snohvit;

:root,
[data-theme="light"] {
    --calendar-text-color: #{$calendar-text-color};
    --calendar-background-color: #{$calendar-background-color};
    --calendar-border-color: #{$calendar-border-color};
    --calendar-adjacent-month-color: #{$calendar-adjacent-month-color};
    --calendar-disabled-day-color: #{$calendar-disabled-day-color};
    --calendar-active-day-color: #{$calendar-active-day-color};
    --calendar-focus-color: #{$calendar-focus-color};
    --calendar-navigation-arrow-focus-color: #{$calendar-navigation-arrow-focus-color};
    --calendar-selected-date-background-color: #{$calendar-selected-date-background-color};
    --calendar-hover-date-background-color: #{$calendar-hover-date-background-color};
}

[data-theme="dark"] {
    --calendar-text-color: #{$calendar-text-color--inverted};
    --calendar-background-color: #{$calendar-background-color--inverted};
    --calendar-border-color: #{$calendar-border-color--inverted};
    --calendar-adjacent-month-color: #{$calendar-adjacent-month-color--inverted};
    --calendar-disabled-day-color: #{$calendar-disabled-day-color--inverted};
    --calendar-active-day-color: #{$calendar-active-day-color--inverted};
    --calendar-focus-color: #{$calendar-focus-color--inverted};
    --calendar-navigation-arrow-focus-color: #{$calendar-navigation-arrow-focus-color--inverted};
    --calendar-selected-date-background-color: #{$calendar-selected-date-background-color--inverted};
    --calendar-hover-date-background-color: #{$calendar-hover-date-background-color--inverted};
}

.jkl-calendar {
    // hard code for CSP blocking inline styling
    display: block;

    justify-content: center;
    flex-direction: column;
    width: $calendar-width;
    background-color: $calendar-background-color;
    background-color: var(--calendar-background-color);
    color: $calendar-text-color;
    color: var(--calendar-text-color);
    border-radius: 3px;
    box-shadow: inset 0 0 0 rem(1px) $calendar-border-color, 0 0 0 rem(1px) $calendar-border-color,
        rem(2px) rem(4px) rem(16px) rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 0 0 rem(1px) var(--calendar-border-color), 0 0 0 rem(1px) var(--calendar-border-color),
        rem(2px) rem(4px) rem(16px) rgba(0, 0, 0, 0.24);

    @include motion("standard");
    transition-property: height;

    &--hidden {
        display: none;
    }

    &--extended {
        caption {
            // Hide table caption (month name) in extended mode
            // since month is shown in select above
            @include screenreader-only;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 5.75rem;
        width: rem(12px);
        height: rem(12px);
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: $calendar-background-color;
        background-color: var(--calendar-background-color);
        border-top: rem(2px) solid $calendar-border-color;
        border-top: rem(2px) solid var(--calendar-border-color);
        border-right: rem(2px) solid $calendar-border-color;
        border-right: rem(2px) solid var(--calendar-border-color);
    }

    &__padding {
        padding: $calendar-padding;
        box-sizing: border-box;
    }

    @include small-device {
        &__padding {
            padding: $calendar-padding $calendar-padding--compact;
        }
    }

    /// Navigation in normal (compact) mode
    /// ===================================

    &__month-navigation {
        border: 0;
        padding: 0;
        margin: 0;
        display: flex;
        box-sizing: border-box;
        position: relative;
        top: 0;
        width: 100%;
        justify-content: space-between;
    }

    &__month-button {
        @include reset-outline;
        position: absolute;
        display: inline-flex;
        cursor: pointer;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: $calendar-text-color;
        color: var(--calendar-text-color);
        border: none;
        width: $line-height-4;
        border-radius: 50%;
        @include jkl-text-style("desktop/body");

        &--right {
            right: 0;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            border-radius: 50%;
        }

        &:hover,
        &:focus {
            color: $calendar-navigation-arrow-focus-color;
            color: var(--calendar-navigation-arrow-focus-color);
        }

        html:not([data-mousenavigation]) &:focus {
            border-color: $calendar-focus-color;
            border-color: var(--calendar-focus-color);
            border-width: rem(4px);

            &::before {
                box-shadow: inset 0 0 0 rem(2px) $calendar-focus-color;
                box-shadow: inset 0 0 0 rem(2px) var(--calendar-focus-color);
            }
        }

        &:disabled {
            color: $calendar-disabled-day-color;
            color: var(--calendar-disabled-day-color);
        }
    }

    /// Navigation in extended mode
    /// ===========================

    &__navigation {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: $component-spacing--xl;
    }

    &__year-selector {
        max-width: 30%;
        margin-right: $component-spacing--xxl;
    }

    &__month-selector {
        position: relative;
        flex-grow: 2;
        min-width: unset !important;
    }
    &__month-value {
        text-transform: capitalize;
    }

    /// Calendar table caption (month and year)
    /// =======================================

    caption {
        @include jkl-text-style("desktop/body");
        margin-bottom: $component-spacing--xl;
        text-transform: capitalize;
    }

    /// Calendar table heading (weekday names)
    /// ======================================

    th {
        @include jkl-text-style("desktop/small");
        padding-bottom: $component-spacing--small;
    }

    /// Calendar table styles
    /// =====================

    td {
        text-align: center;
    }
    td + td,
    th + th {
        padding-left: rem(4px); // space between columns
    }
    tr + tr > td {
        padding-top: rem(4px); // space between rows
    }
    td button {
        @include reset-outline;
        appearance: none;
        border: 0;
        outline: none;
        position: relative;

        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: $date-width;
        width: $date-width;
        border-radius: 50%;
        background-color: transparent;
        color: $calendar-text-color;
        color: var(--calendar-text-color);

        font-size: $font-size-6;
        line-height: $line-height-5;
        padding: 0;
        padding-top: $component-spacing--xxs; // adjust visual alignment of text
        @include motion("entrance", "energetic");
        transition-property: color, background-color, box-shadow;

        &::before {
            content: "";
            position: absolute;
            top: rem(-2px);
            right: rem(-2px);
            bottom: rem(-2px);
            left: rem(-2px);
            border-radius: 999px;
            background-color: transparent;
        }

        &[data-adjacent="true"] {
            padding: 0; // reset vertical alignment of text
            font-size: $font-size-2;
            color: $calendar-adjacent-month-color;
            color: var(--calendar-adjacent-month-color);
        }
        &[aria-current="date"] {
            font-weight: $bold-weight;
        }

        // Other dates
        &:hover:not(:disabled) {
            background-color: $calendar-hover-date-background-color;
            background-color: var(--calendar-hover-date-background-color);
            cursor: pointer;
        }

        // Selected date
        &[autofocus] {
            background-color: $calendar-selected-date-background-color;
            background-color: var(--calendar-selected-date-background-color);
            color: $calendar-active-day-color;
            color: var(--calendar-active-day-color);
            cursor: pointer;

            &:hover {
                color: $calendar-text-color;
                color: var(--calendar-text-color);
            }
        }

        &:disabled {
            color: $calendar-disabled-day-color;
            color: var(--calendar-disabled-day-color);
        }

        &:focus::before {
            box-shadow: 0 0 0 rem(2px) $calendar-focus-color;
            box-shadow: 0 0 0 rem(2px) var(--calendar-focus-color);
        }
    }

    /// Legacy code for IE11 support
    &--inverted {
        background-color: $calendar-background-color--inverted;
        color: $calendar-text-color--inverted;

        &::before {
            background-color: $calendar-background-color--inverted;
            border-top: rem(2px) solid $calendar-border-color--inverted;
            border-right: rem(2px) solid $calendar-border-color--inverted;
        }

        .jkl-calendar__month-button {
            color: $calendar-text-color--inverted;

            &:hover,
            &:focus {
                color: $calendar-navigation-arrow-focus-color--inverted;
            }

            html:not([data-mousenavigation]) &:focus {
                border-color: $calendar-focus-color--inverted;

                &::before {
                    box-shadow: inset 0 0 0 rem(2px) $calendar-focus-color--inverted;
                }
            }

            &:disabled {
                color: $calendar-disabled-day-color--inverted;
            }
        }

        td button {
            color: $calendar-text-color--inverted;

            &[data-adjacent="true"] {
                color: $calendar-adjacent-month-color--inverted;
            }

            // Other dates
            &:hover:not(:disabled) {
                background-color: $calendar-hover-date-background-color--inverted;
                cursor: pointer;
            }

            // Selected date
            &[autofocus] {
                background-color: $calendar-selected-date-background-color--inverted;
                color: $calendar-active-day-color--inverted;
                cursor: pointer;

                &:hover {
                    color: $calendar-text-color--inverted;
                }
            }

            &:disabled {
                color: $calendar-disabled-day-color--inverted;
            }

            &:focus::before {
                box-shadow: 0 0 0 rem(2px) $calendar-focus-color--inverted;
            }
        }
    }
    // end legacy support
}
