@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-text-input/text-input.scss";
@import "~@fremtind/jkl-dropdown/dropdown.scss";

$date-width: rem(46px);
$calendar-padding: $component-spacing--xl;
$calendar-width: ($date-width * 7) + ($calendar-padding * 2);
$background-color: $snøhvit;
$popup-top-position: $label-height + $input-height + $bottom-padding + rem(2px);
$bottom-margin: $component-spacing--large;

.jkl-datepicker {
    position: relative;
    width: $calendar-width;
    background-color: $background-color;
    margin-bottom: $bottom-margin;

    &__toggler {
        border: none;
        padding: 0;
        outline: none;
        background-color: transparent;
        text-align: left;
        width: $calendar-width;

        & > .jkl-text-field {
            margin-bottom: 0;
        }
    }

    &__calendar-header {
        display: flex;
        justify-content: center;
        align-content: center;
        &--year {
            max-width: 30%;
            margin-right: $component-spacing--xxl;
        }
        &--month {
            position: relative;
            flex-grow: 2;
            padding-top: $label-height;
        }
    }

    &__month-label {
        @include position(absolute, $top: 0, $left: 0, $right: 0);
        font-size: $input-font-size;
        line-height: $label-height;
        color: $varm-fjellgrå;
        transform-origin: top left;
        transform: scale($label-font-size / $input-font-size);
        pointer-events: none;
    }

    &__calendar {
        @include position(absolute, $top: $popup-top-position, $left: 0, $right: 0);
        z-index: $z-index--dropdown;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: $calendar-width - ($calendar-padding * 2);
        padding: $calendar-padding;
        background-color: $background-color;
        box-shadow: $drop-shadow--small;

        caption {
            font-size: $font-size-3;
            line-height: $line-height-3;
            padding-top: $component-spacing--xl;
            text-transform: capitalize;
        }
        td {
            padding: 0;
            margin: 0;
            text-align: center;
        }
        th {
            font-weight: normal;
            font-size: $font-size-2;
            padding: $component-spacing--medium 0 $component-spacing--large;
        }
        button {
            font-size: $font-size-3;
            line-height: $line-height-3;
            display: inline-flex;
            height: 40px;
            width: 40px;
            padding: 0;
            padding-top: $component-spacing--xxs; // fixes font basline-issue
            margin: $component-spacing--xxs;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            outline: none;
            transition: all 75ms ease-in;
            &[data-adjacent="true"] {
                font-size: $font-size-2;
                color: $varm-fjellgrå;
            }
            &[aria-current="date"] {
                background-color: $varde;
            }
            &:hover:not(:disabled) {
                background-color: $varm-fjellgrå;
                color: $snøhvit;
            }
            &[autofocus] {
                background-color: $svart;
                color: $snøhvit;
                font-weight: bold;
            }
        }
    }
}
