@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all";
@import "~@fremtind/jkl-core/_functions";

@include jkl.helper-light-mode-variables {
    --datepicker-focus-color: #{jkl.$color-granitt};
}
@include jkl.helper-dark-mode-variables {
    --datepicker-focus-color: #{jkl.$color-snohvit};
}

.jkl-datepicker {
    @include reset-outline;
    position: relative;

    &__input-wrapper {
        position: relative;
    }

    & &__input {
        // adjust input padding for visual balance with numbers
        padding-top: rem(10px);
    }

    & .jkl-text-input__action-button {
        @include jkl.helper-forced-colors-svg-fallback($stroke: ButtonText, $fill: ButtonFace);
    }

    &__calendar-wrapper {
        position: absolute;
        top: calc(100% + #{rem(14px)});
        left: 0;
        z-index: jkl.$z-index--dropdown;
    }

    &--open {
        .jkl-datepicker__input {
            box-shadow: inset 0 0 0 rem(1px) var(--datepicker-focus-color), 0 0 0 rem(1px) transparent;

            &:hover,
            &:focus {
                box-shadow: inset 0 0 0 rem(1px) var(--datepicker-focus-color),
                    0 0 0 rem(1px) var(--datepicker-focus-color);
            }
        }
    }

    @include jkl.small-device {
        &__calendar-wrapper {
            left: -#{rem(68px)};
        }
    }
}

/// CALENDAR STYLES

$date-width: rem(40px);
$date-spacing: rem(4px);
$calendar-padding: jkl.$spacing-l;
$calendar-padding--compact: jkl.$spacing-xs;
$calendar-width: ($date-width * 7) + ($date-spacing * 6) + ($calendar-padding * 2);

@include jkl.helper-light-mode-variables {
    --calendar-text-color: #{jkl.$color-granitt};
    --calendar-background-color: #{jkl.$color-hvit};
    --calendar-border-color: #{jkl.$color-granitt};
    --calendar-adjacent-month-color: #{jkl.$color-stein};
    --calendar-disabled-day-color: #{jkl.$color-svaberg};
    --calendar-active-day-color: #{jkl.$color-hvit};
    --calendar-focus-color: #{jkl.$color-granitt};
    --calendar-navigation-arrow-focus-color: #{jkl.$color-stein};
    --calendar-hover-date-background-color: #{jkl.$color-varde};
    --calendar-selected-date-background-color: #{jkl.$color-granitt};
}

@include jkl.helper-dark-mode-variables {
    --calendar-text-color: #{jkl.$color-snohvit};
    --calendar-background-color: #{jkl.$color-svart};
    --calendar-border-color: #{jkl.$color-snohvit};
    --calendar-adjacent-month-color: #{jkl.$color-svaberg};
    --calendar-disabled-day-color: #{jkl.$color-stein};
    --calendar-active-day-color: #{jkl.$color-svart};
    --calendar-focus-color: #{jkl.$color-snohvit};
    --calendar-navigation-arrow-focus-color: #{jkl.$color-svaberg};
    --calendar-hover-date-background-color: #{jkl.$color-stein};
    --calendar-selected-date-background-color: #{jkl.$color-snohvit};
}

.jkl-calendar {
    // hard code for CSP blocking inline styling
    display: block;

    justify-content: center;
    flex-direction: column;
    max-width: $calendar-width;
    background-color: var(--calendar-background-color);
    color: var(--calendar-text-color);
    border-radius: 3px;
    box-shadow: inset 0 0 0 rem(1px) var(--calendar-border-color), 0 0 0 rem(1px) var(--calendar-border-color),
        rem(2px) rem(4px) rem(16px) rgb(0 0 0 / 24%);

    &--hidden {
        display: none;
    }

    &--extended {
        caption {
            // Hide table caption (month name) in extended mode
            // since month is shown in select above
            @include screenreader-only;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 5.75rem;
        width: rem(12px);
        height: rem(12px);
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: var(--calendar-background-color);
        border-top: rem(2px) solid var(--calendar-border-color);
        border-right: rem(2px) solid var(--calendar-border-color);
    }

    &__padding {
        padding: $calendar-padding;
        box-sizing: border-box;

        @include jkl.helper-forced-colors-mode {
            border: 1px solid CanvasText;
        }
    }

    @include small-device {
        &__padding {
            padding: $calendar-padding $calendar-padding--compact;
        }
    }

    /// Navigation in normal (compact) mode
    /// ===================================

    &__month-navigation {
        border: 0;
        padding: 0;
        margin: 0;
        display: flex;
        box-sizing: border-box;
        position: relative;
        top: 0;
        width: 100%;
        justify-content: space-between;
    }

    &__month-button {
        @include reset-outline;
        position: absolute;
        display: inline-flex;
        cursor: pointer;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: var(--calendar-text-color);
        width: rem(32px);
        border-radius: 50%;
        @include jkl.text-style("body/large-screen");

        &--right {
            right: 0;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            border-radius: 50%;
        }

        &:hover,
        &:focus {
            color: var(--calendar-navigation-arrow-focus-color);

            @include keyboard-navigation {
                border-color: var(--calendar-focus-color);
                border-width: rem(4px);

                &::before {
                    box-shadow: inset 0 0 0 rem(2px) var(--calendar-focus-color);
                }
            }
        }

        &:disabled {
            color: var(--calendar-disabled-day-color);
        }
    }

    /// Navigation in extended mode
    /// ===========================

    &__navigation {
        margin-bottom: jkl.$spacing-l;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__year-selector {
        max-width: 30%;
        margin-right: jkl.$spacing-xl;
        @include remove-inner-outer-button;
    }

    &__month-selector {
        position: relative;
        flex-grow: 2;
        min-width: unset !important;
    }

    &__month-value {
        text-transform: capitalize;
    }

    /// Calendar table caption (month and year)
    /// =======================================

    caption {
        @include jkl.text-style("body/large-screen");
        margin-bottom: jkl.$spacing-l;
        text-transform: capitalize;
    }

    /// Calendar table heading (weekday names)
    /// ======================================

    th {
        @include jkl.text-style("small/large-screen");
        padding-bottom: jkl.$spacing-xs;
    }

    /// Calendar table styles
    /// =====================

    td {
        text-align: center;
    }

    td + td,
    th + th {
        padding-left: rem(4px); // space between columns
    }

    tr + tr > td {
        padding-top: rem(4px); // space between rows
    }

    td button {
        @include reset-outline;
        appearance: none;
        position: relative;

        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: $date-width;
        width: $date-width;
        border-radius: 50%;
        background-color: transparent;
        color: var(--calendar-text-color);

        @include jkl.text-style("body/large-screen") {
            line-height: rem(40px);
        }
        padding: 0;
        padding-top: jkl.$spacing-3xs; // adjust visual alignment of text
        @include motion("entrance", "energetic");
        transition-property: color, background-color, box-shadow;

        &::before {
            content: "";
            position: absolute;
            top: rem(-2px);
            right: rem(-2px);
            bottom: rem(-2px);
            left: rem(-2px);
            border-radius: 999px;
            background-color: transparent;
        }

        &[data-adjacent="true"] {
            padding: 0; // reset vertical alignment of text
            @include jkl.text-style("small/large-screen") {
                line-height: rem(40px);
            }
            color: var(--calendar-adjacent-month-color);
        }

        &[aria-current="date"] {
            font-weight: jkl.$typography-weight-bold;
        }

        // Other dates
        &:hover:not(:disabled) {
            background-color: var(--calendar-hover-date-background-color);
            cursor: pointer;
        }

        // Selected date
        &[aria-pressed="true"] {
            background-color: var(--calendar-selected-date-background-color);
            color: var(--calendar-active-day-color);
            cursor: pointer;

            &:hover {
                color: var(--calendar-text-color);
            }
        }

        &:disabled {
            color: var(--calendar-disabled-day-color);
        }

        @include keyboard-navigation {
            &:focus::before {
                box-shadow: 0 0 0 rem(2px) var(--calendar-focus-color);
            }
        }
    }
}
