/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@use "@fremtind/jokul/styles/core/jkl";

.pageTitle {
    @include jkl.text-style("title") {
        font-size: clamp(2.25rem, 1.8673rem + 1.6327vw, 3.5rem);
        line-height: 1.1;
    }

    margin-block: var(--jkl-unit-20) var(--jkl-spacing-24);

    @media (width >=940px) {
        margin-block: var(--jkl-unit-90) var(--jkl-unit-80);
    }
}

.componentPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
}

.componentGallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: clamp(var(--jkl-unit-10),
            0.4038rem + 0.3846vw,
            var(--jkl-unit-15));

    row-gap: clamp(var(--jkl-unit-30),
            1.1154rem + 1.5385vw,
            var(--jkl-unit-50));

    &.listView {
        grid-template-columns: auto;
        border-top: 1px solid var(--jkl-color-border-separator);
        gap: 0;

        >* {
            border-bottom: 1px solid var(--jkl-color-border-separator);
        }
    }
}

.componentCard {
    --aspect-ratio: 1.5;

    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(var(--jkl-unit-10), 0.3077rem + 0.7692vw, var(--jkl-unit-20));
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: var(--color-text);

    .componentGallery.listView & {
        grid-template-columns: repeat(12, 1fr);
        gap: var(--jkl-unit-05) var(--jkl-unit-30);
        align-items: center;
        padding-block: var(--jkl-unit-30);

        >* {
            grid-column: 1/-1;
        }

        .image {
            grid-column: 1/3;
        }

        .name {
            grid-column: 3/6;
        }

        .description {
            display: block;
            grid-column: 6/-1;
        }

        @container (max-width: 45em) {
            .image {
                display: none;
            }

            .name,
            .description {
                grid-column-start: 1;
            }

            .name {
                grid-row: 1 / 2;
            }

            .description {
                grid-row: 2 / 3;
                @include jkl.text-style("small");
            }
        }
    }

    .name {
        @include jkl.text-style("heading-4");
        margin: 0;
    }

    .description {
        display: none;
    }

    .image {
        aspect-ratio: var(--aspect-ratio);

        img {
            object-fit: cover;
            aspect-ratio: var(--aspect-ratio);
        }
    }
}