/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@use "@fremtind/jokul/styles/core/jkl";

.pageTitle {
    margin-block: var(--jkl-unit-20) var(--jkl-spacing-24);

    @include jkl.text-style("title") {
        font-size: clamp(2.25rem, 1.8673rem + 1.6327vw, 3.5rem);
        line-height: 1.1;
    }

    @media (width >=940px) {
        margin-block: var(--jkl-unit-90) var(--jkl-unit-80);
    }
}


.componentPage {
    width: 100%;
    display: grid;
}
