@use "../../../../styles/jkl";
@use "../../../../shared/input/styles/shared-input-styles" as shared;

@layer jokul.components {
    .jkl-calendar-picker {
        .day {
            --border-radius: var(--jkl-border-radius-full);
            --disabled: 0.5;

            aspect-ratio: 1;
            min-width: 4ch;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: var(--border-radius);
            @include jkl.motion("standard", "productive", background-color);

            @include jkl.keyboard-navigation {
                &:focus-visible,
                &:has(:focus-visible) {
                    @include jkl.focus-outline;
                    outline-offset: 2px;
                }
            }

            input {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                border-radius: var(--border-radius);
                top: 0;
                left: 0;
                inset: 1px;
                z-index: 0;
            }

            &::after {
                content: "";
                border-radius: 100%;
                height: var(--jkl-unit-05);
                min-height: 4px;
                aspect-ratio: 1;
                background-color: transparent;
                z-index: 2;
                @include jkl.motion("standard", "productive", background-color);
            }

            > * {
                z-index: 1;

            }

            &:where(:has(input:disabled)) {
                opacity: var(--disabled);

                &:hover > *, &::after, &::before {
                    cursor: not-allowed;
                }
            }

            &:where(:has(input:not(:disabled))) {
                &:hover {
                    > *,
                    &::after,
                    &::before {
                        cursor: pointer;
                    }
                }

                &:hover::before {
                    background-color: color-mix(in srgb, var(--jkl-color-background-container), var(--jkl-color-text-default) 15%);
                }

                &:has(input:checked) {
                    color: var(--jkl-color-text-on-contrast);

                    &::before {
                        background-color: var(--jkl-color-background-contrast);
                    }

                    &::after {
                        background-color: var(--jkl-color-text-on-contrast);
                    }
                }
            }
        }
    }
}
