@import "~@fremtind/jkl-core/variables/_colors.scss";

$color-map: (
    hvit: $hvit,
    snohvit: $snohvit,
    sand: $sand,
    dis: $dis,
    varde: $varde,
    svaberg: $svaberg,
    stein: $stein,
    fjellgra: $fjellgra,
    skifer: $skifer,
    granitt: $granitt,
    svart: $svart,
    suksess: $suksess,
    info: $info,
    advarsel: $advarsel,
    feil: $feil,
    suksess--darkbg: $suksess--darkbg,
    info--darkbg: $info--darkbg,
    advarsel--darkbg: $advarsel--darkbg,
    feil--darkbg: $feil--darkbg,
);

@each $property, $value in $color-map {
    .jkl-color {
        &-#{$property} {
            color: $value;
        }
    }
    .jkl-bgcolor {
        &-#{$property} {
            background-color: $value;
        }
    }
}
