@use "variables" as vars;
@use "mixins";

@import "./normalize";
@import "./reset";

@import "./headings";
@import "./paragraphs";
@import "./links";
@import "./labels";
@import "./spacing";
@import "./screen-reader";
@import "./color-classes";
@import "./icons";

@include mixins.helper-light-mode-variables {
    --jkl-background-color: #{vars.$color-snohvit};
    --jkl-color: #{vars.$color-granitt};
}

@include mixins.helper-dark-mode-variables {
    --jkl-background-color: #{vars.$color-granitt};
    --jkl-color: #{vars.$color-snohvit};
}

.jkl {
    font-family: "Fremtind Grotesk", Calibri, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--jkl-background-color);
    color: var(--jkl-color);
}

@include mixins.helper-prefers-reduced-motion {
    *,
    *::after,
    *::before {
        animation-duration: 0ms !important;
        animation-delay: 0ms !important;
        transition: none !important;
    }
}
