@use "jkl";
@use "styles";

// Hacky direkte import av tema. Man bør kunne importere tema separat fra kjernestiler
// samtidig som det tilbys en "integrert" versjon med default tema for kompatibilitet
@use "theme-default";

.jkl {
    font-family: "Fremtind Grotesk", Calibri, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--jkl-theme-color-bg);
    color: var(--jkl-theme-color-text);
}

@include jkl.prefers-reduced-motion {
    *,
    *::after,
    *::before {
        animation-duration: 0ms !important;
        animation-delay: 0ms !important;
        transition: none !important;
    }
}
