@import "./normalize.scss";
@import "./reset.scss";

@import "./headings.scss";
@import "./paragraphs.scss";
@import "./links.scss";
@import "./labels.scss";
@import "./spacing.scss";

:root {
    font-family: "Fremtind Grotesk";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
