@use "variables" as vars;
@use "mixins";

@import "./normalize.scss";
@import "./reset.scss";

@import "./headings.scss";
@import "./paragraphs.scss";
@import "./links.scss";
@import "./labels.scss";
@import "./spacing.scss";
@import "./screen-reader";
@import "./color-classes.scss";
@import "./icons.scss";

@include mixins.helper-light-mode-variables {
    --jkl-background-color: #{vars.$color-snohvit};
    --jkl-color: #{vars.$color-granitt};
}

@include mixins.helper-dark-mode-variables {
    --jkl-background-color: #{vars.$color-granitt};
    --jkl-color: #{vars.$color-snohvit};
}

.jkl {
    font-family: "Fremtind Grotesk", Calibri, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--jkl-background-color);
    color: var(--jkl-color);
}

@media screen and (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
        animation-duration: 0ms !important;
        animation-delay: 0ms !important;
        transition: none !important;
    }
}
