@use "jkl";
@use "styles";

$HUE: 32;

.jkl {
    font-family: "Fremtind Grotesk", Calibri, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--jkl-system-color-surface);
    color: var(--jkl-system-color-on-surface);
}

:root {
    --jkl-reference-hue: #{$HUE};
}

@include jkl.prefers-reduced-motion {
    *,
    *::after,
    *::before {
        animation-duration: 0ms !important;
        animation-delay: 0ms !important;
        transition: none !important;
    }
}
