@import "./variables/all";
@import "./mixins/all";

.jkl-form-support-label {
    display: block;
    margin-top: $component-spacing--large;
    @include font-size(xs);
    @include line-height(xs);

    &--help {
        color: $svart;
    }

    &--error {
        color: $error-color;
    }
}
