@import "./variables/all";
@import "./mixins/all";

.jkl-form-support-label {
    display: block;
    margin-top: $component-spacing--small;
    @include font-size(xs);
    @include line-height(xs);

    &--help {
        color: $svart;
    }

    &--error {
        color: $error-color;
    }
}

.jkl-form-question {
    @include font-size("xl");
    @include line-height("xl");
    margin-bottom: $component-spacing--large;

    &--secondary {
        @include font-size("medium");
        @include line-height("medium");
        margin-bottom: $component-spacing--large;
    }
}
