@import "./variables/font-size";
@import "./variables/spacing";
@import "./mixins/helpers";

.jkl-h1 {
    @include h1-heading;
    margin-bottom: $layout-spacing--small;
}

.jkl-h2 {
    @include h2-heading;
    margin-bottom: $layout-spacing--small;
}

.jkl-h3 {
    @include h3-heading;
    margin-bottom: $layout-spacing--small;
}

.jkl-h4 {
    @include h4-heading;
    margin-bottom: $layout-spacing--small;
}

.jkl-h5 {
    @include h5-heading;
    margin-bottom: $layout-spacing--small;
}
