@import "./variables/all";
@import "./mixins/all";
@import "./functions";

.jkl-form-support-label {
    display: block;
    margin-top: $component-spacing--small;
    @include text-sizing("xxs");

    &--compact {
        @include text-sizing--small-device("xxs");
    }

    &--help {
        color: $svart;
    }

    &--error {
        color: $error-color;
    }
}

.jkl-label {
    display: block;
    // Medium size is default
    margin-bottom: $component-spacing--large;
    margin-left: initial;
    @include text-sizing("medium");
    @include small-device {
        margin-bottom: $component-spacing--small;
    }

    &--large {
        margin-bottom: $component-spacing--xl;
        margin-left: rem(-1px); // adjust visual alignment
        @include text-sizing("xl");
        @include small-device {
            margin-bottom: $component-spacing--large;
        }
    }

    &--small {
        margin-bottom: 0;
        margin-left: initial;
        @include text-sizing("xxs");
    }

    &--compact {
        &.jkl-label--medium {
            @include text-sizing--small-device("medium");
        }
        &.jkl-label--small {
            @include text-sizing--small-device("xxs");
        }
        &.jkl-label--large {
            @include text-sizing--small-device("xl");
        }
    }
}
