@import "./variables/all";
@import "./mixins/all";
@import "./functions";

.jkl-form-support-label {
    @include jkl-text-style("desktop/small");
    display: block;
    margin-top: $component-spacing--small;

    &--error {
        color: $error-color;
    }

    &--sr-only {
        @include screenreader-only;
    }

    &--inverted {
        &.jkl-form-support-label--error {
            color: $feil--darkbg;
        }
    }
}

$label-spacing-large: $component-spacing--large;
$label-spacing-medium: $component-spacing--small;
$label-spacing-small: $component-spacing--xs;
$label-spacing-large--compact: $component-spacing--medium;
$label-spacing-medium--compact: $component-spacing--small;
$label-spacing-small--compact: $component-spacing--xs;

.jkl-label {
    display: block;
    margin-left: initial;

    &--large {
        @include jkl-text-style("desktop/title-small");
        margin-bottom: $label-spacing-large;
        margin-left: rem(-1px); // adjust visual alignment
    }

    &--medium {
        @include jkl-text-style("desktop/lead");
        margin-bottom: $label-spacing-medium;
    }

    &--small {
        @include jkl-text-style("desktop/small");
        margin-bottom: $label-spacing-small;
    }

    &--sr-only {
        @include screenreader-only;
    }

    @include small-device {
        &.jkl-label--small {
            @include jkl-text-style("compact/small");
            margin-bottom: $label-spacing-small--compact;
        }
        &.jkl-label--medium {
            @include jkl-text-style("compact/lead");
            margin-bottom: $label-spacing-medium--compact;
        }
        &.jkl-label--large {
            @include jkl-text-style("compact/title-small");
            margin-bottom: $label-spacing-large--compact;
        }
    }

    @include compact-mode {
        &.jkl-label--small {
            @include jkl-text-style("compact/small");
            margin-bottom: $label-spacing-small--compact;
        }
        &.jkl-label--medium {
            @include jkl-text-style("compact/lead");
            margin-bottom: $label-spacing-medium--compact;
        }
        &.jkl-label--large {
            @include jkl-text-style("compact/title-small");
            margin-bottom: $label-spacing-large--compact;
        }
    }
}
