@import "./variables/all";
@import "./mixins/all";
@import "./functions";

@mixin underline-gradient($color) {
    background-image: linear-gradient(to bottom, $color 0%, $color 100%);
}

$link-underline-thickness: rem(1px);
$link-underline-thickness--hover: rem(2px);
$link-active-color: $info;
$link-active-color--inverted: $info--darkbg;

:root,
[data-theme="light"] {
    --link-active-color: #{$link-active-color};
}
[data-theme="dark"] {
    --link-active-color: #{$link-active-color--inverted};
}

.jkl-link {
    @include underline-gradient(currentColor);
    background-position: 0 calc(100% - (#{$link-underline-thickness--hover} - #{$link-underline-thickness}));
    background-size: $link-underline-thickness $link-underline-thickness;
    background-repeat: repeat-x;
    @include motion("standard", "energetic");
    transition-property: background-size, background-position, color;
    outline: none;
    text-decoration: none;
    color: currentColor;

    &:focus,
    &:hover {
        color: $link-active-color;
        color: var(--link-active-color);
        @include underline-gradient($link-active-color);
        @include underline-gradient(var(--link-active-color));
        background-position: 0 100%;
        background-size: $link-underline-thickness--hover $link-underline-thickness--hover;
    }

    &:active {
        background-position: 0 calc(100% - (#{$link-underline-thickness--hover} - #{$link-underline-thickness}));
        background-size: $link-underline-thickness $link-underline-thickness;
    }

    /* Show arrow after external links, or links opening
    in a new window or tab: */
    &[target="_blank"],
    &--external {
        &:after {
            content: "\2197"; // unicode north east arrow (up/right)
        }
    }

    &--negative {
        &:focus,
        &:hover {
            color: $link-active-color--inverted;
            color: var(--link-active-color);
            @include underline-gradient($link-active-color--inverted);
            @include underline-gradient(var(--link-active-color));
        }
    }
}
