@use "./jkl";

@import "./variables/all";
@import "./mixins/all";
@import "./functions";

@mixin underline-gradient($color) {
    background-image: linear-gradient(to bottom, $color 0%, $color 100%);
}

@mixin border-gradient($color) {
    border-width: #{$link-underline-thickness};
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, $color 0%, $color 100%);
}

$right-arrow: "\2192"; // unicode right arrow
$left-arrow: "\2190"; // unicode left arrow
$north-east-arrow: "\2197"; // unicode north east arrow (up/right)

$link-underline-thickness: rem(1px);
$link-underline-thickness--hover: rem(2px);

$link-color: jkl.$color-granitt;
$link-hover-color: jkl.$color-stein;
$link-active-color: jkl.$color-granitt;

$link-color--inverted: jkl.$color-snohvit;
$link-hover-color--inverted: jkl.$color-svaberg;
$link-active-color--inverted: jkl.$color-snohvit;

@include light-mode-variables {
    --link-color: #{$link-color};
    --link-hover-color: #{$link-hover-color};
    --link-active-color: #{$link-active-color};
}
@include dark-mode-variables {
    --link-color: #{$link-color--inverted};
    --link-hover-color: #{$link-hover-color--inverted};
    --link-active-color: #{$link-active-color--inverted};
}

.jkl-link {
    color: $link-color;
    color: var(--link-color);

    @include underline-gradient(currentColor);
    background-position: 0 calc(100% - (#{$link-underline-thickness--hover} - #{$link-underline-thickness}));
    background-size: $link-underline-thickness $link-underline-thickness;
    background-repeat: repeat-x;
    @include motion("standard", "energetic");
    transition-property: background-size, background-position, color;
    outline: none;
    text-decoration: none;

    &:hover:not(:focus) {
        color: $link-hover-color;
        color: var(--link-hover-color);
        @include underline-gradient($link-hover-color);
        @include underline-gradient(var(--link-hover-color));
        background-position: 0 100%;
        background-size: $link-underline-thickness--hover $link-underline-thickness--hover;
    }

    &:hover &:focus {
        color: $link-color;
        color: var(--link-color);
        @include underline-gradient($link-color);
        @include underline-gradient(var(--link-color));
    }

    html:not([data-mousenavigation]) &:focus {
        @include no-grow-bold;
        @include border-gradient($link-active-color);
        @include border-gradient(var(--link-active-color));
    }

    &:active {
        background-position: 0 calc(100% - (#{$link-underline-thickness--hover} - #{$link-underline-thickness}));
        background-size: $link-underline-thickness $link-underline-thickness;
    }

    /* Show arrow after external links, or links opening
    in a new window or tab: */
    &[target="_blank"],
    &--external {
        &:after {
            content: $north-east-arrow;
        }
    }

    &--negative {
        --link-color: #{$link-color--inverted};
        --link-hover-color: #{$link-hover-color--inverted};
        --link-active-color: #{$link-active-color--inverted};
    }
}

.jkl-nav-link {
    color: $link-color;
    color: var(--link-color);

    @include reset-outline;
    box-sizing: border-box;
    font-weight: jkl.$typography-weight-normal;
    text-decoration: none;
    position: relative;
    padding-right: 1.2em;

    &:after {
        position: absolute;
        content: $right-arrow;
        padding-left: rem(2px);
        transform: translateX(0);
        @include motion("standard");
        transition-property: transform;
    }

    &:hover:not(:focus) {
        color: $link-hover-color;
        color: var(--link-hover-color);

        &:after {
            transform: translateX(33%);
        }
    }

    html:not([data-mousenavigation]) &:focus {
        @include border-gradient($link-color);
        @include border-gradient(var(--link-color));
        @include no-grow-bold;

        &:after {
            transform: translateX(33%);
        }
    }

    &--active {
        @include no-grow-bold;
    }

    &--inverted {
        --link-color: #{$link-color--inverted};
        --link-hover-color: #{$link-hover-color--inverted};
        --link-active-color: #{$link-active-color--inverted};
    }
}

.jkl-nav-link--back {
    padding-right: 0;
    padding-left: 1em;

    &:after {
        display: none;
    }

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: $left-arrow;
        transform: translateX(0);
        @include motion("standard");
        transition-property: transform;
    }

    &:hover,
    html:not([data-mousenavigation]) &:focus {
        &:before {
            transform: translateX(-33%);
        }
    }
}
