@import "./variables/font-size";
@import "./variables/spacing";
@import "./mixins/helpers";

.jkl-p {
    @include body-paragraph;
    margin-bottom: $layout-spacing--small;
}

.jkl-lead {
    @include lead-paragraph;
    margin-bottom: $layout-spacing--small;
}

.jkl-small {
    @include body-small-paragraph;
    margin-bottom: $layout-spacing--small;
}

.jkl-tiny {
    @include micro-paragraph;
    margin-bottom: $layout-spacing--small;
}
