@use "sass:color";
@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

$_transition-timing: 200ms cubic-bezier(0.7, 0, 0.3, 1);

$_value-height: jkl.rem(32px);
$_value-font-size: jkl.rem(22px);

$_arrow-height: jkl.rem(16px);
$_arrow-width: jkl.rem(13px);

$_select-padding: jkl.$spacing-xs jkl.$spacing-s;

$_select-focus-color: jkl.$color-granitt;
$_select-search-input-selection-color: color.scale(
    $color: $_select-focus-color,
    $alpha: -80%,
);

$_select-focus-color--inverted: jkl.$color-snohvit;
$_select-search-input-selection-color--inverted: color.scale(
    $color: $_select-focus-color--inverted,
    $alpha: -75%,
);

@include jkl.light-mode-variables {
    --jkl-select-border-color: #{jkl.$color-stein};
    --jkl-select-text-color: #{jkl.$color-granitt};
    --jkl-select-text-disabled-color: #{jkl.$color-stein};
    --jkl-select-background-color: transparent;
    --jkl-select-open-background-color: #{jkl.$color-hvit};
    --jkl-select-focus-color: #{$_select-focus-color};
    --jkl-select-error-background-color: #{colors.varslingsfarge("feil")};
    --jkl-select-error-text-color: #{jkl.$color-granitt};
    --jkl-select-hover-option-color: #{jkl.$color-granitt};
    --jkl-select-hover-option-background-color: #{jkl.$color-varde};
    --jkl-select-search-input-selection-color: #{$_select-search-input-selection-color};
    --jkl-select-search-input-error-selection-color: #{$_select-search-input-selection-color};
}

@include jkl.dark-mode-variables {
    --jkl-select-border-color: #{jkl.$color-svaberg};
    --jkl-select-text-color: #{jkl.$color-snohvit};
    --jkl-select-text-disabled-color: #{jkl.$color-svaberg};
    --jkl-select-background-color: transparent;
    --jkl-select-open-background-color: #{jkl.$color-svart};
    --jkl-select-focus-color: #{$_select-focus-color--inverted};
    --jkl-select-error-background-color: #{colors.varslingsfarge("feil")};
    --jkl-select-error-text-color: #{jkl.$color-granitt};
    --jkl-select-hover-option-color: #{jkl.$color-snohvit};
    --jkl-select-hover-option-background-color: #{jkl.$color-stein};
    --jkl-select-search-input-selection-color: #{$_select-search-input-selection-color--inverted};
    --jkl-select-search-input-error-selection-color: #{$_select-search-input-selection-color};
}

.jkl-select {
    @include jkl.reset-outline;
    display: block;
    position: relative;

    /* Resets for native styling, especially in Firefox/IE */
    & *:focus {
        outline: none;
    }

    & select {
        appearance: none;

        &::ms-expand {
            display: none;
        }

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 var(--jkl-select-text-color);
        }

        & option {
            font-weight: normal;
            font-family: sans-serif;
            color: var(--jkl-select-text-color);
            background-color: var(--jkl-select-open-background-color);

            &:disabled {
                color: var(--jkl-select-text-disabled-color);
            }
        }
    }

    /* End of resets */

    &__outer-wrapper {
        position: relative;
        width: 15rem;
        min-width: 7rem;
        max-width: 100%;
    }

    &__search-input {
        box-sizing: border-box;
        color: var(--jkl-select-text-color);

        /* Color of text selection */
        &::selection {
            background-color: var(--jkl-select-search-input-selection-color);

            [data-theme="dark"] & {
                background-color: var(--jkl-select-search-input-selection-color);
            }
        }
    }

    /* The main select element showing the current value */
    &__search-input,
    &__button {
        @include jkl.text-style("body/large-screen");
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: var(--jkl-select-background-color);
        color: var(--jkl-select-text-color);
        cursor: pointer;

        height: jkl.rem(48px);
        border-radius: jkl.rem(3px);
        border: jkl.rem(1px) solid var(--jkl-select-border-color);
        box-shadow: 0 0 0 jkl.rem(1px) transparent;

        padding: $_select-padding;
        padding-right: $_arrow-width + 2 * jkl.$spacing-m;
        text-align: left;
        width: 100%;

        @include jkl.motion;
        transition-property: color, border-color, box-shadow;

        &:focus {
            border-color: var(--jkl-select-focus-color);
            color: var(--jkl-select-focus-color);
            box-shadow: 0 0 0 jkl.rem(1px) var(--jkl-select-focus-color);
            background-color: var(--jkl-select-open-background-color);
        }

        &:hover {
            border-color: var(--jkl-select-focus-color);
            box-shadow: 0 0 0 jkl.rem(1px) var(--jkl-select-focus-color);

            & ~ .jkl-select__arrow {
                transform: translateY(calc(-50% + #{jkl.rem(3px)}));
            }
        }
    }

    /* The dropdown arrow */
    &__arrow {
        position: absolute;
        right: jkl.$spacing-m;
        top: 50%;
        transform: translateY(-50%);
        color: inherit;
    }

    /* The wrapper for the dropdown list */
    &__options-menu {
        @include jkl.motion;
        transition-property: height;
        position: absolute;
        left: jkl.rem(-1px);
        right: jkl.rem(-1px);
        top: 100%;
        z-index: jkl.$z-index--dropdown;

        background-color: var(--jkl-select-open-background-color);
        border: jkl.rem(2px) solid var(--jkl-select-focus-color);
        border-top: none;
        border-radius: 0 0 jkl.rem(3px) jkl.rem(3px);
        box-sizing: border-box;

        overflow-y: auto;
        max-height: 60vh;
    }

    /* A wrapper for the list items (<ul>) */
    &__option-wrapper {
        margin: 0;
        padding: 0;

        list-style-type: none;
        -webkit-overflow-scrolling: touch;
    }

    /* The individual options in the dropdown list */
    &__option {
        @include jkl.text-style("body/large-screen");
        color: unset;
        display: flex; // avoids wrapping long names "under" the focus arrow
        align-items: flex-start;
        border: 0; // removes native styling
        width: 100%;
        background-color: inherit;
        min-height: jkl.rem(48px);
        text-align: left;
        @include jkl.motion;
        transition-property: color, background-color;
        position: relative;
        padding: $_select-padding;
        cursor: pointer;

        &:focus,
        &:hover {
            color: var(--jkl-select-hover-option-color);
            background-color: var(--jkl-select-hover-option-background-color);
        }
    }

    /* --------
       VARIANTS
       -------- */

    &--inline {
        display: inline-block;
        vertical-align: top;
    }

    &--open {
        .jkl-select__search-input,
        .jkl-select__button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-color: var(--jkl-select-focus-color);
            background-color: var(--jkl-select-open-background-color);
            box-shadow: 0 0 0 jkl.rem(1px) var(--jkl-select-focus-color);

            &:hover ~ .jkl-select__arrow {
                transform: translateY(calc(-50% + #{jkl.rem(-3px)}));
            }
        }
    }

    &--invalid {
        .jkl-select__search-input,
        .jkl-select__button {
            background-color: var(--jkl-select-error-background-color);
        }

        .jkl-select__search-input,
        .jkl-select__button,
        .jkl-select__arrow {
            color: var(--jkl-select-error-text-color);
        }

        /* Color of text selection */
        .jkl-select__search-input::selection {
            background-color: var(--jkl-select-search-input-error-selection-color);
        }
    }

    @include jkl.compact-mode {
        & .jkl-select__search-input,
        & .jkl-select__button {
            @include jkl.text-style("body/small-screen") {
                line-height: jkl.rem(24px);
            }
            height: jkl.rem(40px);
        }

        & .jkl-select__option {
            @include jkl.text-style("body/small-screen") {
                line-height: jkl.rem(24px);
            }
            min-height: jkl.rem(40px);
        }
    }

    @include jkl.forced-colors-mode {
        // Vi er en button (hvis ikke native) og får ButtonText, men vi later som vi er en select, og den har CanvasText
        & .jkl-select__button,
        & .jkl-select__search-input {
            color: CanvasText;
            border: 2px solid ButtonText;
            background-color: Canvas;
            outline: revert;

            &:hover {
                border-color: Highlight;
            }
        }

        & .jkl-select__option {
            color: CanvasText;

            border-top: 1px solid Canvas;
            border-bottom: 1px solid Canvas;

            &:hover,
            &:focus {
                @include jkl.no-grow-bold;
                border-top: 1px solid Highlight;
                border-bottom: 1px solid Highlight;
            }
        }
    }
}

.jkl-select-expand-arrow {
    height: $_arrow-height;
    width: $_arrow-width;
    clip: rect(auto, auto, auto, auto);
    clip-path: inset(0 0 0 0);

    pointer-events: none;

    @include jkl.motion;
    transition-property: transform, color;

    &__up,
    &__down {
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        left: 0;
        height: $_arrow-height;
        width: $_arrow-width;
        @include jkl.motion;
        transition-property: transform;
    }

    &__up {
        top: 100%;
    }

    &__down {
        top: 0;
    }

    &--expanded {
        .jkl-select-expand-arrow__up,
        .jkl-select-expand-arrow__down {
            @include jkl.motion("standard", "expressive");
            transform: translate(0, -100%);
        }
    }

    .jkl-select & {
        @include jkl.forced-colors-svg-fallback($stroke: CanvasText, $fill: CanvasText);
    }
}
