@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$transition-timing: 200ms cubic-bezier(0.7, 0, 0.3, 1);

$bg-color: inherit;
$bg-color--options: $hvit;

$border-color: $svart;
$border-color--focus: $info;

$value-height: $line-height-4;
$value-font-size: $font-size-6;

$side-padding: $component-spacing--small;
$bottom-padding: $component-spacing--small;

$arrow-height: rem(16px);
$arrow-width: rem(13px);

.jkl-select {
    @include reset-outline;
    background-color: $bg-color;
    display: block;
    position: relative;
    width: 15rem;
    min-width: 7rem;

    /* Resets for native styling, especially in Firefox/IE */
    & *:focus {
        outline: none;
    }
    & select {
        appearance: none;
        &::ms-expand {
            display: none;
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $border-color;
        }
        & option {
            font-weight: normal;
            font-family: sans-serif;
            color: black;
        }
    }
    /* End of resets */

    &__outer-wrapper {
        position: relative;
    }

    /* The main select element showing the current value */
    &__button {
        @include jkl-text-style("desktop/body");
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: $hvit;
        color: $svart;

        height: rem(48px);
        border: rem(1px) solid $svart;
        border-radius: rem(3px);
        box-shadow: 0 0 0 0 $svart;

        padding: $component-spacing--small $component-spacing--large;
        padding-right: $arrow-width + 2 * $component-spacing--large;
        text-align: left;
        width: 100%;

        @include motion("standard");
        transition-property: color, border-color, box-shadow;

        &:hover,
        &:focus {
            border-color: $info;
            color: $info;
            box-shadow: 0 0 0 rem(1px) $info;

            & ~ .jkl-select__arrow {
                color: $info;
            }
        }

        &:hover {
            & ~ .jkl-select__arrow {
                transform: translateY(calc(-50% + #{rem(3px)}));
            }
        }
    }

    /* The dropdown arrow */
    &__arrow {
        position: absolute;
        right: $component-spacing--large;
        top: 50%;
        transform: translateY(-50%);
        color: inherit;
    }

    /* The wrapper for the dropdown list */
    &__options-menu {
        @include motion("standard");
        transition-property: height;
        position: absolute;
        left: rem(-1px);
        right: rem(-1px);
        top: 100%;
        z-index: $z-index--dropdown;

        background-color: $bg-color--options;
        border: rem(2px) solid $info;
        border-top: none;
        border-radius: 0 0 rem(3px) rem(3px);
        box-sizing: border-box;

        overflow-y: auto;
        max-height: 60vh;
    }

    /* A wrapper for the list items (<ul>) */
    &__option-wrapper {
        margin: 0;
        padding: 0;

        list-style-type: none;
        -webkit-overflow-scrolling: touch;
    }

    /* The individual options in the dropdown list */
    &__option {
        @include jkl-text-style("desktop/body");
        color: unset;
        border: 0; // removes native styling
        width: 100%;
        background-color: inherit;
        min-height: rem(48px);
        padding: $component-spacing--small $component-spacing--large;
        clip-path: inset($component-spacing--small $component-spacing--large);
        clip: rect();
        text-align: left;
        @include motion("standard");
        transition-property: color, background-color;
        position: relative;

        &:before {
            content: "";
        }

        &:focus {
            color: $info;

            &::before {
                content: "→ ";
            }
        }

        &:hover {
            color: $info;
        }

        &[aria-selected="true"]:not(:focus) {
            &::after {
                background-color: $info;
                content: "";
                mask-image: url('data:image/svg+xml; utf8, <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.52632L4.6 12L16 1" stroke="black"/></svg>');
                display: inline-block;
                margin-left: $component-spacing--xs;
                width: 17px;
                height: 13px;
            }
        }
    }

    /* --------
       VARIANTS
       -------- */

    &--inline {
        display: inline-block;
        vertical-align: top;
    }

    &--open {
        .jkl-select__button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-color: $info;
            box-shadow: 0 0 0 rem(1px) $info;

            &:hover ~ .jkl-select__arrow {
                transform: translateY(calc(-50% + #{rem(-3px)}));
            }
        }
    }

    &--invalid {
        .jkl-select__button {
            border-color: $feil;
        }

        .jkl-select__button:hover,
        .jkl-select__button:focus {
            box-shadow: 0 0 0 rem(1px) $feil;
            color: $feil;

            & ~ .jkl-select__arrow {
                color: $feil;
            }
        }

        &.jkl-select--open {
            .jkl-select__button {
                border-color: $info;
                box-shadow: 0 0 0 rem(1px) $info;
                &:hover,
                &:focus {
                    color: $info;
                    & ~ .jkl-select__arrow {
                        color: $info;
                    }
                }
            }
        }
    }

    &--inverted {
        .jkl-select__button {
            background-color: transparent;
            border-color: $hvit;
            color: $hvit;
        }
        .jkl-select__button:hover,
        .jkl-select__button:focus,
        &.jkl-select--open .jkl-select__button {
            box-shadow: 0 0 0 rem(1px) $info--darkbg;
            border-color: $info--darkbg;
            color: $info--darkbg;

            & ~ .jkl-select__arrow {
                color: $info--darkbg;
            }
        }

        .jkl-select__option {
            &:focus {
                color: $info--darkbg;

                &::before {
                    content: "→";
                }
            }

            &[aria-selected="true"]:not(:focus)::after {
                background-color: $info--darkbg;
            }

            &:hover {
                color: $info--darkbg;
            }
        }

        .jkl-select__options-menu,
        &.jkl-select--open .jkl-select__button {
            border-color: $info--darkbg;
            background-color: $gra-80;
        }

        &.jkl-select--invalid {
            .jkl-select__button {
                border-color: $feil--darkbg;

                &:hover,
                &:focus {
                    box-shadow: 0 0 0 rem(1px) $feil--darkbg;
                    color: $feil--darkbg;
                    & ~ .jkl-select__arrow {
                        color: $feil--darkbg;
                    }
                }
            }

            &.jkl-select--open {
                .jkl-select__button {
                    border-color: $info--darkbg;
                    box-shadow: 0 0 0 rem(1px) $info--darkbg;
                    &:hover,
                    &:focus {
                        color: $info--darkbg;
                        & ~ .jkl-select__arrow {
                            color: $info--darkbg;
                        }
                    }
                }
            }
        }
    }

    @include compact-mode {
        & .jkl-select__button {
            @include jkl-text-style("compact/body");
            height: rem(40px);
        }
        & .jkl-select__option {
            @include jkl-text-style("compact/body");
            min-height: rem(40px);
        }
    }
}

.jkl-expand-arrow {
    height: $arrow-height;
    width: $arrow-width;
    clip: rect(auto, auto, auto, auto);
    clip-path: inset(0 0 0 0);

    pointer-events: none;

    @include motion("standard");
    transition-property: transform, color;

    &__up,
    &__down {
        margin: 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        left: 0;
        height: $arrow-height;
        width: $arrow-width;
        @include motion("standard");
        transition-property: transform;
    }

    &__up {
        top: 100%;
    }

    &__down {
        top: 0;
    }

    &--expanded {
        .jkl-expand-arrow__up,
        .jkl-expand-arrow__down {
            @include motion("standard", "expressive");
            transform: translate(0, -100%);
        }
    }
}
