@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$transition-timing: 200ms cubic-bezier(0.7, 0, 0.3, 1);

$select-width: 20rem;
$bg-color: inherit;
$bg-color--options: $helhvit;

$border-color: $svart;
$border-color--focus: $focus-color;

$value-height: $line-height-4;
$value-font-size: $font-size-6;

$side-padding: $component-spacing--small;
$bottom-padding: $component-spacing--small;

$chevron-size: rem(20px);
$chevron-size--compact: rem(16px);
$chevron-weight: rem(1px);
$chevron-side-padding: (2 * $component-spacing--small);

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    75% {
        opacity: 0.75;
        transform: translateX(4px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@mixin nojump-bold {
    // Make font bolder without increasing line length
    font-weight: $bold-weight;
    letter-spacing: -0.009em;
}

.jkl-select {
    @include reset-outline;
    background-color: $bg-color;
    display: block;
    width: $select-width;
    position: relative;

    &--inline {
        display: inline-block;
        vertical-align: top;
    }

    @include compact-mode {
        & .jkl-select__value {
            @include body-paragraph--mobile;
            padding-right: $chevron-size--compact + $chevron-side-padding;
        }
        & .jkl-select__option {
            @include body-paragraph--mobile;
            min-height: rem(40px);
        }
        & .jkl-select__chevron {
            @include chevron($chevron-size--compact, currentcolor, $weight: $chevron-weight);
        }
    }

    & *:focus {
        // Remove default focus outline for all elements within
        outline: none;
    }

    & select {
        /* reset default appearance */
        appearance: none;
        border-radius: 0;
        &::ms-expand {
            display: none;
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $border-color;
        }

        & option {
            font-weight: normal;
            font-family: sans-serif;
            color: black;
        }
    }

    &__value {
        @include body-paragraph;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: transparent;
        color: inherit;

        border: 0;
        font-weight: $bold-weight;
        padding: 0 $side-padding $bottom-padding 0;
        padding-right: $chevron-size + $chevron-side-padding;
        text-align: left;
        transition: box-shadow $transition-timing, padding $transition-timing;
        width: 100%;
        opacity: 1;
        position: relative;
        @include underline-color(currentColor, $border-color--focus);

        &::-ms-expand {
            display: none; // remove dropdown arrow in IE11
        }

        &:active {
            color: currentColor; // Safari text will blink on click without this
        }
    }

    &--no-value {
        .jkl-select__value {
            color: currentColor;
            font-weight: normal;
        }
    }

    &--open {
        .jkl-select__arrow {
            transform: rotate(180deg);
        }

        .jkl-select__chevron {
            transform: rotate((-45 + 180) * 1deg); // default orientation is pointing down
        }
    }

    &__outer-wrapper {
        position: relative;
    }

    &__toggler {
        @include motion("standard");
        transition-property: height;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: $z-index--dropdown;

        background-color: $bg-color--options;
        border: rem(1px) solid $svart;
        border-top: none;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);

        overflow-y: auto;
        overflow-x: hidden;
        max-height: 60vh;
    }

    &__option-wrapper {
        margin: 0;
        padding: 0;

        list-style-type: none;
        -webkit-overflow-scrolling: touch;

        // Create stacked animation for first 10 element
        @for $i from 1 through 10 {
            & > li:nth-child(#{$i}) {
                animation-duration: #{0.2 + $i * 0.1}s;
            }
        }

        // Let all elements after the frist 10 animate in as block
        & > li {
            animation: slide-up ease;
            animation-duration: 1.2s;
        }
    }

    &__option {
        @include body-paragraph;
        border: 0; // removes native styling
        width: 100%;
        background-color: inherit;
        min-height: rem(48px);
        padding: $component-spacing--small $component-spacing--medium;
        text-align: left;

        &:focus,
        &:hover {
            background-color: $svart;
            color: $bg-color--options;
        }

        html:not([data-mousenavigation]) &:focus {
            background-color: $bg-color--options;
            color: $svart;
            box-shadow: inset 0 0 0 2px white, inset 0 0 0 4px $border-color--focus;
        }
    }

    &__chevron {
        @include chevron($chevron-size, currentcolor, $weight: $chevron-weight);
        @include small-device {
            @include chevron($chevron-size--compact, currentcolor, $weight: $chevron-weight);
        }
        position: absolute;
        right: 0;
        pointer-events: none;
    }

    &--invalid {
        .jkl-select__value {
            @include underline-color($error-color, $error-color);
        }
    }
}
