@use "@fremtind/jokul/styles/core/jkl";

.globalHeader {
    margin-block-end: var(--jkl-spacing-16);

    div.banner {
        width: 100%;

        .logo {
            @include jkl.text-style("heading-2");

            > span {
                text-decoration: none;
                border: 0;
            }
        }
    }

    .menuButton {
        display: block;
    }

    nav.menu {
        width: 100%;
        height: 100%;

        ul {
            margin: 0;
            padding: 0;
            height: 100%;
            list-style: none;
            padding-block-end: var(--jkl-spacing-64);

            li {
                padding-inline-start: 0;
                margin: 0;

                // Legg til litt margin over neste element for separate menypunkter
                &.separateItem + * {
                    margin-block-start: var(--jkl-spacing-4);
                }

                li a {
                    padding-inline-start: var(--jkl-spacing-40);
                }

                a {
                    box-sizing: border-box;
                    width: 100%;
                    display: block;
                    border-radius: 4px;
                    overflow: hidden;
                    padding-block: clamp(
                        var(--jkl-spacing-8),
                        1.25rem + -1.25vw,
                        var(--jkl-spacing-12)
                    );
                    padding-inline-end: var(--jkl-spacing-12);

                    &:hover {
                        background-color: var(
                            --jkl-color-background-interactive-hover
                        );
                        position: relative;
                    }

                    &.active {
                        background-color: var(
                            --jkl-color-background-interactive-selected
                        );
                        position: relative;
                    }

                    &:hover::before,
                    &.active::before {
                        content: "";
                        top: 0;
                        left: 0;
                        position: absolute;
                        height: 100%;
                        width: 4px;
                        background-color: var(--jkl-color-border-action);
                    }
                }
            }

            > li {
                a {
                    padding-inline-start: var(--jkl-spacing-24);
                }
            }
        }
    }

    &:has(.menuButton[aria-expanded="false"]) {
        nav.menu {
            display: none;
        }
    }

    &:has(.menuButton[aria-expanded="true"]) {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: jkl.$spacing-24 jkl.$spacing-16;

        &::after {
            content: "";
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: var(--jkl-color-background-page);
        }

        > * {
            box-sizing: border-box;
            z-index: 2;
        }

        nav.menu {
            display: block;
            overflow-y: auto;
        }

        @media (width >= 940px) {
            width: unset;
        }
    }

    @media (width >= 940px) {
        min-width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow-y: auto;
        box-sizing: border-box;
        padding: jkl.$spacing-40;

        &:has(.menuButton[aria-expanded="true"]) {
            position: sticky;
        }

        &::after {
            display: none;
        }

        div.banner {
            padding-block: 0;
        }

        .menuButton {
            display: none;
        }

        &:has(.menuButton[aria-expanded="false"]) {
            nav.menu {
                display: block;
            }
        }
    }
}
