@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal__skip-to-content {
    z-index: $z-index--floating;
    padding: $component-spacing--medium;
    background-color: $hvit;
    position: absolute;
    top: 0;
    left: 0;
}
