@import "~@fremtind/jkl-core/core.scss";
@import "~@fremtind/jkl-field-group/field-group.scss";

.form-section {
    max-width: 50rem;
    padding: 2.5rem;
    background-color: $snohvit;

    &__header {
        background-color: $svart;
        color: $snohvit;
        margin: -2.5rem -2.5rem 2.5rem;
        padding: 1.5rem 2.5rem;
    }
}
