@use "../../../styles/jkl";

@layer jokul.components {
    .jkl-expandable-panel {
        background-color: var(--jkl-color-background-container);
        // A transparent border will be visible in forced colors mode and replace
        // the role of the background-color in separating the component from other content
        border: 1px solid transparent;
        border-radius: var(--jkl-border-radius-s);
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;

        &__content[data-expanded="true"] {
            height: auto;
        }

        &__content[data-expanded="false"] {
            height: 0;
        }

        &[data-visible-content="true"] .jkl-expander {
            border-bottom: 1px solid transparent;
        }

        &__content-wrapper {
            padding: var(--jkl-unit-20)
        }

        &--outlined {
            border-color: var(--jkl-color-border-subdued);
            background-color: transparent;
        }

        &__wrapper {
            --outline-offset: 3px;
            --stroke-outline-offset: 3px;

            position: relative;

            & + & {
                --border-top-left-radius: 0;
                --border-top-right-radius: 0;
                --stroke-outline-offset: -1px;
            }

            &:has(+ &) {
                --border-bottom-left-radius: 0;
                --border-bottom-right-radius: 0;
                --stroke-outline-offset: -1px;
            }

            &:has(.jkl-expander:focus-visible) {
                &:has(.jkl-expandable-panel--outlined) {
                    --outline-offset: var(--stroke-outline-offset);
                }

                .jkl-expandable-panel__focus-container {
                    @include jkl.focus-outline;
                    outline-offset: var(--outline-offset);
                }
            }

            .jkl-expander {
                padding: var(--jkl-unit-20);
                width: 100%;

                &__label {
                    flex-grow: 1;
                }

                @media (hover: hover) {
                    &:hover {
                        background-color: var(--jkl-color-background-container-accent);
                    }
                }
            }
        }

        &__focus-container {
            position: absolute;
            inset: 0;
        }
    }

    .jkl-expander {
        box-sizing: border-box;
        background: none;
        appearance: none;
        border: none;
        text-align: left;
        cursor: pointer;
        color: var(--jkl-color);

        display: flex;
        gap: jkl.rem(8px);
        align-items: center;

        /* Removes the default disclosure triangle without breaking semantics */
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }

        &__chevron {
            user-select: none;
            transition-property: transform;
            transform: rotate(0turn);
            text-align: right;
        }

        &--open {
            .jkl-expander__label {
                @include jkl.no-grow-bold;
            }

            .jkl-expander__chevron {
                transform: rotate(-0.5turn);

                @include jkl.motion("standard", "snappy");
            }
        }

        @include jkl.reset-outline;
    }
}
