@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-footer-background-color: #{jkl.$color-hvit};
}
@include jkl.dark-mode-variables {
    --jkl-footer-background-color: #{jkl.$color-svart};
}

.jkl-contact-info {
    background-color: var(--jkl-footer-background-color);

    display: flex;
    gap: jkl.$spacing-40;
    flex-direction: column;
    justify-content: space-between;
    padding: jkl.$spacing-40;

    &__content {
        display: flex;
        flex-direction: column;

        gap: jkl.$spacing-40;

        @include jkl.from-medium-device {
            display: flex;
            flex-direction: row;
            gap: 10%;
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        gap: jkl.$spacing-16;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: jkl.$spacing-8;

        & .jkl-link {
            width: fit-content;
        }
    }
}
