@use "../../packages/jokul/src/styles/jkl/" as jkl;

.jkl-portal-code-example {
    max-width: min(#{jkl.rem(750px)}, 50vw);
}

.jkl-portal-component-example {
    --component-example-bg: var(--jkl-color-background-container-low);
    --component-example-header-color: var(--jkl-color-background-container-inverted);

    box-sizing: border-box;
    background-color: var(--component-example-bg);
    padding: jkl.$spacing-12;
    display: flex;
    flex-direction: row;
    max-width: jkl.rem(740px);
    min-height: jkl.rem(208px);

    &--is-wide {
        max-width: jkl.rem(1200px);
    }

    &__example-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        color: var(--jkl-color);
        background-color: var(--jkl-background-color);
        position: relative;
        padding: jkl.$spacing-64 jkl.$spacing-16;
        scroll-margin-top: jkl.$spacing-168;

        // Unngå at endring av tittel knekker visuell regresjonstest ved å skjule den
        :not([data-test-mode="e2e"]) &::before {
            color: var(--component-example-header-color);
            position: absolute;
            top: jkl.$spacing-12;
            left: jkl.$spacing-16;
            content: attr(data-example-text);

            @include jkl.text-style("text-small");
        }

        &[data-test-mode="e2e-screenshot"] {
            position: absolute;
            z-index: 9001;
            width: 600px;
            height: 600px;
            margin: auto;
            inset: 0;
        }

        &--scrollable {
            overflow-x: scroll;
        }
    }

    &__example-knobs {
        display: flex;
        flex-direction: column;
        gap: jkl.$spacing-40;
        padding: jkl.$spacing-12 jkl.$spacing-24;
        min-width: jkl.rem(150px);

        p {
            font-weight: var(--jkl-typography-font-weight-bold);
        }

        &__props,
        &__view {
            display: flex;
            flex-direction: column;
            gap: jkl.$spacing-12;

            fieldset {
                display: flex;
                flex-direction: column;
                gap: jkl.$spacing-4;
            }
        }

        label:has(input, select) {
            display: block;
            text-transform: capitalize;

            input {
                margin-inline-end: 0.3ch;
            }

            select {
                display: block;
                min-width: 5ch;
            }
        }

        legend {
            margin-block-end: 0.4lh;
        }
    }

    @include jkl.screen-to(870px) {
        width: 100%;
        flex-direction: column;

        &__example-wrapper {
            width: initial;
        }

        &__example-knobs {
            padding: 0;
            padding-top: jkl.$spacing-12;
        }
    }
}
