@use "~@forbrukerradet/jkl-core/jkl";
@use "~@forbrukerradet/jkl-core/variables/colors";

@import "~@forbrukerradet/jkl-core/_functions";
@import "~@forbrukerradet/jkl-core/mixins/_all";

$dismiss-animation-duration: 500ms;
$dismiss-focus-border-color: jkl.$color-granitt;
$dismiss-hover-color: jkl.$color-stein;

$bg-color--default: jkl.$color-snohvit;
$bg-color--suksess: colors.varslingsfarge("suksess");
$bg-color--feil: colors.varslingsfarge("feil");
$bg-color--info: colors.varslingsfarge("info");
$bg-color--advarsel: colors.varslingsfarge("advarsel");

.jkl-alert-message {
    width: 100%;
    background-color: $bg-color--default;
    color: jkl.$color-granitt;
    box-sizing: border-box;

    &__content {
        box-sizing: border-box;
        padding: jkl.$spacing-m jkl.$spacing-l;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    &__icon {
        padding-right: jkl.$spacing-m;
        align-self: flex-start;
        padding-top: jkl.$spacing-3xs;
        height: rem(24px);

        @include jkl.helper-forced-colors-svg-fallback($stroke: CanvasText);
    }

    &__message {
        margin-right: jkl.$spacing-m;
    }

    &__dismiss-button {
        @include reset-outline;
        background-color: transparent;
        padding: 0;
        margin-left: auto;
        margin-top: jkl.$spacing-2xs;
        cursor: pointer;
        width: rem(20px);
        height: rem(20px);

        color: inherit;
        @include jkl.helper-forced-colors-svg-fallback($stroke: ButtonText);
        @include jkl.helper-forced-colors-mode {
            background-color: ButtonFace;
            margin-top: rem(-1px);
            width: rem(32px);
            height: rem(32px);
            padding: rem(4px);
        }

        align-self: flex-start;
        flex-shrink: 0;

        &:hover {
            color: $dismiss-hover-color;
            @include jkl.helper-forced-colors-svg-fallback($stroke: ButtonText);
        }

        &:focus {
            @include keyboard-navigation {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: rem(-2px);
                    right: rem(-2px);
                    bottom: rem(-2px);
                    left: rem(-2px);
                    box-shadow: 0 0 0 rem(2px) $dismiss-focus-border-color;
                }
            }
        }
    }

    &__message,
    &__message:last-child {
        margin-bottom: 0;
    }

    &--dismissed {
        animation: dismiss-animation $dismiss-animation-duration ease-in-out forwards;
        transition: visibility 0ms $dismiss-animation-duration;
        visibility: hidden;
    }

    &--info {
        background-color: $bg-color--info;
    }

    &--warning {
        background-color: $bg-color--advarsel;
    }

    &--error {
        background-color: $bg-color--feil;
    }

    &--success {
        background-color: $bg-color--suksess;
    }

    @include jkl.helper-forced-colors-mode {
        border: 2px solid CanvasText;

        &--info {
            border-style: dotted;
        }

        &--warning {
            border-style: dashed;
        }

        &--error {
            border-style: double;
            border-width: 4px;
        }
    }
}

@keyframes dismiss-animation {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
}
