@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/variables/colors";

$dismiss-animation-duration: 500ms;
$dismiss-focus-border-color: jkl.$color-granitt;
$dismiss-hover-color: jkl.$color-stein;

$bg-color--default: jkl.$color-snohvit;
$bg-color--suksess: colors.varslingsfarge("suksess");
$bg-color--feil: colors.varslingsfarge("feil");
$bg-color--info: colors.varslingsfarge("info");
$bg-color--advarsel: colors.varslingsfarge("advarsel");

.jkl-alert-message {
    width: 100%;
    background-color: $bg-color--default;
    color: jkl.$color-granitt;
    box-sizing: border-box;

    &__content {
        box-sizing: border-box;
        padding: jkl.$spacing-m jkl.$spacing-l;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    &__icon {
        padding-right: jkl.$spacing-m;
        align-self: flex-start;
        padding-top: jkl.$spacing-3xs;
        height: jkl.rem(24px);
    }

    &__message {
        margin-right: jkl.$spacing-m;
    }

    &__dismiss-button {
        @include jkl.reset-outline;
        background-color: transparent;
        padding: 0;
        margin-left: auto;
        margin-top: jkl.$spacing-2xs;
        color: inherit;
        cursor: pointer;
        width: jkl.rem(20px);
        height: jkl.rem(20px);

        align-self: flex-start;
        flex-shrink: 0;

        &:hover {
            color: $dismiss-hover-color;
        }

        &:focus {
            @include jkl.keyboard-navigation {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: jkl.rem(-2px);
                    right: jkl.rem(-2px);
                    bottom: jkl.rem(-2px);
                    left: jkl.rem(-2px);
                    box-shadow: 0 0 0 jkl.rem(2px) $dismiss-focus-border-color;
                }
            }
        }
    }

    &__message,
    &__message:last-child {
        margin-bottom: 0;
    }

    &--dismissed {
        animation: dismiss-animation $dismiss-animation-duration ease-in-out forwards;
        transition: visibility 0ms $dismiss-animation-duration;
        visibility: hidden;
    }

    &--info {
        background-color: $bg-color--info;
    }

    &--warning {
        background-color: $bg-color--advarsel;
    }

    &--error {
        background-color: $bg-color--feil;
    }

    &--success {
        background-color: $bg-color--suksess;
    }
}

@keyframes dismiss-animation {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
}
