@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

@function message-bg-light($color) {
    @return change-color($color, $lightness: 97%);
}
@function message-bg-dark($color) {
    @return change-color($color, $lightness: 5%);
}

$dismiss-animation-duration: 500ms;
$dismiss-hover-color: $stein;
$background-color: $snohvit;
$text-color: $granitt;
$border-color: $granitt;
$info-background-color: message-bg-light($info);
$info-border-color: $info;
$warning-background-color: message-bg-light($advarsel);
$warning-border-color: $advarsel;
$error-background-color: message-bg-light($feil);
$error-border-color: $feil;
$success-background-color: message-bg-light($suksess);
$success-border-color: $suksess;

$dismiss-hover-color--inverted: $svaberg;
$background-color--inverted: $granitt;
$text-color--inverted: $snohvit;
$border-color--inverted: $snohvit;
$info-background-color--inverted: message-bg-dark($info--darkbg);
$info-border-color--inverted: $info--darkbg;
$warning-background-color--inverted: message-bg-dark($advarsel--darkbg);
$warning-border-color--inverted: $advarsel--darkbg;
$error-background-color--inverted: message-bg-dark($feil--darkbg);
$error-border-color--inverted: $feil--darkbg;
$success-background-color--inverted: message-bg-dark($suksess--darkbg);
$success-border-color--inverted: $suksess--darkbg;

:root,
[data-theme="light"] {
    --dismiss-hover-color: #{$dismiss-hover-color};
    --border-color: #{$border-color};
    --background-color: #{$background-color};
    --text-color: #{$text-color};
    --info-border-color: #{$info-border-color};
    --info-background-color: #{$info-background-color};
    --warning-border-color: #{$warning-border-color};
    --warning-background-color: #{$warning-background-color};
    --error-border-color: #{$error-border-color};
    --error-background-color: #{$error-background-color};
    --success-border-color: #{$success-border-color};
    --success-background-color: #{$success-background-color};
}

[data-theme="dark"] {
    --dismiss-hover-color: #{$dismiss-hover-color--inverted};
    --border-color: #{$border-color--inverted};
    --background-color: #{$background-color--inverted};
    --text-color: #{$text-color--inverted};
    --info-border-color: #{$info-border-color--inverted};
    --info-background-color: #{$info-background-color--inverted};
    --warning-border-color: #{$warning-border-color--inverted};
    --warning-background-color: #{$warning-background-color--inverted};
    --error-border-color: #{$error-border-color--inverted};
    --error-background-color: #{$error-background-color--inverted};
    --success-border-color: #{$success-border-color--inverted};
    --success-background-color: #{$success-background-color--inverted};
}

.jkl-alert-message {
    width: 100%;
    background-color: $background-color;
    background-color: var(--background-color);
    border: rem(1px) solid $border-color;
    border: rem(1px) solid var(--border-color);
    box-sizing: border-box;

    &__content {
        box-sizing: border-box;
        padding: $component-spacing--large $component-spacing--xl;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    &__icon {
        padding-right: $component-spacing--large;
        align-self: flex-start;
        padding-top: $component-spacing--xxs;
    }

    &__message {
        margin-right: $component-spacing--large;
    }

    &__dismiss-button {
        @include reset-outline();
        background-color: transparent;
        padding: 0;
        margin-left: auto;
        margin-top: $component-spacing--xs;
        color: inherit;
        cursor: pointer;
        width: rem(20px);
        height: rem(20px);

        align-self: flex-start;
        flex-shrink: 0;

        &:hover {
            color: $dismiss-hover-color;
            color: var(--dismiss-hover-color);
        }

        &:focus {
            @include keyboard-navigation {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: rem(-2px);
                    right: rem(-2px);
                    bottom: rem(-2px);
                    left: rem(-2px);
                    box-shadow: 0 0 0 rem(2px) $border-color;
                    box-shadow: 0 0 0 rem(2px) var(--border-color);
                }
            }
        }
    }

    &__message,
    &__message:last-child {
        margin-bottom: 0;
    }

    &--dismissed {
        animation: dismiss-animation $dismiss-animation-duration ease-in-out forwards;
        transition: visibility 0ms $dismiss-animation-duration;
        visibility: hidden;
    }

    &--info {
        border-color: $info-border-color;
        border-color: var(--info-border-color);
        background-color: $info-background-color;
        background-color: var(--info-background-color);

        .jkl-alert-message__icon {
            color: $info;
            color: var(--info-border-color);
        }
    }

    &--warning {
        border-color: $warning-border-color;
        border-color: var(--warning-border-color);
        background-color: $warning-background-color;
        background-color: var(--warning-background-color);

        .jkl-alert-message__icon {
            color: $warning-border-color;
            color: var(--warning-border-color);

            .jkl-icon-exclamation {
                color: $border-color;
                color: var(--border-color);
            }
        }
    }

    &--error {
        border-color: $error-border-color;
        border-color: var(--error-border-color);
        background-color: $error-background-color;
        background-color: var(--error-background-color);

        .jkl-alert-message__icon {
            color: $error-border-color;
            color: var(--error-border-color);
        }
    }

    &--success {
        border-color: $success-border-color;
        border-color: var(--success-border-color);
        background-color: $success-background-color;
        background-color: var(--success-background-color);

        .jkl-alert-message__icon {
            color: $success-border-color;
            color: var(--success-border-color);
        }
    }

    &--dark {
        // TODO fiks inverted dismiss button
        .jkl-alert-message__message {
            color: $text-color--inverted;
        }
        &.jkl-alert-message--info {
            border-color: $info-border-color--inverted;
            background-color: $info-background-color--inverted;

            .jkl-alert-message__icon {
                color: $info-border-color--inverted;
            }
        }
        &.jkl-alert-message--warning {
            border-color: $warning-border-color--inverted;
            background-color: $warning-background-color--inverted;

            .jkl-alert-message__icon {
                color: $warning-border-color--inverted;

                .jkl-icon-exclamation {
                    color: $border-color--inverted;
                }
            }
        }
        &.jkl-alert-message--error {
            border-color: $error-border-color--inverted;
            background-color: $error-background-color--inverted;

            .jkl-alert-message__icon {
                color: $error-border-color--inverted;
            }
        }
        &.jkl-alert-message--success {
            border-color: $success-border-color--inverted;
            background-color: $success-background-color--inverted;

            .jkl-alert-message__icon {
                color: $success-border-color--inverted;
            }
        }
    }
}

@keyframes dismiss-animation {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
}
