@import "~@fremtind/jkl-core/variables/_all.scss";

@function message-bg-light($color) {
    @return change-color($color, $lightness: 97%);
}
@function message-bg-dark($color) {
    @return change-color($color, $lightness: 5%);
}

$info-bakgrunn: message-bg-light($info);
$info-bakgrunn--darkbg: message-bg-dark($info);

$advarsel-bakgrunn: message-bg-light($advarsel);
$advarsel-bakgrunn--darkbg: message-bg-dark($advarsel);

$feil-bakgrunn: message-bg-light($feil);
$feil-bakgrunn--darkbg: message-bg-dark($feil);

$suksess-bakgrunn: message-bg-light($suksess);
$suksess-bakgrunn--darkbg: message-bg-dark($suksess);

.jkl-alert-message {
    width: 100%;
    background-color: $gra-10;

    &__icon {
        padding-right: $component-spacing--large;
        align-self: flex-start;
        padding-top: $component-spacing--xxs;
    }

    &__content {
        box-sizing: border-box;
        padding: $component-spacing--large $component-spacing--xl;
        display: flex;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    &__message,
    &__message:last-child {
        margin-bottom: 0;
    }

    &--info {
        border: rem(1px) solid $info;
        background-color: $info-bakgrunn;

        .jkl-alert-message__icon {
            color: $info;
        }
    }

    &--warning {
        border: rem(1px) solid $advarsel;
        background-color: $advarsel-bakgrunn;

        .jkl-alert-message__icon {
            color: $advarsel;

            .jkl-icon-exclamation {
                color: $svart;
            }
        }
    }

    &--error {
        border: rem(1px) solid $feil;
        background-color: $feil-bakgrunn;

        .jkl-alert-message__icon {
            color: $feil;
        }
    }

    &--success {
        border: rem(1px) solid $suksess;
        background-color: $suksess-bakgrunn;

        .jkl-alert-message__icon {
            color: $suksess;
        }
    }

    &--dark {
        &.jkl-alert-message--info {
            border: rem(1px) solid $info--darkbg;
            background-color: $info-bakgrunn--darkbg;

            .jkl-alert-message__icon {
                color: $info--darkbg;
            }
        }
        &.jkl-alert-message--warning {
            border: rem(1px) solid $advarsel--darkbg;
            background-color: $advarsel-bakgrunn--darkbg;

            .jkl-alert-message__icon {
                color: $advarsel--darkbg;

                .jkl-icon-exclamation {
                    color: $hvit;
                }
            }
        }
        &.jkl-alert-message--error {
            border: rem(1px) solid $feil--darkbg;
            background-color: $feil-bakgrunn--darkbg;

            .jkl-alert-message__icon {
                color: $feil--darkbg;
            }
        }
        &.jkl-alert-message--success {
            border: rem(1px) solid $suksess--darkbg;
            background-color: $suksess-bakgrunn--darkbg;

            .jkl-alert-message__icon {
                color: $suksess--darkbg;
            }
        }
    }
}
