@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

.jkl-portal-image {
    @include reset-outline;
    background-color: transparent;
    cursor: pointer;
    display: block;
    padding: 0;
    margin-top: $layout-spacing--medium;
    width: 100%;

    > .jkl-micro {
        text-align: left;
    }

    &--no-margin {
        margin-top: 0;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        background-color: $hvit;
        padding: $component-spacing--large;
    }

    &--fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: $z-index--modal;
    }
}

.portal-bg-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $layout-spacing--large;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: $z-index--modal;
    display: block;
}
