@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all.scss";

.jkl-portal-image {
    @include reset-outline;
    background-color: transparent;
    cursor: pointer;
    display: block;
    padding: 0;
    margin-top: jkl.$spacing-xl;
    width: 100%;

    &:focus {
        @include keyboard-navigation {
            box-shadow: 0 0 0 2px jkl.$color-granitt;
        }
    }

    > .jkl-micro {
        text-align: left;
    }

    &--no-margin {
        margin-top: 0;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    &__close {
        display: none;
    }

    &--fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: jkl.$z-index--modal;

        & .jkl-portal-image__close {
            display: flex;
            justify-content: center;
            align-items: center;
            color: jkl.$color-snohvit;
            background-color: jkl.$color-granitt;
            padding: jkl.$spacing-xs;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

            & > svg {
                margin-left: jkl.$spacing-m;
                @include keyboard-navigation {
                    box-shadow: 0 0 0 2px jkl.$color-svaberg;
                }
            }
        }
        &:focus {
            @include keyboard-navigation {
                box-shadow: none;
            }
        }
    }
}

.portal-bg-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: jkl.$spacing-2xl;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: jkl.$z-index--modal;
    display: block;
}
