@import "~@fremtind/jkl-core/core";

body {
    padding: 5rem;
    background-color: $snohvit;
}
.elementStyle {
    display: inline-block;
    width: 100px;
    height: 20px;
    background-image: radial-gradient($snohvit, $himmelgra);
}
