@use "~@fremtind/jkl-core/jkl";

.jkl-portal-full-screen-menu-item {
    display: inline-block;
    position: relative;

    &__link {
        position: relative;
        padding-left: 0;
        text-align: left;

        font-size: jkl.relative-size(30, 375, 812);
        line-height: jkl.relative-size(40, 375, 812);

        // button resets:
        background-color: transparent;
        cursor: pointer;

        @include jkl.from-medium-device {
            font-size: jkl.relative-size(35);
            line-height: jkl.relative-size(50);
        }
    }
}
