@use "@fremtind/jkl-core/jkl";

$header-bg-color: jkl.$color-snohvit;
$header-bg-color--inverted: jkl.$color-granitt;
$header-height: jkl.rem(96px);
$header-height--collapsed: jkl.rem(64px);
$header-height--mobile: jkl.rem(64px);
$header-padding: 0 jkl.$spacing-xl;
$header-padding--right: jkl.$spacing-3xl;
$header-padding--mobile: 0 jkl.$spacing-m;

.jkl-portal-header {
    display: flex;
    height: $header-height--mobile;
    padding: $header-padding--mobile;
    align-items: center;
    justify-content: space-between;
    z-index: jkl.$z-index--header;
    position: sticky;
    top: 0;
    left: 0;
    background-color: inherit;

    @include jkl.motion("standard", "lazy");
    transition-property: height;

    &__menu {
        height: 100%;
    }

    *[data-theme="dark"] & {
        background-color: $header-bg-color--inverted;
        color: jkl.$color-snohvit;

        &__title {
            color: jkl.$color-snohvit;
        }
    }

    @include jkl.from-medium-device {
        padding: $header-padding;
        padding-right: $header-padding--right;
        height: $header-height;

        &--collapsed {
            height: $header-height--collapsed;
        }
    }
}
