@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --full-screen-menu-bg-color: #{jkl.$color-varde};
}

@include jkl.dark-mode-variables {
    --full-screen-menu-bg-color: #{jkl.$color-skifer};
}

.jkl-portal-main-menu {
    display: inline-flex;
    align-items: center;

    &__root-list {
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    &__root-item {
        display: inline-block;
        height: 100%;
        color: inherit;
        @include jkl.text-style("body");

        &:not(:last-child) {
            margin-right: jkl.$spacing-xl;
        }
    }

    &__root-link {
        background-color: transparent;
        color: inherit;
        cursor: pointer;
        padding: 0;
        height: 100%;
        box-shadow: inset 0 0 0 0 transparent;
        display: inline-flex;
        align-items: center;
        text-decoration: none;

        @include jkl.motion;
        transition-property: box-shadow;

        @include jkl.reset-outline;

        html:not([data-mousenavigation]) &:focus {
            @include jkl.no-grow-bold;
        }

        &:hover,
        html:not([data-mousenavigation]) &:focus,
        &--active {
            box-shadow: inset 0 jkl.rem(-4px) 0 0 currentColor;
        }

        &--active {
            @include jkl.no-grow-bold;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        overflow-x: scroll;
        height: 0;

        background-color: var(--full-screen-menu-bg-color);
        @include jkl.motion("standard", "lazy");
        transition-property: height;

        &--open {
            height: 100vh;
            @include jkl.motion("entrance", "lazy");
        }
    }

    &__menu-wrapper {
        box-sizing: border-box;
        padding: 15vh jkl.$spacing-l 0 jkl.$spacing-2xl;
        height: 100vh;
        max-height: 100vh;
        width: 100vw;

        @include jkl.from-medium-device {
            padding: 25vh jkl.$spacing-3xl 15vh;
        }
    }

    &__back-button {
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        font-size: relative-size(30, 375, 812);
        line-height: relative-size(40, 375, 812);
        @include jkl.motion;
        transition-property: transform;

        @include jkl.reset-outline;

        &::after {
            @include jkl.motion;
            transition-property: transform;
        }

        &:hover,
        &:focus {
            color: jkl.$color-granitt;

            transform: translateX(jkl.rem(-2px));

            &::after {
                transform: translateX(jkl.rem(2px));
            }
        }

        @include jkl.small-device {
            position: sticky;
            top: 15vh;
            margin-left: -1.5em;
        }

        @include jkl.from-medium-device {
            font-size: relative-size(35);
            line-height: relative-size(50);
            position: relative;
            top: unset;
            left: unset;

            &::after {
                content: attr(data-text);
                display: inline-block;
            }
        }

        [data-theme="dark"] & {
            color: jkl.$color-snohvit;

            &:hover,
            &:focus {
                color: jkl.$color-svaberg;
            }
        }
    }

    &__menu-items {
        min-height: 100%;
        padding: 0;
        padding-bottom: 5vh;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;

        @include jkl.from-medium-device {
            height: 100%;
            flex-wrap: wrap;
            padding: 0;
        }
    }
}
