@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --portal-logo-color: var(--jkl-color);
    --portal-logo-color-hover: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --portal-logo-color: var(--jkl-color);
    --portal-logo-color-hover: #{jkl.$color-svaberg};
}

.jkl-portal-logo {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--portal-logo-color);
    text-decoration: none;
    @include jkl.text-style("heading-4") {
        font-weight: jkl.$typography-weight-normal;
    }

    @include jkl.reset-outline;

    &:hover {
        color: var(--portal-logo-color-hover);
    }

    html:not([data-mousenavigation]) &:focus {
        color: var(--portal-logo-color);
        font-weight: jkl.$typography-weight-bold;
    }
}
