@use "@fremtind/jkl-core/jkl";

.jkl-portal__skip-to-content {
    z-index: jkl.$z-index--floating;
    padding: jkl.$spacing-s;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
