@import "~@fremtind/jkl-core/variables/_colors.scss";

$jkl-logo-color: $svart;
$jkl-logo-color--negative: $gra-10;
$jkl-logo-magic-origin--f: 30px 132px; /* Is connected to the viewbox of the logo, change at your own risk */
$jkl-logo-magic-origin--line: 34.3px; /* Must be the same as the line x1 origin, change at your own risk */

.jkl-logo {
    &__F {
        transform-origin: $jkl-logo-magic-origin--f;
        &-line {
            transform-origin: $jkl-logo-magic-origin--line;
        }
    }

    &__remtind {
        opacity: 1;
    }

    &--symbol-only {
        & .jkl-logo__F {
            transform: rotate(45deg);
            &-line {
                transform: scaleX(1.5);
            }
        }
        & .jkl-logo__remtind {
            transition-delay: 0ms;
            opacity: 0;
            transform: translateX(-5%);
        }
    }

    &--animated {
        & .jkl-logo__F {
            transition: transform 250ms 75ms cubic-bezier(0.5, 0, 0.62, 1);
        }
        & .jkl-logo__F-line {
            transition: transform 250ms ease-in;
        }
        & .jkl-logo__remtind {
            transition: opacity 250ms 75ms ease-in, transform 250ms ease;
        }
    }
}

.jkl-logo--centered.jkl-logo--symbol-only {
    & .jkl-logo__F {
        transform: translateX(35%) rotate(45deg);
    }
}
