@use "~@fremtind/jkl-core/jkl";

$jkl-logo-magic-origin--f: 30px 132px; /* Is connected to the viewbox of the logo, change at your own risk */
$jkl-logo-magic-origin--line: 34.3px; /* Must be the same as the line x1 origin, change at your own risk */

@include jkl.helper-light-mode-variables {
    --logo-color: #{jkl.$color-granitt};
}

@include jkl.helper-dark-mode-variables {
    --logo-color: #{jkl.$color-snohvit};
}

.jkl-logo {
    color: var(--logo-color);

    // I valget mellom å følge merkevaren og å være lesbar velger vi å være lesbar.
    @include jkl.helper-forced-colors-svg-fallback($stroke: CanvasText, $fill: CanvasText);

    &__F {
        transform-origin: $jkl-logo-magic-origin--f;

        &-line {
            transform-origin: $jkl-logo-magic-origin--line;
        }
    }

    &__remtind {
        opacity: 1;
    }

    &--symbol-only {
        & .jkl-logo__F {
            transform: rotate(45deg);

            &-line {
                transform: scaleX(1.5);
            }
        }

        & .jkl-logo__remtind {
            transition-delay: 0ms;
            opacity: 0;
            transform: translateX(-5%);
        }
    }

    &--animated {
        & .jkl-logo__F {
            transition: transform 250ms 75ms cubic-bezier(0.5, 0, 0.62, 1);
        }

        & .jkl-logo__F-line {
            transition: transform 250ms ease-in;
        }

        & .jkl-logo__remtind {
            transition: opacity 250ms 75ms ease-in, transform 250ms ease;
        }
    }
}

.jkl-logo--centered.jkl-logo--symbol-only {
    & .jkl-logo__F {
        transform: translateX(35%) rotate(45deg);
    }
}

.jkl-logo-stamp {
    color: var(--logo-stamp-color);

    // I valget mellom å følge merkevaren og å være lesbar velger vi å være lesbar.
    @include jkl.helper-forced-colors-svg-fallback($stroke: CanvasText, $fill: CanvasText);

    &--animated {
        .jkl-logo-stamp__text {
            transform-origin: 256px 256px;
            transition-timing-function: cubic-bezier(0.75, 0, 0, 1);
            transition-duration: 150ms;
            transition-property: transform;
        }

        &.jkl-logo-stamp--rotate {
            .jkl-logo-stamp__text {
                transition-duration: 1500ms;
                transform: rotate(360deg);
            }
        }
    }
}
