@use "~@fremtind/jkl-core/jkl";

@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/functions";

@include jkl.helper-light-mode-variables {
    --jkl-footer-text-color: #{jkl.$color-fjellgra};
}
@include jkl.helper-dark-mode-variables {
    --jkl-footer-text-color: #{jkl.$color-svaberg};
}

.jkl-portal-footer {
    display: flex;
    flex-direction: column;
    border-top: solid rem(1px) var(--jkl-footer-text-color);
    padding-top: jkl.$spacing-xl;
    margin: jkl.$spacing-2xl jkl.$spacing-xl;
    margin-bottom: jkl.$spacing-xl;

    &__column {
        @include jkl.text-style("small");
        color: var(--jkl-footer-text-color);
        flex: 1 1 0px;
        padding-right: jkl.$spacing-2xl;

        &:last-of-type {
            padding-right: 0;
        }
    }

    @include from-medium-device {
        flex-direction: row;
    }
}
