@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --external-prop-header-color: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --external-prop-header-color: #{jkl.$color-svaberg};
}

@function _opposite($side) {
    @if $side == "right" {
        @return "left";
    } @else {
        @return "right";
    }
}

@mixin _shadow($side: "left") {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    background: linear-gradient(to #{_opposite($side)}, var(--accordion-expanded-background), rgb(0 0 0 / 0%));
    top: 0;
    bottom: 0;
    #{$side}: 0;
    width: jkl.$spacing-xl;
    z-index: 1;
}

.jkl-portal-api-docs {
    &__external-props-header {
        @include jkl.text-style("body") {
            font-weight: jkl.$typography-weight-bold;
        }
        margin: jkl.$spacing-xl 0 jkl.$spacing-l;
    }
}

.jkl-portal-api-docs-table {
    position: relative;

    &.left-shadow::before {
        @include _shadow("left");
    }

    &.right-shadow::after {
        @include _shadow("right");
    }

    &__wrapper {
        display: block;
        max-width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
