@use "sass:map";

$_easings: (
    "standard": ease,
    "entrance": ease-out,
    "exit": ease-in,
    "easeInBounceOut": cubic-bezier(0, 0, 0.375, 1.17),
);

/// Hent en easing til bruk i animasjoner. Se også `timing`-funksjonen og `motion`-mixinen.
/// @param {"standard" | "entrance" | "exit" | "easeInBounceOut"} $name - Navn på easingen du ønsker verdien til
/// @return {String} - easingverdi til bruk i animasjoner
/// @see timing
/// @see motion
@function easing($name, $easings: $_easings) {
    @if map.has-key($easings, $name) {
        @return map.get($easings, $name);
    } @else {
        @error 'Unable to find an easing named #{$name} in our supported easings.';
    }
}
