@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --example-div-bg: #{jkl.$color-dis};
}

@include jkl.dark-mode-variables {
    --example-div-bg: #{jkl.$color-stein};
}

.example-div {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--example-div-bg);
    padding: jkl.$spacing-xl;
}
