@use "@fremtind/jkl-core/jkl";

.lorem-text {
    @include jkl.text-style("body");
    margin-top: jkl.$spacing-l;
    padding: 1rem;
    background-color: jkl.$color-varde;
    color: jkl.$color-granitt;
    border-radius: jkl.rem(4px);
}

.jkl-intersection-example {
    @include jkl.motion("standard", "expressive");
    transition-property: background-color, border-color;
    border-radius: jkl.rem(4px);
    border: jkl.rem(1px) solid;
    border-color: currentColor;
}

.focus-outside-example {
    & > &__card {
        box-sizing: border-box;
        width: 100%;
        background-color: jkl.$color-hvit;
        @include jkl.text-style("body");

        & > * + * {
            margin-top: jkl.$spacing-l;
        }
    }
}
