@import "~@fremtind/jkl-core/variables/_colors";
@import "~@fremtind/jkl-core/_functions";

.lorem-text-wrapper {
    transition: 200ms height ease-in-out;

    &--hidden {
        display: none;
    }
}

.lorem-text {
    margin-top: rem(8px);
    padding: 1rem;
    background-color: $varde;
    border-radius: rem(4px);
}

.jlk-intersection-example {
    transition: 200ms background-color ease-in-out;
    border-radius: rem(4px);
}
.jlk-intersection-example--visible {
    background-color: $varde;
}

.jlk-intersection-example--not-visible {
    background-color: $blomst;
}

.jkl-click-outside {
    padding: 1rem;
    background-color: $varde;
    user-select: none;
    border-radius: rem(4px);
}
