@use "~@fremtind/jkl-core/jkl";

.lorem-text {
    @include jkl.text-style("body");
    margin-top: jkl.$spacing-l;
    padding: 1rem;
    background-color: jkl.$color-varde;
    color: jkl.$color-granitt;
    border-radius: jkl.rem(4px);
}

.jkl-intersection-example {
    transition: jkl.timing("expressive") background-color ease-in-out;
    border-radius: jkl.rem(4px);
}

.jkl-intersection-example--visible {
    background-color: jkl.$color-stein;

    @include jkl.forced-colors-mode {
        background-color: Highlight;
    }
}

.jlk-intersection-example--not-visible {
    background-color: Canvas;
}

.focus-outside-example {
    & > &__card {
        box-sizing: border-box;
        width: 100%;
        background-color: jkl.$color-hvit;
        @include jkl.text-style("body");

        & > * + * {
            margin-top: jkl.$spacing-l;
        }
    }
}
