.jkl-stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > * + * {
        margin-block-start: var(--gap, var(--jkl-unit-30));
    }

    &[data-recursive] * + * {
        margin-block-start: var(--gap, var(--jkl-unit-30));
    }
}
