@function message-bg-light($color) {
    @return change-color($color, $lightness: 97%);
}
@function message-bg-dark($color) {
    @return change-color($color, $lightness: 5%);
}

$info-bakgrunn: message-bg-light($info);
$info-bakgrunn--darkbg: message-bg-dark($info);

$advarsel-bakgrunn: message-bg-light($advarsel);
$advarsel-bakgrunn--darkbg: message-bg-dark($advarsel);

$feil-bakgrunn: message-bg-light($feil);
$feil-bakgrunn--darkbg: message-bg-dark($feil);

$suksess-bakgrunn: message-bg-light($suksess);
$suksess-bakgrunn--darkbg: message-bg-dark($suksess);
