@import "~@fremtind/jkl-core/variables/_all.scss";
@import "./common";

$message-width: rem(560px);

.jkl-message-box {
    position: relative;
    width: 100%;
    max-width: $message-width;
    min-height: $layout-spacing--xl;
    padding: $component-spacing--xl;
    padding-left: rem(56px);
    background-color: $gra-10;
    box-sizing: border-box;

    &__icon {
        position: absolute;
        left: $spacing-5;
    }

    &__title {
        margin-bottom: $component-spacing--large;
    }

    &__message,
    &__message:last-child {
        margin-bottom: 0;
    }

    &--full {
        max-width: 100%;
    }

    @include generate-message-colors("message-box");
}
