@import "~@fremtind/jkl-core/variables/_all.scss";
@import "./common";

.jkl-system-message {
    width: 100%;
    background-color: $gra-10;

    &__icon {
        padding-right: $component-spacing--large;
        align-self: flex-start;
        padding-top: $component-spacing--xxs;
    }

    &__content {
        box-sizing: border-box;
        padding: $component-spacing--large $component-spacing--xl;
        display: flex;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    &__message,
    &__message:last-child {
        margin-bottom: 0;
    }

    @include generate-message-colors("system-message");
}
