@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-system-message {
    width: 100%;
    background-color: $gra-10;

    &__icon {
        padding-right: $component-spacing--large;
        align-self: flex-start;
        padding-top: $component-spacing--xxs;
    }

    &__content {
        box-sizing: border-box;
        padding: $component-spacing--large $component-spacing--xl;
        display: flex;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    &__message,
    &__message:last-child {
        margin-bottom: 0;
    }

    &--info {
        border: rem(1px) solid $info;
        background-color: change-color($info, $lightness: 97%);

        .jkl-system-message__icon {
            color: $info;
        }
    }

    &--warning {
        border: rem(1px) solid $advarsel;
        background-color: change-color($advarsel, $lightness: 97%);

        .jkl-system-message__icon {
            color: $advarsel;

            .jkl-icon-exclamation {
                color: $svart;
            }
        }
    }

    &--error {
        border: rem(1px) solid $feil;
        background-color: change-color($feil, $lightness: 97%);

        .jkl-system-message__icon {
            color: $feil;
        }
    }

    &--success {
        border: rem(1px) solid $suksess;
        background-color: change-color($suksess, $lightness: 97%);

        .jkl-system-message__icon {
            color: $suksess;
        }
    }

    &--dark {
        &.jkl-system-message--info {
            border: rem(1px) solid $info--darkbg;
            background-color: change-color($info--darkbg, $lightness: 5%);

            .jkl-system-message__icon {
                color: $info--darkbg;
            }
        }
        &.jkl-system-message--warning {
            border: rem(1px) solid $advarsel--darkbg;
            background-color: change-color($advarsel--darkbg, $lightness: 5%);

            .jkl-system-message__icon {
                color: $advarsel--darkbg;

                .jkl-icon-exclamation {
                    color: $hvit;
                }
            }
        }
        &.jkl-system-message--error {
            border: rem(1px) solid $feil--darkbg;
            background-color: change-color($feil--darkbg, $lightness: 5%);

            .jkl-system-message__icon {
                color: $feil--darkbg;
            }
        }
        &.jkl-system-message--success {
            border: rem(1px) solid $suksess--darkbg;
            background-color: change-color($suksess--darkbg, $lightness: 5%);

            .jkl-system-message__icon {
                color: $suksess--darkbg;
            }
        }
    }
}
