@charset "UTF-8";
@use "../../../core/jkl";

/// Vi tilbyr dette som en mixin for å kunne være konsekvent i stilsettingen
/// av ikoner også der man ikke kan bruke jkl-icon-klassen.
/// @output Basestiler for Jøkul-ikoner
@mixin base-styles {
    font-family: "Fremtind Material Symbols", "Fremtind Material Symbols Fallback", sans-serif;
    font-variation-settings: "FILL" var(--jkl-icon-fill, 0),
        "GRAD" var(--jkl-icon-grade, 0);
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    display: inline-block;
    -webkit-font-smoothing: antialiased;

    @include jkl.motion("standard", "productive");
    transition-property: font-variation-settings, transform;
}
