@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --hero-bg: #{jkl.$color-snohvit};
    --hero-text-color: #{jkl.$color-granitt};
    --hero-hover-color: #{jkl.$color-stein};
}

@include jkl.dark-mode-variables {
    --hero-bg: #{jkl.$color-granitt};
    --hero-text-color: #{jkl.$color-snohvit};
    --hero-hover-color: #{jkl.$color-svaberg};
}

.jkl-portal-fullView {
    height: 100vh;
}

.jkl-portal-hero {
    position: relative;
    max-height: 90vh;
    overflow: hidden;
    @include jkl.small-device {
        height: 90vh;

        &__card {
            max-width: 100%;
        }
    }

    &__card {
        cursor: pointer;
        text-align: left;
        position: absolute;
        bottom: jkl.$spacing-xl;
        left: jkl.$spacing-m;
        background-color: var(--hero-bg);
        color: var(--hero-text-color);
        max-width: 900px;
        margin-right: jkl.$spacing-xl;
        padding: jkl.$spacing-xl;

        @include jkl.motion("standard", "expressive");
        transition-property: box-shadow;

        @include jkl.reset-outline;

        &__arrow {
            @include jkl.motion("standard", "expressive");
            transition-property: color, transform;
        }

        &:hover {
            box-shadow: jkl.$drop-shadow--large;

            .jkl-portal-hero__card__arrow {
                color: var(--hero-hover-color);
                transform: translateY(10px);
            }
        }
    }
}
