@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --media-bg: #{jkl.$color-snohvit};
    --media-text-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --media-bg: #{jkl.$color-granitt};
    --media-text-color: #{jkl.$color-snohvit};
}

.jkl-portal-media-box {
    max-width: 900px;
    position: relative;
    margin-bottom: jkl.$spacing-4xl;

    &__video {
        width: 100%;
        border: none;
    }

    &__media {
        margin-left: 30%;
        @include jkl.motion("standard", "lazy");
        transition-property: opacity, transform;
        opacity: 0;
        transform: scale(0.95);

        &--in-view {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__caption {
        margin-top: jkl.$spacing-xs;
    }

    &__card {
        position: absolute;
        bottom: jkl.$spacing-3xl;
        left: jkl.$spacing-m;
        background-color: var(--media-bg);
        color: var(--media-text-color);
        max-width: 500px;
        padding: jkl.$spacing-xl;
        z-index: 1;
        // bottom: -#{jkl.$spacing-3xl};
    }

    &--right {
        .jkl-portal-media-box__media {
            margin-left: 0;
            margin-right: 30%;
        }

        .jkl-portal-media-box__card {
            right: jkl.$spacing-m;
            left: initial;
        }
    }
}
