@import "@fremtind/jkl-core/core";

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
