@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

.jkl-file-uploader-input {
    border: jkl.$color-fjellgra 1px dashed;
    border-radius: jkl.rem(4px);
    padding: jkl.$spacing-40;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: jkl.$spacing-24;
    margin-bottom: jkl.$spacing-24;
    @include jkl.motion("standard", "productive");
    transition-property: background-color;
    background-color: transparent;

    &--enter {
        background-color: jkl.$color-varde;
        border-style: solid;
    }

    &__drag-text {
        @include jkl.text-style("heading-2");
        @include jkl.small-device {
            display: none;
        }
    }

    &__max-size-text {
        color: jkl.$color-stein;
    }
}

.jkl-file-uploader-previews {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        margin: 0;
        padding: 0;
    }
}

.jkl-file-uploader-preview {
    @include jkl.reset-outline;
    @include jkl.text-style("small");
    color: var(--jkl-color);
    border-bottom: 1px jkl.$color-dis solid;
    padding: jkl.$spacing-16 jkl.$spacing-12;

    &[href] {
        cursor: pointer;
        text-decoration: none;
        display: block;

        &:hover .jkl-file-uploader-preview__file-size {
            @include jkl.no-grow-bold;
        }

        @include jkl.keyboard-navigation {
            &:focus {
                outline: jkl.rem(2px) solid var(--jkl-color);
            }
        }

        @include jkl.forced-colors-mode {
            outline: revert;
            border: jkl.rem(2px) solid LinkText;
        }
    }

    &:last-of-type {
        border-bottom: none;
    }

    &--invalid {
        background-color: colors.varslingsfarge("feil");
        color: jkl.$color-granitt;
    }

    &__info-wrapper {
        display: flex;
        flex-flow: nowrap row;
        align-items: center;
    }

    &__img {
        flex: 0 0 jkl.rem(64px);
        width: jkl.rem(64px);
        height: jkl.rem(64px);
        object-fit: contain;
        border-radius: jkl.rem(4px);
    }

    &__file-info {
        flex: 1 1 auto;
        margin-left: jkl.$spacing-16;
        overflow-wrap: break-word;
    }

    &__file-name {
        @include jkl.text-style("heading-5");
        margin-top: jkl.$spacing-8;
        overflow-wrap: anywhere;
    }

    &__close-button {
        margin-left: jkl.$spacing-8;
    }

    &__file-thumbnail {
        width: jkl.rem(64px);
        height: jkl.rem(64px);
        flex: 0 0 jkl.rem(64px);
        background: jkl.$color-sand;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__error-message {
        flex: 0 0 100%;
        margin-top: jkl.$spacing-12;
        display: flex;
        gap: jkl.$spacing-4;
        align-items: center;
    }
}
