@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

@include jkl.light-mode-variables {
    --jkl-contextual-menu-trigger-button-color: #{jkl.$color-svart};
    --jkl-contextual-menu-trigger-button-bg-color: rgb(27 25 23 / 5%);
    --jkl-contextual-menu-trigger-button-hover-bg-color: rgb(27 25 23 / 10%);
}

@include jkl.dark-mode-variables {
    --jkl-contextual-menu-trigger-button-color: #{jkl.$color-snohvit};
    --jkl-contextual-menu-trigger-button-bg-color: rgb(236 233 229 / 5%);
    --jkl-contextual-menu-trigger-button-hover-bg-color: rgb(236 233 229 / 10%);
}

@include jkl.comfortable-density-variables {
    --jkl-contextual-menu-trigger-button-size: jkl.rem(24px);

    @include jkl.small-device {
        --jkl-contextual-menu-trigger-button-size: jkl.rem(20px);
    }
}

@include jkl.compact-density-variables {
    --jkl-contextual-menu-trigger-button-size: jkl.rem(20px);
}

.contextual-menu-trigger-button {
    @include jkl.reset-outline;

    display: flex;
    background: var(--jkl-contextual-menu-trigger-button-bg-color);
    color: var(--jkl-contextual-menu-trigger-button-color);
    border-radius: jkl.rem(4px);
    padding: jkl.rem(4px);
    user-select: none;

    cursor: pointer;

    @include jkl.keyboard-navigation {
        &:focus {
            outline: jkl.rem(2px) solid var(--jkl-contextual-menu-trigger-focus-color);
            outline-offset: jkl.rem(2px);
        }
    }

    &:hover {
        background: var(--jkl-contextual-menu-trigger-button-hover-bg-color);
    }
}
