@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-contextual-menu-item-divider-color: #{jkl.$color-dis};
}

@include jkl.dark-mode-variables {
    --jkl-contextual-menu-item-divider-color: #{jkl.$color-stein};
}

.contextual-menu-item-divider {
    margin-top: 0;
    margin-bottom: 0;
    border: jkl.rem(1px) solid var(--jkl-contextual-menu-item-divider-color);
}
