@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

@include jkl.light-mode-variables {
    --jkl-contextual-menu-initiator-color: #{jkl.$color-svart};
    --jkl-contextual-menu-initiator-bg-color: rgb(27 25 23 / 5%);
    --jkl-contextual-menu-initiator-hover-bg-color: rgb(27 25 23 / 10%);
}

@include jkl.dark-mode-variables {
    --jkl-contextual-menu-initiator-color: #{jkl.$color-snohvit};
    --jkl-contextual-menu-initiator-bg-color: rgb(236 233 229 / 5%);
    --jkl-contextual-menu-initiator-hover-bg-color: rgb(236 233 229 / 10%);
}

@include jkl.comfortable-density-variables {
    --jkl-contextual-menu-icon-initiator-size: jkl.rem(24px);

    @include jkl.small-device {
        --jkl-contextual-menu-icon-initiator-size: jkl.rem(20px);
    }
}

@include jkl.compact-density-variables {
    --jkl-contextual-menu-icon-initiator-size: jkl.rem(20px);
}

.contextual-menu-icon-initiator {
    height: var(--jkl-contextual-menu-icon-initiator-size);
    display: flex;
    align-items: center;
    background: var(--jkl-contextual-menu-initiator-bg-color);
    border-radius: jkl.rem(4px);
    padding: jkl.rem(4px);
    user-select: none;

    &:focus,
    &:hover {
        cursor: pointer;
        background: var(--jkl-contextual-menu-initiator-hover-bg-color);
    }

    &:active {
        background: var(--jkl-contextual-menu-initiator-hover-bg-color);
    }
}
