@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-contextual-menu-divider-color: #{jkl.$color-svaberg};
}

@include jkl.dark-mode-variables {
    --jkl-contextual-menu-divider-color: #{jkl.$color-stein};
}

.contextual-menu-divider {
    width: 100%;
    margin-block: var(--jkl-spacing-12);
    border: none;
    border-bottom: jkl.rem(1px) solid var(--jkl-contextual-menu-divider-color);
}
