@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

@include jkl.comfortable-density-variables {
    --jkl-contextual-menu-item-height: jkl.rem(48px);

    @include jkl.small-device {
        --jkl-contextual-menu-item-height: jkl.rem(32px);
    }
}

@include jkl.compact-density-variables {
    --jkl-contextual-menu-item-height: jkl.rem(32px);
}

.contextual-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: jkl.rem(280px);
    height: var(--jkl-contextual-menu-item-height);
    padding: jkl.rem(8px) jkl.rem(8px) jkl.rem(8px) jkl.rem(12px);

    &--divide-top {
        border-top: jkl.rem(1px) solid jkl.$color-sand;
    }

    &__content-wrapper {
        display: flex;
        align-items: center;
        gap: jkl.rem(12px);
    }

    &__icon {
        display: flex;
        align-items: center;
    }

    &__description {
        max-width: jkl.rem(280px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &--has-icon {
            max-width: jkl.rem(220px);
        }
    }
}
