@use "./jkl";

@mixin _underline-gradient($color) {
    background-image: linear-gradient(to bottom, $color 0%, $color 100%);
}

@mixin _border-gradient($color) {
    border-width: #{$_link-underline-thickness};
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, $color 0%, $color 100%);
}

$_right-arrow: "\2192"; // unicode right arrow
$_left-arrow: "\2190"; // unicode left arrow
$_north-east-arrow: "\2197"; // unicode north east arrow (up/right)

$_link-underline-thickness: jkl.rem(1px);
$_link-underline-thickness--hover: jkl.rem(2px);

@include jkl.light-mode-variables {
    --link-color: #{jkl.$color-granitt};
    --link-hover-color: #{jkl.$color-stein};
    --link-active-color: #{jkl.$color-granitt};
}
@include jkl.dark-mode-variables {
    --link-color: #{jkl.$color-snohvit};
    --link-hover-color: #{jkl.$color-svaberg};
    --link-active-color: #{jkl.$color-snohvit};
}

.jkl-link {
    color: var(--link-color);

    @include _underline-gradient(currentColor);
    background-position: 0 calc(100% - (#{$_link-underline-thickness--hover} - #{$_link-underline-thickness}));
    background-size: $_link-underline-thickness $_link-underline-thickness;
    background-repeat: repeat-x;
    @include jkl.motion("standard", "energetic");
    transition-property: background-size, background-position, color;
    outline: none;
    text-decoration: none;

    &:hover:not(:focus) {
        color: var(--link-hover-color);
        @include _underline-gradient(var(--link-hover-color));
        background-position: 0 100%;
        background-size: $_link-underline-thickness--hover $_link-underline-thickness--hover;
    }

    &:hover &:focus {
        color: var(--link-color);
        @include _underline-gradient(var(--link-color));
    }

    html:not([data-mousenavigation]) &:focus {
        @include jkl.no-grow-bold;
        @include _border-gradient(var(--link-active-color));
    }

    &:active {
        background-position: 0 calc(100% - (#{$_link-underline-thickness--hover} - #{$_link-underline-thickness}));
        background-size: $_link-underline-thickness $_link-underline-thickness;
    }

    /* Show arrow after external links, or links opening
    in a new window or tab: */
    &[target="_blank"],
    &--external {
        &::after {
            @include jkl.decorative($content: $_north-east-arrow);
        }
    }
}

.jkl-nav-link {
    color: var(--link-color);

    @include jkl.reset-outline;
    box-sizing: border-box;
    font-weight: jkl.$typography-weight-normal;
    text-decoration: none;
    position: relative;
    padding-right: 0.3em;

    &::after,
    &::before {
        display: inline-block;
        transform: translateX(0);
        @include jkl.motion;
        transition-property: transform;
    }

    &::after {
        @include jkl.decorative($content: $_right-arrow);
        padding-left: jkl.rem(2px);
    }

    &:hover:not(:focus) {
        color: var(--link-hover-color);

        &::after {
            transform: translateX(33%);
        }
    }

    html:not([data-mousenavigation]) &:focus {
        @include _border-gradient(var(--link-color));
        @include jkl.no-grow-bold;

        &::after {
            transform: translateX(33%);
        }
    }

    &--active {
        @include jkl.no-grow-bold;
    }
}

.jkl-nav-link--back {
    padding-right: 0;

    $left-arrow-focus-margin: 0.3em; // Unngå at border ved tastaturfokus "kapper" pila
    padding-left: $left-arrow-focus-margin;
    margin-left: -#{$left-arrow-focus-margin};

    &::after {
        display: none;
    }

    &::before {
        @include jkl.decorative($content: $_left-arrow);
        padding-right: jkl.rem(4px);
    }

    &:hover,
    html:not([data-mousenavigation]) &:focus {
        &::before {
            transform: translateX(-33%);
        }
    }
}
