@use "../jkl";

@mixin _underline-gradient($color) {
    background-image: linear-gradient(to bottom, $color 0%, $color 100%);
}

$_link-underline-thickness: jkl.rem(1px);
$_link-underline-thickness--focus: jkl.rem(2px);

.jkl-link {
    --link-color: var(--jkl-color-text-default);

    color: var(--link-color);
    outline: none;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    gap: jkl.rem(1.5px);

    &__content {
        background-position: 0
            calc(
                100% -
                    (
                        #{$_link-underline-thickness--focus} - #{$_link-underline-thickness}
                    )
            );
        background-size: $_link-underline-thickness $_link-underline-thickness;
        background-repeat: repeat-x;

        @include jkl.motion("standard", "energetic");
        transition-property: color;

        @include _underline-gradient(var(--link-color));
    }

    &:hover:not(:focus) {
        --link-color: var(--jkl-color-text-subdued);
    }

    &:focus-visible {
        @include jkl.focus-outline($offset: 0);
    }

    @include jkl.forced-colors-mode {
        outline: revert;
        text-decoration: revert;
    }
}

.jkl-nav-link {
    color: var(--jkl-color-text-default);

    box-sizing: border-box;
    font-weight: jkl.$typography-weight-normal;
    text-decoration: none;
    position: relative;

    display: inline-flex;
    align-items: center;
    gap: jkl.rem(1.5px);

    @include jkl.reset-outline;

    &:hover:not(:focus) {
        color: var(--jkl-color-text-subdued);
    }

    &:focus-visible {
        @include jkl.focus-outline($offset: 0);
    }

    &:focus-visible,
    &:hover:not(:focus) {
        .jkl-nav-link__icon {
            transform: translateX(0.3rem);
        }
    }

    &__icon {
        @include jkl.motion;
        transition-property: transform;
    }

    &--active {
        @include jkl.no-grow-bold;
    }

    // Unngå at border ved tastaturfokus "kapper" pila
    $arrow-spacing: 0.15rem;
    padding-right: $arrow-spacing;
    margin-right: -#{$arrow-spacing};

    &--back {
        padding-right: 0;
        margin-right: 0;
        padding-left: $arrow-spacing;
        margin-left: -#{$arrow-spacing};

        &:focus-visible,
        &:hover:not(:focus) {
            .jkl-nav-link__icon {
                padding-left: 0;
                transform: translateX(-0.3rem);
            }
        }
    }
}
