@use "sass:map";
@use "../jkl/spacing";
@use "../jkl/screens";

@each $name, $spacing in spacing.$spacing {
    .jkl-spacing-#{$name} {
        &--all {
            margin: $spacing;
        }

        @each $position in spacing.$positions {
            &--#{$position} {
                margin-#{$position}: $spacing;
            }
        }
    }
}

@each $from, $to in spacing.$spacing-pairs {
    .jkl-spacing-#{$from}-#{$to} {
        &--all {
            margin: $from;
        }

        @each $position in spacing.$positions {
            &--#{$position} {
                margin-#{$position}: $from;
            }
        }
    }
}
@include screens.from-medium-device {
    @each $from, $to in spacing.$spacing-pairs {
        .jkl-spacing-#{$from}-#{$to} {
            &--all {
                margin: $to;
            }

            @each $position in spacing.$positions {
                &--#{$position} {
                    margin-#{$position}: $to;
                }
            }
        }
    }
}
