@charset "UTF-8";

$webfonts-dir: "/fonts" !default;

@layer jokul.theme {
    @font-face {
        font-family: Jokul;
        font-display: fallback;
        font-weight: 400;
        font-style: normal;
        src: url("#{$webfonts-dir}/InterVariable.woff2") format("woff2");
    }

    @font-face {
        font-family: Jokul;
        font-display: fallback;
        font-weight: 700;
        font-style: normal;
        src: url("#{$webfonts-dir}/InterVariable.woff2") format("woff2");
    }

    @font-face {
        font-family: "Jokul Display";
        font-display: fallback;
        font-weight: 400;
        font-style: normal;
        src: url("#{$webfonts-dir}/InterVariable.woff2") format("woff2");
    }

    @font-face {
        font-family: "Jokul Mono";
        font-display: fallback;
        font-weight: 400;
        font-style: normal;
        src: url("#{$webfonts-dir}/InterVariable.woff2") format("woff2");
    }

    @font-face {
        font-family: "Jokul Icons";
        font-weight: 300 400;
        font-style: normal;
        src: url("#{$webfonts-dir}/Fremtind-Material-Symbols.woff2")
            format("woff2");
    }

    @font-face {
        font-family: "Adjusted Arial Fallback";
        font-weight: 400;
        font-style: normal;
        src: local(arial);
        size-adjust: 104%;
        ascent-override: 82%;
        descent-override: normal;
        line-gap-override: 32%;
    }

    @font-face {
        font-family: "Adjusted Arial Fallback";
        font-weight: 700;
        font-style: normal;
        src: local(arial);
        size-adjust: 108%;
        ascent-override: 83%;
        descent-override: normal;
        line-gap-override: 28%;
    }

    @font-face {
        font-family: "Adjusted Arial Display Fallback";
        font-weight: 400;
        font-style: normal;
        src: local(arial);
        size-adjust: 102%;
        ascent-override: 76%;
        descent-override: normal;
        line-gap-override: 40%;
    }

    @font-face {
        font-family: "Adjusted Courier New Fallback";
        font-weight: 400;
        font-style: normal;
        src: local(courier new);
        size-adjust: 100%;
        ascent-override: 83%;
        descent-override: normal;
        line-gap-override: 27%;
    }

    @font-face {
        font-family: "Jokul Icons Fallback";
        src: local(courier new);
        font-weight: 300 400;
        font-style: normal;
        size-adjust: 0%;
    }
}
