@use "@fremtind/jokul/styles/core/jkl";

.header {
    margin-block: var(--jkl-unit-90) var(--jkl-unit-80);

    .toolbar {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        .filters {
            grid-column: 1;
        }

        .views {
            grid-column: 2;
        }
    }
}

.grid {
    --grid-item-min-width: 250px;

    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-min-width), 1fr));
    gap: var(--jkl-spacing-8);

    > li > * {
        height: 100%;
    }

    &[data-grid-size="small"] {
        --grid-item-min-width: 200px;
    }

    &[data-grid-size="medium"] {
        --grid-item-min-width: 250px;
    }

    &[data-grid-size="large"] {
        --grid-item-min-width: 300px;
    }
}

.card {
    --aspect-ratio: 1.5;

    display: flex;
    flex-direction: column;
    color: var(--jkl-color-text-default);


    .name {
        margin-bottom: var(--jkl-spacing-8);

        &:last-child {
            margin-bottom: 0;
        }

        @include jkl.text-style("heading-5");
    }

    .description {
        margin-bottom: auto;

        @include jkl.text-style("paragraph-small") {
            color: var(--jkl-color-text-subdued);
            word-wrap: break-word;
        }
    }


    .thumbnail {
        height: auto;
        width: 100%;
        aspect-ratio: var(--aspect-ratio);
        overflow: hidden;

        img {
            margin-block-start: var(--jkl-unit-20);
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            aspect-ratio: inherit;
        }
    }
}
