@use "sass:string";
@use "../../input-panel/styles/input-panel";
@use "../../checkbox/styles/checkbox";
@use "../../../core/jkl";

$_checkbox-checked-animation-name: jkl-checkbox-checked-#{string.unique-id()};

@layer jokul.components {
    .jkl-checkbox-panel .jkl-checkbox {
        /* Visuell justering ettersom ikonet ikke fyller bounding box helt */
        margin-inline-start: -0.1em;
    }
}
