@use "~@fremtind/jkl-core/jkl";

/// @deprecated Bruk heller .jkl-nav-card, .jkl-task-card eller .jkl-info-card
.jkl-card {
    @include jkl.reset-outline;
    $_card-padding-normal: jkl.$spacing-l;
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 60ch; // TODO: find out if we want this
    background-color: jkl.$color-snohvit;
    border-radius: jkl.rem(2px);
    box-shadow: jkl.$drop-shadow--medium;
    padding: $_card-padding-normal;
    text-align: inherit;
    transition-property: box-shadow, transform;
    @include jkl.motion;

    &__title {
        margin-bottom: jkl.$spacing-l;
    }

    &__action {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: jkl.$spacing-l;
        margin-top: jkl.$spacing-l;
    }

    &__media {
        margin: -$_card-padding-normal;
        margin-bottom: jkl.$spacing-l;
        width: calc(100% + 2 * #{$_card-padding-normal});
    }

    &--dark {
        background-color: jkl.$color-granitt;
        color: jkl.$color-snohvit;
    }

    &--clickable:hover,
    &--clickable:focus {
        box-shadow: jkl.$drop-shadow--large;
        transform: translateY(-0.125rem);
    }

    &--clickable:focus-within {
        @include jkl.keyboard-navigation {
            box-shadow: 0 0 0 jkl.rem(2px) jkl.$color-focus-color;
        }
    }

    &--clickable:active {
        box-shadow: 0 0 0 0 transparent;
    }

    &__link {
        text-decoration: none;
        color: initial;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
        }
    }
}
