@use "~@fremtind/jkl-core/jkl";

.jkl-info-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__image {
        width: 100%;
        aspect-ratio: 3/2;
    }

    &__title {
        @include jkl.text-style("heading-2");
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: jkl.$spacing-m;
    }

    @include jkl.compact-mode {
        .jkl-info-card__title {
            @include jkl.text-style("heading-4");
        }

        .jkl-info-card__content-wrapper {
            @include jkl.text-style("small");
            gap: jkl.$spacing-s;
        }
    }

    @include jkl.forced-colors-mode {
        border: jkl.rem(2px) solid CanvasText;
    }
}
