@use "~@fremtind/jkl-core/jkl";

.jkl-task-card {
    --jkl-task-card-shadow: #{jkl.$shadow-task-card};

    &--subdued {
        --jkl-task-card-background: var(--jkl-color-surface-subdued);
    }

    &--highlighted {
        --jkl-task-card-background: var(--jkl-color-surface-highlighted);
    }

    &--contrast {
        --jkl-task-card-background: var(--jkl-color-surface-contrast);
    }

    &--normal {
        --jkl-task-card-background: var(--jkl-color-surface);
    }

    background-color: var(--jkl-task-card-background, var(--jkl-color-surface));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: jkl.rem(4px);

    @include jkl.motion;
    transition-property: background-color;

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &--with-shadow {
        box-shadow: var(--jkl-task-card-shadow);
    }

    @include jkl.forced-colors-mode {
        border: jkl.rem(2px) solid CanvasText;
    }
}
