@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/functions" as func;

@import "~@fremtind/jkl-core/mixins/_all";
@import "~@fremtind/jkl-button/button";

$card-bg-color: jkl.$color-snohvit;
$card-corner-radius: func.rem(2px);
$card-padding-normal: jkl.$spacing-l;

/// @deprecated Bruk heller .jkl-nav-card, .jkl-task-card eller .jkl-info-card
.jkl-card {
    @include reset-outline;
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 60ch; // TODO: find out if we want this
    background-color: $card-bg-color;
    border-radius: $card-corner-radius;
    box-shadow: jkl.$drop-shadow--medium;
    padding: $card-padding-normal;
    text-align: inherit;
    transition-property: box-shadow, transform;
    @include motion;

    &__title {
        margin-bottom: jkl.$spacing-l;
    }

    &__action {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: jkl.$spacing-l;
        margin-top: jkl.$spacing-l;
    }

    &__media {
        margin: -$card-padding-normal;
        margin-bottom: jkl.$spacing-l;
        width: calc(100% + 2 * #{$card-padding-normal});
    }

    &--dark {
        background-color: jkl.$color-granitt;
        color: jkl.$color-snohvit;
    }

    &--clickable:hover,
    &--clickable:focus {
        box-shadow: jkl.$drop-shadow--large;
        transform: translateY(-0.125rem);
    }

    &--clickable:focus-within {
        @include keyboard-navigation {
            box-shadow: 0 0 0 func.rem(2px) jkl.$color-focus-color;
        }
    }

    &--clickable:active {
        box-shadow: 0 0 0 0 transparent;
    }

    &__link {
        text-decoration: none;
        color: initial;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}

@include jkl.helper-light-mode-variables {
    --nav-card-background: #{jkl.$color-hvit};
    --nav-card-shadow: #{jkl.$shadow-navigation};
    --nav-card-shadow--hover: #{jkl.$shadow-navigation--hover};
    --nav-card-info-border-color: #{jkl.$color-svaberg};
}

@include jkl.helper-dark-mode-variables {
    --nav-card-background: #{jkl.$color-svart};
    --nav-card-shadow: none;
    --nav-card-shadow--hover: none;
    --nav-card-info-border-color: #{jkl.$color-stein};
}

.jkl-nav-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 0, 0);
    text-decoration: none;
    color: var(--jkl-color);
    outline: 0;

    border-radius: func.rem(4px);
    overflow: hidden;
    box-shadow: var(--nav-card-shadow);
    background-color: var(--nav-card-background);

    @include motion;
    transition-property: box-shadow, transform;

    &__image {
        width: 100%;
        aspect-ratio: 3/2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: jkl.$spacing-l;
    }

    &__link {
        @include jkl.text-style("heading-2");

        .jkl-nav-card:hover:focus &::after,
        .jkl-nav-card:hover:not(:focus) &::after {
            transform: translateX(33%);
        }

        &:hover:not(:focus),
        &:focus:focus {
            color: var(--jkl-color);
        }
    }

    &__description {
        @include jkl.text-style("small");
    }

    &__info {
        border-top: func.rem(1px) solid var(--nav-card-info-border-color);
        padding-top: jkl.$spacing-l;
        @include jkl.text-style("small");
        width: 100%;
    }

    &:hover {
        box-shadow: var(--nav-card-shadow--hover);
        transform: translate3d(0, func.rem(-4px), 0);
    }

    @include keyboard-navigation {
        &:focus {
            outline: func.rem(2px) solid var(--jkl-color);
        }
    }

    @include jkl.helper-forced-colors-mode {
        outline: revert;
        border: rem(2px) solid LinkText;
    }
}

@include jkl.helper-light-mode-variables {
    --task-card-background--hvit: #{jkl.$color-hvit};
    --task-card-background--snohvit: #{jkl.$color-snohvit};
    --task-card-background--sand: #{jkl.$color-sand};
    --task-card-background--dis: #{jkl.$color-dis};
    --task-card-shadow: #{jkl.$shadow-task-card};
}

@include jkl.helper-dark-mode-variables {
    --task-card-background--hvit: #{jkl.$color-svart};
    --task-card-background--snohvit: #{jkl.$color-granitt};
    --task-card-background--sand: #{jkl.$color-skifer};
    --task-card-background--dis: #{jkl.$color-fjellgra};
    --task-card-shadow: none;
}

.jkl-task-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: func.rem(4px);

    @include motion;
    transition-property: background-color;

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &--hvit {
        background-color: var(--task-card-background--hvit);
    }

    &--snohvit {
        background-color: var(--task-card-background--snohvit);
    }

    &--sand {
        background-color: var(--task-card-background--sand);
    }

    &--dis {
        background-color: var(--task-card-background--dis);
    }

    &--with-shadow {
        box-shadow: var(--task-card-shadow);
    }

    @include jkl.helper-forced-colors-mode {
        border: rem(2px) solid CanvasText;
    }
}

.jkl-info-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__image {
        width: 100%;
        aspect-ratio: 3/2;
    }

    &__title {
        @include jkl.text-style("heading-2");
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: jkl.$spacing-m;
    }

    @include jkl.helper-forced-colors-mode {
        border: rem(2px) solid CanvasText;
    }
}
