@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-button/button.scss";

$card-bg-color: $gra-10;
$card-corner-radius: rem(2px);
$card-padding-normal: $component-spacing--xl;

.jkl-card {
    @include reset-outline;
    position: relative;
    overflow: hidden;
    display: block;
    border: none;
    max-width: 60ch; //TODO: find out if we want this
    background-color: $card-bg-color;
    border-radius: $card-corner-radius;
    box-shadow: $drop-shadow--medium;
    padding: $card-padding-normal;
    text-align: inherit;
    transition-property: box-shadow, transform;
    @include motion("standard");

    &__title {
        margin-bottom: $layout-spacing--small;
    }
    &__action {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: $layout-spacing--small;
        margin-top: $layout-spacing--small;
    }
    &__media {
        margin: -$card-padding-normal;
        margin-bottom: $layout-spacing--small;
        width: calc(100% + 2 * #{$card-padding-normal});
    }
    &--dark {
        background-color: $svart;
        color: $hvit;
    }
    &--clickable:hover,
    &--clickable:focus {
        box-shadow: $drop-shadow--large;
        transform: translateY(-0.125rem);
    }
    &--clickable:active {
        box-shadow: 0 0 0 0 transparent;
    }
    &__link {
        text-decoration: none;
        color: initial;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}
