@use "~@fremtind/jkl-core/jkl";
// @use "~@fremtind/jkl-button";

/// @deprecated Bruk heller .jkl-nav-card, .jkl-task-card eller .jkl-info-card
.jkl-card {
    @include jkl.reset-outline;
    $_card-padding-normal: jkl.$spacing-l;
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 60ch; // TODO: find out if we want this
    background-color: jkl.$color-snohvit;
    border-radius: jkl.rem(2px);
    box-shadow: jkl.$drop-shadow--medium;
    padding: $_card-padding-normal;
    text-align: inherit;
    transition-property: box-shadow, transform;
    @include jkl.motion;

    &__title {
        margin-bottom: jkl.$spacing-l;
    }

    &__action {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: jkl.$spacing-l;
        margin-top: jkl.$spacing-l;
    }

    &__media {
        margin: -$_card-padding-normal;
        margin-bottom: jkl.$spacing-l;
        width: calc(100% + 2 * #{$_card-padding-normal});
    }

    &--dark {
        background-color: jkl.$color-granitt;
        color: jkl.$color-snohvit;
    }

    &--clickable:hover,
    &--clickable:focus {
        box-shadow: jkl.$drop-shadow--large;
        transform: translateY(-0.125rem);
    }

    &--clickable:focus-within {
        @include jkl.keyboard-navigation {
            box-shadow: 0 0 0 jkl.rem(2px) jkl.$color-focus-color;
        }
    }

    &--clickable:active {
        box-shadow: 0 0 0 0 transparent;
    }

    &__link {
        text-decoration: none;
        color: initial;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.jkl-nav-card {
    // DESIGN TOKENS (STIL-API):
    // -------------------------
    --jkl-nav-card-color-bg: var(--jkl-system-color-surface);
    --jkl-nav-card-color-text: var(--jkl-system-color-on-surface);
    --jkl-nav-card-color-info-border: var(--jkl-system-color-outline-variant);
    --jkl-nav-card-color-focus: var(--jkl-system-color-interactive);
    --jkl-nav-card-shadow: var(--jkl-system-shadow-elevation-1);
    --jkl-nav-card-shadow--hover: var(--jkl-system-shadow-elevation-2);
    --jkl-nav-card-content-spacing: var(--jkl-system-spacing-s);

    @include jkl.create-text-style-variables("ingress", "jkl-nav-card-header");
    @include jkl.create-text-style-variables("small", "jkl-nav-card-description");
    @include jkl.create-text-style-variables("small", "jkl-nav-card-info");

    // ikke ennå i det nye systemet:
    --jkl-nav-card-outline-thickness: #{jkl.rem(2px)};
    --jkl-nav-card-border-radius: #{jkl.rem(4px)};
    // -------------------------

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 0, 0);
    text-decoration: none;
    color: var(--jkl-nav-card-color-text);
    outline: 0;

    border-radius: var(--jkl-nav-card-border-radius);
    overflow: hidden;
    @include jkl.elevation(1);
    background-color: var(--jkl-nav-card-color-bg);

    @include jkl.motion;
    transition-property: box-shadow, transform;

    &__image {
        width: 100%;
        aspect-ratio: 3/2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--jkl-nav-card-content-spacing);
    }

    &__link {
        @include jkl.use-text-style-variables("jkl-nav-card-header");

        .jkl-nav-card:focus &::after,
        .jkl-nav-card:hover:not(:focus) &::after {
            padding-left: 0.7em;
            padding-right: 0;
        }

        &:hover:not(:focus),
        &:focus:focus {
            color: var(--jkl-color);
        }
    }

    &__description {
        @include jkl.use-text-style-variables("jkl-nav-card-description");
    }

    &__info {
        border-top: jkl.rem(1px) solid var(--jkl-nav-card-color-info-border);
        padding-top: var(--jkl-nav-card-content-spacing);
        @include jkl.use-text-style-variables("jkl-nav-card-info");
        width: 100%;
    }

    &:hover {
        @include jkl.elevation(2);
        transform: translate3d(0, jkl.rem(-4px), 0);
    }

    @include jkl.keyboard-navigation {
        &:focus {
            outline: var(--jkl-nav-card-outline-thickness) solid var(--jkl-nav-card-color-focus);
        }
    }

    @include jkl.forced-colors-mode {
        outline: revert;
        border: var(--jkl-nav-card-outline-thickness) solid LinkText;
    }
}

@include jkl.light-mode-variables {
    --jkl-task-card-background--snohvit: #{jkl.$color-snohvit};
    --jkl-task-card-background--sand: #{jkl.$color-sand};
}

@include jkl.dark-mode-variables {
    --jkl-task-card-background--snohvit: #{jkl.$color-granitt};
    --jkl-task-card-background--sand: #{jkl.$color-skifer};
}

.jkl-task-card {
    // DESIGN TOKENS (STIL-API):
    // -------------------------
    --jkl-task-card-color-bg: var(--jkl-system-color-surface);
    --jkl-task-card-color-bg--muted: var(--jkl-system-color-surface-variant);
    --jkl-task-card-color-text: var(--jkl-system-color-on-surface);
    // -------------------------

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: jkl.rem(4px);

    @include jkl.motion;
    transition-property: background-color;

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &--hvit {
        background-color: var(--jkl-task-card-color-bg);
    }

    &--snohvit {
        background-color: var(--jkl-task-card-background--snohvit);
    }

    &--sand {
        background-color: var(--jkl-task-card-background--sand);
    }

    &--dis {
        background-color: var(--jkl-task-card-color-bg--muted);
    }

    &--with-shadow {
        @include jkl.elevation(1);
    }

    @include jkl.forced-colors-mode {
        border: jkl.rem(2px) solid CanvasText;
    }
}

.jkl-info-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__image {
        width: 100%;
        aspect-ratio: 3/2;
    }

    &__title {
        @include jkl.text-style("heading-2");
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: jkl.$spacing-m;
    }

    @include jkl.forced-colors-mode {
        border: jkl.rem(2px) solid CanvasText;
    }
}
