@use "~@fremtind/jkl-core/jkl";

.jkl-icon-table {
    border: 0;
    width: 100%;
    max-width: jkl.rem(768px);

    &__img {
        width: jkl.rem(30px);
        display: flex;
    }

    &__data,
    &__header {
        padding: jkl.$spacing-xs;
        @include jkl.text-style("body");
        text-align: left;
        vertical-align: top;
        border-bottom: jkl.rem(1px) solid;
        box-sizing: border-box;
    }

    &__header {
        font-weight: jkl.$typography-weight-bold;
        border-bottom-color: jkl.$color-granitt;
        min-height: jkl.rem(48px);
    }

    &__data {
        border-bottom-color: jkl.$color-stein;
        padding-bottom: jkl.$spacing-m;
        min-height: jkl.rem(64px);
    }

    @include jkl.small-device {
        &__header,
        &__data {
            &:first-child {
                width: 40%; // kan også være en fast verdi om det er bedre
            }
        }
    }
}
