@charset "UTF-8";
@use "../../../core/jkl";

.jkl-chip {
    --text-color: var(--jkl-color-text-default);
    --border-color: var(--jkl-color-border-separator);
    --background-color: transparent;
    --border-width: #{jkl.rem(1px)};

    @include jkl.text-style("small");
    padding-inline: 0.75em 0.5em;
    cursor: pointer;
    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
    border: var(--border-width) solid var(--border-color);
    border-radius: 99999px;
    display: inline-flex;
    align-items: center;
    gap: 0.25ch;

    @include jkl.forced-colors-mode {
        border: 2px none CanvasText;
        border-bottom-style: dotted;
    }

    &__icon {
        display: inline;
    }

    &::after {
        content: "";
        opacity: 0;
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background-color: var(--text-color);

        @include jkl.motion("standard", "productive", opacity);
    }

    &:focus-visible {
        @include jkl.focus-outline;
    }

    &:hover {
        &::after {
            opacity: 0.15;
        }
    }

    &--filter {
        &[aria-pressed="true"] {
            --background-color: var(--jkl-color-background-action);
            --text-color: var(--jkl-color-text-on-action);
            --border-color: var(--text-color);

            @include jkl.forced-colors-mode {
                forced-color-adjust: none;
                --background-color: CanvasText;
                --text-color: Canvas;
            }
        }
    }
}
