@use "@fremtind/jokul/styles/core/jkl";

.storybook {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: jkl.rem(1000px);
    position: relative;

    .story {
        border: 1px solid jkl.$color-border-separator;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: jkl.rem(16px);
        margin-block-start: jkl.rem(16px);
        resize: vertical;
        min-height: jkl.rem(120px);
        max-height: 100vh;
    }

    .externalLink {
        flex-grow: 1;
        display: flex;
        gap: jkl.$spacing-32;
        padding: jkl.$spacing-16 0;
        justify-content: space-between;
        align-items: flex-end;
    }
}
