@use "sass:map";

// Hovedfarger
$svart: #000;
$granitt: #1b1917;
$skifer: #313030;
$fjellgra: #444141;
$stein: #636060;
$svaberg: #c8c5c3;
$varde: #e0dbd4;
$dis: #ece9e5;
$sand: #f4f2ef;
$snohvit: #f9f9f9;
$hvit: #fff;

/// @deprecated Fargen er ikke lenger en del av profilen og skal ikke brukes
$suksess: #287e68;
/// @deprecated Fargen er ikke lenger en del av profilen og skal ikke brukes
$info: #000afa;
/// @deprecated Fargen er ikke lenger en del av profilen og skal ikke brukes
$advarsel: #fbb15b;
/// @deprecated Fargen er ikke lenger en del av profilen og skal ikke brukes
$feil: #aa1f23;

/// @deprecated Fargen er ikke lenger en del av profilen og skal ikke brukes
$suksess--darkbg: #5effa0;
/// @deprecated Fargen er ikke lenger en del av profilen og skal ikke brukes
$info--darkbg: #00faff;
/// @deprecated Fargen er ikke lenger en del av profilen og skal ikke brukes
$advarsel--darkbg: #fec97b;
/// @deprecated Fargen er ikke lenger en del av profilen og skal ikke brukes
$feil--darkbg: #ff8b79;

// Farger knyttet til bruksområde
$error-color: $feil;
$focus-color: $granitt;
$error-color--darkbg: $feil--darkbg;
$focus-color--darkbg: $snohvit;

/// Varslingsfarger / Meldingsfarger.
/// Kun til bruk som bakgrunn i komponenter som gir varslinger til bruker.
/// @access private
$varslingsfarger: (
    "suksess": #c8ecd2,
    "feil": #ffc9b2,
    "info": #d9ddff,
    "advarsel": #fdeab9,
    "suksess--alt": #90c49e,
    "feil--alt": #ff9a7a,
);

@function varslingsfarge($farge) {
    @return map.get($varslingsfarger, $farge);
}
