// Hovedfarger
$svart: #000;
$varde: $varde-50;
$hvit: #fff;

// Gråtoner
$gra-10: #f8f8f8;
$gra-20: #ebebeb;
$gra-30: #d6d6d6;
$gra-40: #b8b8b8;
$gra-50: #999999;
$gra-60: #6f6f6f;
$gra-70: #525252;
$gra-80: #3d3d3d;
$gra-90: #292929;
$gra-100: #181818;

// Vardetoner
$varde-10: #f9f6f4;
$varde-20: #f4f0ec;
$varde-30: #ede7e0;
$varde-40: #e5ddd3;
$varde-50: #ded4c7;
$varde-60: #cfc1ae;
$varde-70: #baa589;
$varde-80: #ab9271;
$varde-90: #8d7453;
$varde-100: #68563e;

// Meldingsfarger
$suksess: #2f8551;
$info: #0073e3;
$advarsel: #ffa647;
$feil: #d73704;

// Illustrasjonsfarger
$sand: #dcb28b;
$jord: #765d4b;
$sol: #ffc880;
$blomst: #ff7059;
$skog: #0d5745;
$hav: #0a3166;

// Farger knyttet til bruksområde
$error-color: $feil;
$focus-color: $info;
