@import "../mixins/screens";
@import "../functions";

$normal-weight: 400;
$bold-weight: 700;

$font-size-1: rem(12px);
$font-size-2: rem(16px);
$font-size-3: rem(18px);
$font-size-4: rem(20px);
$font-size-5: rem(21px);
$font-size-6: rem(22px);
$font-size-7: rem(25px);
$font-size-8: rem(28px);
$font-size-9: rem(32px);
$font-size-10: rem(42px);
$font-size-11: rem(48px);
$font-size-12: rem(64px);

$line-height-1: rem(16px);
$line-height-2: rem(24px);
$line-height-3: rem(28px);
$line-height-4: rem(32px);
$line-height-5: rem(40px);
$line-height-6: rem(48px);
$line-height-7: rem(56px);
$line-height-8: rem(72px);

$text-styles: (
    "desktop/title-large": (
        font-size: $font-size-12,
        line-height: $line-height-8,
        font-weight: $normal-weight,
    ),
    "compact/title-large": (
        font-size: $font-size-10,
        line-height: $line-height-6,
        font-weight: $normal-weight,
    ),
    "desktop/title-small": (
        font-size: $font-size-11,
        line-height: $line-height-7,
        font-weight: $normal-weight,
    ),
    "compact/title-small": (
        font-size: $font-size-9,
        line-height: $line-height-5,
        font-weight: $normal-weight,
    ),
    "desktop/heading-large": (
        font-size: $font-size-9,
        line-height: $line-height-5,
        font-weight: $bold-weight,
    ),
    "compact/heading-large": (
        font-size: $font-size-7,
        line-height: $line-height-4,
        font-weight: $bold-weight,
    ),
    "desktop/heading-medium": (
        font-size: $font-size-7,
        line-height: $line-height-4,
        font-weight: $bold-weight,
    ),
    "compact/heading-medium": (
        font-size: $font-size-5,
        line-height: $line-height-3,
        font-weight: $bold-weight,
    ),
    "desktop/heading-small": (
        font-size: $font-size-5,
        line-height: $line-height-3,
        font-weight: $bold-weight,
    ),
    "compact/heading-small": (
        font-size: $font-size-3,
        line-height: $line-height-2,
        font-weight: $bold-weight,
    ),
    "desktop/lead": (
        font-size: $font-size-8,
        line-height: $line-height-5,
        font-weight: $normal-weight,
    ),
    "compact/lead": (
        font-size: $font-size-6,
        line-height: $line-height-4,
        font-weight: $normal-weight,
    ),
    "desktop/body": (
        font-size: $font-size-4,
        line-height: $line-height-4,
        font-weight: $normal-weight,
    ),
    "compact/body": (
        font-size: $font-size-3,
        line-height: $line-height-2,
        font-weight: $normal-weight,
    ),
    "desktop/small": (
        font-size: $font-size-2,
        line-height: $line-height-2,
        font-weight: $normal-weight,
    ),
    "compact/small": (
        font-size: $font-size-2,
        line-height: $line-height-2,
        font-weight: $normal-weight,
    ),
    "desktop/micro": (
        font-size: $font-size-1,
        line-height: $line-height-1,
        font-weight: $bold-weight,
    ),
    "compact/micro": (
        font-size: $font-size-1,
        line-height: $line-height-1,
        font-weight: $bold-weight,
    ),
);

@mixin jkl-text-style($text-style) {
    @if map-has-key($map: $text-styles, $key: $text-style) {
        @each $property, $value in map-get($text-styles, $text-style) {
            #{$property}: $value;
        }
    } @else {
        @error "No text style with the name #{$text-style} was found. Try one of these: #{map-keys($text-styles)}";
    }
}
