@import "../mixins/screens";
@import "../functions";

$normal-weight: 400;
$bold-weight: 700;

$font-size-1: rem(12px);
$font-size-2: rem(16px);
$font-size-3: rem(18px);
$font-size-4: rem(20px);
$font-size-5: rem(21px);
$font-size-6: rem(22px);
$font-size-7: rem(25px);
$font-size-8: rem(28px);
$font-size-9: rem(32px);
$font-size-10: rem(42px);
$font-size-11: rem(48px);
$font-size-12: rem(64px);

$line-height-1: rem(16px);
$line-height-2: rem(24px);
$line-height-3: rem(28px);
$line-height-4: rem(32px);
$line-height-5: rem(40px);
$line-height-6: rem(48px);
$line-height-7: rem(56px);
$line-height-8: rem(72px);

@mixin h1-heading {
    @include h1-heading--desktop;
    @include small-device {
        @include h1-heading--mobile;
    }
}

@mixin h1-heading--desktop {
    font-size: $font-size-12;
    line-height: $line-height-8;
    font-weight: $normal-weight;
}

@mixin h1-heading--mobile {
    font-size: $font-size-10;
    line-height: $line-height-6;
    font-weight: $normal-weight;
}

@mixin h2-heading {
    @include h2-heading--desktop;
    @include small-device {
        @include h2-heading--mobile;
    }
}

@mixin h2-heading--desktop {
    font-size: $font-size-11;
    line-height: $line-height-7;
    font-weight: $normal-weight;
}

@mixin h2-heading--mobile {
    font-size: $font-size-9;
    line-height: $line-height-5;
    font-weight: $normal-weight;
}

@mixin h3-heading {
    @include h3-heading--desktop;
    @include small-device {
        @include h3-heading--mobile;
    }
}

@mixin h3-heading--desktop {
    font-size: $font-size-9;
    line-height: $line-height-5;
    font-weight: $bold-weight;
}

@mixin h3-heading--mobile {
    font-size: $font-size-7;
    line-height: $line-height-4;
    font-weight: $bold-weight;
}

@mixin h4-heading {
    @include h4-heading--desktop;
    @include small-device {
        @include h4-heading--mobile;
    }
}

@mixin h4-heading--desktop {
    font-size: $font-size-7;
    line-height: $line-height-4;
    font-weight: $bold-weight;
}

@mixin h4-heading--mobile {
    font-size: $font-size-5;
    line-height: $line-height-3;
    font-weight: $bold-weight;
}

@mixin h5-heading {
    @include h5-heading--desktop;
    @include small-device {
        @include h5-heading--mobile;
    }
}

@mixin h5-heading--desktop {
    font-size: $font-size-5;
    line-height: $line-height-3;
    font-weight: $bold-weight;
}

@mixin h5-heading--mobile {
    font-size: $font-size-3;
    line-height: $line-height-2;
    font-weight: $bold-weight;
}

@mixin lead-paragraph {
    @include lead-paragraph--desktop;
    @include small-device {
        @include lead-paragraph--mobile;
    }
}

@mixin lead-paragraph--desktop {
    font-size: $font-size-8;
    line-height: $line-height-5;
}

@mixin lead-paragraph--mobile {
    font-size: $font-size-6;
    line-height: $line-height-4;
}

@mixin body-paragraph {
    @include body-paragraph--desktop;
    @include small-device {
        @include body-paragraph--mobile;
    }
}

@mixin body-paragraph--desktop {
    font-size: $font-size-4;
    line-height: $line-height-4;
}

@mixin body-paragraph--mobile {
    font-size: $font-size-3;
    line-height: $line-height-3;
}

@mixin body-small-paragraph {
    font-size: $font-size-2;
    line-height: $line-height-2;
}

@mixin micro-paragraph {
    font-size: $font-size-1;
    line-height: $line-height-1;
    font-weight: $bold-weight;
}
