@forward "breakpoints";
@forward "colors" as color-* hide $varslingsfarger, varslingsfarge;
@forward "shadow";
@forward "shadows" as shadow-*;
@forward "spacing" hide $spacing-new;
@forward "typography" as typography-*;
@forward "z-index";
