@use "../functions" as func;

$navigation: 0 func.rem(4px) func.rem(15px) rgb(37 42 49 / 10%);
$navigation--hover: 0 func.rem(6px) func.rem(25px) rgb(37 42 49 / 12%);
$task-card: 0 func.rem(4px) func.rem(12px) rgb(37 42 49 / 3%);
