/// Tilsvarer 2px
/// @type Number
$spacing-3xs: 0.125rem;

/// Tilsvarer 4px
/// @type Number
$spacing-2xs: 0.25rem;

/// Tilsvarer 8px
/// @type Number
$spacing-xs: 0.5rem;

/// Tilsvarer 12px
/// @type Number
$spacing-s: 0.75rem;

/// Tilsvarer 16px
/// @type Number
$spacing-m: 1rem;

/// Tilsvarer 24px
/// @type Number
$spacing-l: 1.5rem;

/// Tilsvarer 40px
/// @type Number
$spacing-xl: 2.5rem;

/// Tilsvarer 64px
/// @type Number
$spacing-2xl: 4rem;

/// Tilsvarer 104px
/// @type Number
$spacing-3xl: 6.5rem;

/// Tilsvarer 168px
/// @type Number
$spacing-4xl: 10.5rem;

/// Lar deg gjøre oppslag på navnet uten `spacing`-prefix for å få ut rem-verdien
/// @type Map
$spacing-new: (
    "3xs": $spacing-3xs,
    "2xs": $spacing-2xs,
    "xs": $spacing-xs,
    "s": $spacing-s,
    "m": $spacing-m,
    "l": $spacing-l,
    "xl": $spacing-xl,
    "2xl": $spacing-2xl,
    "3xl": $spacing-3xl,
    "4xl": $spacing-4xl,
);
