// Core spacing values
$spacing-3xs: 0.125rem; // 2px
$spacing-2xs: 0.25rem; //4px
$spacing-xs: 0.5rem; //8px
$spacing-s: 0.75rem; //12px;
$spacing-m: 1rem; //16px;
$spacing-l: 1.5rem; //24px;
$spacing-xl: 2.5rem; //40px;
$spacing-2xl: 4rem; //64px;
$spacing-3xl: 6.5rem; //104px;
$spacing-4xl: 10.5rem; //168px;

$spacing-new: (
    "3xs": $spacing-3xs,
    "2xs": $spacing-2xs,
    "xs": $spacing-xs,
    "s": $spacing-s,
    "m": $spacing-m,
    "l": $spacing-l,
    "xl": $spacing-xl,
    "2xl": $spacing-2xl,
    "3xl": $spacing-3xl,
    "4xl": $spacing-4xl,
);
