// Core spacing values
$spacing-1: 0.125rem; // 2px
$spacing-2: 0.25rem; //4px
$spacing-3: 0.5rem; //8px
$spacing-4: 0.75rem; //12px;
$spacing-5: 1rem; //16px;
$spacing-6: 1.5rem; //24px;
$spacing-7: 2.5rem; //40px;
$spacing-8: 4rem; //64px;
$spacing-9: 6.5rem; //104px;
$spacing-10: 10.5rem; //168px;

// Component scale
$component-spacing--xxs: $spacing-1;
$component-spacing--xs: $spacing-2;
$component-spacing--small: $spacing-3;
$component-spacing--medium: $spacing-4;
$component-spacing--large: $spacing-5;
$component-spacing--xl: $spacing-6;
$component-spacing--xxl: $spacing-7;
$component-spacing--giant: $spacing-8;

// Layout scale
$layout-spacing--small: $spacing-6;
$layout-spacing--medium: $spacing-7;
$layout-spacing--large: $spacing-8;
$layout-spacing--xl: $spacing-9;
$layout-spacing--xxl: $spacing-10;

$layout-spacing: $layout-spacing--small, $layout-spacing--medium, $layout-spacing--large, $layout-spacing--xl,
    $layout-spacing--xxl;
