@use "../functions";

$weight-normal: 400;
$weight-bold: 700;

$font-size-1: functions.rem(16px);
$font-size-2: functions.rem(18px);
$font-size-3: functions.rem(20px);
$font-size-4: functions.rem(21px);
$font-size-5: functions.rem(23px);
$font-size-6: functions.rem(25px);
$font-size-7: functions.rem(26px);
$font-size-8: functions.rem(28px);
$font-size-9: functions.rem(36px);
$font-size-10: functions.rem(56px);

$line-height-1: functions.rem(24px);
$line-height-2: functions.rem(28px);
$line-height-3: functions.rem(32px);
$line-height-4: functions.rem(40px);
$line-height-5: functions.rem(44px);
$line-height-6: functions.rem(64px);
