@use "sass:map";
@use "sass:math";
@use "../functions";

/// Finner riktige verdier å bruke i en CSS clamp-funksjon for flytende fontstørrelse
/// gitt minimum og maksimum fonstørrelse, og minimum og maksimum skjermbredde
/// https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/
///
/// @param {Number} $minSize - Minimum fontsørrelse i rem
/// @param {Number} $maxSize - Maksimum fontstørrelse i rem
/// @param {Number} $smallScreen [400px] - Minste skjermbredde i piksler for flytende størrelse
/// @param {Number} $largeScreen [1200px] - Største skjermbredde i piksler for flytende størrelse
/// @return {Map} - ("vw": antall vw, "rem": fastledd i rem)
@function _getFontScalingParameters($minSize, $maxSize, $smallScreen: 400px, $largeScreen: 1200px) {
    $_smScrRem: functions.rem($smallScreen);
    $_lgScrRem: functions.rem($largeScreen);

    // For å finne riktig vw:
    $_vw: math.div(100 * ($maxSize - $minSize), $_lgScrRem - $_smScrRem);
    // For å finne riktig statisk tillegg:
    $_rem: math.div(($_smScrRem * $maxSize - $_lgScrRem * $minSize), ($_smScrRem - $_lgScrRem));

    @return ("vw": $_vw, "rem": $_rem);
}

// VEKTER:
// Her er det sikkert enklere å bare bruke referanse-/bibliotek-tokens direkte
$_font-weights: (
    "regular": 400,
    "bold": 700,
);

@function font-weight($weight) {
    @if not map.has-key($_font-weights, $weight) {
        @error "Fontvekten må være en av #{map.keys($_font-weights)}";
    }

    @return map.get($_font-weights, $weight);
}

// LINJEHØYDER:
// Jeg har litt lyst til å utfordre 8-gangeren på linjehøyde. "Alle" som snakker om linjehøyde anbefaler å bruke tall uten enhet,
// samtidig bruker f.eks. Material spesifikke verdier i dp/px. Men enhetsløse tall gir også mer fleksibilitet i å sette sammen
// typografgiske stiler. Må i så fall utforske litt hva det _faktisk_ gjør med layout at ting ikke nødvendigvis går opp i åtte.
$_line-heights: (
    1: 1,
    2: 1.2,
    3: 1.4,
    4: 1.6,
    5: 1.8,
    6: 2,
);

/// Henter verdien til et steg i skalaen for linjehøyde. Verdiene er
/// enhetsløse, slik at de også fungerer med flytende skriftstørrelser
///
/// @param {Number} $step - Et steg i skalaen for linjehøyde [1 - 6]
/// @return {Number} - Verdien for valgt steg i skalaen
@function line-height($step) {
    @if not math.is-unitless($step) {
        @error "Steget må være et heltall uten enhet.";
    }
    @if not map.has-key($_line-heights, $step) {
        @error "Det finnes ingen linjehøyde med steg #{$step}.";
    }

    @return map.get($_line-heights, $step);
}

// KONSTANTER FOR FONTSTØRRELSER:
$_BASE_FONT_SIZE: 14; // Basisstørrelse i piksler (steg 0 i skalaen)
$_FONT_SCALE_MULTIPLIER: 1.2; // Multiplikator for fontskala (Major second)
$_SMALL_FONT_SCALE_MULTIPLIER: 1.125; // Multiplikator for fontskala (Major second)
$_MIN_FONT_SCALE_STEP: -2; // Minste tillatte steg i fontskalaen
$_FLUID_STEP_VARIANCE: 2; // Variasjon i størrelse for flytende fontstørrelser (målt i steg i skalaen)
$_MIN_FLUID_STEP: 2; // Minimumssteg for flytende fontstørrelse (Steg 2: 20px)

/// Henter verdien til et steg i fontskalaen. Steg 0 er baseverdien (1rem),
/// og stegene over eller under null regnes ut fra multiplikatoren
///
/// @param {Number} $step - Et steg i fontskalaen, minimum -3
/// @return {Number} - Fontstørrelsen for valgt steg i skalaen
@function harmonic-scale-step($step, $multiplier: 1.2, $base: 14) {
    @if not math.is-unitless($step) {
        @error "Parameteret $step må være et heltall uten enhet. Du sendte inn #{$step}";
    }
    @if $step < $_MIN_FONT_SCALE_STEP {
        @error "Steg under #{$_MIN_FONT_SCALE_STEP} blir for små. Bruk en høyere verdi.";
    }

    @return functions.rem(math.round(math.pow($multiplier, $step) * $base) * 1px);
}

/// Henter en flytende fontstørrelse basert på et steg i fontskalaen.
/// Størrelsen vil variere fra to steg under angitt steg på små skjermer
/// til angitt steg på store skjermer.
///
/// NB! Flytende fontstørrelser skal KUN brukes til overskrifter
///
/// @param {Number} $step - Et steg i fontskalaen, minimum 6
/// @param {Number} $minScreen [500px] - Minimum skjermbredde i piksler for flytende størrelse
/// @param {Number} $maxScreen [1200px] - Maksimum skjermbredde i piksler for flytende størrelse
/// @return {Number} - Flytende fontstørrelse i rem, basert på valgt steg i skalaen
@function fluid-font-size($step, $minScreen: 500px, $maxScreen: 1200px) {
    @if not math.is-unitless($step) {
        @error "Parameteret #{$step} må være et heltall uten enhet.";
    }
    /* @if $step <= $_MIN_FLUID_STEP {
        @warn "Steg under #{$_MIN_FLUID_STEP + 1} vil ikke opptre flytende for å bevare lesbarhet";
        @return font-size($step);
    } */

    $_min: harmonic-scale-step($step, $_SMALL_FONT_SCALE_MULTIPLIER, $_BASE_FONT_SIZE);
    $_max: harmonic-scale-step($step, $_FONT_SCALE_MULTIPLIER, $_BASE_FONT_SIZE);
    /* $_min: font-size(math.max(($step - $_FLUID_STEP_VARIANCE), $_MIN_FLUID_STEP));
    $_max: font-size(math.max($step, $_MIN_FLUID_STEP)); */
    $_params: _getFontScalingParameters($_min, $_max, $minScreen, $maxScreen);

    @return clamp(#{$_min}, #{map.get($_params, "vw")}vw + #{map.get($_params, "rem")}, #{$_max});
}

@mixin text-style($fontStep, $lineHeight, $weight: "regular", $fluid: false) {
    @if $fluid {
        font-size: fluid-font-size($fontStep);
    } @else {
        font-size: harmonic-scale-step($fontStep);
    }
    line-height: line-height($lineHeight);
    font-weight: font-weight($weight);
    @content;
}

@mixin define-semantic-text-style($name, $fontStep, $lineHeight, $weight: "regular", $fluid: false) {
    @if $fluid {
        --jkl-semantic-#{$name}-font-size: #{fluid-font-size($fontStep)};
    } @else {
        --jkl-semantic-#{$name}-font-size: #{harmonic-scale-step($fontStep)};
    }
    --jkl-semantic-#{$name}-line-height: #{line-height($lineHeight)};
    --jkl-semantic-#{$name}-font-weight: #{font-weight($weight)};
}

@mixin use-semantic-text-style($name) {
    font-size: var(--jkl-semantic-#{$name}-font-size);
    line-height: var(--jkl-semantic-#{$name}-line-height);
    font-weight: var(--jkl-semantic-#{$name}-font-weight);
    @content;
}

$auto-font-size-test: fluid-font-size(10);
