@use "../functions";

/// @type Number
$weight-normal: 400;

/// @type Number
$weight-bold: 700;

/// @type Number
$font-size-1: functions.rem(16px);

/// @type Number
$font-size-2: functions.rem(18px);

/// @type Number
$font-size-3: functions.rem(20px);

/// @type Number
$font-size-4: functions.rem(21px);

/// @type Number
$font-size-5: functions.rem(23px);

/// @type Number
$font-size-6: functions.rem(25px);

/// @type Number
$font-size-7: functions.rem(26px);

/// @type Number
$font-size-8: functions.rem(28px);

/// @type Number
$font-size-9: functions.rem(36px);

/// @type Number
$font-size-10: functions.rem(56px);

/// @type Number
$line-height-1: functions.rem(24px);

/// @type Number
$line-height-2: functions.rem(28px);

/// @type Number
$line-height-3: functions.rem(32px);

/// @type Number
$line-height-4: functions.rem(40px);

/// @type Number
$line-height-5: functions.rem(44px);

/// @type Number
$line-height-6: functions.rem(64px);
