$z-index--floating: 10000;
$z-index--modal: 9000;
$z-index--overlay: 8000;
$z-index--dropdown: 7000;
$z-index--header: 6000;
$z-index--footer: 5000;
$z-index--hidden: -1;
$z-index--overflowHidden: -1;
