@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

.jkl-portal-responsive-example {
    padding: $component-spacing--medium;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.jkl-portal-component-example {
    background-color: $gra-20;
    padding: $component-spacing--medium;
    display: flex;
    flex-direction: row;
    width: calc(100% - #{$layout-spacing--xxl});
    max-width: 50vw;
    min-width: rem(600px);
    min-height: rem(208px);
    margin-bottom: $layout-spacing--large;

    &__example-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: $svart;
        background-color: $hvit;
        position: relative;
        padding: $layout-spacing--large $component-spacing--large;

        &::before {
            color: $svart;
            @include jkl-text-style("desktop/micro");
            position: absolute;
            top: $component-spacing--medium;
            left: $component-spacing--large;
        }

        &:before {
            content: attr(data-example-text);
        }

        &--dark {
            background-color: $svart;
            color: $gra-10;

            &:before {
                color: $gra-10;
            }
        }
    }

    &__example-options {
        display: block;
        padding: $component-spacing--medium $component-spacing--xl;
        min-width: rem(180px);
    }

    &__example-options-header {
        @include jkl-text-style("desktop/micro");
        margin-bottom: $component-spacing--medium;
    }

    &__choice-option {
        margin-top: $layout-spacing--small;

        & .jkl-label.jkl-label--small {
            @include jkl-text-style("desktop/micro");
            font-weight: $bold-weight;
        }
    }

    @include small-device {
        width: calc(100% - #{$layout-spacing--medium});
        max-width: 100%;
        min-width: initial;
        flex-direction: column;
        &__example-wrapper {
            width: initial;
        }
        &__example-options {
            padding: 0;
            padding-top: $component-spacing--medium;
        }
    }

    *[data-theme="dark"] & {
        background-color: $gra-100;
    }
}

.jkl-device {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: calc(100vw - 600px);
    width: 100%;

    &__device {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        color: $hvit;

        *[data-theme="dark"] & {
            color: $svart;
        }
    }

    &-iphone {
        position: relative;
        height: 850px;

        &__content {
            position: absolute;
            top: 18px;
            bottom: 0;
            left: 37px;
            height: 812px;
            width: 375px;
            border-radius: 46px;
            overflow: auto;

            & > * {
                padding-top: 32px;
            }
        }
    }

    &-ipad {
        position: relative;
        height: 950px;

        &__content {
            position: absolute;
            top: 39px;
            bottom: 0;
            left: 35px;
            border-radius: 15px;
            height: 833px;
            width: 1112px;
            overflow: auto;
        }
    }

    &-laptop {
        &__content {
            height: 1080px;
            width: 1920px;
            border: 1px solid $svart;
            overflow: auto;
        }
    }
}
