@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

.jkl-portal-component-example {
    background-color: $gra-20;
    padding: $component-spacing--medium;
    display: flex;
    flex-direction: row;
    width: calc(100% - #{$layout-spacing--xxl});
    max-width: 50vw;
    min-width: rem(600px);
    min-height: rem(208px);
    margin-bottom: $layout-spacing--large;

    &__example-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: $svart;
        background-color: $hvit;
        position: relative;
        padding: $layout-spacing--large $component-spacing--large;

        &::before {
            color: $svart;
            @include jkl-text-style("desktop/micro");
            position: absolute;
            top: $component-spacing--medium;
            left: $component-spacing--large;
        }

        &:before {
            content: attr(data-example-text);
        }

        &--dark {
            background-color: $svart;
            color: $gra-10;

            &:before {
                color: $gra-10;
            }
        }
    }

    &__example-options {
        display: block;
        padding: $component-spacing--medium $component-spacing--xl;
        min-width: rem(180px);
    }

    &__example-options-header {
        @include jkl-text-style("desktop/micro");
        margin-bottom: $component-spacing--medium;
    }

    &__choice-option {
        margin-top: $layout-spacing--small;
    }

    *[data-theme="dark"] & {
        background-color: $gra-100;
    }
}
