@use "@fremtind/jokul/styles/core";
@use "@fremtind/jokul/styles/fonts" with (
    $webfonts-dir: "../../src/fonts"
        // Dette er relativt til webfonts.sccs-fila i jokul-pakka
);
@use "@fremtind/jokul/styles";
@use "@fremtind/jokul/styles/core/jkl";

body {
    // Disse brukes kun for utregninger, kalkulatoren brukt er:
    // https://clamp.vittoretrivi.dev
    --max-width: 1440px;
    --min-width: 320px;

    padding-inline: clamp(
        var(--jkl-spacing-16),
        0.1429rem + 4.2857vw,
        var(--jkl-spacing-64)
    );
    display: flex;
    gap: clamp(
        var(--jkl-spacing-24),
        0.4643rem + 3.9286vw,
        var(--jkl-spacing-64)
    );
    flex-direction: column;
    background-color: var(--jkl-color-background-page);

    @media (min-width: #{jkl.$breakpoint-large}) {
        flex-direction: row;
    }
}

main {
    padding-block: clamp(
            var(--jkl-spacing-24),
            1.2143rem + 1.4286vw,
            var(--jkl-spacing-40)
        )
        var(--jkl-spacing-64);
}

.prose {
    > * + * {
        margin-block-start: 1.5rem;
    }
}

p {
    @include jkl.text-style("body");

    &:empty {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5 {
    &:not(:first-child) {
        margin-block-start: var(--jkl-spacing-104);
    }
}

h1 {
    @include jkl.text-style("title");
}

h2 {
    @include jkl.text-style("heading-2");
}

h3 {
    @include jkl.text-style("heading-3");

    &:not(:first-child) {
        margin-block-start: var(--jkl-spacing-104);
    }
}

h4 {
    @include jkl.text-style("heading-4");

    &:not(:first-child) {
        margin-block-start: 6rem;
    }
}

h5 {
    @include jkl.text-style("heading-5");
}

code,
samp {
    @include jkl.use-font-family("Fremtind Grotesk Mono");
}
