@use "@fremtind/jokul/styles/core/jkl";

.page {
    padding: var(--jkl-spacing-24) var(--jkl-spacing-16);

    @media (min-width: #{jkl.$breakpoint-medium}) {
        padding-inline: var(--jkl-spacing-40);
    }

    @media (min-width: #{jkl.$breakpoint-large}) {
        padding-inline: var(--jkl-spacing-104);
    }

    .content {
        max-width: calc(320px + 90ch); // max-lengde på navigasjonen + innhold
    }

    .header {
        max-height: var(--jkl-spacing-40);
        position: relative;
        z-index: 2;
        margin-block-end: var(--jkl-spacing-24);

        .logo {
            @include jkl.text-style("heading-2");
        }
    }
}
