@use "@fremtind/jokul/styles/core/jkl";

.page {
    padding: var(--jkl-spacing-24) var(--jkl-spacing-16);

    @media (min-width: #{jkl.$breakpoint-medium}) {
        padding-inline: var(--jkl-spacing-40);
    }

    @media (min-width: #{jkl.$breakpoint-large}) {
        padding-inline: var(--jkl-spacing-104);
    }

    .header {
        margin-block-end: var(--jkl-spacing-24);

        .logo {
            @include jkl.text-style("heading-2");
        }
    }
}
