@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$item-space-between: $component-spacing--small;
$list-padding-left: $layout-spacing--small;

$black-diamond: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9' fill='black' width='9px' height='9px'%3E%3Cpath d='M4.01 0l4.002 4.002L4.01 8.004.008 4.002z'/%3E%3C/svg%3E");
$white-diamond: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9' width='9px' height='9px' fill='transparent'%3E%3Cpath stroke='black' d='M4.002.707l3.295 3.295-3.295 3.295L.707 4.002z'/%3E%3C/svg%3E");

$jkl-marker-cross: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='8.75' stroke='%23AA1F23' stroke-width='1.5'/%3E%3Cpath fill='%23AA1F23' d='M5.54 12.68l7.14-7.1.84.85-7.13 7.09z'/%3E%3Cpath fill='%23AA1F23' d='M12.67 13.47l-7.13-7.1.85-.83 7.13 7.1z'/%3E%3C/svg%3E%0A");
$jkl-marker-check: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='9.5' fill='%232D826D'/%3E%3Cpath d='M4.75 11l2.35 2.36 7.84-7.84' stroke='%23fff' stroke-width='1.5'/%3E%3C/svg%3E%0A");

:root,
[data-theme="light"] {
    --jkl-list-marker--default: #{$black-diamond};
    --jkl-list-marker--secondary: #{$white-diamond};
    --jkl-list-marker--cross: #{$jkl-marker-cross};
    --jkl-list-marker--check: #{$jkl-marker-check};
}

[data-theme="dark"] {
    --jkl-list-marker--default: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9' fill='white' width='9px' height='9px'%3E%3Cpath d='M4.01 0l4.002 4.002L4.01 8.004.008 4.002z'/%3E%3C/svg%3E");
    --jkl-list-marker--secondary: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9' width='9px' height='9px' fill='transparent'%3E%3Cpath stroke='white' d='M4.002.707l3.295 3.295-3.295 3.295L.707 4.002z'/%3E%3C/svg%3E");
    --jkl-list-marker--cross: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='8.75' stroke='%23ff8b79' stroke-width='1.5'/%3E%3Cpath fill='%23ff8b79' d='M5.54 12.68l7.14-7.1.84.85-7.13 7.09z'/%3E%3Cpath fill='%23ff8b79' d='M12.67 13.47l-7.13-7.1.85-.83 7.13 7.1z'/%3E%3C/svg%3E%0A");
    --jkl-list-marker--check: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='9.5' fill='%235effa0'/%3E%3Cpath d='M4.75 11l2.35 2.36 7.84-7.84' stroke='%23000' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}

.jkl-list {
    list-style: disc $black-diamond;
    list-style: disc var(--jkl-list-marker--default);
    padding-left: $list-padding-left;

    &__item {
        padding-left: rem(4px);
    }

    & > .jkl-list__item {
        margin: $item-space-between 0;

        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        & > .jkl-list {
            margin-bottom: 0;
        }
    }

    & & > .jkl-list__item {
        list-style: disc $white-diamond;
        list-style: disc var(--jkl-list-marker--secondary);
        margin: 0;

        &:first-of-type {
            margin-top: $item-space-between;
        }
        &:last-of-type {
            margin-bottom: $item-space-between;
        }
    }

    &--ordered {
        & > .jkl-list__item {
            list-style: decimal;
        }

        & & > .jkl-list__item {
            list-style: lower-alpha;
        }
    }

    &__item {
        &__iconed {
            list-style: none;
            position: relative;
            padding-left: 1em;

            &::before {
                text-indent: -9999px;
                position: absolute;
                top: 15%;
                left: clamp(-1em, -1rem ,rem(-23px));
                background-size: contain;
                display: inline-block;
                width: 1em;
                height: 1em;
            }
        }

        &--check::before {
            content: "\2713";
            background-image: $jkl-marker-check;
            background-image: var(--jkl-list-marker--check);
        }

        &--cross::before {
            content: "\274C";
            background-image: $jkl-marker-cross;
            background-image: var(--jkl-list-marker--cross);
        }
    }
}
