@use "~@fremtind/jkl-core/jkl";

.jkl-portal-downloadasset {
    display: inline-block;
    padding: jkl.rem(16px);
    text-align: center;

    &--dark-bg {
        background-color: jkl.$color-granitt;
    }

    &__image {
        width: jkl.rem(300px);
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }

    &__name {
        padding: jkl.rem(16px);
        display: block;
        color: jkl.$color-granitt;

        &--dark {
            color: jkl.$color-snohvit;
        }
    }

    &__button {
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: 0;

            @include jkl.forced-colors-mode {
                outline: revert;
            }
        }
    }
}
