@charset "UTF-8";
@use "../../../core/jkl";

@layer jokul.components {
    @include jkl.comfortable-density-variables {
        @include jkl.declare-font-variables("jkl-modal-body", "body");
        @include jkl.declare-font-variables("jkl-modal-title", "heading-3");

        --jkl-modal-padding: #{jkl.$unit-50};
        --jkl-modal-min-width: #{jkl.rem(220px)};
        --jkl-modal-max-width: #{jkl.rem(660px)};
        --jkl-modal-header-margin: 0 0 #{jkl.$unit-20};
        --jkl-modal-actions-margin: #{jkl.$unit-50} 0 0 0;

        @include jkl.small-device {
            --jkl-modal-padding: #{jkl.$unit-40};
            --jkl-modal-header-margin: 0 0 #{jkl.$unit-15};
            --jkl-modal-actions-margin: #{jkl.$unit-40} 0 0 0;
        }
    }

    @include jkl.compact-density-variables {
        @include jkl.declare-font-variables("jkl-modal-body", "small");
        @include jkl.declare-font-variables("jkl-modal-title", "heading-4");

        --jkl-modal-padding: #{jkl.$unit-30};
        --jkl-modal-header-margin: 0 0 #{jkl.$unit-10};
        --jkl-modal-actions-margin: #{jkl.$unit-30} 0 0 0;
        --jkl-modal-min-width: #{jkl.rem(220px)};
    }

    .jkl-modal-container,
    .jkl-modal-overlay {
        position: fixed;
        inset: 0;
    }

    .jkl-modal-container {
        z-index: jkl.$z-index--modal;
        display: flex;

        &[aria-hidden="true"] {
            display: none;
        }
    }

    .jkl-modal-overlay {
        background-color: rgb(27 25 23 / 80%);
    }

    .jkl-modal {
        --min-margin: #{jkl.$unit-20};

        margin: auto;
        z-index: jkl.$z-index--modal;
        position: relative;

        background-color: var(--jkl-color-background-container-high);
        border-radius: 0.5em;
        box-shadow: jkl.$shadow-task-card;

        box-sizing: border-box;
        width: 100%;
        min-width: min(calc(100vi - 2 * var(--min-margin)), 30ch);
        max-width: 60ch;
        max-height: 90vb;
        overflow: auto;

        padding: var(--jkl-modal-padding);
        padding: 1.5em;
        display: flex;
        flex-direction: column;

        @include jkl.forced-colors-mode {
            border-color: CanvasText;
        }

        @include jkl.small-device {
            margin: auto var(--min-margin);
        }
    }

    .jkl-modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: var(--jkl-modal-header-margin);
        gap: var(--jkl-modal-gap);
    }

    .jkl-modal-body {
        @include jkl.use-font-variables("jkl-modal-body");
    }

    .jkl-modal-title {
        @include jkl.text-style("body") {
            font-weight: jkl.$typography-weight-bold;
        }
    }

    .jkl-modal-actions {
        margin: var(--jkl-modal-actions-margin);
        display: flex;
        flex-direction: column;
        gap: jkl.$unit-20;

        @include jkl.screen-from(60ch) {
            flex-direction: row-reverse;
            align-self: flex-end;
        }
    }
}