@charset "UTF-8";
@use "../../../core/jkl";

@layer jokul.components {
    .jkl-modal-container,
    .jkl-modal-overlay {
        position: fixed;
        inset: 0;
    }

    .jkl-modal-container {
        z-index: jkl.$z-index--modal;
        display: flex;

        &[aria-hidden="true"] {
            display: none;
        }
    }

    .jkl-modal-overlay {
        background-color: rgb(27 25 23 / 80%);
    }

    .jkl-modal {
        --margin: var(--jkl-unit-30);

        container-type: inline-size;
        box-sizing: border-box;
        margin: auto;
        padding: var(--jkl-unit-40);
        z-index: jkl.$z-index--modal;

        background-color: var(--jkl-color-background-container-high);
        border-radius: var(--jkl-border-radius-l);
        box-shadow: jkl.$shadow-task-card;

        width: min(calc(100vw - 2 * var(--margin)), var(--modal-width, 60ch /* ~650px ved vanlig zoom/size */));
        max-height: 90vh;
        overflow: auto;

        display: flex;
        flex-direction: column;

        @include jkl.forced-colors-mode {
            border-color: CanvasText;
        }
    }

    .jkl-modal-header {
        --jkl-modal-header-margin: 0 0 var(--jkl-unit-20);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: var(--jkl-modal-header-margin);
    }

    .jkl-modal-body {
        @include jkl.text-style("paragraph-medium");
    }

    .jkl-modal-title {
        @include jkl.text-style("heading-3");
    }

    .jkl-modal-actions {
        margin-block-start: var(--jkl-unit-50);
        display: flex;
        flex-direction: column;
        gap: var(--jkl-unit-15) var(--jkl-unit-20);

        @container (width > 35ch /* ~380px ved vanlig zoom/size */) {
            flex-direction: row-reverse;
            align-self: flex-end;
        }
    }
}
