@charset "UTF-8";
@use "sass:string";
@use "../../../core/jkl";
@use "../../../core/jkl/colors";


$_radio-button-dot-animation-name: jkl-dot-in-#{string.unique-id()};

@layer jokul.components {
    .jkl-radio-button {
        --jkl-radio-button-dot-padding: var(--jkl-unit-05);
        --jkl-radio-button-height: var(--jkl-unit-60);
        --jkl-radio-button-line-height: var(--jkl-unit-40);
        --jkl-radio-button-size: var(--jkl-unit-30);
        --jkl-radio-button-text-margin: calc((var(--jkl-radio-button-height) - var(--jkl-radio-button-line-height)) * 0.5) 0;
        --jkl-radio-button-dot-margin: calc((var(--jkl-radio-button-height) - var(--jkl-radio-button-size)) * 0.5) var(--jkl-spacing-8) calc((var(--jkl-radio-button-height) - var(--jkl-radio-button-size)) * 0.5) 0;
        --jkl-radio-button-dot-size: calc(var(--jkl-radio-button-size) - (2 * var(--jkl-radio-button-dot-padding)));
        --jkl-radio-button-text-transform: translate3d(0, #{jkl.rem(1px)}, 0);
        --ring-color: var(--jkl-color-border-action);
        --dot-color: transparent;
        --background-color: transparent;
        --text-color: var(--jkl-color-text-default);

        display: flex;
        min-height: var(--jkl-radio-button-height);
        color: var(--text-color);
        position: relative;

        @include jkl.reset-outline;

        @include jkl.small-device {
            --jkl-radio-button-height: var(--jkl-unit-40);
            --jkl-radio-button-line-height: var(--jkl-unit-30);
            --jkl-radio-button-size: var(--jkl-unit-30);
            --jkl-radio-button-dot-size: calc(var(--jkl-radio-button-size) - (2 * var(--jkl-radio-button-dot-padding)));
        }

        &__input {
            position: absolute;
            opacity: 0;
            top: var(--jkl-radio-button-size);
            left: calc(-0.5 * var(--jkl-radio-button-size));

            &:checked {
                + .jkl-radio-button__label > .jkl-radio-button__dot::after {
                    --dot-color: var(--jkl-color-border-action);
                    animation: $_radio-button-dot-animation-name jkl.timing("productive") ease;

                    @include jkl.forced-colors-mode {
                        background-color: ButtonText;
                    }
                }

                .jkl-radio-button--error & + .jkl-radio-button__label > .jkl-radio-button__dot::after {
                    --background-color: var(--jkl-color-background-alert-error);
                    --dot-color: var(--jkl-color-text-on-alert);
                }
            }

            &:focus-visible {
                + .jkl-radio-button__label {
                    --background-color: var(--jkl-color-background-input-focus);

                    & > .jkl-radio-button__dot {
                        @include jkl.focus-outline;
                    }
                }

                .jkl-radio-button--error & + .jkl-radio-button__label {
                    --background-color: var(--jkl-color-background-alert-error);
                    --dot-color: var(--jkl-color-text-on-alert);
                }
            }
        }

        &__label {
            cursor: pointer;
            display: flex;
            align-items: center;

            @include jkl.use-font-variables("jkl-radio-button-label");

            &:hover > .jkl-radio-button__dot {
                outline: 1px solid var(--ring-color);
            }

            &:active > .jkl-radio-button__dot &::after {
                scale: 0.9;
            }
        }

        &__dot {
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            margin: var(--jkl-radio-button-dot-margin);
            flex-shrink: 0;

            height: var(--jkl-radio-button-size);
            width: var(--jkl-radio-button-size);
            border-radius: 50%;
            border: jkl.rem(1px) solid var(--ring-color);
            background-color: var(--background-color);

            transition-property: background-color, outline;

            @include jkl.motion;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                scale: 1;

                height: var(--jkl-radio-button-dot-size);
                width: var(--jkl-radio-button-dot-size);
                border-radius: 50%;
                background-color: var(--dot-color);

                transition-property: transform;

                @include jkl.motion;
            }

            @include jkl.forced-colors-mode {
                outline: revert;
                border: 1px solid ButtonText;
            }
        }

        &__text {
            display: inline-block;
            margin: var(--jkl-radio-button-text-margin);
            transform: var(--jkl-radio-button-text-transform);
        }

        &--error {
            --background-color: var(--jkl-color-background-alert-error);
        }

        &--inline {
            display: inline-flex;
            margin-top: unset;
            margin-right: jkl.$spacing-24;
        }

        + .jkl-form-support-label {
            margin-left: calc(var(--jkl-radio-button-size) + #{jkl.$unit-10});
            margin-top: jkl.rem(-6px);
            margin-bottom: jkl.$unit-10;
        }
    }

    @keyframes #{$_radio-button-dot-animation-name} {
        0% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(1);
        }
    }
}
