@charset "UTF-8";
@use "sass:string";
@use "../../../core/jkl";
@use "../../../core/jkl/colors";
@use "../../icon/styles/base-styles" as icon;

@layer jokul.components {
    @include jkl.light-mode-variables {
        --jkl-radio-button-error-color: #ab2e43;
    }

    @include jkl.dark-mode-variables {
        --jkl-radio-button-error-color: #d79ba5;
    }

    .jkl-radio-button {
        display: flex;
        position: relative;

        @include jkl.reset-outline;

        &__input {
            // Hide native radio button
            position: absolute;
            opacity: 0;
            pointer-events: none;
            // Make sure that when the browser scrolls here because of focus, the control
            // is positioned below the label so that the label becomes visible.
            inset: 0 auto 0 0;
            width: 1lh;
        }

        &__label {
            cursor: pointer;
            display: flex;

            @include jkl.motion;
            transition-property: color;

            @include jkl.text-style("text-medium");

            &:hover,
            &:active {
                --jkl-icon-weight: #{jkl.$icon-weight-bold};
            }

            &::before {
                content: "radio_button_unchecked";
                margin-inline-end: 0.25em;

                @include icon.base-styles;
            }

            &:has(+ :checked)::before {
                content: "radio_button_checked";
            }

            &:has(+ [aria-invalid="true"])::before {
                color: var(--jkl-radio-button-error-color);
            }
        }

        & + &,
        /* Ta høyde for at det rendres support label etter radio button inntil videre */
       .jkl-dormant-form-support-label + &,
       .jkl-form-support-label + & {
            margin-top: 0.75lh;
        }

        &--inline {
            display: inline-flex;
            margin-right: var(--jkl-unit-30);
        }

        &--inline + &--inline,
        /* Ta høyde for at det rendres support label etter radio button inntil videre */
        .jkl-dormant-form-support-label + &--inline,
        .jkl-form-support-label + &--inline {
            margin-top: 0;
        }

        + .jkl-form-support-label {
            margin-left: 1.75em;
            margin-top: 0.25lh;
            margin-bottom: jkl.$unit-10;
        }
    }
}
