@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

.portal-content__example {
    display: flex;
    align-items: center;
    justify-content: space-around; // For IE & Edge
    justify-content: space-evenly;
    padding: $layout-spacing--large;
    background-color: $snøhvit;
    margin: 0;
}

pre[class*="language-"] {
    font-size: rem(16px);
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.jkl-accordion-item__content {
    padding-top: $layout-spacing--medium;
    padding-bottom: $layout-spacing--large;
}
