@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

.portal-content {
    &__code {
        &-editor {
            @include body-small-paragraph;
        }
        &-highlight {
            font-size: 1rem !important;
            padding: $component-spacing--medium;
            text-shadow: none;
        }
    }
    &__example {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around; // For IE & Edge
        justify-content: space-evenly;
        padding: $layout-spacing--large;
        background-color: $snohvit;
        margin: 0;

        & + .jkl-accordion .jkl-accordion-item__content {
            padding-top: $layout-spacing--medium;
            padding-bottom: $layout-spacing--large;
            font-size: 1.4rem; // WTF?
            line-height: 1.3;

            & textarea {
                outline: none;
            }
        }
    }
    &__section {
        margin-top: $layout-spacing--large;
        &--copy {
            position: relative;
            background-color: transparent;
            border: none;
            width: 100%;
            text-align: left;
            &::before {
                content: "Kopiert!";
                position: absolute;
                border-radius: rem(4px);
                top: 0;
                right: 10%;
                padding: $component-spacing--medium $component-spacing--xl;
                background-color: $svart;
                color: $snohvit;
                opacity: 0;
                transition: opacity 250ms ease-out 1000ms, transform 1000ms ease-in-out 100ms;
            }
            &:active {
                &::before {
                    transition: opacity 50ms ease-out 0ms;
                    opacity: 1;
                    transform: translateY(rem(40px));
                }
            }
        }
    }
    &__figma {
        background-color: #e5e5e5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__iframe {
            border: none;
            padding-bottom: $layout-spacing--medium;
        }
    }
}
