.modalContainer {
    height: 60vh;
}

.navigation {
    .list {
        display: none;
    }

    @media (width >= 768px) {
        .hamburgerButton {
            display: none;
        }

        .list {
            display: flex;
        }
    }
}
