$webfonts-dir: "/fonts" !default;

@font-face {
    font-family: "Fremtind Grotesk";
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
    src: local("Fremtind Grotesk"), url("#{$webfonts-dir}/FremtindGrotesk-Regular-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/FremtindGrotesk-Regular-Web.woff") format("woff");
}
@font-face {
    font-family: "Fremtind Grotesk";
    font-display: fallback;
    font-weight: bold;
    font-style: normal;
    src: local("Fremtind Grotesk"), url("#{$webfonts-dir}/FremtindGrotesk-Bold-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/FremtindGrotesk-Bold-Web.woff") format("woff");
}
@font-face {
    font-family: "Fremtind Grotesk";
    font-display: fallback;
    font-weight: normal;
    font-style: italic;
    src: local("Fremtind Grotesk"), url("#{$webfonts-dir}/FremtindGrotesk-Italic-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/FremtindGrotesk-Italic-Web.woff") format("woff");
}
@font-face {
    font-family: "Fremtind Grotesk";
    font-display: fallback;
    font-weight: bold;
    font-style: italic;
    src: local("Fremtind Grotesk"), url("#{$webfonts-dir}/FremtindGrotesk-BoldItalic-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/FremtindGrotesk-BoldItalic-Web.woff") format("woff");
}
@font-face {
    font-family: "Fremtind Grotesk Display";
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
    src: local("Fremtind Grotesk"), url("#{$webfonts-dir}/FremtindGrotesk-Display-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/FremtindGrotesk-Display-Web.woff") format("woff");
}
@font-face {
    font-family: "Fremtind Grotesk Mono";
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
    src: local("Fremtind Grotesk Mono"), url("#{$webfonts-dir}/FremtindGroteskMono-Regular-Web.woff2") format("woff2"),
        url("#{$webfonts-dir}/FremtindGroteskMono-Regular-Web.woff") format("woff");
}
