@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";

.jkl-portal-frontpage {
    section {
        margin-bottom: $spacing-9;
    }

    &__section {
        &-intro {
            h2 {
                margin-bottom: $spacing-9;
            }

            &--image-container {
                height: 65vh;
                width: 60vw;
                overflow: hidden;
            }

            &--image {
                width: 100%;
                height: 100%;
                background-image: none; // set by js in component
                background-size: cover;
                transform: scale(1);
                transition: transform 0.5s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
            }

            &--content {
                display: flex;
                margin-left: -$layout-spacing--medium;

                .jkl-portal__card-list {
                    margin-left: $spacing-9;

                    a {
                        text-decoration: none;
                        color: $granitt;
                    }
                }
            }

            @include small-device {
                &--image-container {
                    position: absolute;
                    height: 100vh;
                    width: 100vw;
                }
                &--image {
                    background-position: center;
                }

                &--content {
                    position: relative;
                    display: block;
                    margin-left: -$component-spacing--large;

                    .jkl-portal__card-list {
                        position: relative;
                        display: block;
                        margin-left: $component-spacing--large;
                        padding-top: $layout-spacing--large;
                    }
                }
            }
        }

        &--wrapper {
            max-width: 86ch;
        }

        &-contribute {
            margin-left: $layout-spacing--large;

            h2 {
                padding-bottom: $layout-spacing--large;
            }
            p {
                padding-bottom: $layout-spacing--small;
            }
        }

        &-principles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "heading heading"
                "diamond principle";

            &__principle {
                margin-bottom: $spacing-10;
                height: 90vh;
                display: flex;
                align-items: center;

                &--container {
                    grid-area: principle;
                    h1 {
                        margin-bottom: $component-spacing--xl;
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &__diamond-container {
                grid-area: diamond;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: $spacing-9;
            }

            &--heading {
                grid-area: heading;
                max-width: 28ch;
                margin-bottom: calc(#{$spacing-10}* 1.5);
            }
        }
    }
}
