@import "~@fremtind/jkl-core/mixins/_all";
@import "~@fremtind/jkl-core/_functions";

$webfonts-dir: "../../static/fonts";
@import "~@fremtind/jkl-webfonts/webfonts";

$header-height: rem(96px);

pre {
    max-width: 80vw;
    overflow: auto;
}

h2,
h3,
.jkl-portal-scroll-anchor {
    @include reset-outline;

    scroll-margin-top: $header-height;
}

.jkl-portal-nav-card {
    max-width: rem(410px);
}
