@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$hero-size: rem(700px);
$hero-top-offset: rem(225px);
$mountain-overlap-text: rem(1600px);
$mountain-collapse-width: rem(800px);

$content-bg-color: $varm-fjellgrå;
$content-color: $snøhvit;
$content-max-width: rem(1200px);

$circle-size: rem(100px);

.portal-main {
    overflow: hidden;

    &__background {
        @include position(absolute !important, $top: 0, $left: 0);
        z-index: -1;
        width: 100%;
        @include small-device {
            height: 100%;
        }
        @media (min-width: $mountain-overlap-text) {
            filter: blur(5px);
        }
    }
    &__hero {
        @include position(absolute, $top: $hero-top-offset, $left: 0);
        max-width: $hero-size;
        padding: $layout-spacing--small $layout-spacing--medium;
        margin: 0 $layout-spacing--large;
        background-color: rgba($snøhvit, 0.7);
        @media (min-width: $mountain-overlap-text) {
            background-color: transparent;
        }
        @include small-device {
            position: relative;
            top: 0;
            margin: 0px (-$layout-spacing--xl) $layout-spacing--large;
            box-sizing: border-box;
            padding: $layout-spacing--small $layout-spacing--small $layout-spacing--large $layout-spacing--small;
        }
    }
    &__content {
        @include position(absolute, $top: 100vh, $left: 0, $right: 0);
        background-color: $content-bg-color;
        color: $content-color;
        padding: $layout-spacing--large;
        @include small-device {
            position: relative;
            top: 0;
            margin: -$layout-spacing--xl;
            width: 100vw;
            box-sizing: border-box;
            padding: $layout-spacing--large $layout-spacing--small;
        }

        &::before {
            @include position(absolute, $top: -#{$circle-size/2}, $left: calc(50% - #{$circle-size/2}));
            content: "▼";
            font-size: $circle-size/4;
            height: $circle-size;
            width: $circle-size;
            border-radius: $circle-size/2;
            background-color: $content-bg-color;
            color: $content-color;
            display: flex;
            justify-content: center;
            padding-top: rem(20px);
        }
        & > * {
            max-width: $content-max-width;
        }
    }
}
pre {
    max-width: 80vw;
    overflow: auto;
}
