@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$list-indent: $component-spacing--xl;
$item-space-between: $component-spacing--large;
$item-indent: $component-spacing--xxl;

.jkl-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: $list-indent;

    & > .jkl-list__item {
        margin: $item-space-between 0;
        padding-left: $item-indent;

        &::before {
            display: inline-block;
            margin-right: 1rem;
        }

        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    & & > .jkl-list__item {
        &:first-of-type {
            margin-top: $item-space-between;
        }
        &:last-of-type {
            margin-bottom: $item-space-between;
        }
    }

    &--bullet {
        & > .jkl-list__item {
            &::before {
                content: "\25C6";
            }
        }
        & & > .jkl-list__item {
            &::before {
                content: "\25C7";
            }
        }
        & & & > .jkl-list__item {
            &::before {
                content: "\25A0";
            }
        }
    }

    &--ordered {
        counter-reset: my-counter;

        & > .jkl-list__item {
            counter-increment: my-counter;

            &::before {
                content: counters(my-counter, ".") ". ";
                font-weight: bold;
            }
        }
    }
}
