@import "@fremtind/jkl-core/variables/_all.scss";
@import "@fremtind/jkl-core/_functions.scss";

$list-indent: $component-spacing--xl;
$bullet-size: rem(6px);
$item-space-between: $component-spacing--large;
$item-indent: $component-spacing--xxl;

.jkl-bullet-list {
    list-style: none;
    padding: 0;
    padding-left: $list-indent;
    margin: 0;
    margin-bottom: $layout-spacing--small;

    & > &__item {
        position: relative;
        margin: $item-space-between 0;
        padding-left: $item-indent;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: ($line-height-3 / 2) - rem(2px);
            display: inline-block;
            height: $bullet-size;
            width: $bullet-size;
            background-color: $svart;
            transform: rotate(45deg) translateY(-50%);
        }

        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    & & > &__item {
        &::before {
            box-shadow: inset 0px 0px 0px rem(1px) $svart;
            background-color: transparent;
        }
        &:first-of-type {
            margin-top: $item-space-between;
        }
        &:last-of-type {
            margin-bottom: $item-space-between;
        }
    }
    & & & > &__item {
        &::before {
            background-color: $svart;
            transform: rotate(0deg);
        }
    }
}
