@import "~@fremtind/jkl-core/build/scss/variables/spacing.scss";
@import "~@fremtind/jkl-core/build/scss/variables/colors.scss";
@import "~@fremtind/jkl-core/build/scss/typography/font-size.scss";
@import "~@fremtind/jkl-core/build/scss/typography/paragraphs.scss";
@import "~@fremtind/jkl-core/build/scss/functions.scss";

$bullet-size: rem(6px);
$bullet-point-center-offset: rem(4px);
$bullet-item-space-between: $component-spacing--xl;
$bullet-item-indent: $component-spacing--large;
$bullet-nested-item-indent: $component-spacing--xxl;

.jkl-bullet-list {
    padding: 0;
    margin: 0;
    @extend .jkl-p;

    &__item {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin-bottom: $bullet-item-space-between;

        &::before {
            content: " ";
            height: $bullet-size;
            min-height: $bullet-size;
            min-width: $bullet-size;
            width: $bullet-size;
            background-color: $svart;
            transform: rotate(45deg);
            margin-right: $bullet-item-indent;
            margin-bottom: $bullet-point-center-offset;
        }
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__item--nested {
        @extend .jkl-bullet-list__item;
        margin-left: $bullet-nested-item-indent;
        &::before {
            box-shadow: inset 0px 0px 0px rem(1px) $svart;
            background-color: transparent;
        }
    }
}

.jkl-bullet-list--lead {
    @extend .jkl-bullet-list;
    @extend .jkl-lead;
}
