@use "~@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-tab-text-color: #{jkl.$color-granitt};
    --jkl-tab-indicator-color: #{jkl.$color-granitt};
    --jkl-tab-hover-color: #{jkl.$color-stein};
    --jkl-tab-focus-border-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --jkl-tab-text-color: #{jkl.$color-snohvit};
    --jkl-tab-indicator-color: #{jkl.$color-snohvit};
    --jkl-tab-hover-color: #{jkl.$color-svaberg};
    --jkl-tab-focus-border-color: #{jkl.$color-snohvit};
}

@include jkl.comfortable-density-variables {
    @include jkl.declare-font-variables("jkl-tab", "body");

    --jkl-tab-padding: #{jkl.$spacing-xs} 0 #{jkl.$spacing-s};
    --jkl-tab-gap: #{jkl.$spacing-xl};
}

@include jkl.compact-density-variables {
    @include jkl.declare-font-variables("jkl-tab", "small");

    --jkl-tab-padding: #{jkl.$spacing-3xs} 0 #{jkl.$spacing-2xs};
    --jkl-tab-gap: #{jkl.rem(32px)};
}

.jkl-tablist {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--jkl-tab-gap);
    padding: 0;
    margin: 0;
    border-bottom: jkl.rem(1px) jkl.$color-svaberg solid;
    width: 100%;

    &__indicator {
        position: absolute;
        height: jkl.rem(2px);
        background-color: var(--jkl-tab-indicator-color);
        @include jkl.motion("standard", "lazy");
        transition-property: left, width;
        will-change: left, width;

        @include jkl.forced-colors-mode {
            background-color: Highlight;
        }
    }

    @include jkl.forced-colors-mode {
        border-color: GrayText;
    }
}

.jkl-tab {
    @include jkl.use-font-variables("jkl-tab");
    color: var(--jkl-tab-text-color);
    padding: var(--jkl-tab-padding);
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;

    &:hover {
        color: var(--jkl-tab-hover-color);
    }

    &:focus-visible {
        @include jkl.reset-outline;

        &::after {
            content: "";
            position: absolute;
            inset: jkl.rem(0) jkl.rem(-2px) jkl.rem(1px);
            box-shadow: 0 0 0 jkl.rem(2px) var(--jkl-tab-focus-border-color);
        }
    }

    &[aria-selected="true"] {
        @include jkl.no-grow-bold;
    }
}
