@use "~@fremtind/jkl-core/jkl";
@import "~@fremtind/jkl-core/mixins/_all.scss";

$tab-text-color: jkl.$color-granitt;
$tab-text-color--inverted: jkl.$color-snohvit;

$tab-indicator-color: jkl.$color-granitt;
$tab-indicator-color--inverted: jkl.$color-snohvit;

$tab-hover-color: jkl.$color-stein;
$tab-hover-color--inverted: jkl.$color-svaberg;

$tab-focus-border-color: jkl.$color-granitt;
$tab-focus-border-color--inverted: jkl.$color-snohvit;

@include jkl.helper-light-mode-variables {
    --tab-text-color: #{$tab-text-color};
    --tab-indicator-color: #{$tab-indicator-color};
    --tab-hover-color: #{$tab-hover-color};
    --tab-focus-border-color: #{$tab-focus-border-color};
}

@include jkl.helper-dark-mode-variables {
    --tab-text-color: #{$tab-text-color--inverted};
    --tab-indicator-color: #{$tab-indicator-color--inverted};
    --tab-hover-color: #{$tab-hover-color--inverted};
    --tab-focus-border-color: #{$tab-focus-border-color--inverted};
}

.jkl-tablist {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    border-bottom: 1px jkl.$color-svaberg solid;
    width: 100%;

    &__indicator {
        position: absolute;
        height: 2px;
        background-color: var(--tab-indicator-color);
        @include motion("standard", "lazy");
        transition-property: left, width;
        will-change: left, width;
    }
}

.jkl-tab {
    @include jkl.text-style("body");
    border: none;
    background-color: transparent;
    padding: jkl.$spacing-xs jkl.$spacing-3xs;
    padding-right: jkl.$spacing-xl;
    cursor: pointer;
    color: var(--tab-text-color);

    &:hover {
        color: var(--tab-hover-color);
    }

    &:focus-visible {
        outline: var(--tab-focus-border-color) solid 2px;
        outline-offset: -1px;
    }

    &[aria-selected="true"] {
        @include no-grow-bold;
    }
}
