@use "~@fremtind/jkl-core/jkl";

.jkl-tablist {
    // Vi trenger egentlig ikke namespacing når vi definerer variabelen inne i klassen
    --text-color: var(--jkl-system-color-interactive);
    --indicator-color: var(--jkl-system-color-interactive);
    --line-color: var(--jkl-system-color-outline);
    --hover-color: var(--jkl-system-color-outline);
    --focus-border-color: var(--jkl-system-color-interactive);

    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    border-bottom: jkl.rem(1px) var(--line-color) solid;
    width: 100%;

    &__indicator {
        position: absolute;
        height: 2px;
        background-color: var(--indicator-color);
        @include jkl.motion("standard", "lazy");
        transition-property: left, width;
        will-change: left, width;

        @include jkl.forced-colors-mode {
            background-color: Highlight;
        }
    }

    @include jkl.forced-colors-mode {
        border-color: GrayText;
    }
}

.jkl-tab {
    @include jkl.text-style("body");
    border: none;
    background-color: transparent;
    padding: jkl.$spacing-xs jkl.$spacing-3xs;
    padding-right: jkl.$spacing-xl;
    cursor: pointer;
    color: var(--text-color);

    &:hover {
        color: var(--hover-color);
    }

    &:focus-visible {
        outline: var(--focus-border-color) solid 2px;
        outline-offset: -1px;
    }

    &[aria-selected="true"] {
        @include jkl.no-grow-bold;
    }
}
