@use "~@fremtind/jkl-core/jkl";
@use "~@fremtind/jkl-core/jkl/colors";

@include jkl.comfortable-density-variables {
    --jkl-file-input-preview-padding: #{jkl.$spacing-16} #{jkl.$spacing-12};
    --jkl-file-input-preview-thumbnail-size: #{jkl.rem(64px)};
    --jkl-file-input-preview-gap: #{jkl.$spacing-16};
}

@include jkl.compact-density-variables {
    --jkl-file-input-preview-padding: #{jkl.$spacing-12} #{jkl.$spacing-8};
    --jkl-file-input-preview-thumbnail-size: #{jkl.rem(44px)};
    --jkl-file-input-preview-gap: #{jkl.$spacing-8};
}

.jkl-file {
    @include jkl.reset-outline;
    @include jkl.text-style("small");

    color: var(--jkl-file-input-color);
    border-bottom: 1px var(--jkl-file-input-border-color) solid;
    padding: var(--jkl-file-input-preview-padding);
    margin: 0;

    &[href] {
        cursor: pointer;
        text-decoration: none;
        display: block;

        &:hover .jkl-file-input-preview__file-size {
            @include jkl.no-grow-bold;
        }

        @include jkl.keyboard-navigation {
            &:focus {
                outline: jkl.rem(2px) solid var(--jkl-file-input-color);
            }
        }

        @include jkl.forced-colors-mode {
            outline: revert;
            border: jkl.rem(2px) solid LinkText;
        }
    }

    &:last-of-type {
        border-bottom: none;
    }

    &--invalid {
        --jkl-label-error-color: #{jkl.$color-granitt}; // Vises på rød varslingsfarge
        background-color: colors.varslingsfarge("feil");
        color: jkl.$color-granitt;
    }

    &__info-wrapper {
        display: flex;
        flex-flow: nowrap row;
        gap: var(--jkl-file-input-preview-gap);
        align-items: center;
    }

    &__thumbnail {
        width: var(--jkl-file-input-preview-thumbnail-size);
        height: var(--jkl-file-input-preview-thumbnail-size);
        flex: 0 0 var(--jkl-file-input-preview-thumbnail-size);
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        border-radius: jkl.rem(4px);
    }

    &__thumbnail:not(img) {
        background: var(--jkl-file-input-thumbnail-background-color);
    }

    &__file-info {
        flex: 1 1 auto;
        overflow-wrap: break-word;
    }

    &__file-name {
        @include jkl.text-style("heading-5");
        overflow-wrap: anywhere;
    }
}
