@use "~@fremtind/jkl-core/jkl";

.jkl-cookie-consent-modal {
    --jkl-cookie-consent-border-radius: #{jkl.rem(2px)};
    --jkl-cookie-consent-max-width: #{jkl.rem(660px)};
    // TODO: Finn ut om vi vil bruke en annen variant her
    --jkl-cookie-consent-background: var(--jkl-color-background);
    --jkl-cookie-consent-text-color: var(--jkl-color-on-background);
    // TODO: Finn ut hvilken skygge som bør brukes her (og evt. lag den)
    --jkl-cookie-consent-shadow: #{jkl.$shadow-navigation--hover};
    --jkl-cookie-consent-padding: var(--jkl-spacing-24);
    --jkl-cookie-consent-margin: var(--jkl-spacing-24);

    @include jkl.from-medium-device {
        --jkl-cookie-consent-padding: var(--jkl-spacing-40) var(--jkl-spacing-40) var(--jkl-spacing-32)
            var(--jkl-spacing-40);
    }

    position: fixed;
    z-index: jkl.$z-index--modal !important;

    &[aria-hidden="true"] {
        display: none;
    }

    & > .jkl-cookie-consent-modal__overlay {
        position: fixed;
        background: rgb(0 0 0 / 30%);
        inset: 0;
        transition: 0.2s;
    }

    &__content {
        @include jkl.text-style("body");
        box-shadow: var(--jkl-cookie-consent-shadow);
        background-color: var(--jkl-cookie-consent-background);
        color: var(--jkl-cookie-consent-text-color);
        border-radius: var(--jkl-cookie-consent-border-radius);
        padding: var(--jkl-cookie-consent-padding);

        z-index: jkl.$z-index--floating !important;
        position: fixed;
        margin: auto;
        top: 10%;
        max-height: 80vh;
        overflow-y: auto;
        box-sizing: border-box;
        left: 0;
        right: 0;
        width: 100%;
        max-width: min(var(--jkl-cookie-consent-max-width), 100% - var(--jkl-cookie-consent-margin) * 2);
        transition: 0.2s;

        @include jkl.small-device {
            top: var(--jkl-spacing-40);
        }

        @include jkl.forced-colors-mode {
            border: 2px solid CanvasText;
        }
    }

    &__checklist {
        margin-bottom: var(--jkl-spacing-16);
    }

    &__info-text {
        @include jkl.text-style("small");
    }

    &__header {
        @include jkl.text-style("heading-3");
        margin-bottom: var(--jkl-spacing-24);
    }

    &__checkbox {
        margin-bottom: var(--jkl-spacing-8);
        margin-top: var(--jkl-spacing-24);
    }

    &__button-group {
        margin-top: var(--jkl-spacing-40);

        & > :not(:first-child) {
            margin-left: var(--jkl-spacing-24);
        }
    }
}
