@import "~@fremtind/jkl-core/variables/_all.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/_functions.scss";

.jkl-portal-color-info {
    display: inline-flex;

    &__swatch {
        width: rem(104px);
        height: rem(104px);
        flex-shrink: 0;
        margin-right: $layout-spacing--small;
    }

    &--vertical {
        flex-direction: column;

        .jkl-portal-color-info__swatch {
            margin-bottom: $layout-spacing--medium;
        }
    }
}

.jkl-portal-color-swatch {
    min-height: rem(20px);
    min-width: rem(20px);
    position: relative;

    &__diamond {
        fill: currentColor;
        stroke-width: 0.1;
        stroke: currentColor;
    }

    &--hvit {
        .jkl-portal-color-swatch__diamond {
            stroke: $svart;
        }
    }
    [data-theme="dark"] &--svart {
        .jkl-portal-color-swatch__diamond {
            stroke: $hvit;
        }
    }
}
