body {
    background-color: white;
    padding: 5rem;
}

.side-by-side {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 64px;

    & > .jkl-text-area,
    & > .jkl-text-field {
        max-width: 20rem;
        margin: 0 !important;
    }
}

.jkl-field {
    margin-top: 24px;
}
