@use "sass:string";
@use "../../../core/jkl";
@use "../../../shared/track/styles/track";

.jkl-progress-bar {
    @include track.track;

    &__tracker {
        transition-property: width;
        @include jkl.motion("standard", "productive");
    }
}

$_downcount: jkl-downcount-#{string.unique-id()};

@keyframes #{$_downcount} {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}
