@import "../../variables/all";

.jkl-mixin-example-table {
    border: 0;
    width: 100%;
    margin-top: $layout-spacing--medium;

    &__data,
    &__header {
        padding: $component-spacing--small;
        @include jkl-text-style("desktop/body");
        text-align: left;
        vertical-align: top;
        border-bottom: rem(1px) solid;
        box-sizing: border-box;
    }

    &__header {
        font-weight: $bold-weight;
        border-bottom-color: $granitt;
        min-height: rem(48px);
    }

    &__data {
        border-bottom-color: $stein;
        padding-bottom: $component-spacing--large;
        min-height: rem(64px);
    }
}
