@use "../../jkl";

.jkl-mixin-example-table {
    border: 0;
    width: 100%;
    margin-top: jkl.$spacing-xl;

    &__data,
    &__header {
        padding: jkl.$spacing-xs;
        text-align: left;
        vertical-align: top;
        border-bottom: jkl.rem(1px) solid;
        box-sizing: border-box;

        @include jkl.text-style("body");
    }

    &__header {
        font-weight: jkl.$typography-weight-bold;
        border-bottom-color: jkl.$color-granitt;
        min-height: jkl.rem(48px);
    }

    &__data {
        border-bottom-color: jkl.$color-stein;
        padding-bottom: jkl.$spacing-m;
        min-height: jkl.rem(64px);
    }
}
