@use "sass:string";
@use "@fremtind/jkl-core/jkl";

@include jkl.light-mode-variables {
    --jkl-label-color: #{jkl.$color-granitt};
    --jkl-label-support-color: #{jkl.$color-stein};
    --jkl-label-error-color: #{jkl.$color-granitt};
}

@include jkl.dark-mode-variables {
    --jkl-label-color: #{jkl.$color-snohvit};
    --jkl-label-support-color: #{jkl.$color-svaberg};
    --jkl-label-error-color: #{jkl.$color-snohvit};
}

.jkl-dormant-form-support-label {
    display: none;
    opacity: 0;
    pointer-events: none;
}

$_support-icon-wrapper-entrance-animation-name: jkl-support-icon-wrapper-entrance-#{string.unique-id()};
$_support-icon-entrance-animation-name: jkl-support-icon-entrance-#{string.unique-id()};

@include jkl.comfortable-density-variables {
    @include jkl.declare-font-variables("jkl-form-support-label", "small");
    $_icon-size: jkl.rem(24px);

    --jkl-form-support-label-margin: #{jkl.$spacing-xs} 0 0;
    --jkl-form-support-label-icon-size: #{$_icon-size};
    --jkl-form-support-label-icon-margin: 0 -#{$_icon-size} -#{jkl.rem(6px)} 0;
}

@include jkl.compact-density-variables {
    $_icon-size: jkl.rem(22px);

    --jkl-form-support-label-icon-size: #{$_icon-size};
    --jkl-form-support-label-icon-margin: 0 -#{$_icon-size} -#{jkl.rem(5px)} 0;
}

.jkl-form-support-label {
    @include jkl.use-font-variables("jkl-form-support-label");
    @include jkl.motion("standard", "lazy");

    display: flex;
    margin: var(--jkl-form-support-label-margin);
    color: var(--jkl-label-support-color);
    transition-property: color;
    transition-delay: jkl.timing("productive");

    &__icon.jkl-icon {
        display: inline-block;
        width: 0;
    }

    &__icon .jkl-icon__icon {
        opacity: 0;
        width: var(--jkl-form-support-label-icon-size);
        height: var(--jkl-form-support-label-icon-size);
        margin: var(--jkl-form-support-label-icon-margin);

        @include jkl.forced-colors-svg-fallback($stroke: CanvasText, $fill: Canvas);
    }

    &--error,
    &--warning,
    &--success {
        color: var(--jkl-label-error-color);

        .jkl-form-support-label__icon {
            animation: jkl.timing("lazy") cubic-bezier(0, 0, 0.3, 1) jkl.timing("expressive")
                $_support-icon-wrapper-entrance-animation-name forwards;
        }

        .jkl-form-support-label__icon .jkl-icon__icon {
            animation: jkl.timing("lazy") cubic-bezier(0, 0, 0.3, 1) jkl.timing("expressive")
                $_support-icon-entrance-animation-name forwards;
        }
    }

    &--sr-only {
        @include jkl.screenreader-only;
    }
}

@include jkl.comfortable-density-variables {
    $_label-spacing-small: jkl.$spacing-2xs;
    $_label-spacing-medium: jkl.$spacing-xs;
    $_label-spacing-large: jkl.$spacing-m;

    --jkl-label-small-margin: 0 0 #{$_label-spacing-small} 0;
    --jkl-label-medium-margin: 0 0 #{$_label-spacing-medium} 0;
    --jkl-label-large-margin: 0 0 #{$_label-spacing-large} #{jkl.rem(-1px)};

    @include jkl.declare-font-variables("jkl-label-small", "small");
    @include jkl.declare-font-variables("jkl-label-medium", "body");
    @include jkl.declare-font-variables("jkl-label-large", "heading-2");
}

@include jkl.compact-density-variables {
    $_label-spacing-small--compact: jkl.$spacing-2xs;
    $_label-spacing-medium--compact: jkl.$spacing-xs;
    $_label-spacing-large--compact: jkl.$spacing-s;

    --jkl-label-small-margin: 0 0 #{$_label-spacing-small--compact} 0;
    --jkl-label-medium-margin: 0 0 #{$_label-spacing-medium--compact} 0;
    --jkl-label-large-margin: 0 0 #{$_label-spacing-large--compact} #{jkl.rem(-1px)};
}

.jkl-label {
    display: block;
    margin-left: initial;
    color: var(--jkl-label-color);

    &--small {
        @include jkl.use-font-variables("jkl-label-small");
        margin: var(--jkl-label-small-margin);
    }

    &--medium {
        @include jkl.use-font-variables("jkl-label-medium");
        margin: var(--jkl-label-medium-margin);
    }

    &--large {
        @include jkl.use-font-variables("jkl-label-large");
        margin: var(--jkl-label-large-margin);
    }

    &--sr-only {
        @include jkl.screenreader-only;
    }
}

@keyframes #{$_support-icon-wrapper-entrance-animation-name} {
    0% {
        width: 0;
    }

    30%,
    100% {
        width: calc(var(--jkl-form-support-label-icon-size) + var(--jkl-spacing-12));
    }
}

@keyframes #{$_support-icon-entrance-animation-name} {
    0% {
        margin-right: 0;
        opacity: 0;
        transform: scale(1);
    }

    30% {
        margin-right: jkl.$spacing-xs;
    }

    50% {
        opacity: 1;
    }

    70% {
        transform: scale(1.1);
    }

    85% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        opacity: 1;
        margin-right: jkl.$spacing-xs;
    }
}
